Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

basic video length on file tiles
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

adds twitter player meta
  .lintstagedrc.json
  lbrytv/src/html.js
Due: none

fix twitter embeds?
  lbrytv/src/html.js
Due: none

remove duplicate rule
  lbrytv/src/html.js
Due: none

it is always the embed url
  lbrytv/src/html.js
Due: none

add file icons to ClaimPreview
  ui/component/claimPreview/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/component/common/icon-custom.jsx
  ui/component/fileProperties/view.jsx
  ui/component/fileType/index.js
  ui/component/fileType/view.jsx
  ui/constants/icons.js
  ui/scss/component/_claim-list.scss
  ui/scss/component/_file-properties.scss
Due: prettier --write, eslint, flow focus-check --color always

make channel thumbnails clickable on claim tiles
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_file-properties.scss
Due: prettier --write, eslint, flow focus-check --color always

delete mac files
  build/afterAllArtifactBuild.js
  electron-builder.json
Due: none

This is handled by redux
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add script to sign releases
  build/signBuildFiles.js
  package.json
Due: none

text overflow is hidden, allowing user to click on close button
  ui/scss/component/_media.scss
Due: prettier --write

fix: temp hack for future content
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add FileProperties to ClaimPreviewTile
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileProperties/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/uriIndicator/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_file-properties.scss
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

find => some
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

icon cleanup
  static/app-strings.json
  ui/component/common/icon-custom.jsx
  ui/component/fileProperties/view.jsx
  ui/scss/component/_file-properties.scss
Due: prettier --write, eslint, flow focus-check --color always

make sure the app doesn't autoplay paid content, channels, or content from blocked channels
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

move icons/time on file tiles to thumbnail
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_file-properties.scss
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

Make exception for markdown files
  ui/component/layoutWrapperText/view.jsx
  ui/scss/component/_main.scss
Due: prettier --write, eslint, flow focus-check --color always

Added Download Button on hover for the thumbnail
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileDownloadLink/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

update lbry-redux
  lbrytv/package.json
  lbrytv/yarn.lock
  package.json
  yarn.lock
Due: none

pass nsfw=false to lighthouse searches
  .lintstagedrc.json
  lbrytv/package.json
  lbrytv/yarn.lock
  package.json
  static/app-strings.json
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  ui/page/channel/index.js
  ui/page/channel/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

decode uri before building html metadata
  lbrytv/src/html.js
Due: none

fix encoded urls getting 404'd
  ui/component/router/view.jsx
  ui/page/embedWrapper/view.jsx
  ui/scss/component/_embed-player.scss
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/component/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
