Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

Removed themes folder
  src/renderer/redux/selectors/settings.js
  static/themes/dark.css
  static/themes/light.css
Due: prettier --write, eslint --fix

Trying to get dark mode working
  src/renderer/component/app/view.jsx
  src/renderer/redux/selectors/settings.js
  src/renderer/scss/all.scss
  src/renderer/scss/themes/_dark.scss
  static/themes/dark.css
Due: prettier --write, eslint --fix

Fixed dark mode issues
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_button.scss
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/component/_item-list.scss
  src/renderer/scss/component/_modal.scss
  src/renderer/scss/component/_search.scss
  src/renderer/scss/component/_table.scss
  src/renderer/scss/component/_toggle.scss
  src/renderer/scss/themes/_dark.scss
Due: prettier --write

Dark mode
  src/renderer/component/app/view.jsx
  src/renderer/component/wunderbar/internal/autocomplete.jsx
  src/renderer/component/wunderbar/view.jsx
  src/renderer/scss/_gui.scss
  src/renderer/scss/component/_content.scss
  src/renderer/scss/component/_nav.scss
  src/renderer/scss/component/_search.scss
  src/renderer/scss/themes/_dark.scss
  static/themes/dark.css
Due: prettier --write, eslint --fix

Removed bogus code
  src/renderer/redux/selectors/settings.js
Due: prettier --write, eslint --fix

update changelog
  CHANGELOG.md
Due: none

add video to contributing doc
  CONTRIBUTING.md
Due: none

Update various typos, phrasing & punctuation.
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

Update LICENSE
  LICENSE
Due: none

persist fileList sorting
  CHANGELOG.md
  src/renderer/component/fileList/index.js
  src/renderer/component/fileList/view.jsx
  src/renderer/page/fileListDownloaded/index.js
  src/renderer/page/fileListDownloaded/view.jsx
  src/renderer/page/fileListPublished/index.js
  src/renderer/page/fileListPublished/view.jsx
  src/renderer/page/subscriptions/index.js
  src/renderer/page/subscriptions/view.jsx
Due: prettier --write, eslint --fix

improve sizes/spacing on large screens
  src/renderer/component/publishForm/view.jsx
  src/renderer/scss/component/_card.scss
Due: prettier --write, eslint --fix

fix clear button position
  src/renderer/component/publishForm/view.jsx
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

add tip button to the channel name
  src/renderer/component/tipButton/index.js
  src/renderer/component/tipButton/view.jsx
  src/renderer/page/channel/view.jsx
Due: prettier --write, eslint --fix

added internal use section
  .github/ISSUE_TEMPLATE.md
Due: none

update lbry-redux
  package.json
  yarn.lock
Due: none

persist fileSort options when the app is closed
  src/renderer/store.js
Due: prettier --write, eslint --fix

Fixes
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/themes/_dark.scss
Due: prettier --write

Improve type checking for card verify
  src/renderer/component/cardVerify/view.jsx
Due: prettier --write, eslint --fix

adds sortBy default prop
  package.json
  src/renderer/component/fileList/view.jsx
  src/renderer/page/subscriptions/index.js
  src/renderer/page/subscriptions/view.jsx
Due: prettier --write, eslint --fix

updates for lbrynet30
  build/downloadDaemon.js
  package.json
  src/main/Daemon.js
  src/main/index.js
  src/renderer/component/fileCard/index.js
  src/renderer/component/fileList/view.jsx
  src/renderer/component/publishForm/view.jsx
  src/renderer/component/selectChannel/view.jsx
  src/renderer/component/uriIndicator/view.jsx
  src/renderer/component/walletSendTip/index.js
  src/renderer/page/fileListPublished/index.js
  src/renderer/page/fileListPublished/view.jsx
  src/renderer/page/help/view.jsx
  src/renderer/redux/actions/content.js
  src/renderer/redux/actions/publish.js
  src/renderer/redux/actions/subscriptions.js
  src/renderer/redux/reducers/publish.js
  src/renderer/redux/selectors/publish.js
  src/renderer/util/formatCredits.js
  yarn.lock
Due: prettier --write, eslint --fix

update lbry-redux/lbryinc
  package.json
  yarn.lock
Due: none

update console warning message to ref lbry.tech
  src/renderer/logWarningConsoleMessage.js
Due: prettier --write, eslint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Reduce unused var warnings. Remove unnecessary redux injections
  src/renderer/component/cardMedia/index.js
  src/renderer/component/fileListSearch/index.js
  src/renderer/component/formFieldPrice/index.js
  src/renderer/component/publishForm/index.js
  src/renderer/component/theme/index.js
  src/renderer/modal/modalAuthFailure/index.js
  src/renderer/modal/modalAutoUpdateConfirm/index.js
  src/renderer/modal/modalAutoUpdateDownloaded/index.js
  src/renderer/modal/modalDownloading/index.js
  src/renderer/modal/modalTransactionFailed/index.js
  src/renderer/page/backup/index.js
  src/renderer/page/getCredits/index.js
  src/renderer/page/sendCredits/index.js
  src/renderer/page/sendCredits/view.jsx
  src/renderer/page/wallet/index.js
Due: prettier --write, eslint --fix

Fix linting errors in address component
  src/renderer/component/address/index.js
Due: prettier --write, eslint --fix

Add type checking to address component and its consumers
  src/renderer/component/address/index.js
  src/renderer/component/shapeShift/internal/active-shift.jsx
  src/renderer/component/shapeShift/internal/form.jsx
  src/renderer/component/shapeShift/view.jsx
  src/renderer/component/walletAddress/view.jsx
Due: prettier --write, eslint --fix

added LICENSE badge (#2067)
  README.md
Due: none

Linting/address (#2066)
  src/renderer/component/address/index.js
  src/renderer/component/shapeShift/internal/active-shift.jsx
  src/renderer/component/shapeShift/internal/form.jsx
  src/renderer/component/shapeShift/view.jsx
  src/renderer/component/walletAddress/view.jsx
Due: prettier --write, eslint --fix

Reduce unused var warnings. Remove unnecessary redux injections (#2064)
  src/renderer/component/cardMedia/index.js
  src/renderer/component/fileListSearch/index.js
  src/renderer/component/formFieldPrice/index.js
  src/renderer/component/publishForm/index.js
  src/renderer/component/theme/index.js
  src/renderer/modal/modalAuthFailure/index.js
  src/renderer/modal/modalAutoUpdateConfirm/index.js
  src/renderer/modal/modalAutoUpdateDownloaded/index.js
  src/renderer/modal/modalDownloading/index.js
  src/renderer/modal/modalTransactionFailed/index.js
  src/renderer/page/backup/index.js
  src/renderer/page/getCredits/index.js
  src/renderer/page/sendCredits/index.js
  src/renderer/page/sendCredits/view.jsx
  src/renderer/page/wallet/index.js
Due: prettier --write, eslint --fix
