Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

Update view.jsx
  src/ui/page/show/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix title on small screen
  src/ui/scss/component/_channel.scss
Due: prettier --write

added more button like cancel and close on wallet
  src/ui/component/walletSend/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Update view.jsx
  src/ui/component/walletAddress/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Update name-help-text.jsx
  src/ui/component/publishName/name-help-text.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

test to see if it fixes infinite resolve
  src/ui/page/show/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux/lbryinc
  package.json
  static/app-strings.json
  yarn.lock
Due: none

update lbry-redux
  package.json
  yarn.lock
Due: none

v0.36.0-rc.6
  package.json
Due: none

Revert "Update name-help-text.jsx"
  src/ui/component/publishName/name-help-text.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

sync improvements
  package.json
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
  src/ui/component/syncPassword/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/walletSecurityAndSync/index.js
  src/ui/modal/modalWalletUnlock/view.jsx
  src/ui/redux/actions/app.js
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

only reset publish when clearing cache
  src/ui/redux/actions/app.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.7
  package.json
Due: none

SHIP IT
  package.json
Due: none

remove evil symbols
  static/app-strings.json
Due: none

Add Table of Contents in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Removed br tags
  src/ui/component/publishName/name-help-text.jsx
  src/ui/component/transactionListTable/internal/transaction-list-item.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

chore: flow types channelEdit
  src/ui/component/channelEdit/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Fix glitchy follow button behaviour
  src/ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

typo
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix og metadata for videos
  src/platforms/web/server.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Fixed calls for Simple/Advance editor option
  src/ui/component/publishText/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix metadata on homepage
  src/platforms/web/server.js
  static/index-web.html
Due: prettier --write, eslint --fix, flow focus-check --color always

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
