Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

fix fileType prop
  ui/component/fileRender/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

improve wallet list ui/ux
  ui/component/transactionListTable/internal/txo-list-item.jsx
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove extra space
  ui/constants/file_render_modes.js
Due: prettier --write, eslint, flow focus-check --color always

enable 3D render on desktop
  ui/constants/file_render_modes.js
Due: prettier --write, eslint, flow focus-check --color always

v0.45.0-rc.3
  package.json
Due: none

fix params for payments (no spent)
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add is_my_input_or_output constant to txo list
  package.json
  ui/component/txoList/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix params for payments (no spent) (#4009)
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add is_my_input_or_output constant to txo list (#4010)
  package.json
  ui/component/txoList/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix cold reload on channel select
  ui/component/selectChannel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.0-rc.4
  package.json
Due: none

reset status on hidden types
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

hidden label parent of button content
  ui/component/button/view.jsx
  ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Messy PoC
  ui/component/button/view.jsx
  ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Buttons no longer tall
  ui/component/button/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove unused lines
  ui/component/button/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixed distance between button icon and label
  ui/component/button/view.jsx
  ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove visible borders
  ui/component/button/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

modify status hiding in txolist
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

tag homepage campaign support
  ui/component/claimTilesDiscover/view.jsx
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add transaction-list help link
  static/app-strings.json
  ui/component/transactionListTable/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.45.0-rc.5
  package.json
Due: none

improve ads styling on dark mode
  ui/scss/themes/dark.scss
Due: prettier --write

only render largestLabel stuff if largestLabel is passed in
  ui/component/button/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

don't fire emailProvided event for sign ins
  ui/component/userSignInPassword/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

First attempt to fix #3993. Show error message if image is not able to be displayed by browser.
  ui/component/viewers/imageViewer.jsx
Due: prettier --write, eslint, flow focus-check --color always

add sync checkbox to desktop
  static/app-strings.json
  ui/component/userEmailReturning/index.js
  ui/component/userEmailReturning/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump sdk
  package.json
Due: none

v0.45.0-rc.6
  package.json
Due: none

don't let users login if they are partway through a signup
  package.json
  ui/component/userEmailNew/index.js
  ui/component/userEmailReturning/index.js
  ui/component/userEmailReturning/view.jsx
  ui/component/userFirstChannel/view.jsx
  ui/component/userSignUp/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always
