Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "flow focus-check --color always",
      "git add"
    ]
  }
}

delete azure build setup
  azure-pipelines.yml
Due: none

passes open url in renderUrl on open
  src/platforms/electron/createWindow.js
  src/platforms/electron/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Update music-metadata-browser, fixed stream cancellation sync issue
  package.json
  yarn.lock
Due: none

feat: always shuffle suggestions
  CHANGELOG.md
  src/ui/component/subscribeSuggested/view.jsx
  src/ui/redux/selectors/subscriptions.js
  src/ui/util/shuffleArray.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: channel spacing on search page
  src/ui/scss/component/_button.scss
Due: prettier --write

Do not use block show for claim and transaction dates
  package.json
  src/ui/component/dateTime/index.js
  src/ui/component/dateTime/view.jsx
  src/ui/component/fileCard/view.jsx
  src/ui/component/fileTile/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/constants/action_types.js
  src/ui/page/file/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

disables send tip on 0 initial amount
  src/ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Do not use block show for claim and transaction dates
  .flowconfig
  package.json
  src/ui/component/dateTime/index.js
  src/ui/component/dateTime/view.jsx
  src/ui/component/fileCard/view.jsx
  src/ui/component/fileTile/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/component/walletSendTip/view.jsx
  src/ui/constants/action_types.js
  src/ui/page/file/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

style consitency cleanup
  src/ui/component/channelContent/view.jsx
  src/ui/component/common/paginate.jsx
  src/ui/component/navigationHistory/view.jsx
  src/ui/component/navigationHistoryRecent/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/transactionListRecent/view.jsx
  src/ui/component/userVerify/view.jsx
  src/ui/component/walletBalance/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/page/show/view.jsx
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_markdown-editor.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_placeholder.scss
  src/ui/scss/component/_search.scss
  src/ui/scss/component/_table.scss
  src/ui/scss/init/_gui.scss
  src/ui/scss/init/_mixins.scss
  src/ui/scss/init/_vars.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: use old player for audio/video in electron
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: markdown preview now shows
  src/ui/component/common/form-components/form-field.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.32.0-rc.1
  package.json
Due: none

add comic book media-type detection
  src/ui/util/get-media-type.js
Due: prettier --write, eslint --fix, flow focus-check --color always

restores will-finish-launching
  src/platforms/electron/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

create comic-book viewer routes
  src/ui/component/fileRender/view.jsx
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/component/viewers/comicBookViewer.jsx
  src/ui/page/file/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: include file stream in props for document viewers
  src/ui/component/common/form-components/form-field.jsx
  src/ui/component/common/paginate.jsx
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fixes mac openlinks
  src/platforms/electron/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

moar release Fixes claim editing while keeping any existing tags + setting/clearing fee. Fixes not being able to abandon claims if file was deleted
  flow-typed/publish.js
  package.json
  src/ui/component/publishForm/view.jsx
  src/ui/modal/modalRemoveFile/index.js
  src/ui/modal/modalRemoveFile/view.jsx
  src/ui/redux/actions/file.js
  src/ui/redux/actions/publish.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

iconzzzzz
  build/icon.ico
  src/platforms/electron/createWindow.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fixes fix refresh on edit page fix publish without tags
  src/ui/component/publishForm/view.jsx
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix undefined
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: edit resolve + balance check
  build/256x256.png
Due: none

Revert "fix: edit resolve + balance check"
  build/256x256.png
Due: none

fix: address comments And resolve on edit + balance check
  src/ui/component/publishForm/view.jsx
  src/ui/redux/actions/file.js
  src/ui/redux/actions/publish.js
  src/ui/redux/reducers/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix flow errors
  .eslintrc.json
  flow-typed/publish.js
  package.json
  src/ui/modal/modalRemoveFile/view.jsx
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

use port 9090 for webpack since internal-apis uses 8080
  .eslintrc.json
  package.json
  src/platforms/electron/createWindow.js
  src/platforms/electron/devServer.js
  static/index.dev.html
  webpack.base.config.js
  webpack.web.config.js
Due: prettier --write, eslint --fix, flow focus-check --color always

close phone modal after successful verification
  package.json
  src/ui/modal/modalPhoneCollection/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

allow unlocking supports
  package.json
  src/ui/component/transactionList/index.js
  src/ui/component/transactionList/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: show claim actions too Conflicts: package.json yarn.lock
  src/ui/component/transactionList/index.js
  src/ui/component/transactionList/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.32.0-rc.2
  package.json
Due: none

maintain history state when refreshing from error page
  src/ui/component/errorBoundary/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: wallet send
  src/ui/component/walletSend/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

more fffffixes doh nfsw! doh nout! Fix more flow errors with price
  flow-typed/publish.js
  src/ui/component/publishForm/view.jsx
  src/ui/redux/actions/file.js
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Fix: name in tx info
  src/ui/component/transactionList/internal/transaction-list-item.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

add default thumbnail on channel page
  src/ui/component/channelThumbnail/gerbil.png
  src/ui/component/channelThumbnail/view.jsx
  src/ui/scss/component/_channel.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: show message when a user doesn't have any transactions
  src/ui/component/transactionListRecent/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always
