Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

add badge to readme
  README.md
Due: none

bring in comments/blocked code from lbry-redux
  .eslintrc.json
  flow-typed/blocked.js
  flow-typed/comment.js
  flow-typed/notification.js
  package.json
  ui/component/blockButton/index.js
  ui/component/claimListDiscover/index.js
  ui/component/claimPreview/index.js
  ui/component/claimPreviewTile/index.js
  ui/component/claimTilesDiscover/index.js
  ui/component/commentsList/index.js
  ui/constants/action_types.js
  ui/page/channelsFollowingDiscover/index.js
  ui/page/listBlocked/index.js
  ui/page/settings/index.js
  ui/reducers.js
  ui/redux/actions/blocked.js
  ui/redux/actions/comments.js
  ui/redux/reducers/blocked.js
  ui/redux/reducers/comments.js
  ui/redux/selectors/blocked.js
  ui/redux/selectors/comments.js
  ui/redux/selectors/content.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Blocked-Page: Set 'showUnresolvedClaims' so that 'AbandonedChannelPreview' is used instead of regular version.
  ui/page/listBlocked/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add modal to remove uri from Blocked list.
  static/app-strings.json
  ui/constants/modal_types.js
  ui/modal/modalRemoveBlocked/index.js
  ui/modal/modalRemoveBlocked/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

AbandonedChannelPreview: Handle blocked channels as well.
  ui/component/abandonedChannelPreview/index.js
  ui/component/abandonedChannelPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update homepage order
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

update homepage - remove lbrytvpaidbeta
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

sort by release_time for youtube row on homepage
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

add User flow type from lbryinc
  flow-typed/user.js
Due: none

Fix "Notification" page button being incorrectly disabled by 0 blocked channels.
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Refresh on publish page does not have loading indicator
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Don't expand search filters automatically if popping from Back action.
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

[mobile] show "time left/progress" on video player bar
  ui/scss/component/_file-render.scss
Due: prettier --write

Put LBC amount with 4 precision on tip menu for all versions
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update og image url
  static/index-web.html
Due: none

Properly debounce the inf-scroll handling.
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Inf-scroll: Fix scroll not working when navigating back from claim.
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Inf-scroll: Remove history of whether we've serviced the bottom.
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update list of youtubers on homepage
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

Allow entering Blocked Page even for 0 blocked channels.
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add/Correct Strings
  static/app-strings.json
  ui/component/commentCreate/view.jsx
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

small correction to string
  static/app-strings.json
Due: none

meh
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

new channel creating and editing
  static/app-strings.json
  ui/component/channelAbout/view.jsx
  ui/component/channelEdit/index.js
  ui/component/channelEdit/view.jsx
  ui/component/common/icon-custom.jsx
  ui/component/header/view.jsx
  ui/component/page/view.jsx
  ui/component/router/view.jsx
  ui/component/selectAsset/view.jsx
  ui/constants/claim.js
  ui/constants/icons.js
  ui/constants/modal_types.js
  ui/constants/pages.js
  ui/modal/modalImageUpload/index.js
  ui/modal/modalImageUpload/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/page/channel/index.js
  ui/page/channel/view.jsx
  ui/page/channelNew/index.js
  ui/page/channelNew/view.jsx
  ui/page/channels/view.jsx
  ui/scss/component/_channel.scss
  ui/scss/component/_header.scss
  ui/scss/component/_tags.scss
  ui/scss/component/tabs.scss
Due: prettier --write, eslint, flow focus-check --color always

style pass for channel edit
  package.json
  ui/component/button/view.jsx
  ui/component/channelEdit/view.jsx
  ui/component/channelThumbnail/view.jsx
  ui/component/claimAbandonButton/view.jsx
  ui/component/common/file-selector.jsx
  ui/component/header/view.jsx
  ui/component/selectAsset/view.jsx
  ui/component/youtubeTransferStatus/view.jsx
  ui/modal/modalImageUpload/view.jsx
  ui/page/channel/view.jsx
  ui/page/channels/view.jsx
  ui/scss/component/_card.scss
  ui/scss/component/_channel.scss
  ui/scss/component/_form-field.scss
  ui/scss/component/_header.scss
  ui/scss/component/_main.scss
  ui/scss/component/_tags.scss
  ui/scss/component/section.scss
  ui/scss/component/tabs.scss
  ui/util/generate-thumbnail-name.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Inf-scroll: Change region to 'main' to ignore long tag/following list.
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
