Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Fix membership splash cls
  ui/component/membershipSplash/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Make members-only label clickable, per feedback
  ui/component/common/premium-badge.jsx
  ui/component/settingsRow/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix external link icon size in livestream chat
  ui/scss/component/_livestream-comment.scss
Due: prettier --write

Reduce verbosity of tus errors now that we know the locked problem is with `tusd`
  web/setup/publish-v2.js
Due: none

Fix double `email_user/confirm` due to language render
  ui/page/signInVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Log which method caused `Failed to fetch`
  ui/lbry.js
Due: prettier --write, eslint, flow focus-check --color always

Better handling of SDK errors
  static/app-strings.json
  ui/lbry.js
  ui/redux/actions/wallet.js
  ui/scss/component/_snack-bar.scss
Due: prettier --write, eslint, flow focus-check --color always

Formatting cleanup, no functional change
  ui/lbry.js
Due: prettier --write, eslint, flow focus-check --color always

Fix layout shift
  ui/scss/component/_main.scss
  ui/scss/init/_vars.scss
Due: prettier --write

Revert "Fix layout shift"
  ui/scss/component/_main.scss
  ui/scss/init/_vars.scss
Due: prettier --write

Fix channel display on Twitter OG
  web/src/html.js
Due: none

Fix file page layout shift (#1150)
  ui/component/page/view.jsx
  ui/scss/component/_main.scss
  ui/scss/init/_vars.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix playlist side column (#1151)
  ui/scss/component/_main.scss
Due: prettier --write

Only call on not auth
  ui/effects/use-ad-outbrain.js
Due: prettier --write, eslint, flow focus-check --color always

Add outbrain
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/effects/use-ad-outbrain.js
  ui/scss/component/_ads.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "Log which method caused `Failed to fetch`"
  ui/lbry.js
Due: prettier --write, eslint, flow focus-check --color always

Don't run filters unless necessary
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Following Page: fix redundant livestream data passed in
  ui/page/channelsFollowing/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Locale Nag Fixes
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/nagLocaleSwitch/view.jsx
  ui/redux/actions/settings.js
  ui/redux/reducers/user.js
  ui/redux/selectors/user.js
Due: prettier --write, eslint, flow focus-check --color always

Sidebar shortcuts to built-in lists
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_navigation.scss
Due: prettier --write, eslint, flow focus-check --color always

Category: Artists
  static/app-strings.json
  ui/constants/pageTitles.js
  ui/constants/pages.js
  web/src/category-metadata.js
Due: prettier --write, eslint, flow focus-check --color always

Fix double call on livestream page
  ui/component/fileRenderInitiator/view.jsx
  ui/page/livestream/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Push outbrain below the Nag
  ui/effects/use-ad-outbrain.js
Due: prettier --write, eslint, flow focus-check --color always

Make ClaimListDiscover retain results while searching
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

OptimizedImage: simplify implementation
  ui/component/channelThumbnail/view.jsx
  ui/component/optimizedImage/view.jsx
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove obsolete 'file-render--scheduledLivestream'
  ui/scss/component/_file-render.scss
Due: prettier --write

Thumbnail improvements
  .env.defaults
  ui/analytics.js
  ui/component/channelThumbnail/view.jsx
  ui/effects/use-get-thumbnail.js
  ui/page/channel/view.jsx
  ui/scss/component/_file-render.scss
  ui/util/thumbnail.js
Due: prettier --write, eslint, flow focus-check --color always

higher quality on channel page
  ui/component/channelThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Load gifs through proxy
  .env.defaults
  config.js
  ui/component/channelThumbnail/view.jsx
  ui/component/common/markdown-preview.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/optimizedImage/view.jsx
  ui/util/thumbnail.js
Due: prettier --write, eslint, flow focus-check --color always

move recommendations below following
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

SettingsRow: filter clicks when grayed out
  ui/component/settingsRow/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Sidebar: handle stray separator on empty section
  ui/scss/component/_navigation.scss
Due: prettier --write

FYP: fix scroll destination when collapsing
  ui/component/recommendedPersonal/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix sidebar active subs not batch-resolving
  ui/redux/actions/subscriptions.js
  ui/redux/reducers/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

refactor: replace deprecated String.prototype.substr()
  electron/createWindow.js
  ui/component/common/form-components/form-field.jsx
  ui/component/common/transaction-link.jsx
  ui/component/dateTime/view.jsx
  ui/component/markdownLink/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/tagsSearch/view.jsx
  ui/redux/actions/wallet.js
  ui/util/enhanced-layout.js
  ui/util/formatMediaDuration.js
Due: prettier --write, eslint, flow focus-check --color always

More sidebar optimizations
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/redux/actions/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

Repost: hide ribbon in Category Pages and Home Section
  ui/component/page/view.jsx
  ui/component/router/view.jsx
  ui/page/discover/view.jsx
  ui/page/home/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Outbrain: remove visibility delay
  ui/effects/use-ad-outbrain.js
Due: prettier --write, eslint, flow focus-check --color always

Fix referrer on embed (#1181)
  ui/page/embedWrapper/index.js
  ui/page/embedWrapper/view.jsx
  ui/redux/actions/user.js
  ui/redux/selectors/rewards.js
Due: prettier --write, eslint, flow focus-check --color always

fix mac builds
  build/entitlements.mac.plist
  electron-builder.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
