Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

fix large file uploads
  electron/index.js
  flow-typed/file-data.js
  package.json
  static/app-strings.json
  ui/component/publishFile/view.jsx
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

changelog
  CHANGELOG.md
Due: none

update github action xcode version
  .github/workflows/deploy.yml
Due: none

update electronbuilder for macos
  package.json
  yarn.lock
Due: none

try use_hard_links=false
  .github/workflows/deploy.yml
Due: none

no USE_HARD_LINKS
  .github/workflows/deploy.yml
Due: none

upgrate electron-builder 23_3_3
  package.json
  yarn.lock
Due: none

revert to electron-builder 22_10_5 electron-builder/issues/6124 says regressions happen after this version.
  package.json
  yarn.lock
Due: none

try mac install homebrew, python2
  .github/workflows/deploy.yml
Due: none

typo and ln /usr/bin/python
  .github/workflows/deploy.yml
Due: none

oops
  .github/workflows/deploy.yml
Due: none

try sudo
  .github/workflows/deploy.yml
Due: none

try PYTHON_PATH
  .github/workflows/deploy.yml
Due: none

comment github action mac python hack
  .github/workflows/deploy.yml
Due: none

fix large file uploads (#7736)
  .github/workflows/deploy.yml
  CHANGELOG.md
  electron/index.js
  flow-typed/file-data.js
  package.json
  static/app-strings.json
  ui/component/publishFile/view.jsx
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.53.8-alpha.1
  .yarn/versions/d1a18cef.yml
  CHANGELOG.md
  package.json
Due: none

fix unfollowing unpublished channels
  ui/redux/selectors/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

fix unfollowing unpublished channels (#7737)
  ui/redux/selectors/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

v0.53.8
  .yarn/versions/37ccae5e.yml
  package.json
Due: none

v0.53.8
  .yarn/versions/37ccae5e.yml
  CHANGELOG.md
  package.json
Due: none

Revert "v0.53.8" Incorrect Changelog This reverts commit 4ab23f03fc71b1428e395ac6801e7527f8ed5cfd.
  .yarn/versions/37ccae5e.yml
  package.json
Due: none

v0.53.8
  .yarn/versions/ec3a9ddf.yml
  CHANGELOG.md
  package.json
Due: none

Allows users to hide content
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/lbry-desktop/FileContentIndex/af2afade-c721-4720-ac55-7865eed1c632.vsidx
  .vs/lbry-desktop/FileContentIndex/facdc5eb-2e7f-4702-a2ce-a9fd1776205b.vsidx
  .vs/lbry-desktop/FileContentIndex/read.lock
  .vs/lbry-desktop/v17/.wsuo
  .vs/lbry-desktop/v17/workspaceFileList.bin
  .vs/slnx.sqlite
Due: none

Allow users to hide content they've already viewed
  .vs/lbry-desktop/v17/.wsuo
  ui/component/channelForm/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/component/claimPreview/index.js
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/component/searchOptions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update
  .vs/lbry-desktop/v17/.wsuo
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update
  .vs/lbry-desktop/FileContentIndex/af2afade-c721-4720-ac55-7865eed1c632.vsidx
  .vs/lbry-desktop/FileContentIndex/e83d92c9-930f-4976-866b-362d358709ec.vsidx
  .vs/lbry-desktop/v17/.wsuo
  ui/component/channelForm/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/component/claimPreview/index.js
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/component/searchOptions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update
  .vs/lbry-desktop/FileContentIndex/facdc5eb-2e7f-4702-a2ce-a9fd1776205b.vsidx
  .vs/lbry-desktop/v17/.wsuo
  CHANGELOG.md
  ui/scss/component/_claim-search.scss
  ui/scss/component/_file-thumbnail.scss
  ui/scss/component/_search.scss
Due: prettier --write

Update
  .vs/lbry-desktop/FileContentIndex/16edad0e-4683-4a03-a317-b9497f354d3b.vsidx
  .vs/lbry-desktop/FileContentIndex/2992661f-3821-4cf1-81ea-e7e34e4fa963.vsidx
  .vs/lbry-desktop/FileContentIndex/e83d92c9-930f-4976-866b-362d358709ec.vsidx
Due: none

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Due: none

Revert styling on file thumbnails. Added .vs to gitignore.
  .gitignore
Due: none

Add .vs to gitignore and changed styling of file thumbnails back to original.
  .gitignore
  .vs/lbry-desktop/v17/.wsuo
  .vs/slnx.sqlite
  ui/scss/component/_file-thumbnail.scss
Due: prettier --write

Still learning to use Git. All files should be good now.
  CHANGELOG.md
  ui/component/channelForm/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/component/claimPreview/index.js
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/component/searchOptions/view.jsx
  ui/scss/component/_claim-search.scss
Due: prettier --write, eslint, flow focus-check --color always

Forgot to add checkbox to claimListHeader
  ui/component/claimListHeader/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Forgot a few lines of code.
  ui/component/claimListHeader/view.jsx
  ui/component/searchOptions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add csc
  build/cert2023.pfx
Due: none

update signing certificate for 2023
  .github/workflows/deploy.yml
Due: none

update signing certificate for 2023 (#7744)
  .github/workflows/deploy.yml
Due: none

use %odysee&
  static/app-strings.json
Due: none

bump lbrynet to 113
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
