Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

v0.46.1-rc.1
  package.json
Due: none

v0.46.1
  package.json
Due: none

Fix [ff0cc861] that broke regular word-wrap in comments.
  ui/scss/component/_comments.scss
Due: prettier --write

Fix dev base-url being used when generating the hover URL
  electron/createWindow.js
Due: none

Limit the Markdown Editor width in Edit (not New) Mode to prevent overflow.
  ui/scss/component/_comments.scss
Due: prettier --write

Make strings from fileDetails translatable
  static/app-strings.json
  ui/component/fileDetails/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made strings from settingWalletServer translatable
  ui/component/settingWalletServer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removed space to sync with app-strings
  ui/component/privacyAgreement/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made uniform display of text views
  static/app-strings.json
  ui/component/creatorAnalytics/view.jsx
  ui/component/fileViewCount/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Strings from MoonPay, tipping, and more.
  static/app-strings.json
Due: none

Sync strings for 2 commits about data collection.
  static/app-strings.json
Due: none

Change some Change Logs to Changelogs
  CHANGELOG.md
Due: none

Add string from recent commit
  static/app-strings.json
Due: none

make sure email is verified before setting auth token header
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

make sure auth token header is set for already signed in users too
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

Repaired condition for 1 view
  ui/component/creatorAnalytics/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

make sure script exits properly after it finishes signing build files
  build/signBuildFiles.js
Due: none

Make library view mode [Downloads|Purchases] persistent.
  ui/page/fileListDownloaded/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

bump lbry-sdk to 0.76.0
  package.json
Due: none

v0.46.2-rc.1
  package.json
Due: none

v0.46.2-rc.2
  package.json
Due: none

v0.46.2
  package.json
Due: none

Spacing between info sentence and link
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add ability to support language subsets, with only CT and CS enabled for now.
  electron/createWindow.js
  ui/constants/languages.js
  ui/constants/supported_languages.js
  ui/constants/supported_sub_languages.js
Due: prettier --write, eslint, flow focus-check --color always

About: Remove leading dash for app version in Web.
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump lbryinc for domain install id
  package.json
  yarn.lock
Due: none

v0.46.0-rc.11
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
