Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

fix: bugs
  package.json
  src/ui/component/channelContent/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/page/channel/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  .eslintrc.json
  src/ui/redux/actions/publish.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.9
  package.json
Due: none

fix: handle claims with invalid names
  src/ui/component/claimPreview/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add style to visited claim previews
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/index.js
  src/ui/component/claimPreview/view.jsx
  src/ui/redux/selectors/content.js
  src/ui/scss/component/_claim-list.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/channelContent/view.jsx
  src/ui/component/userEmailVerify/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/scss/component/_main.scss
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/app/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/component/userEmail/view.jsx
  src/ui/component/userEmailResetButton/index.js
  src/ui/component/userEmailResetButton/view.jsx
  src/ui/component/userEmailVerify/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: channel navigation between pages
  src/ui/component/channelContent/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

cleanup
  src/ui/component/app/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

restore that shit
  src/ui/component/app/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

update channel links on file page
  .eslintrc.json
  src/ui/component/claimPreview/view.jsx
  src/ui/component/recommendedContent/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/page/file/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_navigation.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  static/locales/en.json
  yarn.lock
Due: prettier --write

v0.34.0-rc.10
  package.json
Due: none

v0.34.0-rc.11
  package.json
Due: none

update lbry-redux
  package.json
  src/ui/component/channelContent/index.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.12
  package.json
Due: none

fix typo
  src/ui/component/splash/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.13
  package.json
Due: none

minor changes
  src/ui/component/channelEdit/view.jsx
  src/ui/component/tagsSelect/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

enter-able modal encrypt
  src/ui/modal/modalWalletEncrypt/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

add tag to wunderbar autocomplete
  src/ui/component/common/icon-custom.jsx
  src/ui/component/wunderbar/view.jsx
  src/ui/constants/icons.js
  src/ui/scss/component/_wunderbar.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

restore that shit
  package.json
  src/ui/component/app/view.jsx
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/index.js
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/commentCreate/view.jsx
  src/ui/component/header/view.jsx
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/page/channel/index.js
  src/ui/page/channel/view.jsx
  src/ui/page/discover/view.jsx
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/init/_gui.scss
  src/ui/util/query-params.js
  src/ui/util/string.js
  src/ui/util/use-hover.js
  static/index.dev.html
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.8
  package.json
Due: none

minor styling fixes
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/scss/component/_badge.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/menu-button.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  yarn.lock
Due: none

fix lbry/component style overrides in forms
  src/ui/page/settings/view.jsx
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_form-field.scss
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.6
  package.json
Due: none

fix: mature tags in dark mode
  src/ui/scss/component/_badge.scss
  src/ui/scss/component/_form-field.scss
Due: prettier --write

update lbry-redux
  static/locales/en.json
  yarn.lock
Due: none

v0.34.0-rc.7
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
