Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

Update package.json
  package.json
Due: none

fix back nav from sub category (#2191)
  src/renderer/page/subscriptions/internal/user-subscriptions.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix undefined error Make sure unreadForChannel is defined before checking type.
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix, flow focus-check --color always

chore: bump rc
  package.json
Due: none

tweak: more noticeable active states for subscriptions layouts
  src/renderer/component/button/view.jsx
  src/renderer/page/subscriptions/internal/user-subscriptions.jsx
  src/renderer/scss/component/_button.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: error modal styling when expanded
  src/renderer/modal/modal.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: reward claim modal
  src/renderer/component/rewardLink/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Are we there yet? Hopefully last release fixes (#2192)
  src/renderer/component/button/view.jsx
  src/renderer/component/rewardLink/view.jsx
  src/renderer/modal/modal.jsx
  src/renderer/page/subscriptions/internal/user-subscriptions.jsx
  src/renderer/scss/component/_button.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.27.0-rc.7
  package.json
Due: none

sdk upgrade note
  CHANGELOG.md
Due: none

fix: style for large 0 balance
  src/renderer/component/walletBalance/view.jsx
  src/renderer/scss/component/_badge.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.27.0-rc.8
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

v0.27.0
  package.json
Due: none

Merge 'release' into 'master' (#2195)
  CHANGELOG.md
  package.json
  src/renderer/component/walletBalance/view.jsx
  src/renderer/scss/component/_badge.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

update: babel@7, electron@4, webpack@4
  .babelrc
  build/downloadDaemon.js
  package.json
  src/main/index.js
  src/renderer/component/viewers/threeViewer/index.jsx
  src/renderer/component/viewers/threeViewer/internal/grid.js
  src/renderer/component/viewers/threeViewer/internal/loader.js
  src/renderer/component/viewers/threeViewer/internal/renderer.js
  src/renderer/component/viewers/threeViewer/internal/scene.js
  src/renderer/component/viewers/threeViewer/internal/three.js
  src/renderer/constants/icons.js
  src/renderer/redux/reducers/app.js
  src/renderer/store.js
  webpack.renderer.additions.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Thumb Background Fix
  src/renderer/scss/component/_media.scss
Due: prettier --write

add support for .lbry sandbox applications
  .eslintrc.json
  build/downloadDaemon.js
  package.json
  src/main/index.js
  src/main/startSandbox.js
  src/main/unpackByOutpoint.js
  src/renderer/component/fileRender/view.jsx
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/fileViewer/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: rewards table style on small screens
  src/renderer/component/rewardListClaimed/view.jsx
  src/renderer/scss/component/_table.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

More Languages
  src/renderer/component/publishForm/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Fix content aspect ratio breaking WebGL
  src/renderer/scss/component/_content.scss
Due: prettier --write

Update to latest lbry-format, fixes encountered memory limit
  yarn.lock
Due: none

update deps
  package.json
  yarn.lock
Due: none

electron@3
  package.json
  yarn.lock
Due: none

test
  electron-builder.json
Due: none

test
  package.json
  yarn.lock
Due: none

update lbryinc
  package.json
  yarn.lock
Due: none

fix: paragraph spacing issue
  src/renderer/scss/component/_card.scss
Due: prettier --write

change: remove error modal from rewards
  src/renderer/component/rewardLink/index.js
  src/renderer/component/rewardLink/view.jsx
  src/renderer/component/userEmailNew/view.jsx
  src/renderer/modal/modalFirstReward/view.jsx
  src/renderer/page/rewards/view.jsx
  src/renderer/types/reward.js
Due: prettier --write, eslint --fix, flow focus-check --color always

update github templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: flow errors
  .eslintrc.json
  .flowconfig
  src/renderer/analytics.js
  src/renderer/component/cardVerify/view.jsx
  src/renderer/component/fileRender/view.jsx
  src/renderer/component/fileViewer/internal/play-button.jsx
  src/renderer/component/fileViewer/view.jsx
  src/renderer/component/viewOnWebButton/view.jsx
  src/renderer/component/wunderbar/view.jsx
  src/renderer/modal/modalWalletDecrypt/view.jsx
  src/renderer/modal/modalWalletEncrypt/view.jsx
  src/renderer/modal/modalWalletUnlock/view.jsx
  src/renderer/page/file/view.jsx
  src/renderer/page/userHistory/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Clean up code before pull request
  package.json
  src/main/Daemon.js
  src/main/index.js
  src/renderer/component/common/file-selector.jsx
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Tweak webpack config paths
  webpack.config.js
Due: none

push test
  README.md
Due: none

revert test
  README.md
Due: none

fix: channel name overlap on homepage when screen size is small
  src/renderer/scss/component/_media.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
