Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

more cleanup
  src/ui/component/syncPassword/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/youtubeTransferStatus/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_modal.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_tags.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.1
  package.json
Due: none

CARD ALL THE THINGS
  src/ui/component/splash/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/userVerify/view.jsx
  src/ui/component/walletBackup/view.jsx
  src/ui/component/youtubeTransferWelcome/view.jsx
  src/ui/modal/modal.jsx
  src/ui/page/help/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_modal.scss
  src/ui/scss/component/_table.scss
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix scroll restoration
  src/ui/component/router/view.jsx
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix settings on lbry.tv
  src/ui/page/settings/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

pr feedback
  flow-typed/18nj.js
  package.json
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
  src/ui/component/errorBoundary/view.jsx
  src/ui/component/publishFile/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/publishPrice/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/walletBackup/view.jsx
  src/ui/component/youtubeTransferStatus/index.js
  src/ui/component/youtubeTransferStatus/view.jsx
  src/ui/component/youtubeTransferWelcome/index.js
  src/ui/component/youtubeTransferWelcome/view.jsx
  src/ui/page/help/view.jsx
  src/ui/redux/actions/app.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

hide youtube transfer on web
  src/ui/component/userSignIn/view.jsx
  src/ui/page/channels/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: abandoning without file
  src/ui/redux/actions/file.js
Due: prettier --write, eslint --fix, flow focus-check --color always

centralize lbrytv domain string
  src/ui/component/socialShare/view.jsx
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

Renamed language names to their natives
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Update settings.js
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Updatet calls for Dark and Light translation
  src/ui/redux/actions/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Fixed header Light/Dark for translation
  src/ui/component/header/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fixes flow error on account/view page
  src/ui/page/account/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: only clear store on web when signing out
  src/ui/redux/actions/app.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: stop syncing for existing users with balances
  package.json
  src/ui/redux/actions/app.js
  src/ui/store.js
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: deal with youtube channels that are queued to sync but haven't started yet
  src/ui/component/header/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/youtubeTransferStatus/view.jsx
  src/ui/component/youtubeTransferWelcome/index.js
  src/ui/component/youtubeTransferWelcome/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

css cleanup
  src/ui/component/publishFile/view.jsx
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

remove doGetThemes
  src/ui/component/header/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

css
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
Due: prettier --write

v0.36.0-rc.2
  package.json
Due: none

fix: typo
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write

v0.36.0-rc.3
  package.json
Due: none

add events for startup and app-ready
  src/ui/analytics.js
  src/ui/index.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

bump sdk to 0.42.1
  package.json
Due: none

fix og image and added fbapp id like on LBRY.com
  src/platforms/web/server.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
