Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Sentry: consolidate videojs error with variable values
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

(patch) Sentry: consolidate videojs error with variable values
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Handle adsSticky failures
  web/component/adsSticky/view.jsx
Due: none

Aligned input
  ui/component/commentsList/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

feat: add property requiresAuth to add card buttons
  ui/component/button/index.js
  ui/component/button/view.jsx
  ui/component/preorderAndPurchaseContentCard/view.jsx
  ui/component/walletTipAmountSelector/view.jsx
  ui/page/odyseeMembership/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: premium page attempting to auto-open purchase modal when card added
  ui/page/odyseeMembership/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: bank account page touch ups and fix calls
  ui/page/settingsStripeAccount/index.js
  ui/page/settingsStripeAccount/view.jsx
  ui/redux/selectors/stripe.js
Due: prettier --write, eslint, flow focus-check --color always

Additional aniview tag
  web/component/ads/view.jsx
Due: none

fix(#1780): handle livestream time seek not restoring playback speed
  ui/component/viewers/videoViewer/internal/videojs-events.jsx
Due: prettier --write, eslint, flow focus-check --color always

Handle crash on empty `/$/search` query
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Video: ignore seek shortcut while video is still loading
  ui/component/viewers/videoViewer/internal/videojs-shortcuts.jsx
Due: prettier --write, eslint, flow focus-check --color always

Sentry: exclude chrome extensions
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Revert "Additional aniview tag"
  web/component/ads/view.jsx
Due: none

fix(#2087): live tracker visibility change
  ui/component/viewers/videoViewer/internal/videojs-events.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix publish.
  ui/component/fileDrop/view.jsx
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Disable broken ad
  .env.defaults
Due: none

Honor `sentry_debug` flag, even in development builds
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

(patch) Sentry: exclude chrome extensions
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Remove ad filtering
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

fileRender: don't register full-screen event handlers for web
  ui/component/fileRender/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Disable broken ad"
  .env.defaults
Due: none

Fix thumbnail fetch for reposted image (without `thumbnail.url`)
  ui/component/claimPreview/index.js
  ui/component/claimPreviewTile/index.js
  ui/effects/use-get-thumbnail.js
Due: prettier --write, eslint, flow focus-check --color always

Fix adSticky failures on older browsers
  web/component/adsSticky/view.jsx
Due: none

Fix vtt `replaceAll` failures in older browsers
  yarn.lock
Due: none

fix(#2093): account requires verification state
  ui/redux/selectors/stripe.js
Due: prettier --write, eslint, flow focus-check --color always

Sentry: `whitelistUrls` doesn't work; `allowUrls` does
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Fix one/other plural format in livestream replays
  ui/component/publish/livestream/publishLivestream/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix cookie deletion
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

Handle failed `version` in `install/new`
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

Handle failed `transaction_list`
  static/app-strings.json
  ui/constants/action_types.js
  ui/redux/actions/wallet.js
  ui/redux/reducers/wallet.js
Due: prettier --write, eslint, flow focus-check --color always

Kill ads again
  .env.defaults
Due: none

Handle null vhs playlist media
  ui/analytics/watchman.js
  ui/component/viewers/videoViewer/internal/videojs-events.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add jpeg and svg to image filter.
  ui/modal/modalImageUpload/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Allow only images in modal image uploader. (#7672)
  electron/index.js
  flow-typed/file-with-path.js
  flow-typed/web-file.js
  package.json
  ui/component/channelForm/view.jsx
  ui/component/common/file-list.jsx
  ui/component/common/file-selector.jsx
  ui/component/fileDrop/view.jsx
  ui/component/postEditor/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/selectAsset/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/settingSystem/view.jsx
  ui/modal/modalAutoGenerateThumbnail/view.jsx
  ui/modal/modalConfirmThumbnailUpload/index.js
  ui/modal/modalConfirmThumbnailUpload/view.jsx
  ui/modal/modalFileSelection/view.jsx
  ui/modal/modalImageUpload/view.jsx
  ui/modal/modalPublishPreview/view.jsx
  ui/redux/actions/publish.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

size and location of the refresh btn changed, and added maximum and minimum width for the comment server
  ui/component/commentsList/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix crash with no date
  ui/component/livestreamDateTime/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Take 2 fix for date
  ui/component/livestreamDateTime/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix crash in `/$/top` with empty query
  ui/page/top/index.js
  ui/page/top/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Design Patch August (#2114)
  ui/scss/component/_header.scss
  ui/scss/component/_main.scss
  ui/scss/component/_videojs.scss
  ui/scss/component/tabs.scss
  ui/scss/init/_gui.scss
  web/page/tos/view.jsx
  web/page/youtubetos/view.jsx
Due: prettier --write
