Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  }
}

fix invite page on mobile
  ui/scss/init/_gui.scss
Due: prettier --write

bump sdk and comment out thumbnail gets on desktop
  package.json
  static/app-strings.json
  ui/effects/use-get-thumbnail.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.5
  package.json
Due: none

fix: claiming invites from invite page
  package.json
Due: none

edit abandon claim to abandon support
  static/app-strings.json
  ui/component/transactionListTable/internal/transaction-list-item.jsx
Due: prettier --write, eslint, flow focus-check --color always

new homepage
  lbrytv/middleware/redirect.js
  static/app-strings.json
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/component/claimTilesDiscover/index.js
  ui/component/claimTilesDiscover/view.jsx
  ui/component/common/icon-custom.jsx
  ui/component/common/icon.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/header/view.jsx
  ui/component/router/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/constants/icons.js
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/scss/component/_button.scss
  ui/scss/component/_claim-list.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_media.scss
  ui/scss/component/_placeholder.scss
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.39.0-rc.6
  package.json
Due: none

block channels on homepage
  static/app-strings.json
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

quick fix to see if people will stop complaining about cards not lining up
  ui/scss/component/_claim-list.scss
Due: prettier --write

Add script files to the list of human readable files
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

Update codemirror theme when global theme changes
  ui/component/viewers/codeViewer.jsx
Due: prettier --write, eslint, flow focus-check --color always

Codebox theming
  ui/component/viewers/codeViewer.jsx
  ui/scss/component/_markdown-editor.scss
  ui/scss/component/_syntax-highlighter.scss
Due: prettier --write, eslint, flow focus-check --color always

Forgot about fit-content
  ui/scss/component/_main.scss
Due: prettier --write

Allow content to resize a bit. See commit description
  ui/scss/component/_main.scss
Due: prettier --write

Specify that theme has been customised
  ui/scss/component/_syntax-highlighter.scss
Due: prettier --write

Fix sizing for html files and add loading indicator
  ui/component/viewers/htmlViewer.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add integrated light theme
  ui/component/viewers/codeViewer.jsx
  ui/scss/component/_syntax-highlighter.scss
Due: prettier --write, eslint, flow focus-check --color always

Add proper font links
  static/index-electron.html
Due: none

fixes #3507 by adding 'no results' text to channel search if no results are returned from search
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Implements modal for deleting comments
  ui/constants/modal_types.js
  ui/modal/modalDeleteComment/index.js
  ui/modal/modalDeleteComment/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Implements comment delete action
  ui/component/comment/index.js
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add todos
  ui/component/comment/view.jsx
  ui/component/commentsList/view.jsx
  ui/modal/modalDeleteComment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  ui/component/comment/index.js
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: app image + cookie fix: password stuff
  .travis.yml
  electron-builder.json
  electron/index.js
  ui/index.jsx
  ui/modal/modalDownloading/view.jsx
  ui/page/help/view.jsx
  ui/page/settings/view.jsx
  ui/redux/actions/app.js
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  electron/index.js
  static/app-strings.json
  ui/index.jsx
  ui/modal/modalDownloading/view.jsx
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.7
  package.json
Due: none

show following page for desktop even if not logged in
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

v0.39.0-rc.8
  package.json
Due: none

update lbry-redux
  package.json
  static/app-strings.json
  yarn.lock
Due: none

v0.39.0-rc.9
  package.json
Due: none
