Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

v0.45.1-rc.2
  package.json
Due: none

Update README.md
  README.md
Due: none

fix deleted text file handling on desktop
  static/app-strings.json
  ui/constants/file_render_modes.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix channel reply switching channels.
  CHANGELOG.md
  ui/effects/use-persisted-state.js
Due: prettier --write, eslint, flow focus-check --color always

Open hyperlinks in new tab Closes #3467
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update changelog
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

Save media position in video viewer Closes #2775
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update changelog for #4104
  CHANGELOG.md
Due: none

Only save media position on pause or dispose, not every timeupdate, for performance reasons.
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add src attribute for new users coming from embeds
  lbrytv/component/fileViewerEmbeddedEnded/view.jsx
Due: prettier --write, eslint

update lbry-redux
  package.json
  yarn.lock
Due: none

Fix loop when value really doesn't need to be global.
  ui/component/fileRenderFloating/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

modal consistency cleanup
  package.json
  ui/component/channelContent/view.jsx
  ui/component/channelCreate/view.jsx
  ui/component/channelEdit/view.jsx
  ui/component/walletSendTip/view.jsx
  ui/modal/modalConfirmSendTip/view.jsx
  ui/modal/modalConfirmTransaction/view.jsx
  ui/modal/modalRevokeClaim/view.jsx
  ui/page/show/view.jsx
  ui/scss/component/_header.scss
  ui/scss/component/section.scss
  ui/scss/init/_gui.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

remove dependency on full claim list paginate claim list improve handling of pending publishes add abandon to publishes list previews
  package.json
  ui/component/claimAbandonButton/index.js
  ui/component/claimAbandonButton/view.jsx
  ui/component/claimList/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/publishForm/index.js
  ui/component/publishForm/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/supportsLiquidate/index.js
  ui/component/transactionListTable/internal/txo-list-item.jsx
  ui/constants/claim.js
  ui/modal/modalRepost/index.js
  ui/modal/modalRepost/view.jsx
  ui/modal/modalRevokeClaim/index.js
  ui/modal/modalRevokeClaim/view.jsx
  ui/page/fileListPublished/index.js
  ui/page/fileListPublished/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/publish.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Update CHANGELOG.md
  CHANGELOG.md
Due: none

v0.45.1-rc.3
  package.json
Due: none

removes delete button and ensures resolve on show page
  ui/component/claimList/view.jsx
  ui/component/claimPreview/view.jsx
  ui/page/fileListPublished/view.jsx
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.4
  package.json
Due: none

slightly improve pagination button placement
  ui/scss/component/_pagination.scss
Due: prettier --write

update button styles
  package.json
  ui/page/fileListPublished/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

move edit button on channel pages
  ui/page/channel/view.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.5
  package.json
Due: none

basic checkout page prototype
  ui/component/router/view.jsx
  ui/constants/pages.js
  ui/page/checkoutPage/index.js
  ui/page/checkoutPage/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

add credit card image and fake cost text
  ui/page/checkoutPage/credit-card-logos.png
  ui/page/checkoutPage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update typo
  ui/page/checkoutPage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump lbry-redux and lbry-sdk
  package.json
Due: none

v0.45.1-rc.6
  package.json
Due: none

fix typo
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.7
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
