Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

prevent fileSelector from overwriting name param
  static/app-strings.json
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

omit channels from suggested publish on search
  ui/component/claimPreview/view.jsx
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.38.0-rc.5
  package.json
Due: none

v0.38.0
  package.json
Due: none

cleanup
  package.json
  ui/component/fileViewer/view.jsx
  ui/component/fileViewerInitiator/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/modal/modal.jsx
  ui/modal/modalMobileNavigation/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
  ui/scss/component/_modal.scss
  ui/scss/component/_placeholder.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

lets tryout these thumbnail styles
  ui/scss/component/_claim-list.scss
Due: prettier --write

check if element exists before reading if it's active
  ui/component/wunderbar/internal/autocomplete.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix sign up not completing because it's waiting for the password
  ui/component/header/view.jsx
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

v0.38.1-rc.1
  package.json
Due: none

call preference get for all users
  ui/component/app/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.38.1-rc.2
  package.json
Due: none

update lbry-redux
  package.json
  ui/component/app/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.38.1-rc.3
  package.json
Due: none

v0.38.1
  package.json
Due: none

update lbry-redux
  package.json
  yarn.lock
Due: none

v0.38.2-rc.1
  package.json
Due: none

put back broken style
  ui/scss/component/_modal.scss
Due: prettier --write

v0.38.2-rc.2
  package.json
Due: none

v0.38.2
  package.json
Due: none

fix: mobile + m4v video
  ui/component/viewers/videoViewer/view.jsx
  ui/scss/component/_modal.scss
Due: prettier --write, eslint, flow focus-check --color always

fix modal button
  ui/modal/modalFirstReward/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

quick fix to add a cancel button on publish
  ui/component/publishFile/index.js
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

turn off lbry.tv thumbnail compression
  ui/component/cardMedia/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix typo
  ui/component/cardMedia/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: small text changes
  ui/component/socialShare/view.jsx
  ui/component/youtubeTransferStatus/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add warning to claim delete modal
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixes 'Video player out of whack after resize of window #3423' by adding event listeners prior to cleanup
  ui/component/fileViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

navigation redesign
  static/app-strings.json
  ui/analytics.js
  ui/component/app/view.jsx
  ui/component/claimListDiscover/index.js
  ui/component/claimListDiscover/view.jsx
  ui/component/common/icon-custom.jsx
  ui/component/header/view.jsx
  ui/component/page/view.jsx
  ui/component/router/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/constants/icons.js
  ui/constants/pages.js
  ui/page/channelsFollowing/index.js
  ui/page/channelsFollowing/view.jsx
  ui/page/channelsFollowingManage/index.js
  ui/page/channelsFollowingManage/view.jsx
  ui/page/discover/view.jsx
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/page/tagsFollowing/index.js
  ui/page/tagsFollowing/view.jsx
  ui/redux/actions/app.js
  ui/scss/component/_button.scss
  ui/scss/component/_claim-list.scss
  ui/scss/component/_header.scss
  ui/scss/component/_modal.scss
  ui/scss/component/_navigation.scss
  ui/scss/component/_tags.scss
  ui/scss/component/_wunderbar.scss
  ui/scss/component/menu-button.scss
  ui/scss/init/_gui.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

redirect home to following page until we have an actual home page
  lbrytv/middleware/redirect.js
Due: none

cleanup
  ui/component/app/view.jsx
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/header/view.jsx
  ui/component/recommendedContent/view.jsx
  ui/component/router/view.jsx
  ui/page/channelsFollowing/view.jsx
  ui/page/channelsFollowingManage/view.jsx
  ui/page/discover/view.jsx
  ui/page/fileListDownloaded/view.jsx
  ui/page/fileListPublished/view.jsx
  ui/page/tagsFollowing/view.jsx
  ui/scss/component/_button.scss
  ui/scss/component/_channel.scss
  ui/scss/component/_claim-list.scss
  ui/scss/component/_header.scss
  ui/scss/init/_gui.scss
  ui/scss/init/_vars.scss
Due: prettier --write, eslint, flow focus-check --color always

fix view for unauthed users
  ui/component/router/view.jsx
  ui/page/channelsFollowing/view.jsx
  ui/page/following/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

moar cleanup
  ui/analytics.js
  ui/component/header/view.jsx
  ui/component/router/view.jsx
  ui/constants/pages.js
  ui/page/channel/view.jsx
  ui/page/following/view.jsx
  ui/page/search/view.jsx
  ui/page/tags/view.jsx
  ui/page/tagsFollowing/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

remove suggested subs from tags manage page
  static/app-strings.json
  ui/component/header/view.jsx
  ui/component/router/view.jsx
  ui/page/fileListDownloaded/view.jsx
  ui/page/following/view.jsx
  ui/page/tagsFollowingManage/index.js
  ui/page/tagsFollowingManage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

scroll to top when clicking home
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use thumbnail server
  ui/component/cardMedia/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
