Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Allow hide chat on mobile
  ui/component/livestreamChatLayout/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix modal spacing
  ui/scss/component/_button.scss
  ui/scss/component/_card.scss
Due: prettier --write

tus: reduce chunk size (25MB -> 10MB)
  web/setup/publish-v2.js
Due: none

New discord for rewards
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

i18n weekly
  static/app-strings.json
Due: none

Creative Arts strings
  static/app-strings.json
  ui/constants/pageTitles.js
  ui/constants/pages.js
  web/src/category-metadata.js
Due: prettier --write, eslint, flow focus-check --color always

Move commentron error mapping to separate file
  ui/redux/actions/comments.js
  ui/util/commentron-error.js
Due: prettier --write, eslint, flow focus-check --color always

Comment api: re-format to single-line.
  ui/comments.js
Due: prettier --write, eslint, flow focus-check --color always

CHANNEL_UNSUBSCRIBE: handle colon vs. hash uris (#706)
  ui/redux/reducers/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

Ignore .vscode directory to allow disabling js typechecking. (#712)
  .gitignore
Due: none

Upgrade nodemon to latest and add --inspect flag for remote debugging (#714)
  package.json
  web/package.json
  web/yarn.lock
  yarn.lock
Due: none

Corrected `mentioned_channels` parameter name (#719)
  flow-typed/Comment.js
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Fix "don't cache html" meta tags (#721)
  static/index-web.html
Due: none

Upgrade @reach/rect ui to address "observe" warning (#711)
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Odysee chat updates
  .github/ISSUE_TEMPLATE/--bug-report.md
  CONTRIBUTING.md
  README.md
  ui/component/userEmailVerify/view.jsx
  ui/component/userPhoneVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix collection filter
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust meta data to allow search pages to reflect search term (#713)
  CHANGELOG.md
  web/src/category-metadata.js
  web/src/html.js
Due: none

do not filter sharedPreferences from sdk prefs
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

do not filter sharedPreferences from sdk prefs (#7418)
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Commentron: param updates for moderation.*Delegates
  flow-typed/Comment.js
  static/app-strings.json
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Commentron: *Delegates was failing silently
  static/app-strings.json
  ui/redux/actions/comments.js
  ui/util/commentron-error.js
Due: prettier --write, eslint, flow focus-check --color always

Fix crash
  ui/util/url.js
Due: prettier --write, eslint, flow focus-check --color always

Fix missing claims in large collection (#726)
  ui/redux/actions/collections.js
Due: prettier --write, eslint, flow focus-check --color always

ad adjustments per vidcrunch
  web/component/ads/view.jsx
Due: none

Clean invisible chars and adjust "__" for server and client use (#715)
  CHANGELOG.md
  web/src/lbryURI.js
Due: none

Remove CHANGELOG.md (#722)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Due: none

Formatting improvements (#731)
  ui/component/claimPreview/view.jsx
  ui/page/channel/index.js
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add property overlay to ClaimPreview
  ui/component/claimPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add to changelog
  CHANGELOG.md
Due: none

Comment options: hide "Remove" when comment is removed. (#738)
  ui/component/livestreamComment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

ClaimList: fix missing key (#737)
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Top Search: handle view count for Repost (#736)
  ui/component/claimPreviewSubtitle/index.js
Due: prettier --write, eslint, flow focus-check --color always

Category-metadata: add stub for Education + cleanup old categories (#735)
  ui/constants/pageTitles.js
  web/src/category-metadata.js
Due: prettier --write, eslint, flow focus-check --color always

Update remaining chat link (#741)
  static/app-strings.json
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Mobile ads on Android too
  web/component/ads/view.jsx
Due: none

Remove <UserEmail> -- I think it was a Desktop thing
  static/app-strings.json
  ui/component/userEmail/index.js
  ui/component/userEmail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove unused FIRST_SUBSCRIPTION modal -- it is now just a toast.
  ui/constants/modal_types.js
  ui/modal/modalFirstSubscription/index.js
  ui/modal/modalFirstSubscription/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Help Page: remove 'app' to get rid of old 'accessToken' calls
  ui/page/help/index.js
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove 'store.user.accessToken' now that we've confirmed nobody uses it.
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/user.js
  ui/redux/reducers/user.js
  ui/redux/selectors/user.js
Due: prettier --write, eslint, flow focus-check --color always

Remove unused 'accessToken' props
  ui/component/app/index.js
  ui/component/publishAdditionalOptions/index.js
  ui/component/publishAdditionalOptions/view.jsx
  ui/component/userSignUp/index.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
