Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

hide media until it's ready to play
  src/renderer/component/video/internal/player.jsx
Due: prettier --write, eslint --fix

Price badge improvements
  CHANGELOG.md
  src/renderer/scss/_gui.scss
Due: prettier --write

Changes per review
  src/renderer/scss/_gui.scss
Due: prettier --write

disable automatic dark mode when dark theme is selected
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

fix changelog
  CHANGELOG.md
Due: none

add markdownPreview component
  package.json
  src/renderer/component/markdownPreview/index.js
  src/renderer/component/markdownPreview/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

implement new markdownPreview component
  src/renderer/component/fileDetails/view.jsx
Due: prettier --write, eslint --fix

fix markdown styles #1179
  src/renderer/scss/all.scss
  src/renderer/scss/component/_markdown-preview.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

fix markdown table styles
  src/renderer/scss/component/_table.scss
Due: prettier --write

chore: update daemon to 0.19.3
  package.json
Due: none

v0.21.4-rc.1
  package.json
Due: none

add travis dependency
  .travis.yml
Due: none

Properly open modals by using notifications.
  src/renderer/redux/actions/rewards.js
Due: prettier --write, eslint --fix

Update changelog.
  CHANGELOG.md
Due: none

add mac version note
  README.md
Due: none

update lbry-redux
  yarn.lock
Due: none

fix linux build
  .travis.yml
Due: none

remove yarn danger ci
  .travis.yml
Due: none

update electron-builder
  package.json
  yarn.lock
Due: none

back to node@8
  .travis.yml
Due: none

use node@9 for linux
  .travis.yml
Due: none

add before_install commands for linux
  .travis.yml
Due: none

use yarn 1.6
  .travis.yml
Due: none

remove sudo: false
  .travis.yml
Due: none

commit for ci
  yarn.lock
Due: none

remove mongodb stuff
  .travis.yml
Due: none

disable cache on travis
  .travis.yml
Due: none

remove mongodb repository
  .travis.yml
Due: none

lock electron-builder to 20.10.0
  package.json
  yarn.lock
Due: none

commit for ci
  .travis.yml
Due: none

newline for test
  src/renderer/app.js
Due: prettier --write, eslint --fix

remove 'yarn danger ci'
  .travis.yml
Due: none

add npm rebuild node-sass
  .travis.yml
Due: none

remove sudo
  .travis.yml
Due: none

yarn upgrade
  .travis.yml
Due: none

node 7
  .travis.yml
Due: none

update electron builder
  package.json
  yarn.lock
Due: none

remove cache
  .travis.yml
Due: none
