Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

Add url parameter
  package.json
  static/app-strings.json
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

allow vanity urls in embeds
  ui/page/embedWrapper/index.js
Due: prettier --write, eslint, flow focus-check --color always

fix height for embedded content
  ui/scss/component/_file-render.scss
Due: prettier --write

SimpleMDE: Add character limit functionality.
  ui/component/common/form-components/form-field.jsx
Due: prettier --write, eslint, flow focus-check --color always

Rename: "constants/comments.js" --> "constants/form-field.js"
  ui/component/common/form-components/form-field.jsx
  ui/constants/form-field.js
Due: prettier --write, eslint, flow focus-check --color always

Set "Description" field limit to 5000 characters.
  ui/component/channelEdit/view.jsx
  ui/component/comment/view.jsx
  ui/component/commentCreate/view.jsx
  ui/component/common/form-components/form-field.jsx
  ui/component/publishText/view.jsx
  ui/constants/form-field.js
Due: prettier --write, eslint, flow focus-check --color always

SimpleMDE: Add character-count display and standardize look with basic editor's.
  ui/component/common/form-components/form-field.jsx
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

Don't gray out on "Support/tip unlock" or "Abandon Claim" failures.
  ui/component/transactionListTable/internal/txo-list-item.jsx
Due: prettier --write, eslint, flow focus-check --color always

Bug fixes
  package.json
  static/app-strings.json
  yarn.lock
Due: none

tip/support marriage
  ui/component/common/icon-custom.jsx
  ui/component/creatorAnalytics/view.jsx
  ui/component/fileActions/index.js
  ui/component/fileActions/view.jsx
  ui/component/fileDetails/view.jsx
  ui/component/walletBalance/view.jsx
  ui/component/walletSendTip/view.jsx
  ui/constants/icons.js
  ui/constants/settings.js
  ui/modal/modalSendTip/view.jsx
  ui/page/channel/index.js
  ui/page/channel/view.jsx
  ui/page/settings/index.js
  ui/page/settings/view.jsx
  ui/redux/reducers/settings.js
  ui/scss/component/_button.scss
  ui/scss/component/_form-field.scss
  ui/scss/component/_icon.scss
  ui/scss/component/section.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

improve support/tip for 0 balance and own claims
  ui/component/selectChannel/view.jsx
  ui/component/walletSend/index.js
  ui/component/walletSendTip/index.js
  ui/component/walletSendTip/view.jsx
  ui/modal/modalFirstSubscription/view.jsx
  ui/scss/component/_button.scss
  ui/scss/component/menu-button.scss
Due: prettier --write, eslint, flow focus-check --color always

confirmation cleanup
  package.json
  ui/component/walletSendTip/index.js
  ui/component/walletSendTip/view.jsx
  ui/modal/modalConfirmSendTip/index.js
  ui/modal/modalConfirmSendTip/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/scss/init/_gui.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix submit button after confirming
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix mobile style
  ui/component/walletSendTip/view.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix translation issues in the Publish modal dialog.
  static/app-strings.json
  ui/modal/modalPublish/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Accumulated string updates.
  static/app-strings.json
Due: none

fix layout on '/$/report'
  ui/page/report/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add new app strings from tip/support merge
  static/app-strings.json
Due: none

Add link to "Buy More LBC" button
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

wider diff in header sizes for md posts
  .gitignore
  ui/scss/component/_markdown-preview.scss
Due: prettier --write

Add new unreleased version to changelog
  CHANGELOG.md
Due: none

fix label on tx table for supports
  ui/component/transactionListTable/internal/txo-list-item.jsx
Due: prettier --write, eslint, flow focus-check --color always

add caching to ui.js
  web/middleware/cache-control.js
Due: none

fix typo
  ui/component/transactionListTable/internal/txo-list-item.jsx
Due: prettier --write, eslint, flow focus-check --color always

Persist trending selectors between tags.
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Publish: Make 'Channel' setting persistent.
  ui/component/publishForm/view.jsx
  ui/page/publish/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
