Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

removed remaining refs to PAGES.REPOST
  ui/component/claimRepostButton/index.js
  ui/component/claimRepostButton/view.jsx
  ui/component/fileActions/index.js
  ui/component/fileActions/view.jsx
  ui/component/repostCreate/view.jsx
  ui/component/router/view.jsx
  ui/constants/pageTitles.js
  ui/constants/pages.js
  ui/page/repost/index.js
  ui/page/repost/view.jsx
  ui/page/show/index.js
  ui/page/show/view.jsx
  ui/page/top/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

pass in contentName to repost modal
  ui/modal/modalRepost/view.jsx
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add viewed bar in thumbnails.
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileThumbnail/index.js
  ui/component/fileThumbnail/view.jsx
  ui/redux/selectors/reactions.js
  ui/scss/all.scss
  ui/scss/component/_file-thumbnail.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix broken Search Page OG
  web/src/html.js
Due: none

Restore metadata back to simple objects
  web/src/category-metadata.js
  web/src/html.js
Due: none

Move Category Metadata to homepages-repo
  web/src/category-metadata.js
  web/src/html.js
Due: none

Hush developmental app-string fetch errors for dev-server
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Re-organize env file
  .env.defaults
Due: none

partial new livestream api support
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/constants/livestream.js
  ui/redux/actions/websocket.js
  ui/util/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

Uploads: show placeholder when loading
  CHANGELOG.md
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix post-editor preview mode (#7532)
  CHANGELOG.md
  ui/component/common/markdown-preview.jsx
  ui/scss/component/_embed-player.scss
Due: prettier --write, eslint, flow focus-check --color always

Remove abandoned claim from Uploads Page (#7534)
  ui/redux/reducers/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Use baked-in homepages until service is moved elsewhere
  .env.defaults
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Use non-VHS link when "auto" matches non-VHS quality
  .prettierignore
  ui/component/viewers/videoViewer/internal/plugins/videojs-http-streaming--override/playlist-selectors.js
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add "original" quality button
  static/app-strings.json
  ui/component/viewers/videoViewer/internal/plugins/videojs-hls-quality-selector/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Cleanup; no functional change.
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Port bandwidth selector from `http-streaming @ v2.0.0`
  ui/component/viewers/videoViewer/internal/plugins/videojs-http-streaming--override/config.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-http-streaming--override/playlist-selectors.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-http-streaming--override/playlist.js
Due: prettier --write, eslint, flow focus-check --color always

Use non-VHS link when "original" is selected.
  ui/component/viewers/videoViewer/internal/plugins/videojs-hls-quality-selector/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Disable "switch optimized-auto to original" for now.
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Design fallout patch 9 (#1337)
  ui/scss/component/_file-drop.scss
  ui/scss/component/_media.scss
  ui/scss/component/_search.scss
  ui/scss/component/_wunderbar.scss
  ui/scss/component/section.scss
  ui/scss/init/_gui.scss
Due: prettier --write

Replace IS_IOS and IS_ANDROID with `platform`
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/util/platform.js
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove `isTouch` from `use-screensize.js` -- it's not an effect
  ui/component/sideNavigation/view.jsx
  ui/effects/use-screensize.js
Due: prettier --write, eslint, flow focus-check --color always

Port navigatorJS - provides platform details
  ui/util/platform.js
Due: prettier --write, eslint, flow focus-check --color always

Fix release time on category pages
  flow-typed/homepage.js
  ui/page/discover/view.jsx
  ui/util/buildHomepage.js
Due: prettier --write, eslint, flow focus-check --color always

add fire sticker, cleanup
  ui/constants/stickers.js
Due: prettier --write, eslint, flow focus-check --color always

workflow
  .github/workflows/deploy.yml
Due: none

v0.52.6-alpha.teststyles.1
  package.json
Due: none

fix hook
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.52.6-alpha.teststyles.2
  package.json
Due: none

Odysee updates
  ui/component/fileDetails/view.jsx
  ui/component/socialShare/view.jsx
  web/page/privacypolicy/view.jsx
  web/page/tos/view.jsx
  web/page/youtubetos/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add search term in uri when filtering uploads.
  ui/page/fileListPublished/index.js
  ui/page/fileListPublished/view.jsx
  ui/util/debounce.js
Due: prettier --write, eslint, flow focus-check --color always

style fixes
  ui/component/settingSystem/view.jsx
  ui/scss/component/_card.scss
  ui/scss/component/_main.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

ui/ux touchup
  static/app-strings.json
  ui/page/fileListPublished/view.jsx
  ui/scss/component/_wunderbar.scss
Due: prettier --write, eslint, flow focus-check --color always

no appstrings for you
  static/app-strings.json
Due: none

resolve conflicts
  static/app-strings.json
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add ability to search through publishes. (#7535)
  static/app-strings.json
  ui/constants/action_types.js
  ui/page/fileListPublished/index.js
  ui/page/fileListPublished/view.jsx
  ui/redux/actions/claims.js
  ui/redux/reducers/claims.js
  ui/redux/selectors/claims.js
  ui/scss/component/_wunderbar.scss
  ui/util/debounce.js
Due: prettier --write, eslint, flow focus-check --color always

Design Fallout Patch 10 (#1340)
  ui/component/fileReactions/index.js
  ui/component/fileReactions/view.jsx
  ui/scss/component/_file-price.scss
  ui/scss/component/_file-render.scss
  ui/scss/component/_tags.scss
  web/.env.floss.defaults
Due: prettier --write, eslint, flow focus-check --color always
