Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

fix diskspace windows bytes
  flow-typed/Settings.js
  ui/component/appStorageVisualization/view.jsx
  ui/component/hostingSplash/view.jsx
  ui/component/settingViewHosting/view.jsx
  ui/util/diskspace.js
Due: prettier --write, eslint, flow focus-check --color always

fix diskspace windows bytes (#7601)
  flow-typed/Settings.js
  ui/component/appStorageVisualization/view.jsx
  ui/component/hostingSplash/view.jsx
  ui/component/settingViewHosting/view.jsx
  ui/util/diskspace.js
Due: prettier --write, eslint, flow focus-check --color always

v0.53.4-alpha.2
  .yarn/versions/17d7e90d.yml
  package.json
Due: none

v0.53.4-alpha.3
  .yarn/versions/fc597c00.yml
  package.json
Due: none

Add volume control using scroll wheel from myzel, with flow errors fixed (#1638)
  ui/component/viewers/videoViewer/internal/videojs-shortcuts.jsx
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Styling touchups for image previews (#1582)
  ui/scss/component/_videojs.scss
  yarn.lock
Due: prettier --write

dedupe yarn.lock (#1639)
  yarn.lock
Due: none

bump eslint version (#1640)
  .eslintrc
  package.json
  ui/component/app/view.jsx
  ui/component/notification/helpers/text.jsx
  ui/page/channelsFollowingManage/view.jsx
  ui/page/discover/livestreamSection.jsx
  ui/page/signInVerify/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Help hints + channel removal
  ui/modal/modalRevokeClaim/view.jsx
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Missing yarn.lock commit
  yarn.lock
Due: none

LbryVolumeBarClass: add documentation
  ui/component/viewers/videoViewer/internal/lbry-volume-bar.js
Due: prettier --write, eslint, flow focus-check --color always

Variable naming and doc cleanup
  ui/component/viewers/videoViewer/internal/videojs-shortcuts.jsx
Due: prettier --write, eslint, flow focus-check --color always

i18n update
  static/app-strings.json
Due: none

ChannelThumbnail: fix quality typo + consolidate 'small' variant sizes
  ui/component/channelThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust player quality selector icon width on mobile
  ui/scss/component/_file-render.scss
Due: prettier --write

Adnim patch (#1647)
  ui/scss/component/_ads.scss
  ui/scss/component/_claim-list.scss
  web/component/adsBanner/view.jsx
Due: prettier --write

Add missing app string
  static/app-strings.json
Due: none

update yarn version (#1654)
  .github/workflows/node.js.yml
Due: none

Hide watched progress if claim is being played.
  ui/component/fileThumbnail/index.js
Due: prettier --write, eslint, flow focus-check --color always

bump sdk to 0.109.0
  package.json
Due: none

Hide watched progress if claim is being played. (#7606)
  ui/component/fileThumbnail/index.js
Due: prettier --write, eslint, flow focus-check --color always

bump sdk to 0.109.0 (#7607)
  package.json
Due: none

changelog
  CHANGELOG.md
Due: none

v0.53.4-alpha.4
  .yarn/versions/33178102.yml
  package.json
Due: none

v0.53.4-alpha.5
  .yarn/versions/fc1fde84.yml
  package.json
Due: none

Switch to file-page ad until Adnim fixes the script
  web/component/ads/view.jsx
Due: none

Homepage API: add `?format=roku` support (#1655)
  web/src/getHomepageJSON.js
  web/src/homepageApi.js
Due: none

Move Google Video code into another file
  web/src/html.js
  web/src/metadata/googleVideo.js
Due: none

Notification menu (#1652)
  ui/component/headerNotificationButton/index.js
  ui/component/headerNotificationButton/view.jsx
  ui/component/headerProfileMenuButton/view.jsx
  ui/scss/component/_notification.scss
  ui/scss/component/menu-button.scss
Due: prettier --write, eslint, flow focus-check --color always

revert sdk to 107.1
  CHANGELOG.md
  package.json
Due: none

v0.53.4-alpha.6
  .yarn/versions/4f9fb046.yml
  package.json
Due: none

Remove polling, still happen on channel pages (#1558)
  ui/component/channelContent/view.jsx
  ui/effects/use-fetch-live.js
  ui/page/livestream/view.jsx
  ui/redux/actions/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

Notification-popup patch
  static/app-strings.json
  ui/component/headerNotificationButton/view.jsx
  ui/component/notificationBubble/index.js
  ui/component/notificationBubble/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

MediaSession: handle null thumbnail
  ui/component/viewers/videoViewer/internal/videojs-events.jsx
Due: prettier --write, eslint, flow focus-check --color always

Minor padding adjustment on channels page on mobile
  ui/scss/component/_channel.scss
Due: prettier --write

Another padding adjustment on mobile
  ui/page/channels/view.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

GoogleVideo: fix `contentUrl` and add more metadata (#1659)
  web/src/html.js
  web/src/metadata/googleVideo.js
Due: none

Adjust chapter button width on mobile
  ui/scss/component/_file-render.scss
Due: prettier --write

bump lbrynet to 107.2
  CHANGELOG.md
  package.json
Due: none

v0.53.4-alpha.7
  .yarn/versions/909c3734.yml
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
