Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

pass time in ms to analytics for view apis
  ui/analytics.js
  ui/component/viewers/videoViewer/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.8
  package.json
Due: none

remove hard coded reward amount
  static/app-strings.json
  ui/component/inviteNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.9
  package.json
Due: none

fix time to start analytics for desktop and fix rewards link
  static/app-strings.json
  ui/component/fileRender/view.jsx
  ui/component/fileRenderFloating/view.jsx
  ui/component/inviteNew/view.jsx
  ui/component/rewardAuthIntro/view.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.10
  package.json
Due: none

remove #whothinks
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

make sure player callback has access to latest desktop start time
  ui/component/fileRenderFloating/view.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.1-rc.11
  package.json
Due: none

v0.45.1
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Open hyperlinks in new tab Closes #3467
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove dynamic streaming url generation
  config.js
  lbrytv/src/html.js
  lbrytv/src/routes.js
  ui/util/lbrytv.js
Due: prettier --write, eslint, flow focus-check --color always

fix monopolized style of list-style
  ui/scss/init/_gui.scss
Due: prettier --write

remove extra spacing in markdown quotes: fix #3522
  ui/scss/component/_markdown-preview.scss
Due: prettier --write

change hyperlink color: fix #346
  ui/scss/component/_markdown-editor.scss
Due: prettier --write

block unknown file types from player
  ui/constants/claim.js
Due: prettier --write, eslint, flow focus-check --color always

fix channel selector styles
  ui/component/channelSelector/view.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

remove unnecessary div wraper
  ui/component/channelSelector/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix channel selector icon color
  ui/scss/component/_channel.scss
Due: prettier --write

update lbry-redux
  package.json
  yarn.lock
Due: none

Allow video sharing with start timestamp Closes #3122
  static/app-strings.json
  ui/component/embedTextArea/view.jsx
  ui/component/socialShare/index.js
  ui/component/socialShare/view.jsx
  ui/scss/component/section.scss
  ui/util/lbrytv.js
  ui/util/time.js
  ui/util/url.js
Due: prettier --write, eslint, flow focus-check --color always

Fix code review issues
  ui/component/socialShare/view.jsx
  ui/scss/component/section.scss
  ui/util/url.js
Due: prettier --write, eslint, flow focus-check --color always

udpate changelog
  CHANGELOG.md
Due: none

track reflecting files after publish
  package.json
  static/app-strings.json
  ui/component/claimPreview/index.js
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewSubtitle/view.jsx
  ui/component/publishPending/index.js
  ui/component/publishPending/view.jsx
  ui/reducers.js
  ui/redux/actions/availability.js
  ui/redux/actions/publish.js
  ui/redux/reducers/availability.js
  ui/redux/selectors/availability.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always
