Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

cleanup
  static/app-strings.json
  ui/modal/modalRepost/index.js
  ui/modal/modalRepost/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_media.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

slightly improve channel prefix on dark mode
  ui/scss/component/_form-field.scss
Due: prettier --write

add padding to web upload claim preview
  ui/component/webUploadList/internal/web-upload-item.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

fix publish modal style
  ui/component/claimPreview/view.jsx
  ui/modal/modalPublish/view.jsx
  ui/scss/component/_file-properties.scss
Due: prettier --write, eslint, flow focus-check --color always

fix winning claim for top search results
  ui/page/search/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

mvp for 'top' page
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/fileDetails/view.jsx
  ui/component/router/view.jsx
  ui/constants/pages.js
  ui/page/search/view.jsx
  ui/page/top/index.js
  ui/page/top/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

add effective amount and claim_id to file page
  ui/component/fileDetails/view.jsx
  ui/scss/component/_table.scss
Due: prettier --write, eslint, flow focus-check --color always

make sure to show correct url on winning search term
  ui/component/claimPreview/view.jsx
  ui/component/claimUri/view.jsx
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

fetch my claims on wallet page so reposts are deleteable
  ui/component/transactionListRecent/index.js
  ui/component/transactionListRecent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix advanced section collapsing after changing claim name
  ui/modal/modalRepost/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

less padding on repost author
  ui/scss/component/_claim-list.scss
Due: prettier --write

fix wrong amount showing for effective_amount visual
  package.json
  ui/component/claimEffectiveAmount/index.js
  ui/component/claimEffectiveAmount/view.jsx
  ui/component/fileDetails/view.jsx
  ui/page/top/view.jsx
  ui/scss/component/_table.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix typo
  ui/component/claimEffectiveAmount/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add youtube verified message
  static/app-strings.json
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
  ui/page/channel/view.jsx
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

add supports to 'top' page
  package.json
  static/app-strings.json
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/claimSupportButton/index.js
  ui/component/claimSupportButton/view.jsx
  ui/component/walletSendTip/index.js
  ui/modal/modalSendTip/view.jsx
  ui/page/top/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.42.0-rc.1
  package.json
Due: none

channel page and invite page take advantage of resolved channel list
  package.json
  static/app-strings.json
  ui/component/inviteNew/index.js
  ui/component/inviteNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

requireAuth for repost button on web
  ui/component/fileActions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update lbry-sdk
  CHANGELOG.md
  package.json
Due: none

v0.42.0-rc.2
  package.json
Due: none

added javanese
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  static/app-strings.json
  yarn.lock
Due: none

v0.42.0-rc.3
  package.json
Due: none

Copy changes
  ui/component/publishForm/view.jsx
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix title not showing on publish tags section
  ui/component/common/card.jsx
Due: prettier --write, eslint, flow focus-check --color always
