Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

Disable confirm button after pressing "Use It Now" button
  src/renderer/modal/modalAutoUpdateDownloaded/view.jsx
Due: prettier --write, eslint --fix

Update electron-builder.json
  electron-builder.json
Due: none

fix text selection
  src/renderer/component/viewers/codeViewer.jsx
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_file-render.scss
  src/renderer/scss/component/_markdown-editor.scss
  static/themes/dark.css
Due: prettier --write, eslint --fix

reduce !important rule usage and fix fullscreen styles
  src/renderer/scss/component/_markdown-editor.scss
Due: prettier --write

fix context menu
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/component/viewers/codeViewer.jsx
  src/renderer/util/contextMenu.js
  src/renderer/util/getMediaType.js
Due: prettier --write, eslint --fix

add FAQ to Publish Form
  src/renderer/component/publishForm/view.jsx
Due: prettier --write, eslint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add new png to show up when the image can't be loaded.
  src/renderer/component/selectThumbnail/view.jsx
  static/img/broken.png
Due: prettier --write, eslint --fix

lowercase
  src/renderer/component/publishForm/view.jsx
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

Update package.json
  package.json
Due: none

Update image.
  static/img/broken.png
Due: none

Fix ShapeShift status checking
  src/renderer/redux/actions/shape_shift.js
Due: prettier --write, eslint --fix

chore: bump rc
  package.json
Due: none

Add setting to skip desktop nofifications, persist the setting on localstorage, defaults to true(notifications enabled).
  src/renderer/constants/settings.js
  src/renderer/page/settings/index.js
  src/renderer/page/settings/view.jsx
  src/renderer/redux/actions/content.js
  src/renderer/redux/reducers/settings.js
  src/renderer/redux/selectors/settings.js
Due: prettier --write, eslint --fix

remove extra channel spacing
  src/renderer/scss/component/_card.scss
Due: prettier --write

Update checkbox style to be toggable. - Add Notifications to be on his own section.
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

Pass spee.ch error message Otherwise it would just say "upload failed"
  CHANGELOG.md
  src/renderer/redux/actions/publish.js
Due: prettier --write, eslint --fix

chore: bump proper
  package.json
Due: none

add 1836
  CHANGELOG.md
Due: none

Rename variables names and text labels to be more descriptive.
  src/renderer/constants/settings.js
  src/renderer/page/settings/index.js
  src/renderer/page/settings/view.jsx
  src/renderer/redux/actions/content.js
  src/renderer/redux/reducers/settings.js
  src/renderer/redux/selectors/settings.js
Due: prettier --write, eslint --fix

Change text label on notifications.
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

Add margin auto to center the checkbox to the middle of the parent component.
  src/renderer/scss/component/_toggle.scss
Due: prettier --write

fix auxclick event (middle click) #1843
  src/main/createWindow.js
Due: prettier --write, eslint --fix

use atom dark theme for codeMirror
  src/renderer/component/viewers/codeViewer.jsx
  src/renderer/scss/component/_file-render.scss
  src/renderer/scss/component/_syntax-highlighter.scss
Due: prettier --write, eslint --fix

update changelog.md
  CHANGELOG.md
Due: none

Align toggle to first line of the block.
  src/renderer/scss/component/_toggle.scss
Due: prettier --write

improve and optimize renderFile method (fileSource)
  src/renderer/component/fileRender/view.jsx
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/viewers/documentViewer.jsx
  src/renderer/component/viewers/docxViewer.jsx
  src/renderer/component/viewers/pdfViewer.jsx
  src/renderer/component/viewers/threeViewer/index.jsx
  src/renderer/component/viewers/threeViewer/internal/loader.js
Due: prettier --write, eslint --fix

extend support for human-readable files
  src/renderer/component/fileRender/view.jsx
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/viewers/codeViewer.jsx
  src/renderer/component/viewers/htmlViewer.jsx
  src/renderer/page/file/view.jsx
  src/renderer/util/getMediaType.js
Due: prettier --write, eslint --fix

fix page index position #1847
  src/renderer/scss/_gui.scss
Due: prettier --write

include time to start if available in file_view analytics
  src/renderer/analytics.js
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/fileViewer/view.jsx
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

use scss spacing variables
  src/renderer/scss/component/_file-render.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

Allways use toggle on checkbox input. - Add changelog entry for PR 1834.
  CHANGELOG.md
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/page/file/view.jsx
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

Missing Word
  src/renderer/component/publishForm/internal/bid-help-text.jsx
Due: prettier --write, eslint --fix

Missing Word Added #1854
  CHANGELOG.md
Due: none
