Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Fix wildwest types, add doc to category
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Do not show shuffle option for empty collections.
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Disable play/suffle buttons from empty collections.
  ui/component/collectionActions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Do not throw error when trying to play empty collections.
  ui/component/collectionActions/view.jsx
  ui/component/collectionPreviewOverlay/view.jsx
  ui/component/collectionsListMine/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert the toast display order
  ui/redux/reducers/notifications.js
  ui/redux/selectors/notifications.js
Due: prettier --write, eslint, flow focus-check --color always

Stacked toast view
  ui/component/snackBar/index.js
  ui/component/snackBar/view.jsx
  ui/redux/selectors/notifications.js
  ui/scss/component/_snack-bar.scss
Due: prettier --write, eslint, flow focus-check --color always

update background URL
  ui/component/wallpaper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove active channel cleanup function
  ui/component/router/index.js
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix header icon active channel
  ui/component/headerProfileMenuButton/index.js
  ui/component/headerProfileMenuButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove section about hosting content
  web/page/tos/view.jsx
Due: none

Bring back default channel functionality
  ui/component/channelSelector/view.jsx
  ui/component/claimMenuList/index.js
  ui/component/collectionEdit/index.js
  ui/component/collectionEdit/view.jsx
  ui/component/fileActions/index.js
  ui/component/fileActions/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/router/index.js
  ui/component/router/view.jsx
  ui/redux/actions/publish.js
  ui/scss/component/_header.scss
Due: prettier --write, eslint, flow focus-check --color always

Support homepage-specific memes
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/redux/actions/settings.js
  ui/redux/selectors/settings.js
  web/component/meme.jsx
  web/src/getHomepageJSON.js
Due: prettier --write, eslint, flow focus-check --color always

Fix crash on middle click (and others?)
  ui/redux/selectors/settings.js
Due: prettier --write, eslint, flow focus-check --color always

clear up about page
  ui/component/channelAbout/index.js
  ui/component/channelAbout/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Meta: escape chars when generating `keywords` from `tags`
  web/src/html.js
Due: none

Band-aid: hide video ad close button until next update is ready
  ui/scss/component/_ads.scss
Due: prettier --write

Update `/$/live` to use latest API
  ui/component/livestreamList/index.js
  ui/component/livestreamList/view.jsx
  ui/constants/livestream.js
  ui/redux/actions/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

Suppress latest floater ad
  ui/scss/component/_ads.scss
Due: prettier --write

Fix timestamp input pattern
  ui/component/reportContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix timestamp input type
  ui/component/reportContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

check channels and populate notifications and download queue
  flow-typed/Claim.js
  ui/constants/action_types.js
  ui/redux/actions/notifications.js
  ui/redux/actions/subscriptions.js
  ui/redux/reducers/notifications.js
  ui/redux/reducers/subscriptions.js
  ui/redux/selectors/subscriptions.js
  ui/util/notifications.js
Due: prettier --write, eslint, flow focus-check --color always

Don't show wallet value until prefs are ready
  ui/component/header/index.js
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove old comment - Wild West is now a proper category
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix 'freshness' filter not working in Category Pages
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Restore SDK error logging, limiting to `support_create`.
  ui/lbry.js
Due: prettier --write, eslint, flow focus-check --color always

Fix Kebab
  ui/component/headerProfileMenuButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix quality selector
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Replace generateStreamUrl for Lbry get call
  .env.defaults
  config.js
  ui/util/web.js
Due: prettier --write, eslint, flow focus-check --color always

Revert "Replace generateStreamUrl for Lbry get call"
  .env.defaults
  config.js
  ui/util/web.js
Due: prettier --write, eslint, flow focus-check --color always

1317: Log and send `totalPlayingTime`
  extras/recsys/recsys.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

Recsys: pass `isFollowing` and `incognito`
  extras/recsys/recsys.js
  ui/redux/selectors/claims.js
  ui/redux/selectors/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

rename field
  extras/recsys/recsys.js
Due: none

1317: Exclude `events` in Recsys submission.
  extras/recsys/recsys.js
Due: none

createRecsysEntry: re-arrange for clarity (no functional change)
  extras/recsys/recsys.js
Due: none

Remove 'app' code to reduce clutter
  ui/effects/use-get-thumbnail.js
Due: prettier --write, eslint, flow focus-check --color always

useGetThumbnail: fetch `streaming_url` instead of generating it.
  ui/effects/use-get-thumbnail.js
Due: prettier --write, eslint, flow focus-check --color always

getHtml/routes/rss: fetch `streaming_url` instead of generating it.
  .env.defaults
  config.js
  ui/util/web.js
  web/src/fetchStreamUrl.js
  web/src/html.js
  web/src/routes.js
  web/src/rss.js
Due: prettier --write, eslint, flow focus-check --color always

Fix broken v1 homepage api
  web/src/getHomepageJSON.js
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
