Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "flow focus-check --color always",
      "git add"
    ]
  }
}

chore: update lock file
  yarn.lock
Due: none

back to ico for windows icon
  src/platforms/electron/createTray.js
  static/img/tray/windows/tray.ico
Due: prettier --write, eslint --fix, flow focus-check --color always

Update azure-pipelines.yml
  azure-pipelines.yml
Due: none

minor edits
  CONTRIBUTING.md
Due: none

bump node, minor edits
  README.md
Due: none

lbry.io => lbry.com
  .github/ISSUE_TEMPLATE.md
  .travis.yml
  CONTRIBUTING.md
  README.md
  package.json
  src/platforms/electron/index.js
  src/platforms/electron/installDevtools.js
  src/platforms/electron/menu/setupBarMenu.js
  src/ui/component/common/transaction-link.jsx
  src/ui/component/fileActions/view.jsx
  src/ui/component/inviteNew/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/rewardSummary/view.jsx
  src/ui/component/socialShare/view.jsx
  src/ui/component/splash/internal/load-screen.jsx
  src/ui/component/splash/view.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/userEmailVerify/view.jsx
  src/ui/component/userPhoneVerify/view.jsx
  src/ui/component/userVerify/view.jsx
  src/ui/component/walletSendTip/view.jsx
  src/ui/constants/shape_shift.js
  src/ui/modal/modalAuthFailure/view.jsx
  src/ui/modal/modalIncompatibleDaemon/view.jsx
  src/ui/modal/modalRewardCode/view.jsx
  src/ui/modal/modalTransactionFailed/view.jsx
  src/ui/modal/modalWalletDecrypt/view.jsx
  src/ui/modal/modalWalletEncrypt/view.jsx
  src/ui/modal/modalWalletUnlock/view.jsx
  src/ui/page/backup/view.jsx
  src/ui/page/getCredits/view.jsx
  src/ui/page/help/view.jsx
  src/ui/page/report/view.jsx
  src/ui/page/rewards/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/page/show/view.jsx
  src/ui/redux/actions/content.js
  src/ui/redux/actions/settings.js
  src/ui/redux/selectors/app.js
  src/ui/util/shape_shift.js
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.30.0-rc.1
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

v0.30.0-rc.4
  package.json
Due: none

fix: document viewer
  src/ui/component/viewers/documentViewer.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

basic commentsList structure
  src/ui/component/commentsList/index.js
  src/ui/component/commentsList/view.jsx
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/page/file/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

add comment
  src/ui/component/commentsList/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: allow paid content on desktop
  src/ui/component/fileRender/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

change: add back sleep for appending video player
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Moar fixes for v30 (#2368)
  src/ui/component/fileRender/view.jsx
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/component/viewers/documentViewer.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

changelog love
  CHANGELOG.md
Due: none

add sdk note
  CHANGELOG.md
Due: none

fix: minor style issues
  package.json
  src/ui/component/common/form-components/form-field.jsx
  src/ui/scss/component/_markdown-editor.scss
  src/ui/scss/component/_markdown-preview.scss
  src/ui/scss/component/_table.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: twitter share links
  src/ui/component/socialShare/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: publish url input
  package.json
  src/ui/component/common/form-components/form-field.jsx
  src/ui/scss/component/_form-field.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.30.0-rc.5
  package.json
Due: none

v0.30.0-rc.6
  package.json
Due: none

fix: markdown hover color
  src/ui/scss/component/_markdown-editor.scss
Due: prettier --write

v0.30.0-rc.7
  package.json
Due: none

fix: remove event listener when leaving file page
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.30.0-rc.8
  package.json
Due: none

v0.30.0
  package.json
Due: none

fix: link styling on show page
  src/ui/scss/component/_button.scss
Due: prettier --write

v0.31.0
  package.json
Due: none

fix: button overlfow style
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_markdown-preview.scss
Due: prettier --write

v0.31.1-rc.1
  package.json
Due: none

v0.31.1
  package.json
Due: none

prettier
  src/platforms/electron/devServer.js
  src/platforms/electron/index.js
  src/platforms/electron/sandboxTest.js
  src/platforms/electron/startSandbox.js
  src/ui/component/categoryList/view.jsx
  src/ui/component/fileCard/view.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/component/firstRun/view.jsx
  src/ui/component/spinner/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/component/userPhoneNew/view.jsx
  src/ui/component/wunderbar/internal/autocomplete.jsx
  src/ui/modal/modal.jsx
  src/ui/modal/modalError/view.jsx
  src/ui/page/auth/view.jsx
  src/ui/page/rewards/view.jsx
  src/ui/page/wallet/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/redux/reducers/content.js
Due: prettier --write, eslint --fix, flow focus-check --color always

add temp stub for shell.open on pdf viewer
  src/ui/component/viewers/pdfViewer.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

working with electron
  src/ui/component/errorBoundary/view.jsx
  src/ui/component/header/view.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/transactionListRecent/view.jsx
  src/ui/component/userHistory/index.js
  src/ui/component/userHistory/view.jsx
  src/ui/component/walletBalance/view.jsx
  src/ui/index.jsx
  src/ui/modal/modalPhoneCollection/index.js
  src/ui/page/auth/index.js
  src/ui/page/auth/view.jsx
  src/ui/page/discover/index.js
  src/ui/page/rewards/index.js
  src/ui/page/show/index.js
  src/ui/page/userHistory/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/init/_gui.scss
  webpack.electron.config.js
  webpack.web.config.js
Due: prettier --write, eslint --fix, flow focus-check --color always

add lbry icon in header
  src/ui/component/common/icon-custom.jsx
  src/ui/component/common/icon.jsx
  src/ui/component/header/view.jsx
  src/ui/constants/icons.js
  src/ui/scss/component/_header.scss
  src/ui/scss/init/_vars.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

Initial lazy-load and code-splitting
  .babelrc
  package.json
  src/platforms/electron/installDevtools.js
  src/ui/component/common/icon.jsx
  src/ui/component/fileRender/view.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/viewers/audioVideoViewer.jsx
  src/ui/component/viewers/codeViewer.jsx
  src/ui/component/viewers/documentViewer.jsx
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always
