Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Refactor actions/shape_shift.js to use redux action centralized
  src/renderer/redux/actions/shape_shift.js
Due: prettier --write, eslint --fix

Refactor actions/subscription.js to use redux action centralized
  src/renderer/redux/reducers/subscriptions.js
Due: prettier --write, eslint --fix

Limit file type when upload
  src/renderer/component/common/file-selector.jsx
  src/renderer/component/publishForm/view.jsx
  src/renderer/component/selectThumbnail/view.jsx
  src/renderer/page/settings/view.jsx
  src/renderer/redux/actions/publish.js
  src/renderer/redux/reducers/publish.js
  src/renderer/types/claim.js
  src/renderer/types/stream.js
Due: prettier --write, eslint --fix

Centralized type to type/claim
  src/renderer/redux/actions/publish.js
  src/renderer/redux/reducers/publish.js
  src/renderer/types/claim.js
  src/renderer/types/stream.js
Due: prettier --write, eslint --fix

Add changelog
  CHANGELOG.md
Due: none

#1772 - add Reverse Order & Use System/Location Time/Date
  src/renderer/component/rewardListClaimed/view.jsx
Due: prettier --write, eslint --fix

#1772 - adjustment for PR
  src/renderer/component/rewardListClaimed/view.jsx
  src/renderer/index.js
Due: prettier --write, eslint --fix

#1772 - add changelog
  CHANGELOG.md
Due: none

fix flow errors of fileRender component
  src/renderer/component/fileRender/index.js
  src/renderer/component/fileRender/view.jsx
Due: prettier --write, eslint --fix

fix more flow errors for document viewers
  src/renderer/component/common/markdown-preview.jsx
  src/renderer/component/fileRender/view.jsx
  src/renderer/component/viewers/codeViewer.jsx
  src/renderer/component/viewers/documentViewer.jsx
  src/renderer/component/viewers/docxViewer.jsx
  src/renderer/component/viewers/pdfViewer.jsx
Due: prettier --write, eslint --fix

fix some flow errors of the three-viewer component
  src/renderer/component/viewers/threeViewer/index.jsx
Due: prettier --write, eslint --fix

change snackbar notification postion to bottom-left
  src/renderer/scss/component/_snack-bar.scss
Due: prettier --write

fix position
  CHANGELOG.md
  src/renderer/scss/component/_snack-bar.scss
Due: prettier --write

fix flow type errors of react refs
  package.json
  src/renderer/component/viewers/codeViewer.jsx
  src/renderer/component/viewers/pdfViewer.jsx
  src/renderer/component/viewers/threeViewer/index.jsx
  yarn.lock
Due: prettier --write, eslint --fix

Fix issue file_list call continues indefinitely if a file is removed while downloading
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

fix promise error
  src/renderer/component/viewers/threeViewer/index.jsx
Due: prettier --write, eslint --fix

Update LICENSE
  LICENSE
Due: none

Add changelog and comment
  CHANGELOG.md
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

fix typo
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

persists transaction filter
  CHANGELOG.md
  src/renderer/component/transactionList/index.js
  src/renderer/component/transactionList/view.jsx
Due: prettier --write, eslint --fix

update lbry-redux
  package.json
  yarn.lock
Due: none

Add type for fileinfo
  src/renderer/component/fileActions/view.jsx
  src/renderer/types/file_info.js
Due: prettier --write, eslint --fix

Add simple styling for display download percentage
  src/renderer/component/fileCard/view.jsx
Due: prettier --write, eslint --fix

Add function calcDownloadProgress
  src/renderer/component/fileCard/view.jsx
  src/renderer/types/file_info.js
  src/renderer/util/file_info.js
Due: prettier --write, eslint --fix

Refactor to use calculateDownloadProgress
  src/renderer/component/fileDownloadLink/view.jsx
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

Display download progress in fileCard
  src/renderer/component/fileCard/view.jsx
Due: prettier --write, eslint --fix

Add flowtype for tooltip.jsx
  src/renderer/component/common/tooltip.jsx
Due: prettier --write, eslint --fix

Change layout
  src/renderer/component/fileCard/view.jsx
Due: prettier --write, eslint --fix

Cleanup inconsitence
  src/renderer/redux/selectors/app.js
Due: prettier --write, eslint --fix

Add opacity for downloading media in My LBRY page
  src/renderer/component/cardMedia/view.jsx
  src/renderer/component/fileCard/view.jsx
  src/renderer/component/fileList/view.jsx
  src/renderer/page/fileListDownloaded/view.jsx
  src/renderer/scss/component/_card.scss
Due: prettier --write, eslint --fix

fixed flow errors on a few 'view.jsx' files and 'form-field.jsx'
  src/renderer/component/button/view.jsx
  src/renderer/component/cardVerify/view.jsx
  src/renderer/component/channelTile/view.jsx
  src/renderer/component/common/form-components/form-field.jsx
Due: prettier --write, eslint --fix

using Claim type
  src/renderer/component/channelTile/view.jsx
Due: prettier --write, eslint --fix

Second refactor pass
  src/renderer/scss/_gui.scss
  src/renderer/scss/_reset.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_button.scss
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_channel-indicator.scss
  src/renderer/scss/component/_content.scss
  src/renderer/scss/component/_dat-gui.scss
  src/renderer/scss/component/_file-download.scss
  src/renderer/scss/component/_file-list.scss
  src/renderer/scss/component/_file-render.scss
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/component/_header.scss
  src/renderer/scss/component/_item-list.scss
  src/renderer/scss/component/_load-screen.scss
  src/renderer/scss/component/_markdown-editor.scss
  src/renderer/scss/component/_markdown-preview.scss
  src/renderer/scss/component/_menu.scss
  src/renderer/scss/component/_modal.scss
  src/renderer/scss/component/_nav.scss
  src/renderer/scss/component/_notice.scss
  src/renderer/scss/component/_pagination.scss
  src/renderer/scss/component/_placeholder.scss
  src/renderer/scss/component/_search.scss
  src/renderer/scss/component/_snack-bar.scss
  src/renderer/scss/component/_spinner.scss
  src/renderer/scss/component/_table.scss
  src/renderer/scss/component/_toggle.scss
  src/renderer/scss/component/_tooltip.scss
Due: prettier --write

Replacing existing colors with npm module, and refactoring Sass
  package.json
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/all.scss
  src/renderer/scss/component/_button.scss
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_content.scss
  src/renderer/scss/component/_file-list.scss
  src/renderer/scss/component/_file-render.scss
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/component/_header.scss
  src/renderer/scss/component/_item-list.scss
  src/renderer/scss/component/_load-screen.scss
  src/renderer/scss/component/_markdown-editor.scss
  src/renderer/scss/component/_markdown-preview.scss
  src/renderer/scss/component/_menu.scss
  src/renderer/scss/component/_modal.scss
  src/renderer/scss/component/_nav.scss
  src/renderer/scss/component/_notice.scss
  src/renderer/scss/component/_pagination.scss
  src/renderer/scss/component/_placeholder.scss
  src/renderer/scss/component/_scrollbar.scss
  src/renderer/scss/component/_search.scss
  src/renderer/scss/component/_snack-bar.scss
  src/renderer/scss/component/_spinner.scss
  src/renderer/scss/component/_syntax-highlighter.scss
  src/renderer/scss/component/_table.scss
  src/renderer/scss/component/_time.scss
  src/renderer/scss/component/_toggle.scss
  src/renderer/scss/component/_tooltip.scss
  static/themes/dark.css
Due: prettier --write

Removed Sass module
  package.json
Due: none

Fixed input styling
  src/renderer/scss/_gui.scss
  src/renderer/scss/component/_markdown-editor.scss
  src/renderer/scss/themes/_dark.scss
Due: prettier --write

Light mode URL bar is clearer to read
  src/renderer/scss/component/_search.scss
Due: prettier --write

update theme based on prop change
  src/renderer/component/app/index.js
  src/renderer/component/app/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

use lbry-teal-5 for snackbar/loadscreen
  src/main/createWindow.js
  src/renderer/scss/_gui.scss
  src/renderer/scss/component/_load-screen.scss
  src/renderer/scss/component/_snack-bar.scss
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
