Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

Change text displayed for blocked channels
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update string
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove s3 from list of publishers to use github for release/autoupdate downloads
  electron-builder.json
Due: none

add spacing for .section that is next to .section__actions
  ui/scss/component/section.scss
Due: prettier --write

fix comment reply style
  ui/scss/component/_comments.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

remove tag edit from tag following page since it was added to first run
  package.json
  ui/page/tagsFollowing/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Join => Register
  ui/component/header/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/component/userEmailReturning/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use txo list for wallet page: paginated enable revoking filtering
  package.json
  static/app-strings.json
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/common/card.jsx
  ui/component/router/view.jsx
  ui/component/transactionList/index.js
  ui/component/transactionList/view.jsx
  ui/component/transactionListRecent/index.js
  ui/component/transactionListRecent/view.jsx
  ui/component/transactionListTable/index.js
  ui/component/transactionListTable/internal/transaction-list-item.jsx
  ui/component/transactionListTable/internal/txo-list-item.jsx
  ui/component/transactionListTable/view.jsx
  ui/component/transactionRefreshButton/index.js
  ui/component/transactionRefreshButton/view.jsx
  ui/component/txoList/index.js
  ui/component/txoList/view.jsx
  ui/constants/pages.js
  ui/modal/modalRevokeClaim/index.js
  ui/modal/modalRevokeClaim/view.jsx
  ui/modal/modalSupportsLiquidate/index.js
  ui/page/transactionHistory/index.js
  ui/page/transactionHistory/view.jsx
  ui/page/wallet/view.jsx
  ui/scss/all.scss
  ui/scss/component/_card.scss
  ui/scss/component/_table.scss
  ui/scss/component/_txo-list.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

improve abandon callback
  package.json
  static/app-strings.json
  ui/component/transactionListTable/internal/txo-list-item.jsx
  ui/component/transactionListTable/view.jsx
  ui/component/txoList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

yarn lock
  yarn.lock
Due: none

review changes
  package.json
  static/app-strings.json
  ui/component/claimListDiscover/view.jsx
  ui/component/common/card.jsx
  ui/component/router/view.jsx
  ui/component/transactionListTable/internal/txo-list-item.jsx
  ui/component/txoList/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

comment out sidebar ads for test
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.45.0-rc.1
  package.json
Due: none

fix empty channel error
  package.json
  static/app-strings.json
  yarn.lock
Due: none

exclude internal transfers on wallet txo list
  package.json
  ui/component/txoList/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

exclude internal transfers on wallet txo list (#3998)
  package.json
  ui/component/txoList/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix spacing on publish page when user has no lbc
  ui/page/publish/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

remove card body border and add back css I didn't mean to remove
  static/app-strings.json
  ui/scss/component/_card.scss
Due: prettier --write

bump lbry-sdk to 0.69.0 nice
  package.json
Due: none

fix empty reducer and fix empty channelSelect creation
  package.json
  ui/component/commentCreate/view.jsx
  ui/component/selectChannel/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix empty reducer and fix empty channelSelect creation (#4000)
  package.json
  ui/component/commentCreate/view.jsx
  ui/component/selectChannel/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.45.0-rc.2
  package.json
Due: none

fix comicbook viewer
  ui/component/viewers/comicBookViewer.jsx
Due: prettier --write, eslint, flow focus-check --color always

show comic-book files on the desktop app
  ui/constants/file_render_modes.js
Due: prettier --write, eslint, flow focus-check --color always

only call email provided event for real sign ups
  package.json
  ui/component/userEmailNew/view.jsx
  ui/component/userEmailReturning/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update lbryinc
  package.json
  yarn.lock
Due: none

fix default unlock
  ui/component/supportsLiquidate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog for txo list
  CHANGELOG.md
Due: none

enable 3D render on desktop
  ui/constants/file_render_modes.js
Due: prettier --write, eslint, flow focus-check --color always

remove extra space
  ui/constants/file_render_modes.js
Due: prettier --write, eslint, flow focus-check --color always
