Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

more
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

markdown fixes - blockquotes and embedded videos
  ui/component/common/markdown-preview.jsx
  ui/component/fileRender/view.jsx
  ui/scss/all.scss
  ui/scss/component/_embed-player.scss
  ui/util/remark-lbry.js
  web/middleware/iframe-destroyer.js
Due: prettier --write, eslint, flow focus-check --color always

fix comment editing
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
  ui/component/common/comment-badge.jsx
  ui/page/ownComments/view.jsx
  ui/redux/actions/content.js
  ui/scss/component/_comment-badge.scss
  ui/util/comments.js
Due: prettier --write, eslint, flow focus-check --color always

fix comment pinning
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust font size on upload page on mobile
  ui/component/common/icon-custom.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix items tab on list publish page on desktop
  ui/component/collectionEdit/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Realign publishing animation on upload page on mobile
  ui/scss/init/_gui.scss
Due: prettier --write

Adjust button size & spacing on upload page on mobile
  ui/scss/init/_gui.scss
Due: prettier --write

Adjust font sizes in modal on mobile
  ui/scss/component/_modal.scss
Due: prettier --write

Adjust pending animation position on upload page on desktop
  ui/scss/init/_gui.scss
Due: prettier --write

Fix font color on YouTube sync page
  ui/scss/init/_gui.scss
Due: prettier --write

Adjust font sized in upload modal on mobile
  ui/scss/component/_modal.scss
Due: prettier --write

Add border to level stars
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust level star border width
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust level star border color
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix wrong param for selector (#874)
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

Fix css specificity issue on skip-button. (#853)
  ui/scss/component/_header.scss
Due: prettier --write

hide md preview help and restore mac header
  ui/component/common/form-components/form-field.jsx
  ui/scss/component/_header.scss
Due: prettier --write, eslint, flow focus-check --color always

Hide Wild West for DE (#875)
  ui/component/router/index.js
  ui/component/router/view.jsx
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/view.jsx
  ui/redux/selectors/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Revert tips by amount on hyper chat banner (#877)
  ui/component/livestreamChatLayout/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust level indicator star border in header
  ui/scss/component/_header.scss
Due: prettier --write

changelog
  CHANGELOG.md
Due: none

v0.52.3
  package.json
Due: none

fix active channel for commenting etc
  ui/component/app/index.js
Due: prettier --write, eslint, flow focus-check --color always

remove duplicate header search on mobile
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.52.4
  package.json
Due: none

Revert "v0.52.4"
  package.json
Due: none

UriIndicator: props cleanup, no functional change
  ui/component/uriIndicator/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix livestream date incorrect if short url is used
  ui/component/livestreamDateTime/index.js
  ui/redux/selectors/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

Remove i18n on repost ribbon since there is no text.
  static/app-strings.json
  ui/component/claimRepostAuthor/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Notification: fix "missing key in list" error
  ui/component/notification/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
