Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

i18n: petition msg
  static/app-strings.json
Due: none

Change: 'Wikang Filipino' --> 'Filipino'
  ui/constants/languages.js
Due: prettier --write, eslint, flow focus-check --color always

Sort the language list
  CHANGELOG.md
  ui/component/settingLanguage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Sort the language list (correctly)
  ui/component/settingLanguage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update master with some odysee changes
  package.json
  ui/component/channelEdit/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/common/card.jsx
  ui/component/livestreamLink/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/router/view.jsx
  ui/modal/modalPublishPreview/index.js
  ui/modal/modalPublishPreview/view.jsx
  ui/page/file/index.js
  ui/page/livestream/view.jsx
  ui/page/livestreamSetup/view.jsx
  ui/redux/actions/publish.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

clean up publishing on desktop
  static/app-strings.json
  ui/component/publishForm/view.jsx
  ui/modal/modalPublish/view.jsx
  ui/modal/modalPublishPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

review changes
  ui/modal/modalPublish/view.jsx
  ui/modal/modalPublishPreview/view.jsx
  ui/page/livestream/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Highlight comments made by content owner
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

style updates
  ui/scss/component/_comments.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

fix websockets not reconnecting When it gets closed, even for errors, it doesn't always go into Socket.onerror. Add the reconnection logic back to just onclose (like it was before)
  ui/redux/actions/websocket.js
Due: prettier --write, eslint, flow focus-check --color always

re-enable pdfs on web
  ui/component/IframeReact/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

undo my weird changes - simplify logic
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove extra comment
  ui/scss/component/_media.scss
Due: prettier --write

bump comments length to 75
  ui/component/livestreamComments/index.js
Due: prettier --write, eslint, flow focus-check --color always

Fix tooltip not working in <Icon>
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

Use blank poster and advisory when preview is blocked by insufficient stake.
  ui/component/claimLink/view.jsx
  ui/component/embedPlayButton/view.jsx
  ui/component/markdownLink/view.jsx
  ui/scss/component/_markdown-preview.scss
Due: prettier --write, eslint, flow focus-check --color always

Markdown: inline image preview for Level 4 and above only
  ui/component/common/markdown-preview.jsx
  ui/scss/component/_markdown-preview.scss
Due: prettier --write, eslint, flow focus-check --color always

Add 24-hour clock setting.
  ui/component/dateTime/index.js
  ui/component/dateTime/view.jsx
  ui/constants/settings.js
  ui/page/settings/index.js
  ui/page/settings/view.jsx
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Also format the "Automatic dark mode" clocks.
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix the "Automatic dark mode" labels having the same name. Now the correct input is selected when clicking the "To" label.
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add a min-width to the "Automatic dark mode" inputs to stop UI shifting when clicking the "24-hour clock" checkbox. I have no idea where this should go so I just put it somewhere.
  ui/scss/component/_form-field.scss
Due: prettier --write

update categories
  web/src/category-metadata.js
Due: none

Recommended bar: extra options for ease of discovery
  ui/component/claimListDiscover/view.jsx
  ui/component/recommendedContent/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

Keep just More From for now
  ui/component/recommendedContent/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "Remove the need to call 'app.getLocale()'"
  electron/createWindow.js
Due: none

Revert "Simplify language lists"
  ui/component/app/view.jsx
  ui/constants/language-migrations.js
  ui/constants/supported_browser_languages.js
  ui/constants/supported_languages.js
  ui/constants/supported_sub_languages.js
  ui/i18n.js
  ui/redux/selectors/settings.js
  ui/util/default-languages.js
Due: prettier --write, eslint, flow focus-check --color always

revert e3a478adc3734f3201191eace7847704edc05310
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
