Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

yt recon
  ui/component/youtubeTransferStatus/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

commentReactions recon ma
  ui/component/commentReactions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

commentReactions recon ody
  ui/component/commentReactions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable aniview
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable google imasdk
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

update meme
  web/component/meme.jsx
Due: none

header notify recon
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

headnotify recon
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

modal publish recon
  ui/modal/modalPublish/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

preview index recon
  ui/modal/modalPublishPreview/index.js
Due: prettier --write, eslint, flow focus-check --color always

odysee
  static/img/favicon.png
  static/img/lbry-favicon.png
  ui/component/channelThumbnail/spaceman.png
  ui/component/channelThumbnail/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/commentCreate/view.jsx
  ui/component/fileActions/view.jsx
  ui/component/fileReactions/view.jsx
  ui/component/fileSubtitle/view.jsx
  ui/component/fileViewerEmbeddedTitle/view.jsx
  ui/component/header/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/userVerify/view.jsx
  ui/component/webUploadList/view.jsx
  ui/modal/modalPublish/view.jsx
  ui/modal/modalRemoveFile/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
  ui/page/discover/view.jsx
  ui/page/file/view.jsx
  ui/page/settings/view.jsx
  ui/redux/reducers/search.js
  ui/scss/component/_file-render.scss
  ui/scss/component/_form-field.scss
  ui/scss/component/_header.scss
  ui/scss/init/_color.scss
  ui/scss/init/_gui.scss
  ui/scss/init/_vars.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
  ui/util/query-params.js
  web/component/fileViewerEmbeddedEnded/view.jsx
  web/component/footer.jsx
  web/component/meme.jsx
  web/package.json
  web/yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix accessibility issue on rewards page #5991
  ui/component/claimPreviewTile/view.jsx
  ui/component/header/view.jsx
  ui/component/rewardLink/view.jsx
  ui/component/rewardTile/view.jsx
  ui/page/rewards/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

test
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix reposted channels incorrectly showing the channel thumb
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix channel quick menu actions z-index: #6582
  static/app-strings.json
  ui/scss/component/_channel.scss
Due: prettier --write

test2
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

new .env.defaults
  .env.defaults
Due: none

Pop up Menu Fixes and Improvements
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/modal/modalRemoveFile/index.js
  ui/modal/modalRemoveFile/view.jsx
  ui/page/channel/view.jsx
  ui/redux/actions/comments.js
  ui/redux/actions/file.js
Due: prettier --write, eslint, flow focus-check --color always

RSS: Add enclosure for media
  web/src/rss.js
Due: none

odysee
  static/img/favicon.png
  static/img/lbry-favicon.png
  ui/component/channelThumbnail/spaceman.png
  ui/component/channelThumbnail/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/commentCreate/view.jsx
  ui/component/fileActions/view.jsx
  ui/component/fileReactions/view.jsx
  ui/component/fileSubtitle/view.jsx
  ui/component/fileViewerEmbeddedTitle/view.jsx
  ui/component/header/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/userVerify/view.jsx
  ui/modal/modalPublish/view.jsx
  ui/modal/modalRemoveFile/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
  ui/page/discover/view.jsx
  ui/page/file/view.jsx
  ui/page/settings/view.jsx
  ui/redux/reducers/search.js
  ui/scss/component/_file-render.scss
  ui/scss/component/_form-field.scss
  ui/scss/component/_header.scss
  ui/scss/init/_color.scss
  ui/scss/init/_gui.scss
  ui/scss/init/_vars.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
  ui/util/query-params.js
  web/component/fileViewerEmbeddedEnded/view.jsx
  web/component/footer.jsx
  web/component/meme.jsx
  web/package.json
  web/yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

safe
  .env.defaults
Due: none

pin us
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix ClaimPreview errors
  ui/component/claimPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add SkipNavigationButton to its own file
  static/app-strings.json
  ui/component/header/view.jsx
  ui/component/skipNavigationButton/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove trending localization entries
  static/app-strings.json
Due: none

Log comment reaction-fetch events
  ui/analytics.js
  ui/component/commentsList/view.jsx
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
