Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

Fix typo "Logging in in as ..."
  static/app-strings.json
  ui/component/userSignInPassword/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable snapshot thumbnail on desktop to prevent desktop crashes https://github.com/electron/electron/issues/20750\#issuecomment-709505902
  ui/component/selectThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

Show unblock button on own blocked channels
  ui/component/blockButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

rc fixes for electron 9
  ui/component/common/file-selector.jsx
  ui/component/walletBackup/view.jsx
  ui/page/help/view.jsx
  ui/redux/actions/file.js
Due: prettier --write, eslint, flow focus-check --color always

v0.48.2-rc.1
  package.json
Due: none

Show own channels on blocked list
  ui/component/claimPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

email resend requests limited to once per thirty seconds
  ui/component/userEmailVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix reward rates crash
  ui/page/channels/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.48.2-rc.2
  package.json
Due: none

bump electron-builder
  package.json
  yarn.lock
Due: none

v0.48.2-rc.3
  package.json
Due: none

openItem => openPath
  static/app-strings.json
  ui/modal/modalOpenExternalResource/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.48.2-rc.4
  package.json
Due: none

v0.48.2
  package.json
Due: none

comment pin action
  package.json
  static/app-strings.json
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentCreate/index.js
  ui/component/commentCreate/view.jsx
  ui/component/commentReactions/index.js
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/comments.js
  ui/redux/reducers/comments.js
  ui/redux/selectors/comments.js
  ui/scss/component/_comments.scss
  ui/store.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

bump
  package.json
  yarn.lock
Due: none

Revert "comment pin action"
  package.json
  static/app-strings.json
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentCreate/index.js
  ui/component/commentCreate/view.jsx
  ui/component/commentReactions/index.js
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/comments.js
  ui/redux/reducers/comments.js
  ui/redux/selectors/comments.js
  ui/scss/component/_comments.scss
  ui/store.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Revert "bump"
  package.json
  yarn.lock
Due: none

related add full width
  ui/scss/component/_ads.scss
Due: prettier --write

initial comment pin PR with new commit
  package.json
  static/app-strings.json
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentCreate/index.js
  ui/component/commentCreate/view.jsx
  ui/component/commentReactions/index.js
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/comments.js
  ui/redux/reducers/comments.js
  ui/redux/selectors/comments.js
  ui/scss/component/_comments.scss
  ui/store.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

bump lbry-redux + pin icon tweaks
  package.json
  ui/component/common/icon-custom.jsx
  ui/scss/component/menu-button.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

remove comment
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
