Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

remove edits from pending publishes and update modal style
  src/renderer/page/fileListPublished/index.js
  src/renderer/redux/actions/publish.js
  src/renderer/redux/reducers/publish.js
  src/renderer/redux/selectors/publish.js
  src/renderer/scss/component/_modal.scss
Due: prettier --write, eslint --fix

change: change help text to icon on transactions page
  src/renderer/component/transactionList/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

fix typo
  package-lock.json
  src/renderer/redux/reducers/publish.js
Due: prettier --write, eslint --fix

feat: setup Danger
  .travis.yml
  dangerfile.js
  package.json
  yarn.lock
Due: none

add clean command
  package.json
Due: none

clear cache for lbry-redux only
  package.json
Due: none

chore: update Yarn lock file
  yarn.lock
Due: none

add blacklisted content view
  package.json
  src/renderer/index.js
  src/renderer/page/show/index.js
  src/renderer/page/show/view.jsx
  src/renderer/store.js
  yarn.lock
Due: prettier --write, eslint --fix

update changelog
  CHANGELOG.md
Due: none

chore: bump version to 0.21.3
  package.json
Due: none

chore: update danger.js
  package.json
  yarn.lock
Due: none

fix: Danger configuration error
  CHANGELOG.md
  dangerfile.js
  package.json
  yarn.lock
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore: bump version to 0.22.0-rc.1
  package.json
Due: none

feat: setup Danger (#1289)
  .travis.yml
  CHANGELOG.md
  dangerfile.js
  package.json
  src/renderer/component/address/view.jsx
  src/renderer/component/fileDetails/view.jsx
  src/renderer/component/shapeShift/view.jsx
  src/renderer/modal/modalRemoveFile/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

fix: add missing import statements
  src/renderer/page/report/view.jsx
Due: prettier --write, eslint --fix

chore: bump version to 0.22.0-rc.2
  package.json
  yarn.lock
Due: none

docs: add changelog entry for #1197
  CHANGELOG.md
Due: none

fix: re-enable flow type checking for the project (#1197)
  .gitignore
  .lintstagedrc.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  flowtype-plugin.js
  package.json
  webpack.renderer.additions.js
  yarn.lock
Due: none

fix: send correct values to sendTx
  src/renderer/component/walletSend/index.js
  src/renderer/component/walletSend/view.jsx
Due: prettier --write, eslint --fix

chore: bump app to 0.22.0-rc.3
  package.json
  yarn.lock
Due: none

fix: mac build
  webpack.renderer.additions.js
Due: none

chore: bump app to 0.22.0-rc.4
  package.json
  yarn.lock
Due: none

update releases URL
  README.md
Due: none

Revert "fix: mac build"
  webpack.renderer.additions.js
Due: none

fix: unix building not including renderer files
  package.json
Due: none

build: only publish onTag
  .travis.yml
Due: none

change colour button 1
  src/renderer/page/file/view.jsx
Due: prettier --write, eslint --fix

change colour button 2
  src/renderer/component/subscribeButton/view.jsx
Due: prettier --write, eslint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Refactor file page controls
  CHANGELOG.md
  src/renderer/component/fileActions/view.jsx
  src/renderer/component/fileDownloadLink/view.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/component/_button.scss
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_file-download.scss
Due: prettier --write, eslint --fix

Fix spacing in search suggestions
  CHANGELOG.md
  src/renderer/scss/component/_search.scss
Due: prettier --write

Report infringing content within app
  src/renderer/component/fileActions/index.js
  src/renderer/component/fileActions/view.jsx
  src/renderer/component/router/view.jsx
  src/renderer/page/reportcontent/index.js
  src/renderer/page/reportcontent/view.jsx
Due: prettier --write, eslint --fix

Added the unsubscribe button and added a type to the category
  src/renderer/component/common/category-list.jsx
  src/renderer/page/discover/view.jsx
  src/renderer/page/subscriptions/view.jsx
Due: prettier --write, eslint --fix

Remove price placeholder during thumbnail loading
  src/renderer/component/filePrice/view.jsx
Due: prettier --write, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

Revert "Remove price placeholder during thumbnail loading"
  CHANGELOG.md
  src/renderer/component/filePrice/view.jsx
Due: prettier --write, eslint --fix

update change.log
  CHANGELOG.md
  src/renderer/modal/modalAffirmPurchase/view.jsx
  src/renderer/modal/modalFileTimeout/view.jsx
Due: prettier --write, eslint --fix

fix media container
  src/renderer/component/video/internal/player.jsx
  src/renderer/scss/component/_content.scss
Due: prettier --write, eslint --fix

fix change.log
  CHANGELOG.md
Due: none
