Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Sentry: remove 'all-anonymous-frames'
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Record internal api failure count
  extras/lbryinc/lbryio.js
Due: none

Add cast style
  ui/scss/cast.css
Due: none

Extend customized-homepage setting to Sidebar
  static/app-strings.json
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/style.scss
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_navigation.scss
Due: prettier --write, eslint, flow focus-check --color always

Allow users to opt-in to syncing Homepage order to Sidebar
  static/app-strings.json
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/view.jsx
  ui/constants/settings.js
  ui/constants/shared_preferences.js
  ui/modal/modalCustomizeHomepage/index.js
  ui/modal/modalCustomizeHomepage/view.jsx
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Move cast.css file
  static/cast.css
  web/webpack.config.js
Due: none

Don't log cmds where the error is expected
  extras/lbryinc/lbryio.js
Due: none

Update cast layout
  static/cast.css
  static/cast/cast.css
  static/cast/logo.png
  static/cast/watermark.png
  web/webpack.config.js
Due: none

Adjust watermark in cast layout
  static/cast/cast.css
  static/cast/watermark.png
Due: none

SignUp: clean uncaught exception
  ui/component/userEmailNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Set chromecast appID
  ui/component/viewers/videoViewer/internal/chromecast.js
Due: prettier --write, eslint, flow focus-check --color always

Re-do: fix volume slider issues
  ui/component/fileRenderFloating/view.jsx
  ui/component/viewers/videoViewer/internal/lbry-volume-bar.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Better handling of uploaded files.
  electron/index.js
  ui/component/common/file-selector.jsx
  ui/component/fileDrop/view.jsx
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

maintenance text
  web/component/nag-no-user.jsx
Due: none

Redesign 'Followed Channels' page
  ui/scss/init/_gui.scss
Due: prettier --write

revert maintenance message
  web/component/nag-no-user.jsx
Due: none

(patch) Re-do: fix volume slider issues
  ui/component/fileRenderFloating/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix: channels page not showing youtube claimable / button
  ui/page/channels/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Tab-sync the Watch History
  ui/redux/setup/tabState.js
Due: prettier --write, eslint, flow focus-check --color always

Fix title word break on post page on mobile
  ui/scss/component/_post.scss
Due: prettier --write

Enable word break on all screen widths
  ui/scss/component/_post.scss
Due: prettier --write

Fix login error nag position
  ui/scss/component/_main.scss
Due: prettier --write

SignOut: prevent infinite loop from 'beforeUnload' listener
  static/app-strings.json
  ui/component/app/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalSignOut/index.js
  ui/modal/modalSignOut/view.jsx
  ui/redux/actions/app.js
  ui/util/beforeUnload.js
Due: prettier --write, eslint, flow focus-check --color always

ClaimListHeader: add tag-search field
  static/app-strings.json
  ui/component/claimListHeader/index.js
  ui/component/claimListHeader/style.scss
  ui/component/claimListHeader/view.jsx
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove Follow button in tag search
  ui/page/discover/index.js
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Tag-filter: expand on entry if Large layout
  ui/component/claimListHeader/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix wallet-send always being anonymous
  ui/modal/modalConfirmTransaction/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Sidebar: indicate there are more subscriptions
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_navigation.scss
Due: prettier --write, eslint, flow focus-check --color always

remove cachebust param
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Read file when uploading it so we can properly read metadata.
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Better handling of uploaded files. (#7688)
  electron/index.js
  ui/component/common/file-selector.jsx
  ui/component/fileDrop/view.jsx
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

make thumbnail optional
  ui/component/publishFormErrors/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

make thumbnail optional (#7690)
  ui/component/publishFormErrors/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust tip modal confirmation layout
  ui/scss/component/_wallet-tip-send.scss
Due: prettier --write

Adjust channel preview wrapper width in transaction preview modal
  ui/component/walletSendTip/view.jsx
  ui/modal/modalConfirmTransaction/view.jsx
  ui/scss/component/_snack-bar.scss
  ui/scss/component/_wallet-tip-send.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

getNotificationLink: fix potential trailing '?' from empty params
  ui/component/notification/helpers/target.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix <li> margin symmetry
  ui/modal/modalSignOut/style.scss
  ui/modal/modalSignOut/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust line breaks on post pages
  ui/scss/component/_post.scss
Due: prettier --write

Break words in post page title on desktop
  ui/scss/component/_post.scss
Due: prettier --write

Order livestream claim by date
  ui/redux/actions/livestream.js
Due: prettier --write, eslint, flow focus-check --color always
