Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Add one new string
  static/app-strings.json
Due: none

autopopulate name from title
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/publishName/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix auto populate title logic
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/publishName/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix typo
  ui/component/publishForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix reselect file error
  static/app-strings.json
  ui/component/publishFormErrors/index.js
  ui/component/publishFormErrors/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix inline player style for mobile
  ui/scss/component/_content.scss
Due: prettier --write

actually fix it
  ui/scss/component/_content.scss
Due: prettier --write

update yarn.lock
  yarn.lock
Due: none

update copy while abandoning
  ui/modal/modalRemoveFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable file remove/abandon while abandoning
  ui/modal/modalRemoveFile/index.js
  ui/modal/modalRemoveFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

prevent name change while editing and more fixes
  static/app-strings.json
  ui/component/postEditor/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/publishName/name-help-text.jsx
  ui/component/publishName/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

sync settings generally based on navigation and settings paths
  .flowconfig
  ui/component/header/view.jsx
  ui/component/page/view.jsx
  ui/component/router/index.js
  ui/component/router/view.jsx
  ui/page/settings/view.jsx
  ui/page/settingsAdvanced/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use redux to load post content
  ui/component/postEditor/index.js
  ui/component/postEditor/view.jsx
  ui/component/publishForm/view.jsx
  ui/effects/use-fetch-streaming-url.js
Due: prettier --write, eslint, flow focus-check --color always

group comment notifications and clean up notification style
  .flowconfig
  flow-typed/notification.js
  ui/component/notification/view.jsx
  ui/constants/notifications.js
  ui/page/notifications/view.jsx
  ui/scss/component/_notification.scss
Due: prettier --write, eslint, flow focus-check --color always

sync settings generally based on navigation and settings paths
  ui/component/header/view.jsx
  ui/component/page/view.jsx
  ui/component/router/index.js
  ui/component/router/view.jsx
  ui/page/settings/view.jsx
  ui/page/settingsAdvanced/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add imhere row at top
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

Add more metadata to content pages.
  web/src/chainquery.js
  web/src/html.js
Due: none

fix embedded link for encoded url
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

pull sync on nav to settings
  ui/component/router/index.js
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Regular string update
  static/app-strings.json
Due: none

Revert "add imhere row at top"
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

typo fix
  static/app-strings.json
Due: none

Additional change per @eatdostacos recommendation
  ui/modal/modalFirstSubscription/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

redirect to claim if entering a valid claim_id in the search bar
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

move ads in ClaimList behind SHOW_ADS config
  .env.defaults
  config.js
  ui/component/channelContent/view.jsx
  ui/component/recommendedContent/view.jsx
  ui/page/discover/view.jsx
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix copying custom OG image
  web/webpack.config.js
Due: none

revert app-strings changes
  static/app-strings.json
Due: none

prevent specific settings sync in config
  .env.defaults
  config.js
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

selectChannel: sync auto-resolved value during mounting.
  CHANGELOG.md
  ui/component/selectChannel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add in-app text and markdown publishing
  ui/component/publishDescription/index.js
  ui/component/publishDescription/view.jsx
  ui/component/publishFile/index.js
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/storyEditor/index.js
  ui/component/storyEditor/view.jsx
  ui/constants/publish_types.js
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
