Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.43.4-rc.1
  package.json
Due: none

v0.43.4-rc.2
  package.json
Due: none

increase travis timeout for long builds
  .travis.yml
Due: none

v0.43.4-rc.3
  package.json
Due: none

v0.43.4
  package.json
Due: none

Updated README.md to reflect active community maintainers
  README.md
Due: none

fix react error
  static/app-strings.json
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

sync tags with lbry on startup and change
  static/app-strings.json
  ui/analytics.js
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/claimListDiscover/index.js
  ui/component/claimListDiscover/view.jsx
  ui/component/claimTilesDiscover/index.js
  ui/component/tagsSearch/index.js
  ui/component/tagsSearch/view.jsx
  ui/component/tagsSelect/index.js
  ui/component/tagsSelect/view.jsx
  ui/page/discover/index.js
  ui/page/discover/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/tags.js
Due: prettier --write, eslint, flow focus-check --color always

redux bump
  package.json
  ui/component/tagsSearch/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

yarn lock
  yarn.lock
Due: none

update cookies to remove leading "." in domain value
  ui/index.jsx
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

update name
  ui/index.jsx
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

add error nag when api performance is degraded
  ui/component/app/view.jsx
  ui/component/common/nag.jsx
  ui/scss/component/nag.scss
Due: prettier --write, eslint, flow focus-check --color always

got frustrated about no claim id on channels and went wild
  static/app-strings.json
  ui/component/channelAbout/index.js
  ui/component/channelAbout/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

make user type channel name to abandon channel
  static/app-strings.json
  ui/constants/transaction_types.js
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

only show reward intro for non identity_verified users
  ui/component/userSignIn/view.jsx
  ui/page/rewards/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

skip rewards validation on future sign ins if user clicks 'skip' button
  ui/component/userSignIn/view.jsx
  ui/component/userVerify/view.jsx
  ui/effects/use-persisted-state.js
Due: prettier --write, eslint, flow focus-check --color always

yarn
  yarn.lock
Due: none

update error message
  static/app-strings.json
  ui/component/app/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix selection on firefox
  ui/scss/init/_gui.scss
Due: prettier --write

remove user-select: none for labels too
  ui/scss/init/_gui.scss
Due: prettier --write

no play button on paused player
  ui/component/fileViewerInitiator/view.jsx
  ui/scss/component/_file-render.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "only show reward intro for non identity_verified users"
  ui/component/userSignIn/view.jsx
  ui/page/rewards/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "yarn"
  yarn.lock
Due: none

Revert "skip rewards validation on future sign ins if user clicks 'skip' button"
  ui/component/userSignIn/view.jsx
  ui/component/userVerify/view.jsx
  ui/effects/use-persisted-state.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
