Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

add sockety server api to config
  config.js
Due: none

add sockety server api to .env defaults
  .env.defaults
Due: none

update sockety api urls
  ui/redux/actions/websocket.js
Due: prettier --write, eslint, flow focus-check --color always

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix logo size on firefox
  ui/scss/component/_header.scss
Due: prettier --write

no limit on stream types for following
  ui/component/claimTilesDiscover/view.jsx
  ui/util/buildHomepage.js
Due: prettier --write, eslint, flow focus-check --color always

tags patch
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

RSS: podcast support
  package.json
  web/src/routes.js
  web/src/rss.js
  yarn.lock
Due: prettier --write, eslint

RSS: change from 'download' to 'stream' url to pass Media Test
  web/src/rss.js
Due: prettier --write, eslint

sync edited playlists
  package.json
  ui/store.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Fix: OG messed up if `$"` is in title
  web/src/html.js
Due: prettier --write, eslint

Add back file download link
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Allow to delete downloaded content from popup
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix #6766 (Channel staked badge in the wrong line)
  ui/scss/component/_channel.scss
Due: prettier --write

Restore "Use better icon for "Copy Link"" -- lost in a merge.
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

i18n
  static/app-strings.json
  ui/page/top/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Report recsys info when 'share_data_usage' is enabled.
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fill in remaining Recsys fields
  ui/component/claimList/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
  ui/constants/action_types.js
  ui/constants/navigation.js
  ui/redux/actions/content.js
  ui/redux/reducers/content.js
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

styling
  ui/component/commentsList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Mobile view: Make comments expandable
  ui/component/commentsList/view.jsx
  ui/scss/component/_card.scss
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

Show on content page if a file is part of a playlist already
  CHANGELOG.md
  ui/component/claimCollectionAddButton/index.js
  ui/component/claimCollectionAddButton/view.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Bump redux
  package.json
  web/package.json
  web/yarn.lock
  yarn.lock
Due: prettier --write

Fix icon color
  ui/component/claimCollectionAddButton/view.jsx
  ui/component/common/icon.jsx
Due: prettier --write, eslint, flow focus-check --color always

Bump redux
  web/package.json
  web/yarn.lock
Due: prettier --write

Fix icon color
  ui/component/claimCollectionAddButton/view.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

style logo in embed
  ui/component/logo/view.jsx
  ui/scss/component/_embed-player.scss
  web/component/fileViewerEmbeddedEnded/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

naming
  ui/component/logo/view.jsx
  ui/scss/component/_embed-player.scss
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: web/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: web/**/*.{js,jsx})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
