Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

v0.52.0
  package.json
Due: none

Fix publish form when editing livestream (#565)
  ui/component/publishAdditionalOptions/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/publishReleaseDate/view.jsx
  ui/component/publishStreamReleaseDate/view.jsx
  ui/constants/publish_sources.js
  ui/modal/modalPublishPreview/view.jsx
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

upgrade electron to 15 (#7363)
  electron/createWindow.js
  electron/index.js
  package.json
  ui/component/common/file-selector.jsx
  ui/component/fileRender/view.jsx
  ui/component/header/view.jsx
  ui/component/walletBackup/view.jsx
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/util/context-menu.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.52.1-alpha.1
  package.json
Due: none

Revert "Fix publish form when editing livestream (#565)"
  ui/component/publishAdditionalOptions/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/publishReleaseDate/view.jsx
  ui/component/publishStreamReleaseDate/view.jsx
  ui/constants/publish_sources.js
  ui/modal/modalPublishPreview/view.jsx
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

update changelog for 0.52.1
  CHANGELOG.md
Due: none

Revert "upgrade electron to 15 (#7363)"
  electron/createWindow.js
  electron/index.js
  package.json
  ui/component/common/file-selector.jsx
  ui/component/fileRender/view.jsx
  ui/component/header/view.jsx
  ui/component/walletBackup/view.jsx
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/util/context-menu.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Revert "upgrade electron to 15 (#7363)" (#7383)
  electron/createWindow.js
  electron/index.js
  package.json
  ui/component/common/file-selector.jsx
  ui/component/fileRender/view.jsx
  ui/component/header/view.jsx
  ui/component/walletBackup/view.jsx
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/util/context-menu.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Force update
  README.md
Due: none

change electron-cookies to modded version for electron >=10
  package.json
  yarn.lock
Due: none

electron-cookies version fix
  package.json
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

Electron 15 (#7384)
  electron/createWindow.js
  electron/index.js
  package.json
  ui/analytics.js
  ui/component/common/file-selector.jsx
  ui/component/fileRender/view.jsx
  ui/component/header/view.jsx
  ui/component/walletBackup/view.jsx
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/util/context-menu.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.52.1-alpha.2
  package.json
Due: none

Unuset environment vars/secrets
  .github/workflows/deploy.yml
Due: none

Unuset environment vars/secrets (#7387)
  .github/workflows/deploy.yml
Due: none

Remove duplicate after sign hook
  .github/workflows/deploy.yml
Due: none

i18n: add flow + some cleanup
  ui/i18n.js
Due: prettier --write, eslint, flow focus-check --color always

i18n: remove unused 'app' code
  ui/i18n.js
Due: prettier --write, eslint, flow focus-check --color always

Fix WIndows artifact upload
  .github/workflows/deploy.yml
Due: none

i18n: restore ability to retrieve new i18n strings
  ui/i18n.js
  ui/redux/actions/settings.js
  web/webpack.config.js
Due: prettier --write, eslint, flow focus-check --color always

Lint/format
  ui/redux/reducers/user.js
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

fix for modal spacing #7646.
  ui/scss/component/_button.scss
  ui/scss/component/_card.scss
  ui/scss/component/_modal.scss
Due: prettier --write

Remove duplicate after sign hook (#7388)
  .github/workflows/deploy.yml
Due: none

Fix WIndows artifact upload (#7389)
  .github/workflows/deploy.yml
Due: none

Disable CI of master branch
  .github/workflows/deploy.yml
Due: none

remove loadingBar, fix parser dependency
  package.json
  ui/component/loadingBarOneOff/index.js
  ui/component/loadingBarOneOff/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

remove loadingBar, fix parser dependency (#7394)
  package.json
  ui/component/loadingBarOneOff/index.js
  ui/component/loadingBarOneOff/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Notifications: handle view while fetching categories
  ui/page/notifications/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Uploads: prevent perpetual locked upload
  ui/constants/storage.js
  ui/redux/reducers/publish.js
  ui/util/tus.js
Due: prettier --write, eslint, flow focus-check --color always

Temporarily disable Buy due to Moonpay integration down
  static/app-strings.json
  ui/page/buy/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove unused firebase and domain parameter
  ui/component/privacyAgreement/index.js
  ui/redux/actions/app.js
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

Skip 'install/new' if `web` already exists
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

Remove unused items
  ui/redux/actions/user.js
  web/src/robots.js
Due: prettier --write, eslint, flow focus-check --color always

Allow to remove my superchats
  ui/component/livestreamComment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix publish confirmation field
  ui/component/settingContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix publish confirmation field (#7397)
  ui/component/settingContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix comments
  static/app-strings.json
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix comments (#7398)
  static/app-strings.json
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix upload crash
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always
