Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

disable purchase button while purchasing
  ui/modal/modalAffirmPurchase/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove console log
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix typo
  custom/homepage.example.js
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

add channel to list of official paid beta channels
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

move report modals to separate pages
  ui/component/router/view.jsx
  ui/constants/modal_types.js
  ui/constants/pages.js
  ui/modal/modalDmca/index.js
  ui/modal/modalReport/index.js
  ui/modal/modalRouter/view.jsx
  ui/page/reportContent/index.js
  ui/page/reportContent/view.jsx
  ui/page/reportDmca/index.js
  ui/page/reportDmca/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

report buttons redict to the new report pages
  ui/component/fileActions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

confirm report modal removed
  ui/constants/modal_types.js
  ui/modal/modalConfirmReport/index.js
  ui/modal/modalConfirmReport/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

revert transaction confirm callback
  ui/modal/modalConfirmTransaction/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Merge remote-tracking branch origin/modal-form into report-new
  static/app-strings.json
  ui/component/fileActions/view.jsx
  ui/component/router/view.jsx
  ui/constants/pages.js
  ui/page/reportContent/index.js
  ui/page/reportContent/view.jsx
  ui/page/reportDmca/index.js
  ui/page/reportDmca/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix split sentence: "%view_count% %views%"
  static/app-strings.json
  ui/component/creatorAnalytics/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix split sentence: "% downloaded"
  static/app-strings.json
  ui/component/fileDownloadLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Consolidate variants of 'Read more' for reuse.
  static/app-strings.json
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix split sentence: "block|follow|unfollow this channel"
  static/app-strings.json
  ui/component/blockButton/view.jsx
  ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add missing strings for translation.
  static/app-strings.json
Due: none

Fix split sentence: "or" in "Refresh or Skip" wasn't translated
  static/app-strings.json
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix split sentence: "By continuing, you accept the"
  static/app-strings.json
  ui/component/publishForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove unused, obsolete or replaced strings.
  static/app-strings.json
Due: none

Fix split sentence: "Join our tech forum", "Explore our technical resources"
  static/app-strings.json
  ui/page/report/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

wip
  ui/constants/moonpay.js
  ui/page/buy/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix dnd for some file types
  ui/component/publishFile/view.jsx
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove extra div
  ui/component/webUploadList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

pause gifs until hover
  ui/component/channelThumbnail/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/txoList/view.jsx
  ui/page/channel/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
  ui/scss/init/_mixins.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "pause gifs until hover"
  ui/component/channelThumbnail/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/txoList/view.jsx
  ui/page/channel/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
  ui/scss/init/_mixins.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "update changelog"
  CHANGELOG.md
Due: none

pause gifs until hover round 2
  CHANGELOG.md
  ui/component/channelThumbnail/view.jsx
  ui/component/fileThumbnail/FreezeframeWrapper.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/txoList/view.jsx
  ui/page/channel/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
  ui/scss/init/_mixins.scss
Due: prettier --write, eslint, flow focus-check --color always

fix tile layout for large screens
  ui/scss/component/_claim-list.scss
Due: prettier --write

remove un-needed style
  ui/scss/component/_claim-list.scss
Due: prettier --write

fix thumbnail border radius on homepage
  ui/scss/component/_claim-list.scss
  ui/scss/init/_mixins.scss
Due: prettier --write

Added text to translatable strings
  ui/component/channelContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix a typo and make text translatable
  ui/component/claimInsufficientCredits/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made text translatable
  ui/component/errorBoundary/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removed unnecessary space from string
  ui/component/privacyAgreement/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made text translatable
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made text translatable
  ui/component/rewardAuthIntro/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
