Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Comment: add `hideContextMenu` + hide reply button too when `hideActions` is set
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

ReportContent: cleanup and improvements
  static/app-strings.json
  ui/component/reportContent/index.js
  ui/component/reportContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

(patch) Add "Hide Repost" button in channel page
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

(patch) Don't nudge to refresh in localhost
  .env.defaults
  config.js
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

update frontend to work with new api return (#1830)
  ui/page/odyseeMembership/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust upload label
  ui/component/publish/upload/uploadForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust uploading label
  ui/component/publish/upload/uploadForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

lbrysync demo initial - register / auth boilerplate
  config.js
  ui/component/header/index.js
  ui/component/settingSystem/index.js
  ui/constants/action_types.js
  ui/lbrysync.js
  ui/reducers.js
  ui/redux/actions/lbrysync.js
  ui/redux/reducers/lbrysync.js
  ui/redux/selectors/lbrysync.js
Due: prettier --write, eslint, flow focus-check --color always

Revert "update frontend to work with new api return (#1830)" (#1831)
  ui/page/odyseeMembership/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix currency select position on settings page
  ui/scss/init/_gui.scss
Due: prettier --write

ReportContent: add `?commentId` support (#1826)
  static/app-strings.json
  ui/component/reportContent/index.js
  ui/component/reportContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove readme 'web' mention
  README.md
Due: none

remove old scripts
  package.json
Due: none

Fix url problems (#1679)
  flow-typed/lbryURI.js
  ui/component/app/view.jsx
  ui/component/page/view.jsx
  ui/component/viewers/videoViewer/index.js
  ui/page/show/view.jsx
  ui/util/lbryURI.js
  web/src/html.js
  web/src/lbryURI.js
Due: prettier --write, eslint, flow focus-check --color always

Fixed hover, colors and spacing of editor-toolbar_hover class
  ui/scss/component/_markdown-editor.scss
Due: prettier --write

Sync: operate on 'local' until the first successful sync (#1835)
  ui/redux/actions/app.js
  ui/redux/middleware/shared-state.js
Due: prettier --write, eslint, flow focus-check --color always

force rebuild
  README.md
Due: none

ChannelsFollowingDiscover: remove Desktop code
  ui/page/channelsFollowingDiscover/index.js
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Grab Discover IDs from homepage API
  ui/page/channelsFollowingDiscover/index.js
  ui/page/channelsFollowingDiscover/view.jsx
  ui/redux/selectors/settings.js
  web/src/getHomepageJSON.js
Due: prettier --write, eslint, flow focus-check --color always

ChannelsFollowingDiscover: exclude followed channels
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Use image preview to display the cover image recently uploaded.
  ui/component/channelForm/view.jsx
  ui/component/selectAsset/view.jsx
  ui/modal/modalImageUpload/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix playlist save button on gile page in mobile view
  ui/scss/component/_media.scss
Due: prettier --write

Fix action button margin in modal on mobile
  ui/scss/component/_modal.scss
Due: prettier --write

Fix edit redirects on file pages
  ui/component/fileActions/internal/claimPublishButton/view.jsx
  ui/component/fileActions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Use image preview to display the cover image recently uploaded. (#7647)
  ui/component/channelForm/view.jsx
  ui/component/selectAsset/view.jsx
  ui/modal/modalImageUpload/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

config: add commit ID
  config.js
Due: none

active editor-toolbar class modified
  ui/scss/component/_markdown-editor.scss
Due: prettier --write

Publish: add additional info in the error log
  web/setup/publish.js
Due: none

Add Comedy icon
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

var --color-editor-button-hover-bg and --color-editor-button-active-bg created
  ui/scss/component/_markdown-editor.scss
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

Properly handle decimals in supports liquidate component.
  ui/component/supportsLiquidate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add wallet sync export feature
  static/app-strings.json
  ui/component/settingSystem/index.js
  ui/component/settingSystem/view.jsx
  ui/component/walletExport/index.js
  ui/component/walletExport/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalWalletExport/index.js
  ui/modal/modalWalletExport/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

move export above clear cache
  ui/component/settingSystem/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Publish: selector fix and misc cleanup
  ui/component/fileDrop/index.js
  ui/component/postEditor/index.js
  ui/component/publish/livestream/livestreamForm/index.js
  ui/component/publish/livestream/publishLivestream/index.js
  ui/component/publish/livestream/publishLivestream/view.jsx
  ui/component/publish/post/postForm/index.js
  ui/component/publish/post/publishPost/index.js
  ui/component/publish/post/publishPost/view.jsx
  ui/component/publish/shared/publishBid/index.js
  ui/component/publish/shared/publishBid/view.jsx
  ui/component/publish/shared/publishDescription/index.js
  ui/component/publish/shared/publishDescription/view.jsx
  ui/component/publish/shared/publishFormErrors/index.js
  ui/component/publish/shared/publishFormErrors/view.jsx
  ui/component/publish/shared/publishName/index.js
  ui/component/publish/shared/publishName/view.jsx
  ui/component/publish/shared/publishPrice/index.js
  ui/component/publish/shared/publishPrice/view.jsx
  ui/component/publish/shared/publishReleaseDate/index.js
  ui/component/publish/shared/publishStreamReleaseDate/index.js
  ui/component/publish/upload/publishFile/index.js
  ui/component/publish/upload/publishFile/view.jsx
  ui/component/publish/upload/uploadForm/index.js
  ui/modal/modalPublishPreview/index.js
  ui/redux/actions/publish.js
  ui/redux/selectors/publish.js
Due: prettier --write, eslint, flow focus-check --color always

(patch) Publish: add additional info in the error log
  .env.defaults
  flow-typed/publish.js
  web/setup/publish-error.js
  web/setup/publish-v1.js
  web/setup/publish-v2.js
  web/setup/publish.js
Due: none

i18n fixes
  static/app-strings.json
  ui/component/publish/livestream/livestreamForm/view.jsx
  ui/component/publish/livestream/publishLivestream/view.jsx
  ui/component/publish/post/postForm/view.jsx
  ui/component/publish/upload/publishFile/view.jsx
  ui/component/publish/upload/uploadForm/view.jsx
  ui/modal/modalCollectionCreate/internal/collectionCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

(patch) Publish: add additional info in the error log
  web/setup/publish-error.js
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
