Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

pinned sam seder
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix merge on ChannelThumbnails
  ui/component/channelThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

added hammy and olivia
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

unpinned destiny and hammy and olivia
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

- sam seder, + hammy & olivia and passion for food
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update tagline
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update tagline (#6086)
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Mute video when autoplay is blocked by browser policy
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

removed everyone, added kona and suba
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix error text color for dark mode.
  ui/scss/themes/dark.scss
Due: prettier --write

Fix typo
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
Due: prettier --write

Remove duplicates
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
Due: prettier --write

Fix primary/secondary button and notice_message
  ui/scss/themes/dark.scss
Due: prettier --write

Fix dimmed checkbox
  ui/scss/themes/dark.scss
Due: prettier --write

#6006 Switch from 'coolGray' to 'gray'
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
Due: prettier --write

Fix invisible nag (missing --color-orange)
  ui/scss/init/_base-theme.scss
Due: prettier --write

Cherry-pick master's 'base-theme.scss'
  ui/scss/init/_base-theme.scss
Due: prettier --write

Non-functional cleanup (remove dups, re-order, etc.)
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

Dark: update positive Toast to --color-primary as well.
  ui/scss/themes/dark.scss
Due: prettier --write

Dark: add some contrast between the components
  ui/scss/themes/dark.scss
Due: prettier --write

Fix text color inside '--color-card-background-highlighted'
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

i18n update
  static/app-strings.json
Due: none

Mute video when autoplay is blocked by browser policy (#6087)
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Theme color fixes (master) (#6088)
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
Due: prettier --write

Theme color fixes (odysee) (#6089)
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

i18n update (#6090)
  static/app-strings.json
Due: none

changed pins
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix "Buy More" button touching the presets
  ui/scss/component/_button.scss
Due: prettier --write

More theme color fixes
  ui/scss/component/_videojs.scss
  ui/scss/themes/dark.scss
Due: prettier --write

Markdown: make '>Quote' look less like a banner
  ui/scss/init/_gui.scss
Due: prettier --write

4481: Use regular font in Markdown Editor
  ui/scss/component/_file-render.scss
Due: prettier --write

Markdown: inline code tweak
  ui/scss/component/_markdown-preview.scss
Due: prettier --write

improve label logic
  ui/component/walletSend/view.jsx
  ui/modal/modalConfirmTransaction/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

hide repost label
  ui/component/walletSend/view.jsx
  ui/modal/modalConfirmTransaction/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

button say sending
  ui/component/walletSend/index.js
  ui/component/walletSend/view.jsx
  ui/modal/modalConfirmTransaction/view.jsx
  ui/page/send/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix
  ui/page/send/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

errors
  ui/component/walletSend/view.jsx
  ui/page/send/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

allow sending directly to a channel or content address
  ui/component/walletSend/index.js
  ui/component/walletSend/view.jsx
  ui/modal/modalConfirmTransaction/index.js
  ui/modal/modalConfirmTransaction/view.jsx
  ui/page/send/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
