Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

Added release badge to the Readme and updated contributions!
  README.md
Due: none

fix markdown editor styles on dark mode
  src/renderer/scss/component/_markdown-editor.scss
  src/renderer/scss/themes/_dark.scss
Due: prettier --write

lbrynet 0.30.1 rc1
  package.json
Due: none

v0.26.0-rc.2
  package.json
Due: none

Fix grammatical error
  CONTRIBUTING.md
Due: none

fix: channel button color on dark mode
  src/renderer/scss/themes/_dark.scss
Due: prettier --write

fix: disabled primary button in dark mode
  src/renderer/scss/component/_button.scss
  src/renderer/scss/themes/_dark.scss
Due: prettier --write

fix: show pending publishes immediately
  .eslintrc.json
  src/renderer/page/fileListPublished/index.js
  src/renderer/page/fileListPublished/view.jsx
  src/renderer/redux/actions/publish.js
  src/renderer/types/claim.js
Due: prettier --write, eslint --fix

update lbry-redux
  package.json
  yarn.lock
Due: none

fix linting for affirmPurchase modal
  src/renderer/modal/modalAffirmPurchase/index.js
Due: prettier --write, eslint --fix

fix linting for confirmTransaction modal
  src/renderer/modal/modalConfirmTransaction/index.js
Due: prettier --write, eslint --fix

fix linting for error modal
  src/renderer/modal/modalError/index.js
Due: prettier --write, eslint --fix

fix linting for filetimeout modal
  src/renderer/modal/modalFileTimeout/index.js
Due: prettier --write, eslint --fix

fix linting for first transaction modal
  src/renderer/modal/modalFirstSubscription/index.js
Due: prettier --write, eslint --fix

fix linting for incompatible daemon modal
  src/renderer/modal/modalIncompatibleDaemon/index.js
Due: prettier --write, eslint --fix

fix linting for external link modal
  src/renderer/modal/modalOpenExternalLink/index.js
Due: prettier --write, eslint --fix

fix linting for remove file modal
  src/renderer/modal/modalRemoveFile/index.js
Due: prettier --write, eslint --fix

fix linting for revoke claim modal
  src/renderer/modal/modalRevokeClaim/index.js
Due: prettier --write, eslint --fix

fix linting for reward approval modal
  src/renderer/modal/modalRewardApprovalRequired/index.js
Due: prettier --write, eslint --fix

fix linting for send tip modal
  src/renderer/modal/modalSendTip/index.js
Due: prettier --write, eslint --fix

fix linting for welcome modal
  src/renderer/modal/modalWelcome/index.js
Due: prettier --write, eslint --fix

fix linting for page files
  src/renderer/page/report/index.js
  src/renderer/page/show/index.js
  src/renderer/page/transactionHistory/index.js
  src/renderer/page/userHistory/index.js
Due: prettier --write, eslint --fix

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Updated as per required changes!
  README.md
Due: none

Linting/quick wins modal & pages (#2086)
  src/renderer/modal/modalAffirmPurchase/index.js
  src/renderer/modal/modalConfirmTransaction/index.js
  src/renderer/modal/modalError/index.js
  src/renderer/modal/modalFileTimeout/index.js
  src/renderer/modal/modalFirstSubscription/index.js
  src/renderer/modal/modalIncompatibleDaemon/index.js
  src/renderer/modal/modalOpenExternalLink/index.js
  src/renderer/modal/modalRemoveFile/index.js
  src/renderer/modal/modalRevokeClaim/index.js
  src/renderer/modal/modalRewardApprovalRequired/index.js
  src/renderer/modal/modalSendTip/index.js
  src/renderer/modal/modalWelcome/index.js
  src/renderer/page/report/index.js
  src/renderer/page/show/index.js
  src/renderer/page/transactionHistory/index.js
  src/renderer/page/userHistory/index.js
Due: prettier --write, eslint --fix

remove duplicate import
  src/renderer/scss/all.scss
Due: prettier --write

use lbry colors for 'new' badge
  src/renderer/scss/component/_badge.scss
Due: prettier --write

fix: don't filter transactions in recent transactions
  src/renderer/component/transactionList/view.jsx
Due: prettier --write, eslint --fix

fix: remove unread subscriptions on un-subscribe
  src/renderer/redux/reducers/subscriptions.js
Due: prettier --write, eslint --fix

Modify code to work with lbryweb daemon instance
  src/main/Daemon.js
  src/renderer/component/fileRender/view.jsx
  src/renderer/component/viewers/audioVideoViewer.jsx
  yarn.lock
Due: prettier --write, eslint --fix

handle edits and new files the same for pending publishes
  package.json
  src/renderer/redux/actions/publish.js
  yarn.lock
Due: prettier --write, eslint --fix

don't loop over transactions if we don't have to
  src/renderer/component/transactionList/view.jsx
Due: prettier --write, eslint --fix

adds shareModal to channel page
  src/renderer/page/channel/index.js
  src/renderer/page/channel/view.jsx
Due: prettier --write, eslint --fix

bump lbry-redux
  package.json
Due: none

Rc fixes (#2085)
  .eslintrc.json
  package.json
  src/renderer/component/transactionList/view.jsx
  src/renderer/page/fileListPublished/index.js
  src/renderer/page/fileListPublished/view.jsx
  src/renderer/redux/actions/publish.js
  src/renderer/redux/reducers/subscriptions.js
  src/renderer/scss/all.scss
  src/renderer/scss/component/_badge.scss
  src/renderer/scss/component/_button.scss
  src/renderer/scss/themes/_dark.scss
  src/renderer/types/claim.js
  yarn.lock
Due: prettier --write, eslint --fix

v0.26.0-rc.3
  package.json
Due: none

Uses a constant for PAGE_SIZE
  src/renderer/constants/claim.js
  src/renderer/page/channel/index.js
  src/renderer/redux/actions/content.js
  src/renderer/redux/selectors/content.js
Due: prettier --write, eslint --fix

Add recursive call to fetch next page on channel load.
  src/renderer/page/channel/index.js
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

update lbry-redux and subscriptions claim_list_mine call
  package.json
  src/renderer/redux/actions/subscriptions.js
  yarn.lock
Due: prettier --write, eslint --fix
