Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

v0.32.0-rc.3
  package.json
Due: none

styling cleanup
  package.json
  src/ui/component/common/icon.jsx
  src/ui/component/fileCard/view.jsx
  src/ui/component/fileDetails/view.jsx
  src/ui/component/fileTile/view.jsx
  src/ui/component/navigationHistory/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/page/search/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_channel.scss
  src/ui/scss/component/_item-list.scss
  src/ui/scss/component/_search.scss
  src/ui/scss/component/_table.scss
  src/ui/scss/init/_vars.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

copy url to clipboard on file page
  src/ui/component/common/paginate.jsx
  src/ui/page/file/index.js
  src/ui/page/file/view.jsx
  src/ui/page/search/view.jsx
  src/ui/scss/component/_channel.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

update sdk to 0.37.0rc7
  package.json
Due: none

v0.32.0-rc.4
  package.json
Due: none

add comments pointing to primary defintion of WEBPACK_PORT
  src/platforms/electron/devServer.js
  static/index.dev.html
  webpack.base.config.js
Due: prettier --write, eslint --fix, flow focus-check --color always

move backup page inside of help
  src/ui/component/router/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/walletBackup/index.js
  src/ui/component/walletBackup/view.jsx
  src/ui/page/help/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

simplify default channel color creation
  src/ui/component/channelThumbnail/view.jsx
  src/ui/page/backup/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_channel.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

use supportsByOutpoint
  package.json
  src/ui/component/transactionList/index.js
  src/ui/component/transactionList/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

maintain channel page number on tab change
  src/ui/page/channel/index.js
  src/ui/page/channel/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

update sdk
  package.json
Due: none

v0.32.0-rc.5
  package.json
Due: none

make share modal labels easier to read
  src/ui/component/socialShare/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.32.0-rc.6
  package.json
Due: none

v0.32.0
  package.json
Due: none

enable desktop ga
  src/ui/analytics.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: text not wrapping on file page
  src/ui/scss/component/_media.scss
Due: prettier --write

fix: analytics on desktop
  package.json
  src/ui/analytics.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.32.1-rc.1
  package.json
Due: none

v0.32.1
  package.json
Due: none

prettier
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/modal/modalOpenExternalResource/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

rename link to resource
  src/ui/modal/modalOpenExternalResource/index.js
  src/ui/modal/modalOpenExternalResource/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

show warning when opening external files and links
  src/ui/component/externalLink/view.jsx
  src/ui/component/fileDownloadLink/index.js
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/constants/modal_types.js
  src/ui/modal/modalOpenExternalLink/index.js
  src/ui/modal/modalOpenExternalLink/view.jsx
  src/ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

implement villain-reader
  package.json
  src/ui/component/fileRender/view.jsx
  src/ui/component/viewers/comicBookViewer.jsx
  static/webworkers/wasm-gen/libarchive.js
  static/webworkers/wasm-gen/libarchive.wasm
  static/webworkers/worker-bundle.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.32.2-rc.1
  package.json
Due: none

add page and app version to error logs
  src/ui/component/errorBoundary/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.32.2-rc.2
  package.json
Due: none

v0.32.2
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

add thumbnail slider modal
  src/ui/component/publishForm/view.jsx
  src/ui/component/selectThumbnail/view.jsx
  src/ui/constants/modal_types.js
  src/ui/modal/modalAutoGenerateThumbnail/index.js
  src/ui/modal/modalAutoGenerateThumbnail/view.jsx
  src/ui/modal/modalRouter/view.jsx
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

restore language from test
  src/ui/i18n/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

updates for i18n
  .gitignore
  .tx/config
  src/ui/i18n/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

new yarn.lock
  package.json
  src/ui/component/fileViewer/internal/player.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Add back lbry.tv view counts
  src/ui/component/viewers/videoViewer.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Add back lbry.tv view counts (#2505)
  src/ui/component/viewers/videoViewer.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix yarn.lock
  yarn.lock
Due: none

update villain-reader
  src/ui/component/viewers/comicBookViewer.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add info about new static files
  package.json
  static/webworkers/worker-bundle.js
  yarn.lock
Due: none

move villain-reader to devDependencies
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
