Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Relayed env variables must be stringfied
  web/webpack.config.js
Due: none

Improve sentry flags & upgrade @sentry/webpack-plugin
  ui/analytics/sentryWrapper.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Sentry: attempt to fix whitelistUrls
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

sentry-cli: fix project name for source-map upload
  .sentryclirc
Due: none

parseClaimIdFromPermanentUrl: handle null case
  ui/util/url.js
Due: prettier --write, eslint, flow focus-check --color always

Paginate collection_list
  static/app-strings.json
  ui/page/playlists/internal/collectionsListMine/view.jsx
  ui/redux/actions/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Collection fetch: paginate claim_search
  ui/redux/actions/collections.js
Due: prettier --write, eslint, flow focus-check --color always

Use `dist_stage` to isolate sentry uploads
  .gitignore
  package.json
  web/webpack.config.js
  yarn.lock
Due: none

Re-enable sentry
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

Sentry: add build rev for source-map linking
  ui/analytics/sentryWrapper.js
  web/webpack.config.js
Due: prettier --write, eslint, flow focus-check --color always

Chat patch (#2038)
  ui/component/commentMenuList/index.js
  ui/component/commentMenuList/view.jsx
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

Version bump to clear out old sentry submissions
  .env.defaults
Due: none

Fix localStorage usage without checking availability
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Fix snackbar hover effect
  ui/scss/component/_snack-bar.scss
Due: prettier --write

Bump rev to rebuild with new sentry token
  .env.defaults
Due: none

Disable sentry perf trace
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Fix broken orderParam persistence
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Follow-Manage: don't hide blocked & muted channels
  static/app-strings.json
  ui/component/claimPreview/view.jsx
  ui/page/channelsFollowingManage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Store `clock_24h` format into wallet
  ui/constants/shared_preferences.js
Due: prettier --write, eslint, flow focus-check --color always

fix: fetching case
  ui/redux/actions/claims.js
Due: prettier --write, eslint, flow focus-check --color always

refactor: my channel claims
  ui/component/channelSelector/index.js
  ui/component/channelSelector/internal/channelListItem/index.js
  ui/component/channelSelector/internal/channelListItem/view.jsx
  ui/component/channelSelector/internal/incognito-selector.jsx
  ui/component/channelSelector/view.jsx
  ui/component/settingContent/index.js
  ui/constants/action_types.js
  ui/page/channels/index.js
  ui/page/channels/view.jsx
  ui/redux/actions/rewards.js
  ui/redux/reducers/claims.js
  ui/redux/reducers/rewards.js
  ui/redux/selectors/claims.js
  ui/redux/selectors/rewards.js
  ui/redux/selectors/user.js
Due: prettier --write, eslint, flow focus-check --color always

fix: pending channel being undefined
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

(patch) show blocked mature channels on block list
  ui/component/claimPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Claim filter: add ability to define custom Duration
  static/app-strings.json
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/constants/claim_search.js
Due: prettier --write, eslint, flow focus-check --color always

Factor out the "persistent url param" logic
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/effects/use-persistent-user-param.js
Due: prettier --write, eslint, flow focus-check --color always

Enable advanced filter for `/$/following`
  ui/page/channelsFollowing/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Move duration field to the next row
  ui/component/claimListHeader/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Sentry: skip aniview issues
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Fix exit-fullscreen unhandled exception
  ui/component/fileRender/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

user/language: handle "could not authenticate user"
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

(patch) user/language: handle "could not authenticate user"
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

lint: exclude `dist_stage`
  .eslintignore
Due: none

(patch) Claim filter: add ability to define custom Duration
  ui/constants/claim_search.js
Due: prettier --write, eslint, flow focus-check --color always

(patch) Sentry: skip aniview issues
  ui/analytics/sentryWrapper.js
Due: prettier --write, eslint, flow focus-check --color always

Handle push-notification init exceptions
  web/src/push-notifications/push-supported.js
Due: none

Fix logging of videojs media errors
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix help text on verification page in light mode
  ui/scss/init/_gui.scss
Due: prettier --write

refactor: stripe overall
  flow-typed/stripe.js
  ui/component/claimSupportButton/index.js
  ui/component/claimSupportButton/view.jsx
  ui/component/commentCreate/index.js
  ui/component/commentCreate/view.jsx
  ui/component/preorderAndPurchaseContentButton/index.js
  ui/component/preorderAndPurchaseContentButton/view.jsx
  ui/component/preorderAndPurchaseContentCard/index.js
  ui/component/preorderAndPurchaseContentCard/view.jsx
  ui/component/txoList/index.js
  ui/component/txoList/view.jsx
  ui/component/walletFiatAccountHistory/view.jsx
  ui/component/walletFiatBalance/index.js
  ui/component/walletFiatBalance/view.jsx
  ui/component/walletFiatPaymentBalance/view.jsx
  ui/component/walletFiatPaymentHistory/index.js
  ui/component/walletFiatPaymentHistory/view.jsx
  ui/component/walletSendTip/index.js
  ui/component/walletSendTip/view.jsx
  ui/component/walletTipAmountSelector/index.js
  ui/component/walletTipAmountSelector/view.jsx
  ui/constants/action_types.js
  ui/constants/modal_types.js
  ui/constants/stripe.js
  ui/modal/modalRemoveCard/index.js
  ui/modal/modalRemoveCard/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/page/odyseeMembership/index.js
  ui/page/settingsStripeAccount/index.js
  ui/page/settingsStripeAccount/view.jsx
  ui/page/settingsStripeCard/index.js
  ui/page/settingsStripeCard/view.jsx
  ui/reducers.js
  ui/redux/actions/settings.js
  ui/redux/actions/stripe.js
  ui/redux/reducers/stripe.js
  ui/redux/selectors/claims.js
  ui/redux/selectors/settings.js
  ui/redux/selectors/stripe.js
Due: prettier --write, eslint, flow focus-check --color always

fix: stuck on loading even when setup call was complete case
  ui/component/settingsStripeCard/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: default_payment_method_id to use PaymentMethods instead
  ui/component/settingsStripeCard/view.jsx
  ui/redux/selectors/stripe.js
Due: prettier --write, eslint, flow focus-check --color always
