Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "web/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "web/**/*.{js,jsx}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "web/dist/**/*", "dist/**/*", "package-lock.json"]
}

bugfix cant tip fiat if no lbc balance
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

sum up lbc amounts
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix frontend bug
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

calculate fiat tips properly
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

scroll properly when switching tabs
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixing bug caused by floating point precision
  ui/component/commentCreate/view.jsx
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

increase size of input value
  ui/component/walletSendTip/view.jsx
  ui/scss/component/_form-field.scss
Due: prettier --write, eslint, flow focus-check --color always

reverse so newest transactions come first
  ui/page/settingsStripeAccount/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

close to working perfectly
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

show decimals value better
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add error toast for card page
  ui/page/settingsStripeCard/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add toast when someone does a tip for a comment
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

show error on account connection page
  ui/page/settingsStripeAccount/index.js
  ui/page/settingsStripeAccount/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

one bug left but almost working perfectly
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

automatically truncate to two decimals
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

only run watchman with analytics on and on prod
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

use website URL if exists for RSS
  web/src/rss.js
Due: prettier --write, eslint

fix og error ( truncated unicode character ) - closes #6839
  web/src/html.js
Due: prettier --write, eslint

flow fixes
  ui/analytics.js
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix lint
  web/src/html.js
Due: prettier --write, eslint

update changelog
  CHANGELOG.md
Due: none

fix lint: operator '=' must be spaced
  web/src/html.js
Due: prettier --write, eslint

show superchats in order properly
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
