Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

env
  .env.defaults
Due: none

use ENABLE_MATURE for fileTitleSection
  ui/component/fileTitleSection/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

selecthumb copy
  ui/component/selectThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

changes
  flow-typed/homepage.js
  ui/component/selectThumbnail/view.jsx
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use ENABLE_UI_NOT. on sideNav
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

clean
  ui/component/subscribeButton/index.js
Due: prettier --write, eslint, flow focus-check --color always

showNoSourceClaims
  ui/component/channelContent/view.jsx
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

showNoSourceClaims
  ui/component/channelContent/view.jsx
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

upgrade video.js to 7.13.3
  package.json
  yarn.lock
Due: none

yarn.lock fix for "upgrade video.js to 7.13.3"
  yarn.lock
Due: none

Add pre-roll ads
  package.json
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/plugin.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/touchOverlay.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-overlay/plugin.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/scss/component/_file-render.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix another race condition
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove unused (?) selector
  ui/component/claimListDiscover/index.js
Due: prettier --write, eslint, flow focus-check --color always

fix another error message
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Enable 'slow mode' in comments
  static/app-strings.json
  ui/component/commentCreate/index.js
  ui/component/commentCreate/view.jsx
  ui/page/settingsCreator/view.jsx
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

do file remove too
  ui/modal/modalRemoveFile/view.jsx
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove words like "revoke" and "claim" from abandon modal
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

clear stale js files on nonprod environments
  web/webpack.config.js
Due: none

add star icon
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Recon 7 6 b (#6418)
  flow-typed/homepage.js
  ui/component/channelContent/view.jsx
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/subscribeButton/index.js
Due: prettier --write, eslint, flow focus-check --color always

add allowPreRoll restrictions
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add pre-roll ads
  .eslintrc
  package.json
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/scss/component/_file-render.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update error message
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

hide logo image on sidebar ads
  ui/scss/component/_ads.scss
Due: prettier --write

Fix slow mode error message
  static/app-strings.json
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Check if folder exist before clearing stale js
  web/webpack.config.js
Due: none

Cleaned up notification constants
  ui/component/notification/view.jsx
  ui/constants/notifications.js
  ui/redux/actions/notifications.js
Due: prettier --write, eslint, flow focus-check --color always

Skin fiat-tip notification
  ui/component/notification/view.jsx
  ui/constants/notifications.js
Due: prettier --write, eslint, flow focus-check --color always

i18n
  static/app-strings.json
Due: none

Don't lazy-load components in ErrorBoundary
  ui/component/errorBoundary/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Ensure index.html isn't cached
  static/index-web.html
Due: none
