Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Fix null active channel case (#918)
  ui/component/headerProfileMenuButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add hungarian - hu
  ui/constants/supported_browser_languages.js
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

Multiple fixes in auto updates.
  electron/index.js
  static/app-strings.json
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/settingDisableAutoUpdates/index.js
  ui/component/settingDisableAutoUpdates/view.jsx
  ui/component/settingSystem/view.jsx
  ui/constants/settings.js
  ui/index.jsx
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

Test signature
  ui/scss/component/_channel.scss
Due: prettier --write

Revert
  ui/scss/component/_channel.scss
Due: prettier --write

Better way of handling autoUpdate and listen for update available event to display update nag.
  electron/index.js
  ui/component/app/view.jsx
  ui/component/settingDisableAutoUpdates/view.jsx
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/selectors/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Remove trailing spaces from comments.
  electron/index.js
Due: none

Fix umlaut cutoff in buttons
  ui/scss/component/_button.scss
Due: prettier --write

Sentry: fix tus errors
  web/setup/publish-v2.js
Due: none

WildWest: fix livestream expansion resetting y-pos (#923)
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Clear search cache instead of full reload on homepage 2nd-click (#930)
  ui/component/header/index.js
  ui/component/header/view.jsx
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/claims.js
  ui/redux/reducers/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Fix typos.
  ui/component/app/index.js
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

tus: remove 'uploader' param -- seems to be breaking Sentry.
  web/setup/publish-v2.js
Due: none

Display release changes from release notes instead of using GitHub's API.
  ui/component/lastReleaseChanges/index.js
  ui/component/lastReleaseChanges/view.jsx
  ui/index.jsx
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  ui/scss/all.scss
  ui/scss/component/_last-release-changes.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "tus: remove 'uploader' param -- seems to be breaking Sentry."
  web/setup/publish-v2.js
Due: none

Undo tus-sentry experiment since it completely broke
  web/setup/publish-v2.js
Due: none

update default comment server
  .env.defaults
Due: none

Add "Sync YT Channel" to sidebar (#933)
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

tus: QuotaExceededError (#935)
  ui/util/storage.js
  web/setup/publish-v2.js
Due: prettier --write, eslint, flow focus-check --color always

v0.52.5-alpha.1
  package.json
Due: none

Band-aid: warn about AdGuard blocking our CDN (#934)
  static/app-strings.json
  ui/redux/actions/publish.js
Due: prettier --write, eslint, flow focus-check --color always

v0.52.5-alpha.2
  package.json
Due: none

Add last used collection to right click menu.
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
  ui/redux/reducers/collections.js
  ui/redux/selectors/collections.js
Due: prettier --write, eslint, flow focus-check --color always

ClaimPreview & sidebar: strip '@' since channel is implied (#879)
  ui/component/claimPreviewSubtitle/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/uriIndicator/view.jsx
  ui/util/string.js
Due: prettier --write, eslint, flow focus-check --color always

Revert "Add pagination support to channel search (#791)"
  ui/component/channelContent/index.js
  ui/component/channelContent/view.jsx
  ui/component/claimListSearch/index.js
  ui/component/claimListSearch/view.jsx
  ui/constants/search.js
  ui/util/query-params.js
Due: prettier --write, eslint, flow focus-check --color always

Ignore "search in language" setting in Channel Page (#944)
  ui/component/channelContent/view.jsx
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Readme: remove desktop and useless badges (#947)
  README.md
Due: none

Factor out 'FormFieldDuration' for re-use
  ui/component/formFieldDuration/index.js
  ui/component/formFieldDuration/view.jsx
  ui/modal/modalBlockChannel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add modal to change "min channel age"
  static/app-strings.json
  ui/constants/modal_types.js
  ui/modal/modalMinChannelAge/index.js
  ui/modal/modalMinChannelAge/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add "min channel age" setting
  flow-typed/Comment.js
  static/app-strings.json
  ui/page/settingsCreator/index.js
  ui/page/settingsCreator/view.jsx
  ui/scss/component/section.scss
Due: prettier --write, eslint, flow focus-check --color always

Replace commentron's min-age error message
  static/app-strings.json
  ui/util/commentron-error.js
Due: prettier --write, eslint, flow focus-check --color always

Don't allow a duration that exceeds Feb 8th
  static/app-strings.json
  ui/modal/modalMinChannelAge/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

reverts electron updates testing
  package.json
  ui/component/lastReleaseChanges/index.js
  ui/component/lastReleaseChanges/view.jsx
  ui/index.jsx
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  ui/scss/all.scss
  ui/scss/component/_last-release-changes.scss
Due: prettier --write, eslint, flow focus-check --color always

[Fix] revert fileRenderFloating vs Mobile change (#937)
  package.json
  ui/component/app/view.jsx
  ui/component/fileRenderFloating/helper-functions.js
  ui/component/fileRenderFloating/index.js
  ui/component/fileRenderFloating/view.jsx
  ui/component/fileRenderInitiator/index.js
  ui/component/fileRenderInitiator/view.jsx
  ui/component/fileRenderMobile/index.js
  ui/component/fileRenderMobile/view.jsx
  ui/component/swipeableDrawer/view.jsx
  ui/effects/use-play-next.js
  ui/page/file/index.js
  ui/page/file/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/content.js
  ui/redux/selectors/livestream.js
  ui/scss/component/_content.scss
  ui/scss/component/_file-render.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always
