Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

Wallet string cleanup
  static/app-strings.json
Due: none

Make zoom level persistent on Desktop
  ui/constants/settings.js
  ui/effects/use-zoom.js
  ui/redux/reducers/settings.js
  ui/util/zoomWindow.js
Due: prettier --write, eslint, flow focus-check --color always

fix comment
  ui/component/publishForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix linting errors
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

only react to source prop updates
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

attempt to persist a single video.js instance
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

hack-y solution to losing player context
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove console.log statements
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.49.4-rc.4
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

fix typo
  ui/component/walletBalance/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix first claim nsfw result being hidden even if nsfw is enabled
  ui/component/claimPreview/index.js
  ui/component/claimPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.49.4-rc.5
  package.json
Due: none

Fixing inline videos in comments
  ui/component/comment/index.js
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.49.4
  package.json
Due: none

Add type definition for new prop in comment component
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix ad areas and drivers
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  ui/page/discover/view.jsx
  ui/page/search/view.jsx
  web/component/ads/index.js
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Enable PDF viewer in app Closes #2903
  CHANGELOG.md
  ui/constants/file_render_modes.js
Due: prettier --write, eslint, flow focus-check --color always

Zoomable image viewer in Markdown (posts and comments)
  CHANGELOG.md
  package.json
  ui/component/common/markdown-preview.jsx
  ui/component/zoomableImage/index.js
  ui/component/zoomableImage/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalViewImage/index.js
  ui/modal/modalViewImage/view.jsx
  ui/scss/component/_markdown-preview.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

use variable for header height
  ui/scss/component/_animation.scss
Due: prettier --write

stop linting my web build files please
  .eslintignore
Due: none

add autoplay logic for embedded player
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add autoplay logic for embedded player (#5399)
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Thumbnail: Display the same label (recommended ratio) for both URL and UPLOAD.
  static/app-strings.json
  ui/component/selectAsset/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update broken 'Retry' button after videojs refactoring.
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

animate in from top instead of bottom
  ui/scss/component/_animation.scss
Due: prettier --write

Make dropdown menus actually dropdown
  ui/scss/component/_animation.scss
Due: prettier --write
