Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

new invite route
  package.json
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/claimPreview/index.js
  ui/component/invited/index.js
  ui/component/invited/view.jsx
  ui/component/rewardTile/index.js
  ui/component/rewardTile/view.jsx
  ui/component/router/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalSetReferrer/index.js
  ui/modal/modalSetReferrer/view.jsx
  ui/page/invited/index.js
  ui/page/invited/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

rename setReferrerPending and Error bump lbryinc improve invite states register channels with apis fix duplicate subscriptions
  package.json
  ui/component/app/view.jsx
  ui/component/inviteNew/index.js
  ui/component/inviteNew/view.jsx
  ui/component/invited/index.js
  ui/component/invited/view.jsx
  ui/modal/modalSetReferrer/index.js
  ui/modal/modalSetReferrer/view.jsx
  ui/redux/reducers/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

bump lbryinc
  package.json
  yarn.lock
Due: none

review changes
  ui/component/commentCreate/view.jsx
  ui/component/header/view.jsx
  ui/component/inviteNew/view.jsx
  ui/component/invited/view.jsx
  ui/component/publishForm/view.jsx
  ui/component/selectChannel/view.jsx
  ui/modal/modalSetReferrer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix shortUrl subscriptions refactor invited page check if subscribed first always follow regardless of reward status
  ui/component/invited/index.js
  ui/component/invited/view.jsx
  ui/page/invited/index.js
  ui/page/invited/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update invite copy
  ui/component/inviteNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update invited/view copy
  ui/component/invited/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update reward tile copy
  ui/component/rewardTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update invitee modal copy
  ui/modal/modalSetReferrer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

style cleanup
  package.json
  ui/component/inviteNew/view.jsx
  ui/component/selectChannel/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix for electron to redirect to channels following page
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Feat new referrals"
  package.json
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/claimPreview/index.js
  ui/component/header/view.jsx
  ui/component/inviteNew/index.js
  ui/component/inviteNew/view.jsx
  ui/component/invited/index.js
  ui/component/invited/view.jsx
  ui/component/rewardTile/index.js
  ui/component/rewardTile/view.jsx
  ui/component/router/view.jsx
  ui/component/selectChannel/view.jsx
  ui/component/socialShare/index.js
  ui/component/socialShare/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalSetReferrer/index.js
  ui/modal/modalSetReferrer/view.jsx
  ui/page/invited/index.js
  ui/page/invited/view.jsx
  ui/redux/reducers/subscriptions.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

referrals round 2
  package.json
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/claimPreview/index.js
  ui/component/header/view.jsx
  ui/component/inviteNew/index.js
  ui/component/inviteNew/view.jsx
  ui/component/invited/index.js
  ui/component/invited/view.jsx
  ui/component/rewardTile/index.js
  ui/component/rewardTile/view.jsx
  ui/component/router/view.jsx
  ui/component/selectChannel/view.jsx
  ui/component/socialShare/index.js
  ui/component/socialShare/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalSetReferrer/index.js
  ui/modal/modalSetReferrer/view.jsx
  ui/page/invited/index.js
  ui/page/invited/view.jsx
  ui/redux/reducers/subscriptions.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.39.0-rc.3
  package.json
Due: none

thumbnail server bad
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixes #3303 by stopping event propagation for left and right arrow keys in the search bar
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

referrer modal styling
  ui/modal/modalSetReferrer/view.jsx
  ui/scss/component/_icon.scss
Due: prettier --write, eslint, flow focus-check --color always

update components
  package.json
  yarn.lock
Due: none

Clear the internal file selector after `clearPublish`
  ui/component/common/file-selector.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixes #3502 by changing the way we 'queue' search queries
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump lbry-sdk to 0.53.2
  CHANGELOG.md
  package.json
Due: none

v0.39.0-rc.4
  package.json
Due: none

update lbry-redux and changelog
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

quick fix for mobile alignment
  ui/scss/component/_media.scss
  ui/scss/component/section.scss
Due: prettier --write

i18n change I forgot to push
  static/app-strings.json
  ui/component/claimListDiscover/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/publishAdditionalOptions/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/userEmailVerify/view.jsx
  ui/component/userPhoneVerify/view.jsx
  ui/constants/languages.js
Due: prettier --write, eslint, flow focus-check --color always

provide for resetting referral set error state improve reward buttons show setReferrer errors in modal
  ui/component/rewardTile/view.jsx
  ui/modal/modalSetReferrer/index.js
  ui/modal/modalSetReferrer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump lbryinc
  package.json
Due: none

show channelName instead of full url introducing referrer channel clear referrer modal error on close
  ui/component/invited/view.jsx
  ui/modal/modalSetReferrer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add invites to hamburger menu
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
