Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  }
}

fallback to keychain for auth_token if desktop users don't have an auth_token cookie
  electron/index.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

downgrade sdk and fix typo
  package.json
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.10
  package.json
Due: none

fix spacing on send tip modal
  ui/component/uriIndicator/view.jsx
  ui/modal/modalSendTip/view.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

Allows `Icon` to accept any arbitrary color value
  ui/component/common/icon.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove alert
  ui/component/viewers/codeViewer.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adds escape button listener to cancel comment edit
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Makes the comment action icon appear very light unless the mouse is hovered over.
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adds button to cancel editing the comment
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

color cleanup
  ui/scss/component/_card.scss
  ui/scss/component/_header.scss
  ui/scss/component/menu-button.scss
  ui/scss/init/_vars.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

update lbry-redux + lbry-sdk
  CHANGELOG.md
  package.json
Due: none

fix 'publishes' styling on claim tiles
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.11
  package.json
Due: none

make sure claim_search is called every time the homepage is navigated to
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.12
  package.json
Due: none

whoops
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

typo
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

round 2
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

show authenticated rows on desktop
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.13
  package.json
Due: none

add RewardAuthIntro on the invites page
  static/app-strings.json
  ui/component/rewardAuthIntro/view.jsx
  ui/page/invite/index.js
  ui/page/invite/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.39.0-rc.14
  package.json
Due: none

v0.39.0
  package.json
Due: none

update readme
  README.md
Due: none

update changelog
  CHANGELOG.md
Due: none

loads script for alternate sidebar
  .flowconfig
  lbrytv/component/ad/index.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_navigation.scss
  ui/scss/init/_vars.scss
Due: prettier --write, eslint, flow focus-check --color always

send events when video buffers
  package.json
  ui/analytics.js
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

review changes
  .lintstagedrc.json
  lbrytv/component/ads.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_navigation.scss
  ui/scss/init/_vars.scss
Due: prettier --write, eslint, flow focus-check --color always

improve how we add metadata _slightly_ and add custom metadata for invite links
  lbrytv/src/html.js
  package.json
  static/index-web.html
  ui/component/commentCreate/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Fix: improve release time claim search
  ui/component/claimListDiscover/view.jsx
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update lbryinc
  package.json
  yarn.lock
Due: none

add comment
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
