Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

added semicolon to import statement
  ui/component/commentCreate/index.js
Due: prettier --write, eslint, flow focus-check --color always

Fix livestream player height cut-off (#53)
  ui/scss/component/_livestream.scss
Due: prettier --write

working prototype
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix recsys submission when `user` is null (#54)
  static/app-strings.json
  ui/recsys.js
Due: prettier --write, eslint, flow focus-check --color always

change to import instead of redefining const
  ui/component/commentCreate/index.js
Due: prettier --write, eslint, flow focus-check --color always

fixed disable-support for comments
  CHANGELOG.md
  ui/component/commentCreate/index.js
Due: prettier --write, eslint, flow focus-check --color always

lint
  ui/component/claimPreview/index.js
  ui/component/commentCreate/index.js
  ui/page/collection/index.js
  ui/redux/middleware/shared-state.js
Due: prettier --write, eslint, flow focus-check --color always

lint
  ui/redux/middleware/shared-state.js
Due: prettier --write, eslint, flow focus-check --color always

seems to work well
  package.json
  ui/component/app/view.jsx
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

lint
  ui/component/claimPreviewTile/index.js
Due: prettier --write, eslint, flow focus-check --color always

bugfix
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

[Comment/Livestream] Markdown and style fixes (#55)
  ui/component/commentMenuList/view.jsx
  ui/component/common/markdown-preview.jsx
  ui/component/livestreamComment/view.jsx
  ui/scss/component/_comments.scss
  ui/scss/component/_livestream.scss
  ui/scss/component/_markdown-preview.scss
  ui/util/remark-lbry.js
  ui/util/remark-timestamp.js
  web/scss/themes/odysee/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Use cards.odysee.com (#56)
  .env.defaults
  web/src/html.js
Due: prettier --write, eslint

fix config for thumbs
  config.js
  web/src/html.js
Due: prettier --write, eslint

Add test embed domain to rule out cards
  web/src/html.js
Due: prettier --write, eslint

Take 99
  web/src/html.js
Due: prettier --write, eslint

Revert "[Comments] Batch resolve" (#61)
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

lint
  ui/component/claimPreview/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/collectionEdit/view.jsx
  ui/component/commentMenuList/view.jsx
  ui/component/notificationContentChannelMenu/view.jsx
  ui/component/publishFormErrors/view.jsx
  ui/component/repostCreate/view.jsx
  ui/redux/actions/claims.js
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Ads setup (#62)
  package.json
  ui/analytics.js
  ui/component/app/view.jsx
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix channel value (#66)
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix channel value (#67)
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

lint
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/userFirstChannel/view.jsx
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix markdown preview word break (#70)
  ui/scss/component/_markdown-preview.scss
Due: prettier --write

use insecure mode (#74)
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix 'setting.Get' runaway calls
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Revert "[Comments] Batch resolve" (#61)"
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix infinite resolve
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix expansion broken with layout change
  ui/component/commentsList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix expanding comments and scroll pagination
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Improve aesthetics for deleted channel names.
  static/app-strings.json
  ui/component/uriIndicator/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update README.md
  README.md
Due: none

more flow
  .flowconfig
  extras/lbryinc/redux/actions/stats.js
  extras/lbryinc/redux/reducers/web.js
  extras/recsys/index.js
  ui/component/channelEdit/view.jsx
  ui/component/channelThumbnail/view.jsx
  ui/component/claimMenuList/view.jsx
  ui/component/claimPreviewSubtitle/view.jsx
  ui/component/fileActions/view.jsx
  ui/component/fileRenderFloating/view.jsx
  ui/component/invited/view.jsx
  ui/component/notification/view.jsx
  ui/component/recommendedContent/view.jsx
  ui/component/router/view.jsx
  ui/component/searchTopClaim/view.jsx
  ui/component/subscribeButton/view.jsx
  ui/page/channel/view.jsx
  ui/page/show/view.jsx
  ui/page/youtubeSync/view.jsx
  ui/redux/reducers/claims.js
  ui/redux/reducers/subscriptions.js
  ui/util/buildHomepage.js
  web/lbry.js
  web/src/lbryURI.js
  webpack.base.config.js
Due: prettier --write, eslint, flow focus-check --color always

recsys import
  extras/recsys/index.js
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: web/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: web/**/*.{js,jsx})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
