Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Bump redux
  package.json
  yarn.lock
Due: none

Fix thumbnail upload
  ui/component/collectionEdit/index.js
  ui/component/collectionEdit/view.jsx
  ui/component/publishFormErrors/view.jsx
  ui/component/selectThumbnail/index.js
  ui/component/selectThumbnail/view.jsx
  ui/component/thumbnailPicker/index.js
  ui/component/thumbnailPicker/thumbnail-broken.png
  ui/component/thumbnailPicker/thumbnail-missing.png
  ui/component/thumbnailPicker/view.jsx
  ui/modal/modalConfirmThumbnailUpload/index.js
  ui/modal/modalConfirmThumbnailUpload/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update changelog
  CHANGELOG.md
Due: none

Fix scrollbar in upgrade modal (#7076)
  ui/modal/modalUpgrade/view.jsx
  ui/scss/init/_gui.scss
  web/scss/themes/odysee/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix list thumbnail upload (#7074)
  CHANGELOG.md
  package.json
  ui/component/collectionEdit/index.js
  ui/component/collectionEdit/view.jsx
  ui/component/publishFormErrors/view.jsx
  ui/component/selectThumbnail/index.js
  ui/component/selectThumbnail/view.jsx
  ui/component/thumbnailPicker/index.js
  ui/component/thumbnailPicker/thumbnail-broken.png
  ui/component/thumbnailPicker/thumbnail-missing.png
  ui/component/thumbnailPicker/view.jsx
  ui/modal/modalConfirmThumbnailUpload/index.js
  ui/modal/modalConfirmThumbnailUpload/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

bump to fix collection update
  package.json
  yarn.lock
Due: none

bump to fix collection update (#7079)
  package.json
  yarn.lock
Due: none

fix recommended follows
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix recommended follows (#7081)
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

update changelog (#7082)
  CHANGELOG.md
Due: none

Revert "fix recommended follows (#7081)"
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "fix recommended follows (#7081)" (#7085)
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix changelog entries placed in previous release.
  CHANGELOG.md
Due: none

Wunderbar: re-arrange static buttons to the top
  ui/component/wunderbarSuggestions/view.jsx
  ui/scss/component/_wunderbar.scss
Due: prettier --write, eslint, flow focus-check --color always

Wunderbar: fix popup dismissed despite a child is in focus
  ui/component/wunderbarSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

refactor collection thumbs
  ui/component/collectionEdit/view.jsx
  ui/component/selectThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Move dropdown caret away from edge
  ui/scss/component/_claim-list.scss
  ui/scss/component/_claim-search.scss
  ui/scss/component/_form-field.scss
Due: prettier --write

collection update handle channels
  ui/component/collectionEdit/index.js
  ui/component/collectionEdit/view.jsx
  ui/component/collectionsListMine/index.js
  ui/component/collectionsListMine/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix missing localization macro during refactoring
  ui/component/livestreamLayout/view.jsx
  ui/page/listBlocked/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Commentron err replacement: fix readability + added link support.
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

collection update handle channels more better
  ui/component/collectionEdit/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bugfix
  ui/component/collectionEdit/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

refactor collection thumbs and fix list channel updates (#7095)
  ui/component/collectionEdit/index.js
  ui/component/collectionEdit/view.jsx
  ui/component/collectionsListMine/index.js
  ui/component/collectionsListMine/view.jsx
  ui/component/selectThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix embed end logo
  ui/scss/component/_file-render.scss
  web/component/fileViewerEmbeddedEnded/view.jsx
Due: prettier --write, eslint

fix embed end logo (#7106)
  ui/scss/component/_file-render.scss
  web/component/fileViewerEmbeddedEnded/view.jsx
Due: prettier --write, eslint

Revert "Use SI notation for view_count ... bbcdcfe4"
  ui/component/fileViewCountInline/index.js
  ui/component/fileViewCountInline/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Set dropdown padding-right to spacing-xl
  ui/scss/component/_claim-list.scss
  ui/scss/component/_claim-search.scss
  ui/scss/component/_form-field.scss
Due: prettier --write

Fix dropdown caret spacing (#7096)
  ui/scss/component/_claim-list.scss
  ui/scss/component/_claim-search.scss
  ui/scss/component/_form-field.scss
Due: prettier --write

Fix theater mode layout on small and medium screens
  ui/scss/component/_main.scss
Due: prettier --write

Handle view_count formatting on old browsers
  ui/component/fileViewCountInline/index.js
  ui/component/fileViewCountInline/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix floating
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

refactor auth
  package.json
  ui/component/privacyAgreement/index.js
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/actions/user.js
  ui/redux/reducers/user.js
  ui/store.js
  ui/util/saved-passwords.js
  web/src/robots.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Change makeSelectRecommendedContentForUri behavior
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  ui/component/viewers/videoViewer/index.js
  ui/constants/search.js
  ui/redux/actions/search.js
  ui/redux/selectors/content.js
  ui/redux/selectors/search.js
  ui/util/query-params.js
Due: prettier --write, eslint, flow focus-check --color always

bugfix
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

bugfix
  ui/index.jsx
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

Recommended changes (#7089)
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  ui/component/viewers/videoViewer/index.js
  ui/constants/search.js
  ui/redux/actions/search.js
  ui/redux/selectors/content.js
  ui/redux/selectors/search.js
  ui/util/query-params.js
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  package.json
  ui/index.jsx
  ui/redux/actions/user.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

support embed preference
  ui/component/button/view.jsx
  ui/component/fileViewerEmbeddedTitle/index.js
  ui/component/fileViewerEmbeddedTitle/view.jsx
  ui/component/searchTopClaim/view.jsx
  ui/component/wunderbarTopSuggestion/index.js
  ui/component/wunderbarTopSuggestion/view.jsx
  ui/constants/tags.js
  ui/scss/component/_embed-player.scss
  ui/scss/component/_file-render.scss
  web/component/fileViewerEmbeddedEnded/index.js
  web/component/fileViewerEmbeddedEnded/view.jsx
  web/scss/themes/odysee/component/_file-render.scss
Due: prettier --write, eslint, flow focus-check --color always

title color
  ui/component/fileViewerEmbeddedTitle/view.jsx
  ui/scss/component/_file-render.scss
  web/scss/themes/odysee/component/_file-render.scss
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: web/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: web/**/*.{js,jsx})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
