Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Adjust font size in comment section on mobile
  ui/scss/component/_comments.scss
Due: prettier --write

Adjust font size in chat on mobile
  ui/scss/component/_livestream-comment.scss
Due: prettier --write

Adjust hyperchat row on mobile
  ui/scss/component/_livestream-chat.scss
Due: prettier --write

Hide repost ribbon on category pages
  ui/component/page/view.jsx
  ui/page/home/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Hide repost ribbon on category pages
  ui/scss/init/_gui.scss
Due: prettier --write

Temp show repost ribbon on category pages
  ui/scss/init/_gui.scss
Due: prettier --write

Fix video poster misaligned
  ui/scss/component/_main.scss
Due: prettier --write

Fix video poster misaligned on mobile
  ui/scss/component/_main.scss
Due: prettier --write

Adjust position of play button on active element in playlist on mobile
  ui/scss/component/_claim-list.scss
Due: prettier --write

Hide unmute button on mobile
  ui/scss/component/_file-render.scss
Due: prettier --write

Fix playlist remove item label on playlist page
  ui/scss/init/_gui.scss
Due: prettier --write

Fix some RSS issues
  ui/util/web.js
  web/src/rss.js
Due: prettier --write, eslint, flow focus-check --color always

Comments: inline image not working for level4/5 channels
  ui/component/comment/index.js
Due: prettier --write, eslint, flow focus-check --color always

Fix login hover bug in light theme
  ui/scss/component/_header.scss
Due: prettier --write

Fix handle font sizes on markdown page on desktop & mobile
  ui/scss/component/_main.scss
Due: prettier --write

Increase mardown page width on large screens
  ui/scss/component/_post.scss
Due: prettier --write

Adjust ratio bar width on markdwon page
  ui/scss/component/_media.scss
Due: prettier --write

Fix long label ratio bar distortion bug
  ui/scss/component/_media.scss
Due: prettier --write

Adjust handle link color in markdown
  ui/scss/component/_main.scss
Due: prettier --write

Adjust active tab indicator
  ui/scss/component/tabs.scss
Due: prettier --write

Adjust spaces in upload form on desktops
  ui/component/publishForm/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Adjust textarea in upload form on mobile
  ui/scss/init/_gui.scss
Due: prettier --write

Fix ratio bar width bug on livestream page
  ui/scss/component/_media.scss
Due: prettier --write

Adjust some spacing on upload page on mobile
  ui/scss/init/_gui.scss
Due: prettier --write

Adjust snack bar position on mobile
  ui/scss/component/_snack-bar.scss
Due: prettier --write

Adjust ratio bar width on dekstop
  ui/scss/component/_media.scss
Due: prettier --write

Adjust colors in comment/chat swipe button on mobile
  ui/scss/component/_swipeable-drawer.scss
Due: prettier --write

Add hover effect to player buttons
  ui/scss/component/_videojs.scss
Due: prettier --write

Adjust reload button position in comment section on mobile
  ui/scss/component/_textarea-suggestions.scss
Due: prettier --write

Remove black background from channel level
  ui/component/common/icon-custom.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

Realign stars in channel level indicator
  ui/scss/component/_channel.scss
Due: prettier --write

Realign stars in channel level indicator
  ui/scss/component/_channel.scss
  ui/scss/component/_textarea-suggestions.scss
Due: prettier --write

tus: log reason for QuotaExceededError
  web/setup/publish-v2.js
Due: none

Improve scrolling behavior, fix tips sorting (#863)
  ui/component/claimLink/view.jsx
  ui/component/livestreamChatLayout/index.js
  ui/component/livestreamChatLayout/view.jsx
  ui/component/livestreamComments/index.js
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Lazy-load "Beautiful Drag-N-Drop" (#859)
  ui/component/claimList/view.jsx
  ui/component/collectionContentSidebar/view.jsx
  ui/component/collectionEdit/view.jsx
  ui/page/collection/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

markdown fixes - blockquotes and embedded videos
  ui/component/common/markdown-preview.jsx
  ui/component/fileRender/view.jsx
  ui/scss/all.scss
  ui/scss/component/_embed-player.scss
  ui/util/remark-lbry.js
  web/middleware/iframe-destroyer.js
Due: prettier --write, eslint, flow focus-check --color always

more
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix embed play edge case
  ui/redux/actions/content.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
