Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Add note on removing !important when we upgrade vjs later.
  ui/scss/component/_file-render.scss
Due: prettier --write

Icon and popup css fixes
  ui/scss/component/_file-render.scss
  ui/scss/component/_videojs.scss
Due: prettier --write

Duration: center text; fix uneven space for "/" time divider
  ui/scss/component/_file-render.scss
Due: prettier --write

Fix popup auto dismiss when the gap is hovered
  ui/scss/component/_videojs.scss
Due: prettier --write

Fix cancel sending sticker (#447)
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Enlarge the play icon size
  ui/scss/component/_file-render.scss
Due: prettier --write

Fix double-render of Category Pages when unauthenticated
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Memoize GetLinksData for performance
  ui/component/router/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/page/home/view.jsx
  ui/util/buildHomepage.js
Due: prettier --write, eslint, flow focus-check --color always

add ad to channel page
  ui/component/channelContent/view.jsx
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

trigger scroll event to show ad
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

only insert ad if its the content view
  ui/component/channelContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add ad to channel pages
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

dont run ads on channel page
  ui/component/channelContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove invites and rewards
  static/app-strings.json
  ui/component/channelForm/index.js
  ui/component/channelForm/view.jsx
  ui/component/header/index.js
  ui/component/header/view.jsx
  ui/component/inviteNew/index.js
  ui/component/notification/view.jsx
  ui/component/router/view.jsx
  ui/component/yrblWalletEmpty/view.jsx
  ui/page/buy/view.jsx
  ui/page/channel/view.jsx
  ui/page/channelNew/view.jsx
  ui/page/invite/index.js
  ui/page/swap/index.js
  ui/page/swap/view.jsx
  ui/redux/actions/rewards.js
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

remove extra sign up pages
  ui/component/userSignUp/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix missing livestream in Category Pages
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  ui/component/channelForm/index.js
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

remove react-plastic
  package.json
  yarn.lock
Due: none

update deps
  package.json
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update webpack to 4.44.2 and copy-webpack-plugin to 6.4.1
  electron-builder.json
  package.json
  webpack.electron.config.js
  yarn.lock
Due: none

changed behavior of a MenuButton. now it shows drop down on click not on mouse down
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Follow-up tweaks for 'Videojs css fix (#445)'
  ui/scss/component/_button.scss
  ui/scss/component/_file-render.scss
  ui/scss/component/_videojs.scss
Due: prettier --write

Fix view count appearing in Recommended.
  ui/component/fileViewCountInline/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Livestream page prop optimization
  ui/page/livestream/index.js
  ui/page/livestream/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add new stickers
  ui/constants/stickers.js
Due: prettier --write, eslint, flow focus-check --color always

v0.52.0-rc.8
  package.json
Due: none

Add support for suggesting emojis
  ui/component/textareaSuggestionsItem/view.jsx
  ui/component/textareaWithSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add key to groups and options
  ui/component/textareaWithSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Filter default emojis with the same name as emotes
  ui/component/textareaWithSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add support for suggesting Emotes while typing ':'
  ui/component/textareaSuggestionsItem/view.jsx
  ui/component/textareaWithSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add back support for Winning Uri
  flow-typed/search.js
  ui/component/textareaWithSuggestions/index.js
  ui/component/textareaWithSuggestions/view.jsx
  ui/redux/actions/search.js
  ui/redux/reducers/search.js
  ui/redux/selectors/comments.js
  ui/redux/selectors/search.js
Due: prettier --write, eslint, flow focus-check --color always

Improve label to display matching term
  ui/component/textareaWithSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix text color on darkmode
  ui/scss/component/_textarea-suggestions.scss
Due: prettier --write

Install @mui/material packages
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
