Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Revert "v0.50.3-rc.2"
  package.json
Due: none

Revert "v0.50.3-rc.3"
  package.json
Due: none

add signing deps
  package.json
  yarn.lock
Due: none

v0.50.3-rc.2
  package.json
Due: none

v0.51.0-rc.1
  package.json
Due: none

Fix preview link background
  ui/scss/component/_file-render.scss
Due: prettier --write

Create plugin to hold code for recsys
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

test odysee theme
  ui/index.jsx
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
  web/themes/odysee/all.scss
  web/themes/odysee/dark.scss
  web/themes/odysee/light.scss
  web/webpack.config.js
Due: prettier --write, eslint, flow focus-check --color always

send recsys on dispose
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

cleanup recsys code
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

add userId to props validation
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

appease the linter
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add todo note
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

add recsys related functionality
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove kiyui as maintainer for AUR package
  README.md
Due: none

i18n mistake
  static/app-strings.json
Due: none

Fix repost deletion
  ui/component/claimMenuList/view.jsx
  ui/component/repostCreate/view.jsx
  ui/modal/modalRevokeClaim/index.js
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add back re-direct
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Don't allow editing someone else's Channel
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

define magic numbers as constants
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

extra characters
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove google sidebar ads
  ui/component/recommendedContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix autoplay for transcoded files
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

pinned jungle survival
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

change tagline
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove junk
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

dont display cc button via videojs settings
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove more google
  ui/scss/component/_ads.scss
  web/component/ads/view.jsx
Due: prettier --write

Set 'activeChannel' before entering Dashboard
  ui/page/channels/index.js
  ui/page/channels/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

FileThumbnail: don't go through optimizer if GIF
  ui/component/fileThumbnail/view.jsx
  ui/component/loginGraphic/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
