Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

Fixes #3200 Claim previews right-clickable
  ui/component/claimPreview/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

fix link color
  ui/scss/component/_claim-list.scss
Due: prettier --write

Revert "Fixes #3200 Claim previews right-clickable"
  ui/component/claimPreview/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "fix link color"
  ui/scss/component/_claim-list.scss
Due: prettier --write

Revert "update changelog"
  CHANGELOG.md
Due: none

Fixes #3200 Claim previews right-clickable - original author (michaeltintiuc)
  CHANGELOG.md
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "Fixes #3200 Claim previews right-clickable - original author (michaeltintiuc)"
  CHANGELOG.md
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix undefined URLs
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add missing commits
  CHANGELOG.md
  ui/scss/component/_claim-list.scss
Due: prettier --write

Added download icon to Claim Previews
  ui/component/claimPreview/view.jsx
  ui/component/fileDownloadLink/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

sentry
  .sentryclirc
  lbrytv/webpack.config.js
  package.json
  ui/analytics.js
  ui/component/errorBoundary/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/index.jsx
  ui/scss/init/_gui.scss
  webpack.base.config.js
  webpack.electron.config.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

handle credit card script failure
  ui/component/cardVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

completely prevent ads from rendering on mobile devices
  lbrytv/component/ads.jsx
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.41.0-rc.5
  package.json
Due: none

try blacklisting ads url
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable sentry
  ui/analytics.js
  ui/component/errorBoundary/view.jsx
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

add back withRouter to see if it fixes the app not working
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

only autoplay videos
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

fix lbry:// links on desktop
  ui/component/common/markdown-preview-internal.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.41.0-rc.6
  package.json
Due: none

clean up css
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

v0.41.0-rc.7
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
