Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

v0.50.2-rc.1
  package.json
Due: none

fix websockets not reconnecting When it gets closed, even for errors, it doesn't always go into Socket.onerror. Add the reconnection logic back to just onclose (like it was before)
  ui/redux/actions/websocket.js
Due: prettier --write, eslint, flow focus-check --color always

fix typo took commit from #5790 since it was merging into the odysee branch
  static/app-strings.json
  ui/page/rewards/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.50.2
  package.json
Due: none

sandbox iframe react component
  ui/component/IframeReact/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add a title with the exact date to dateTime elements that use timeAgo.
  ui/component/dateTime/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

open livestream channel create redirect in new tab so users can keep the stream going while they do sign up stuff
  ui/component/commentCreate/view.jsx
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add 24-hour clock setting.
  ui/component/dateTime/index.js
  ui/component/dateTime/view.jsx
  ui/constants/settings.js
  ui/page/settings/index.js
  ui/page/settings/view.jsx
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Also format the "Automatic dark mode" clocks.
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix the "Automatic dark mode" labels having the same name. Now the correct input is selected when clicking the "To" label.
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add a min-width to the "Automatic dark mode" inputs to stop UI shifting when clicking the "24-hour clock" checkbox. I have no idea where this should go so I just put it somewhere.
  ui/scss/component/_form-field.scss
Due: prettier --write

claim email_verified reward on channel/new page
  ui/page/channelNew/index.js
  ui/page/channelNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix scrolling issue, limit length of chat history
  ui/component/livestreamComments/index.js
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

concept to push live channels to the top of the sidebar
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fixes #5822 display of upload date and view count on smaller screens
  CHANGELOG.md
  ui/scss/component/_file-render.scss
  ui/scss/component/_media.scss
Due: prettier --write

more robust check on channel name
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

undo my weird changes - simplify logic
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove the need to call 'app.getLocale()'
  electron/createWindow.js
Due: none

Add: Japanese, Afrikaans, Filipino, Thai and Vietnamese
  ui/constants/languages.js
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

Simplify language lists
  ui/component/app/view.jsx
  ui/constants/language-migrations.js
  ui/constants/supported_browser_languages.js
  ui/constants/supported_languages.js
  ui/constants/supported_sub_languages.js
  ui/i18n.js
  ui/redux/selectors/settings.js
  ui/util/default-languages.js
Due: prettier --write, eslint, flow focus-check --color always

remove extra comment
  ui/scss/component/_media.scss
Due: prettier --write

fix date on short post titles always send it to a new line
  ui/scss/component/_post.scss
Due: prettier --write

add helplbrysavecrypto prompt and fix file page UI bugs
  ui/component/comment/view.jsx
  ui/component/fileTitleSection/view.jsx
  ui/component/uriIndicator/view.jsx
  ui/scss/component/_main.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

copy pass
  ui/component/fileTitleSection/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Change: 'Wikang Filipino' --> 'Filipino'
  ui/constants/languages.js
Due: prettier --write, eslint, flow focus-check --color always

i18n: petition msg
  static/app-strings.json
Due: none

Sort the language list
  CHANGELOG.md
  ui/component/settingLanguage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
