Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "web/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "web/**/*.{js,jsx}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "web/dist/**/*", "dist/**/*", "package-lock.json"]
}

ClaimTilesDiscover: fill with placeholder while waiting for claim_search
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

⏪ ClaimListDiscover: revert and cleanup
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

ClaimListDiscover: add prefixUris, similar to ClaimTilesDiscover
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

doFetchActiveLivestreams: add interval and options checking
  flow-typed/livestream.js
  ui/constants/action_types.js
  ui/redux/actions/livestream.js
  ui/redux/reducers/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

✅ Re-enable active livestream tiles using the new method
  ui/page/channelsFollowing/index.js
  ui/page/channelsFollowing/view.jsx
  ui/page/discover/index.js
  ui/page/discover/view.jsx
  ui/page/home/index.js
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

WildWest: limit livestream tiles + add ability to show more
  ui/page/discover/view.jsx
  ui/scss/component/_livestream.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix homepage tiles not filtering blocked channels
  ui/component/claimTilesDiscover/index.js
Due: prettier --write, eslint, flow focus-check --color always

Update lbry.tv to odysee.com
  README.md
Due: none

Update remaining lbry.tv references to Odysee
  README.md
Due: none

Adjust comment fade-out height
  ui/scss/component/_expandable.scss
Due: prettier --write

wip
  package.json
  static/silent-check-sso.html
  ui/component/app/view.jsx
  ui/component/header/view.jsx
  ui/component/privacyAgreement/index.js
  ui/component/router/view.jsx
  ui/index.jsx
  ui/redux/actions/app.js
  ui/redux/actions/user.js
  ui/redux/reducers/user.js
  ui/store.js
  ui/util/keycloak.js
  ui/util/saved-passwords.js
  web/src/robots.js
  web/src/routes.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

wip
  package.json
  ui/index.jsx
  ui/store.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

conditionally add large view css
  ui/component/dateTime/view.jsx
  ui/component/fileViewCountInline/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_view_count.scss
Due: prettier --write, eslint, flow focus-check --color always

fix issue where viewcounts were creating a new line
  ui/component/fileViewCountInline/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

last couple touchups
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileViewCountInline/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

conditionally apply class based on if view count should be shown
  ui/component/claimPreviewSubtitle/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_view_count.scss
Due: prettier --write, eslint, flow focus-check --color always

clean up the css
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_view_count.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix “Your Account” popup on mobile (#5652)
  ui/scss/component/menu-button.scss
Due: prettier --write

Fix autoplay next default value
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

Update changelog
  CHANGELOG.md
Due: none

force mp3 extension vs mpga
  web/src/rss.js
Due: prettier --write, eslint

Fix autoplay next default value (#7173)
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

fix playlist resolving collectionurls
  CHANGELOG.md
  ui/component/collectionPreviewOverlay/index.js
  ui/component/collectionPreviewOverlay/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix missed render when blocklist is fetched
  ui/component/claimTilesDiscover/index.js
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Memoize 'mutedAndBlockedChannelIds'
  ui/component/claimTilesDiscover/index.js
  ui/component/claimTilesDiscover/view.jsx
  ui/redux/selectors/blocked.js
Due: prettier --write, eslint, flow focus-check --color always

Fix “Your Account” popup on mobile (#5652) (#7172)
  CHANGELOG.md
  ui/scss/component/menu-button.scss
Due: prettier --write

add scss to flow config
  .flowconfig
  package.json
  ui/component/fileViewCountInline/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use homepage LATEST for following discover
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add scss component to flow config
  .flowconfig
Due: none

Fix issue where channel upload viewcounts were creating a new line (#7154)
  .flowconfig
  package.json
  ui/component/claimPreviewSubtitle/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
  ui/component/dateTime/view.jsx
  ui/component/fileViewCountInline/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_view_count.scss
Due: prettier --write, eslint, flow focus-check --color always

use homepage LATEST for following discover (#7185)
  ui/component/userChannelFollowIntro/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Commentron now includes `replies` for `ByID` request
  ui/redux/reducers/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Fix page titles for SiteLinks
  static/app-strings.json
  ui/constants/pageTitles.js
  ui/constants/pages.js
Due: prettier --write, eslint, flow focus-check --color always

Add icons
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Add icons (#7194)
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

fix playlist resolving collectionurls (#7178)
  CHANGELOG.md
  ui/component/collectionPreviewOverlay/index.js
  ui/component/collectionPreviewOverlay/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix plant icon
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

Also change phone icon name
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always
