Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  }
}

rc-fixes
  ui/modal/modalPublish/view.jsx
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

don't re-resolve for claims that don't exist
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix channel thumb uploads on lbrytv
  static/app-strings.json
  ui/component/selectAsset/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

passes apicall for lbrytv updates
  lbrytv/setup/publish.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

autoLaunch on startup
  electron/createWindow.js
  package.json
  ui/component/embedArea/view.jsx
  ui/component/settingAutoLaunch/index.js
  ui/component/settingAutoLaunch/view.jsx
  ui/constants/settings.js
  ui/index.jsx
  ui/page/help/view.jsx
  ui/page/settings/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/settings.js
  ui/redux/reducers/settings.js
  ui/util/autoLaunch.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

fix: don't re-resolve on file page if we don't need to
  package.json
  ui/page/show/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

add comment
  electron/createWindow.js
Due: none

simpler email regex
  ui/constants/email.js
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.37.2-rc.3
  package.json
Due: none

Update app-strings.json
  static/app-strings.json
Due: none

disable captcha for returning users
  ui/page/signInVerify/view.jsx
  ui/util/autoLaunch.js
Due: prettier --write, eslint, flow focus-check --color always

show refresh message if the captcha hasn't loaded after 2 seconds
  ui/page/signInVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Added Malayalam (ml) and Serbian (sr) language
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

Update view.jsx
  ui/modal/modalRemoveFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use ifdef comments for file-delete text
  ui/modal/modalRemoveFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixes button hover
  ui/component/button/view.jsx
  ui/effects/use-combined-refs.js
Due: prettier --write, eslint, flow focus-check --color always

no refs in NavLink
  ui/component/button/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix pagination on channel pages
  package.json
  ui/page/show/view.jsx
  ui/redux/actions/content.js
  ui/redux/actions/subscriptions.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

don't use autolauncher at all on mac to fix security warning on macOS
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

dont re-resolve on empty claims
  ui/page/show/view.jsx
  ui/scss/component/_form-field.scss
Due: prettier --write, eslint, flow focus-check --color always

temp fix for select width
  ui/scss/component/_form-field.scss
Due: prettier --write

v0.37.2-rc.4
  package.json
Due: none

fix: missing words on file delete screen
  ui/modal/modalRemoveFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
