Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Allow all file types in upload form
  ui/component/publish/upload/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Publish: log the params for v1 errors
  web/setup/publish-error.js
  web/setup/publish-v1.js
Due: none

(patch) Publish: log the params for v1 errors
  web/setup/publish-error.js
Due: none

Fix highlighted channel alignment in comment reply
  ui/scss/component/_comments.scss
Due: prettier --write

Adjust highlighted channel hover colors in comment reply
  ui/scss/component/_comments.scss
Due: prettier --write

Adjust chapter selection menu
  ui/scss/component/_file-render.scss
Due: prettier --write

Update tab focus exceptions
  ui/scss/init/_gui.scss
Due: prettier --write

Fix null or undefined being passed on collection publish params
  ui/redux/selectors/publish.js
Due: prettier --write, eslint, flow focus-check --color always

Update channel mention parsing in chat
  ui/component/channelTitle/view.jsx
  ui/component/markdownLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update channel title fallback
  ui/component/channelTitle/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Disable chat auto-open on mobile
  ui/component/livestreamLayout/view.jsx
  ui/scss/component/_livestream-chat.scss
  ui/scss/component/_textarea-suggestions.scss
Due: prettier --write, eslint, flow focus-check --color always

Post: disable button if form is invalid
  ui/component/publish/post/postForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove stream type for now
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: floating player button contact areas (#1897)
  ui/scss/component/_content.scss
  ui/scss/component/section.scss
Due: prettier --write

fix: Escape html property on ctx.query (#1898)
  web/src/html.js
Due: none

Revert "fix: Escape html property on ctx.query (#1898)" (#1899)
  web/src/html.js
Due: none

fix: Escape html property on ctx.query (#1900)
  web/src/html.js
Due: none

Properly handle decimals in supports liquidate component. (#7648)
  ui/component/supportsLiquidate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Hyperchat: restore `key` back to the tooltip
  ui/component/chat/livestream-hyperchats.jsx
Due: prettier --write, eslint, flow focus-check --color always

Optimize resolves for edited playlists
  ui/component/collectionItemsList/index.js
  ui/component/collectionItemsList/view.jsx
  ui/page/collection/index.js
  ui/redux/actions/collections.js
Due: prettier --write, eslint, flow focus-check --color always

Adjust channel owner condition in chat
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust channel identification in chat
  ui/component/markdownLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update channel title fallback format
  ui/component/channelTitle/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix channel switch condition in chat
  ui/component/commentMenuList/index.js
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: commentsList spinner appearing when replies are fetching
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/redux/selectors/comments.js
Due: prettier --write, eslint, flow focus-check --color always

fix: Editing comment while claimLink is playing
  ui/component/claimLink/view.jsx
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/fileRenderFloating/index.js
  ui/component/fileRenderFloating/view.jsx
  ui/constants/player.js
  ui/redux/actions/content.js
  ui/util/window.js
Due: prettier --write, eslint, flow focus-check --color always

Livechat fixes
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Ad: remove in-content
  ui/page/home/index.js
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Ad: remove obsolete video-ad cleanup code
  web/component/ads/view.jsx
Due: none

Latest Adnim script -- "read next" ads
  web/component/adsSticky/view.jsx
Due: none

Ad: remove css overrides -- start from scratch
  ui/scss/component/_ads.scss
  web/component/adsSticky/view.jsx
Due: prettier --write

Ad: new css overrides
  ui/component/app/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_ads.scss
  web/component/adsBanner/view.jsx
  web/component/adsSticky/index.js
  web/component/adsSticky/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix: todo comment
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Move Nag component into a folder to allow redux mapping
  ui/component/app/view.jsx
  ui/component/fileRenderInitiator/view.jsx
  ui/component/nag/index.js
  ui/component/nag/view.jsx
  ui/component/nagContinueFirstRun/view.jsx
  ui/component/nagLocaleSwitch/view.jsx
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/component/userEmailReturning/view.jsx
  ui/component/userPasswordReset/view.jsx
  ui/component/userPasswordSet/view.jsx
  ui/component/userSignInPassword/view.jsx
  ui/component/userTagFollowIntro/view.jsx
  ui/component/walletSwap/view.jsx
  ui/modal/modalPublish/view.jsx
  ui/page/buy/view.jsx
  ui/page/youtubeSync/view.jsx
  web/component/nag-data-collection.jsx
  web/component/nag-degraded-performance.jsx
  web/component/nag-no-user.jsx
  web/component/nag-sunset.jsx
  web/component/openInAppLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Push list of visible nags to redux.
  flow-typed/notification.js
  ui/component/nag/index.js
  ui/component/nag/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/notifications.js
  ui/redux/reducers/notifications.js
  ui/redux/selectors/notifications.js
Due: prettier --write, eslint, flow focus-check --color always

Consider nag status when displaying ads
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_ads.scss
  ui/scss/component/_header.scss
Due: prettier --write, eslint, flow focus-check --color always

Make sticky ad transition between mobile & desktop seamless
  ui/component/app/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_ads.scss
Due: prettier --write, eslint, flow focus-check --color always

Update nag condition for gdpr
  ui/component/app/view.jsx
  web/component/adsSticky/index.js
  web/component/adsSticky/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix video ad when switching from mobile view to desktop
  ui/scss/component/_ads.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
