Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

fix random mac build failures
  package.json
  yarn.lock
Due: none

Restore spacing between Sort and Filter on mobile
  ui/scss/component/_claim-search.scss
Due: prettier --write

Fix floating player on auth page
  ui/scss/component/_main.scss
Due: prettier --write

Moved "Dismiss Pin" to the top
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Following Page: use horizontal livestream tiles for mobile
  ui/page/channelsFollowing/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

ClaimListDiscover: add subSection area
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix "Results boosted by LBC" wrapping unnecessarily
  ui/page/discover/view.jsx
  ui/scss/component/_main.scss
Due: prettier --write, eslint, flow focus-check --color always

Category livestreams: re-implement using subSection + use horizontal scroll in mobile
  static/app-strings.json
  ui/page/discover/livestreamSection.jsx
  ui/page/discover/view.jsx
  ui/scss/component/_livestream.scss
Due: prettier --write, eslint, flow focus-check --color always

Manage Subs page
  static/app-strings.json
  ui/component/router/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/constants/pages.js
  ui/page/channelsFollowing/view.jsx
  ui/page/channelsFollowingManage/index.js
  ui/page/channelsFollowingManage/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

claim_search: support ordering by 'name'
  ui/component/claimListDiscover/view.jsx
  ui/constants/claim_search.js
Due: prettier --write, eslint, flow focus-check --color always

Manage Subs: change from claim_search to batch-resolve
  ui/page/channelsFollowingManage/index.js
  ui/page/channelsFollowingManage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

DebouncedSearch: add inline option + use FormField
  ui/component/common/debounced-input.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix sidebar subs inefficiencies
  ui/component/app/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/constants/subscriptions.js
Due: prettier --write, eslint, flow focus-check --color always

Fix sub-count reducer incorrectly rejecting data
  extras/lbryinc/redux/actions/stats.js
  extras/lbryinc/redux/reducers/stats.js
Due: none

Small eslint warning fix.
  electron/index.js
Due: none

Add disk space functions for windows and mac.
  electron/index.js
  ui/util/diskspace.js
Due: prettier --write, eslint, flow focus-check --color always

update recys endpoints
  .env.defaults
Due: none

ScheduledStreams: don't apply horiz scroll in Medium screen
  ui/component/scheduledStreams/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

ScheduledStreams: force horizontal-swipe to tile-only
  ui/component/scheduledStreams/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Following Page: make the 2 buttons flow with less space used
  ui/page/channelsFollowing/view.jsx
  ui/scss/component/_main.scss
Due: prettier --write, eslint, flow focus-check --color always

try new recsys endpolnt
  .env.defaults
Due: none

Recommended section: add spinner while searching
  ui/component/recommendedContent/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

ClaimList: add default page-load indicator | Apply for Search and Following-Manage
  ui/component/claimList/view.jsx
  ui/page/channelsFollowingManage/view.jsx
  ui/page/search/view.jsx
  ui/scss/component/_spinner.scss
Due: prettier --write, eslint, flow focus-check --color always

Use locale/get response to suggest homepage and language switch (#839)
  .env.defaults
  .flowconfig
  config.js
  static/app-strings.json
  ui/component/app/view.jsx
  ui/component/common/nag.jsx
  ui/component/homepageSelector/view.jsx
  ui/component/nagLocaleSwitch/index.js
  ui/component/nagLocaleSwitch/view.jsx
  ui/constants/country_languages.js
  ui/constants/homepage_languages.js
  ui/constants/languages.js
  ui/constants/searchable_languages.js
  ui/constants/supported_languages.js
  ui/locale.js
  ui/modal/modalConfirm/index.js
  ui/modal/modalConfirm/view.jsx
  ui/page/discover/view.jsx
  ui/scss/component/_modal.scss
  ui/scss/component/nag.scss
Due: prettier --write, eslint, flow focus-check --color always

RecommendedContent: fix ad-words filtering (#1007)
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix OneTrust banner focus
  ui/scss/init/_gui.scss
Due: prettier --write

tus: try longer retry delays to maybe avoid lockups (#1012)
  web/setup/publish-v2.js
Due: none

Embedded images: serve via CDN for IP protection. (#1009)
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

update iframe type + sentry
  .sentryclirc
  ui/index.jsx
  web/src/html.js
Due: prettier --write, eslint, flow focus-check --color always

Improve logic for different scenarios (#1014)
  static/app-strings.json
  ui/component/nagLocaleSwitch/index.js
  ui/component/nagLocaleSwitch/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove deprecated migration
  ui/index.jsx
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

Switch unnecessary let to const
  ui/effects/use-interval.js
Due: prettier --write, eslint, flow focus-check --color always

Adjust logic to only run interval when video is playing.
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

When video is playing, save position intermittently
  ui/component/viewers/videoViewer/view.jsx
  ui/effects/use-interval.js
Due: prettier --write, eslint, flow focus-check --color always

Widen save interval
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Adjust logic to only run interval when video is playing."
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Rename variable to include value units
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Grab homepages from the content API (#1016)
  .env.defaults
  ui/constants/action_types.js
  ui/index.jsx
  ui/redux/actions/settings.js
  ui/redux/selectors/settings.js
  web/middleware/iframe-destroyer.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
