Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "flow focus-check --color always",
      "git add"
    ]
  }
}

Update en.json
  static/locales/en.json
Due: none

Update pl.json
  static/locales/pl.json
Due: none

Update id.json
  static/locales/id.json
Due: none

fix: only autoplay streamable files
  src/ui/component/fileViewerInitiator/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

disable user drag on links and images
  src/ui/scss/init/_gui.scss
Due: prettier --write

only stop video if you delete the one that's playing
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/modal/modalRemoveFile/index.js
  src/ui/modal/modalRemoveFile/view.jsx
  src/ui/redux/actions/file.js
  src/ui/util/use-persisted-state.js
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.35.0-rc.1
  package.json
Due: none

cleanup reactGA events
  src/ui/analytics.js
  src/ui/component/app/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  package.json
  src/ui/component/common/icon.jsx
  src/ui/component/fileDetails/view.jsx
  src/ui/component/fileProperties/index.js
  src/ui/redux/selectors/subscriptions.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_content.scss
  src/ui/scss/component/_file-render.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: delete button for blobs
  src/ui/component/fileActions/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

general player fixes
  package.json
  src/ui/analytics.js
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/modal/modalRemoveFile/view.jsx
  src/ui/redux/actions/file.js
  src/ui/scss/component/_content.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add analytics for version/email/reward eligibility
  package.json
  src/ui/analytics.js
  src/ui/component/app/view.jsx
  src/ui/component/userEmailNew/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add back file view analytics
  src/ui/analytics.js
  src/ui/component/fileViewer/index.js
  src/ui/component/fileViewer/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/util/use-previous.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: prefil publish links and required lbry-redux publish changes
  package.json
  src/ui/component/claimPreview/index.js
  src/ui/component/claimPreview/view.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/modal/modalAutoGenerateThumbnail/index.js
  src/ui/modal/modalConfirmThumbnailUpload/index.js
  src/ui/page/file/index.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

bump sdk
  package.json
Due: none

v0.35.0-rc.2
  package.json
Due: none

update lbry-redux
  package.json
  yarn.lock
Due: none

v0.35.0-rc.3
  package.json
Due: none

update windows certificate
  .travis.yml
Due: none

auto claim download rewards on file watch
  src/ui/component/fileDownloadLink/index.js
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/component/fileViewer/index.js
  src/ui/component/fileViewer/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.35.0-rc.4
  package.json
Due: none

v0.35.0
  package.json
Due: none

fix: thumbnail upload
  src/ui/modal/modalAutoGenerateThumbnail/index.js
  src/ui/modal/modalConfirmThumbnailUpload/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.35.1-rc.1
  package.json
Due: none

v0.35.1
  package.json
Due: none

do not show block button on own channels
  src/ui/component/blockButton/index.js
  src/ui/component/blockButton/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

console error instead of throwing so the app doesn't crash if it can't find the wrapper class... which... shouldn't(?) happen but it is
  src/ui/component/fileViewer/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Remove unused dependency jsmediatags
  package.json
  yarn.lock
Due: none

change redux for new settings
  src/ui/constants/settings.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

finish issue-1922
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
  src/ui/scss/all.scss
  src/ui/scss/component/_settings.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix css and darck mode const
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/scss/all.scss
  src/ui/scss/component/_settings.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/common/form-components/form-field-price.jsx
  src/ui/page/settings/view.jsx
  src/ui/scss/component/_form-field.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix names types
  src/ui/page/settings/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

update sdk to 0.39.1
  package.json
Due: none

don't start view file flow until costInfo exists
  src/ui/component/fileViewerInitiator/index.js
  src/ui/component/fileViewerInitiator/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.35.2-rc.1
  package.json
Due: none

recommit
  package.json
  src/ui/component/common/icon-custom.jsx
  src/ui/component/walletSecurityAndSync/index.js
  src/ui/component/walletSecurityAndSync/view.jsx
  src/ui/constants/action_types.js
  src/ui/constants/icons.js
  src/ui/constants/keychain.js
  src/ui/constants/modal_types.js
  src/ui/constants/settings.js
  src/ui/modal/modalPasswordUnsave/index.js
  src/ui/modal/modalPasswordUnsave/view.jsx
  src/ui/modal/modalRouter/view.jsx
  src/ui/modal/modalWalletDecrypt/index.js
  src/ui/modal/modalWalletDecrypt/view.jsx
  src/ui/modal/modalWalletEncrypt/index.js
  src/ui/modal/modalWalletEncrypt/view.jsx
  src/ui/modal/modalWalletUnlock/index.js
  src/ui/modal/modalWalletUnlock/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/reducers.js
  src/ui/redux/actions/app.js
  src/ui/redux/reducers/app.js
  src/ui/redux/reducers/settings.js
  src/ui/redux/selectors/app.js
  src/ui/util/saved-passwords.js
  webpack.base.config.js
Due: prettier --write, eslint --fix, flow focus-check --color always

update sdk to 0.39.2
  CHANGELOG.md
  package.json
Due: none

v0.35.2-rc.2
  package.json
Due: none
