Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "flow focus-check --color always",
      "git add"
    ]
  }
}

update changelog
  CHANGELOG.md
  package.json
Due: none

cleanup
  package.json
  src/ui/component/fileProperties/index.js
  src/ui/component/fileProperties/view.jsx
  src/ui/component/publishName/index.js
  src/ui/component/publishName/view.jsx
  src/ui/component/publishPrice/index.js
  src/ui/component/rewardTotal/view.jsx
  src/ui/component/tag/view.jsx
  src/ui/component/tagsSearch/view.jsx
  src/ui/component/videoDuration/index.js
  src/ui/component/videoDuration/view.jsx
  src/ui/page/account/view.jsx
  src/ui/page/file/view.jsx
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/init/_mixins.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix rebase
  src/ui/page/following/index.js
  src/ui/page/following/index.js~cleanup and add tags to publish page
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

general fixes
  src/ui/component/claimListDiscover/index.js
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/tag/view.jsx
  src/ui/page/discover/index.js
  src/ui/page/discover/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/component/menu-button.scss
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.1
  package.json
Due: none

v0.34.0-rc.2
  package.json
Due: none

fix: homepage sort persistance
  src/ui/component/claimListDiscover/view.jsx
  src/ui/util/use-persisted-state.js
Due: prettier --write, eslint --fix, flow focus-check --color always

limit tags to 1 for recommended claim previews
  src/ui/component/claimTags/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

add placeholders to claim previews
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/index.js~HEAD
  src/ui/component/claimPreview/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_placeholder.scss
  src/ui/store.js
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.3
  package.json
Due: none

add more languages on publish form - @ykris45
  src/ui/component/publishAdditionalOptions/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fixes two bugs on edit page \ channel selector was not being populated \ bid amount was not editable
  src/ui/component/publishName/index.js
  src/ui/redux/actions/publish.js
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup and add tags to publish page
  src/ui/component/button/view.jsx
  src/ui/page/following/index.js~HEAD
  src/ui/page/following/index.js~cleanup and add tags to publish page
  src/ui/page/subscriptions/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: claim list sorting
  src/ui/page/subscriptions/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: button color
  src/ui/component/button/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix yarn.lock
  static/locales/en.json
Due: none

first version of infinite scroll
  package.json
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
  src/ui/component/channelContent/view.jsx
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/index.js~HEAD
  src/ui/component/claimPreview/view.jsx
  src/ui/component/common/icon-custom.jsx
  src/ui/component/fileDetails/view.jsx
  src/ui/component/fileProperties/index.js
  src/ui/component/fileProperties/view.jsx
  src/ui/component/fileRender/view.jsx
  src/ui/component/tagsSearch/view.jsx
  src/ui/component/transactionListRecent/view.jsx
  src/ui/component/userEmail/view.jsx
  src/ui/constants/pages.js
  src/ui/page/account/view.jsx
  src/ui/page/discover/view.jsx
  src/ui/page/file/view.jsx
  src/ui/page/following/view.jsx
  src/ui/page/subscriptions/view.jsx
  src/ui/page/wallet/view.jsx
  src/ui/scss/all.scss
  src/ui/scss/component/_channel.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_file-properties.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_placeholder.scss
  src/ui/scss/component/menu-button.scss
  src/ui/scss/init/_mixins.scss
  static/index.html
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: sorting on 'library' page
  src/ui/component/claimList/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  package.json
Due: none

fix rebase
  src/ui/page/following/index.js
  src/ui/page/following/index.js~cleanup and add tags to publish page
Due: prettier --write, eslint --fix, flow focus-check --color always

limit tags to 1 for recommended claim previews
  src/ui/component/claimTags/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

respond to ux feedback
  .eslintrc.json
  src/ui/component/channelContent/view.jsx
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/common/icon-custom.jsx
  src/ui/component/common/icon.jsx
  src/ui/component/fileActions/view.jsx
  src/ui/component/fileProperties/view.jsx
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/component/header/view.jsx
  src/ui/component/router/view.jsx
  src/ui/component/searchOptions/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/socialShare/view.jsx
  src/ui/component/subscribeButton/view.jsx
  src/ui/constants/icons.js
  src/ui/page/channel/view.jsx
  src/ui/page/discover/view.jsx
  src/ui/page/fileListDownloaded/view.jsx
  src/ui/page/fileListPublished/view.jsx
  src/ui/page/following/view.jsx
  src/ui/page/library/index.js
  src/ui/page/library/view.jsx
  src/ui/page/subscriptions/view.jsx
  src/ui/page/tags/view.jsx
  src/ui/page/userHistory/index.js
  src/ui/page/userHistory/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/scss/component/_channel.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_search.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/init/_gui.scss
  src/ui/scss/init/_reset.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

general fixes
  src/ui/component/claimListDiscover/index.js
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/tag/view.jsx
  src/ui/page/discover/index.js
  src/ui/page/discover/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/component/menu-button.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

PR cleanup
  src/ui/component/rewardTotal/view.jsx
  src/ui/page/file/view.jsx
  src/ui/page/wallet/view.jsx
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_file-properties.scss
  src/ui/scss/component/_media.scss
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: wallet toast link
  src/ui/component/snackBar/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Replace copy button by using CopyableText for the lbryum path.
  src/ui/component/walletBackup/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

add pageSize prop to ClaimList
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  package.json
  static/locales/en.json
  yarn.lock
Due: none

Copy path, open, and backup buttons for wallet on Help page
  package.json
  src/ui/component/walletBackup/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

use inverse buttons for wallet backup
  src/ui/component/walletBackup/view.jsx
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

pauls dark mode commit
  src/ui/scss/component/_badge.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_expandable.scss
  src/ui/scss/component/_file-properties.scss
  src/ui/scss/component/_file-render.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_item-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_markdown-editor.scss
  src/ui/scss/component/_markdown-preview.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_modal.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_spinner.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/init/_gui.scss
  src/ui/scss/init/_mixins.scss
  static/locales/en.json
Due: prettier --write

Replaced raw values with variables
  src/ui/scss/component/_badge.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_expandable.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_spinner.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/init/_gui.scss
  src/ui/scss/init/_mixins.scss
  src/ui/scss/init/_vars.scss
  static/locales/en.json
Due: prettier --write
