Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

v0.52.7-alpha.test.107
  package.json
Due: none

test-107-gh-workflow
  .github/workflows/deploy.yml
Due: none

Uploads: show placeholder when loading
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix `Paginate` click area
  ui/scss/component/_pagination.scss
Due: prettier --write

Upgrade to yarn v3
  .github/workflows/deploy.yml
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

patch 5 (#1279)
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
  ui/scss/component/section.scss
  ui/scss/init/_gui.scss
Due: prettier --write

test without gatekeeper
  .github/workflows/deploy.yml
  electron-builder.json
Due: none

v0.52.7-alpha.test-gatekeeper.1
  package.json
Due: none

lbrynet106
  package.json
Due: none

v0.52.7-alpha.test-106.1
  package.json
Due: none

Update yarn to Berry Adding changelog
  CHANGELOG.md
Due: none

test with plist change
  build/entitlements.mac.plist
  electron-builder.json
  package.json
Due: none

v0.52.7-alpha.test-plist.1
  package.json
Due: none

Fix handle overflow
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
Due: prettier --write

v0.52.6-alpha.8
  package.json
Due: none

update mac plist
  build/entitlements.mac.plist
Due: none

fix duplicate plist key
  build/entitlements.mac.plist
Due: none

v0.52.6
  package.json
Due: none

Uploads: show placeholder when loading
  CHANGELOG.md
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix post-editor preview mode
  CHANGELOG.md
  ui/component/common/markdown-preview.jsx
  ui/scss/component/_embed-player.scss
Due: prettier --write, eslint, flow focus-check --color always

Exclude outbrain in certain pages
  ui/component/app/view.jsx
  ui/effects/use-ad-outbrain.js
Due: prettier --write, eslint, flow focus-check --color always

Fix fee estmation
  ui/component/publishBid/view.jsx
  ui/constants/claim.js
Due: prettier --write, eslint, flow focus-check --color always

Design patch 6 (#1285)
  ui/scss/component/_claim-list.scss
  ui/scss/component/_file-price.scss
  ui/scss/component/_modal.scss
  ui/scss/component/_videojs.scss
  ui/scss/init/_gui.scss
Due: prettier --write

Design patch 7 (#1286)
  ui/component/fileWatchLaterLink/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

Mini Player Fix (#1289)
  ui/scss/component/_content.scss
Due: prettier --write

Uploads Page: fix Repost tab when count is 0
  static/app-strings.json
  ui/component/claimList/view.jsx
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Watch Later: fix capitalization so we don't need to re-translate
  ui/component/fileWatchLaterLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update PWA manifest
  web/static/pwa/manifest.json
Due: none

Fix embedded file width on markdown page
  ui/scss/init/_gui.scss
Due: prettier --write

fix send tip default
  static/app-strings.json
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove abandoned claim from Uploads Page
  ui/redux/reducers/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Better non-clickable implementation
  ui/component/claimPreview/view.jsx
  ui/component/reportContent/view.jsx
  ui/component/settingsRow/view.jsx
  ui/component/walletSend/view.jsx
  ui/modal/modalBlockChannel/view.jsx
  ui/modal/modalHideRecommendation/view.jsx
  ui/page/listBlocked/view.jsx
  ui/scss/all.scss
  ui/scss/common/_non-clickable.scss
Due: prettier --write, eslint, flow focus-check --color always

Patch for outbrain visibility (e68bba1d)
  ui/effects/use-ad-outbrain.js
Due: prettier --write, eslint, flow focus-check --color always

Comments: don't show Expand button if no comments
  ui/component/commentsList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Crisper file thumbnails for mobile
  .env.defaults
  config.js
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix double `email_user/confirm` due to language render (patch)
  ui/page/signInVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

VerifyPage: don't enter Sign Up page on failure
  ui/page/signInVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
