Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Enabling corepack
  .github/workflows/deploy.yml
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
Due: none

Update documentation
  .gitignore
  README.md
Due: none

Update README.md
  README.md
Due: none

Update viewersById after fetching active livestreams
  ui/redux/reducers/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

Livestream tile/list: show viewer count if data is available
  ui/component/claimPreview/index.js
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/index.js
  ui/component/claimPreviewTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update app to use v2 homepage api
  ui/redux/actions/settings.js
  ui/redux/selectors/settings.js
  web/component/meme.jsx
Due: prettier --write, eslint, flow focus-check --color always

Homepage API v2: includes meme
  web/src/getHomepageJSON.js
  web/src/homepageApi.js
  web/src/html.js
  web/src/routes.js
Due: none

fix pagination styling
  static/app-strings.json
  ui/component/common/paginate.jsx
  ui/scss/component/_form-field.scss
  ui/scss/component/_pagination.scss
Due: prettier --write, eslint, flow focus-check --color always

v0.52.6-alpha.teststyles.3
  package.json
Due: none

workflow
  .github/workflows/deploy.yml
Due: none

v0.52.6-alpha.teststyles.1
  package.json
Due: none

fix hook
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.52.6-alpha.teststyles.2
  package.json
Due: none

style fixes
  ui/component/settingSystem/view.jsx
  ui/scss/component/_card.scss
  ui/scss/component/_main.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

wallet icon was bad
  ui/component/common/icon-custom.jsx
  ui/component/header/view.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

restore deploy script
  .github/workflows/deploy.yml
Due: none

fixes
  ui/component/claimSupportButton/view.jsx
  ui/component/shareButton/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_channel.scss
  ui/scss/component/_claim-list.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_header.scss
  ui/scss/component/_main.scss
  ui/scss/component/_status-bar.scss
Due: prettier --write, eslint, flow focus-check --color always

fix player close button
  ui/component/fileRenderFloating/view.jsx
  ui/scss/component/_content.scss
Due: prettier --write, eslint, flow focus-check --color always

modal inputs
  ui/scss/component/_modal.scss
Due: prettier --write

cleanup
  ui/component/blockList/view.jsx
  ui/component/channelForm/view.jsx
  ui/component/channelStakedIndicator/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/colorPicker/index.js
  ui/component/colorPicker/view.jsx
  ui/page/elements/index.js
  ui/page/elements/view.jsx
  ui/scss/component/_button.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_media.scss
  ui/scss/init/_base-theme.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
  ui/util/theme.js
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  ui/scss/component/_comments.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

i18n update
  static/app-strings.json
  ui/component/publishBid/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix staked indicator
  ui/scss/component/_channel.scss
  ui/scss/component/_header.scss
  ui/scss/themes/dark.scss
Due: prettier --write

fix profile menu button skel delay
  ui/component/header/view.jsx
  ui/component/headerProfileMenuButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix view-all-playlists hover
  ui/scss/component/_claim-list.scss
Due: prettier --write

fix overlay buttons on collection page
  ui/scss/component/_main.scss
  ui/scss/init/_gui.scss
Due: prettier --write

fix header buttons
  ui/scss/component/_header.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write

changelog
  CHANGELOG.md
Due: none

doCheckPublishNameAvailability: case-insensitive version
  static/app-strings.json
  ui/component/publishName/index.js
  ui/component/publishName/name-help-text.jsx
  ui/component/publishName/view.jsx
  ui/redux/actions/claims.js
  ui/redux/selectors/publish.js
Due: prettier --write, eslint, flow focus-check --color always

Fix hidden purchases through embeds
  ui/page/embedWrapper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Re-use existing string
  static/app-strings.json
  ui/component/publishName/name-help-text.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix name-availability-check for Reposts
  ui/redux/actions/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Rename file: use-last-visible-item => use-get-last-visible-slot
  ui/component/claimList/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/effects/use-get-last-visible-slot.js
Due: prettier --write, eslint, flow focus-check --color always

Generalize `useGetLastVisibleSlot`
  ui/component/claimList/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/effects/use-get-last-visible-slot.js
Due: prettier --write, eslint, flow focus-check --color always

Support callback method to inject items
  flow-typed/gui.js
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
