Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Strings update
  static/app-strings.json
Due: none

remove duplicate string
  static/app-strings.json
Due: none

remove duplicate strings
  static/app-strings.json
Due: none

switch back to 'slimed to death'
  static/app-strings.json
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

make youtube sync web only
  ui/component/userEmailNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

openItem is now openPath
  electron/index.js
Due: none

bump sdk to 0.83.0
  CHANGELOG.md
  package.json
Due: none

v0.48.1-rc.3
  package.json
Due: none

fix mobile comments on ios devices
  ui/scss/component/_comments.scss
Due: prettier --write

add reward rate + analytics link on channels page
  ui/component/claimList/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/creatorAnalytics/view.jsx
  ui/page/channels/view.jsx
  ui/page/creatorDashboard/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

add help link
  ui/page/channels/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

prevent clicking through help links
  ui/component/common/help-link.jsx
Due: prettier --write, eslint, flow focus-check --color always

robots.txt defaults to disallow
  static/robots.txt
  web/webpack.config.js
Due: none

Translate the footer.
  static/app-strings.json
  web/component/footer.jsx
Due: none

Support for multiple string context + "About" as initial example.
  static/app-strings.json
  ui/i18n.js
  ui/page/channel/view.jsx
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Str-context-split: "Support"
  static/app-strings.json
  ui/component/claimSupportButton/view.jsx
  ui/component/transactionListTable/internal/txo-list-item.jsx
  web/component/footer.jsx
Due: prettier --write, eslint, flow focus-check --color always

Str-context-split: "Post"
  static/app-strings.json
  ui/component/commentCreate/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Str-context-split: "Follow"
  static/app-strings.json
  ui/component/sideNavigation/view.jsx
  ui/component/subscribeButton/view.jsx
  ui/component/tagsSearch/view.jsx
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Str-context-split: "To" and "From"
  static/app-strings.json
  ui/component/walletSendTip/view.jsx
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Analytics string + rearrangement
  static/app-strings.json
Due: none

pass to
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

v0.48.1-rc.4
  package.json
Due: none

add spacing for ul/ol next to p elements
  ui/scss/init/_gui.scss
Due: prettier --write

v0.48.1-rc.5
  package.json
Due: none

v0.48.1
  package.json
Due: none

add new sort icons for new/best/controversial
  ui/component/claimListHeader/view.jsx
  ui/component/commentsList/view.jsx
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
