Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

set X-Lbry-Auth-Token for lbry.tv once email is verified
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: web build
  src/platforms/web/fs.js
  webpack.web.config.js
Due: prettier --write, eslint --fix, flow focus-check --color always

always populate auth token in redux
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

bump sdk
  package.json
Due: none

maint: electron builder update
  .travis.yml
  package.json
Due: none

maint: electron builder update (#2710)
  .travis.yml
  package.json
Due: none

fix table display issue #2712
  src/ui/scss/component/_markdown-preview.scss
Due: prettier --write

mature tag first to display
  src/ui/component/claimTags/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

add APP_ENV to prevent installing electron stuff on web
  package.json
  yarn.lock
Due: none

added Dockerfile
  Dockerfile
Due: none

add warning if running yarn with NODE_ENV=production
  package.json
Due: none

changes splash experience - disable spin button - startup status changes from tzarebczan
  src/ui/component/button/view.jsx
  src/ui/component/splash/index.js
  src/ui/component/splash/view.jsx
  src/ui/constants/settings.js
  src/ui/redux/reducers/settings.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_splash.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: don't show short statuses
  src/ui/component/splash/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/button/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_splash.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

add tip button component
  src/ui/component/tipButton/index.js
  src/ui/component/tipButton/view.jsx
  src/ui/page/channel/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

oh boy
  flow-typed/npm/mime_v2.x.x.js
  flow-typed/render-media.js
  package.json
  src/ui/component/claimPreview/index.js
  src/ui/component/claimPreview/view.jsx
  src/ui/component/common/loading-screen.jsx
  src/ui/component/fileDetails/view.jsx
  src/ui/component/fileDownloadLink/index.js
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/component/fileRender/index.js
  src/ui/component/fileRender/view.jsx
  src/ui/component/fileViewer/index.js
  src/ui/component/fileViewer/internal/play-button.jsx
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/component/hiddenNsfwClaims/index.js
  src/ui/component/selectThumbnail/view.jsx
  src/ui/component/viewers/audioViewer.jsx
  src/ui/component/viewers/audioViewer.module.scss
  src/ui/component/viewers/videoViewer.jsx
  src/ui/component/viewers/videoViewer/index.js
  src/ui/component/viewers/videoViewer/view.jsx
  src/ui/modal/modalAffirmPurchase/index.js
  src/ui/modal/modalRemoveFile/view.jsx
  src/ui/page/file/index.js
  src/ui/page/file/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/reducers.js
  src/ui/redux/actions/content.js
  src/ui/redux/actions/subscriptions.js
  src/ui/redux/reducers/app.js
  src/ui/redux/selectors/app.js
  src/ui/redux/selectors/content.js
  src/ui/redux/selectors/settings.js
  src/ui/scss/component/_content.scss
  src/ui/scss/init/_gui.scss
  src/ui/util/detect-typing.js
  src/ui/util/get-media-type.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/component/fileRender/view.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/component/viewers/audioViewer.jsx
  src/ui/component/viewers/audioViewer.module.scss
  src/ui/reducers.js
  src/ui/redux/actions/subscriptions.js
  src/ui/redux/reducers/app.js
Due: prettier --write, eslint --fix, flow focus-check --color always

create AppViewer for .lbry files
  package.json
  src/ui/component/fileActions/view.jsx
  src/ui/component/fileDownloadLink/index.js
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/component/fileRender/view.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/component/viewers/appViewer/index.js
  src/ui/component/viewers/appViewer/view.jsx
  src/ui/component/viewers/imageViewer.jsx
  src/ui/component/viewers/videoViewer/view.jsx
  src/ui/scss/component/_file-render.scss
  src/ui/scss/component/_media.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix paid content - thanks tom
  package.json
  src/ui/component/fileActions/view.jsx
  src/ui/component/fileViewer/index.js
  src/ui/modal/modalAffirmPurchase/index.js
  src/ui/page/file/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/content.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Improve env variable setting in the Dockefile
  Dockerfile
Due: none

floating player actually working
  package.json
  src/ui/component/app/index.js
  src/ui/component/app/view.jsx
  src/ui/component/button/view.jsx
  src/ui/component/common/icon-custom.jsx
  src/ui/component/errorBoundary/view.jsx
  src/ui/component/fileActions/view.jsx
  src/ui/component/fileRender/view.jsx
  src/ui/component/fileViewer/index.js
  src/ui/component/fileViewer/view.jsx
  src/ui/component/fileViewerInitiator/index.js
  src/ui/component/fileViewerInitiator/view.jsx
  src/ui/component/viewers/appViewer/view.jsx
  src/ui/component/viewers/codeViewer.jsx
  src/ui/component/viewers/documentViewer.jsx
  src/ui/component/viewers/docxViewer.jsx
  src/ui/component/viewers/pdfViewer.jsx
  src/ui/component/viewers/videoViewer/index.js
  src/ui/component/viewers/videoViewer/view.jsx
  src/ui/constants/icons.js
  src/ui/constants/settings.js
  src/ui/modal/modalAffirmPurchase/index.js
  src/ui/page/file/index.js
  src/ui/page/file/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/page/tags/view.jsx
  src/ui/redux/actions/content.js
  src/ui/redux/reducers/settings.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_content.scss
  src/ui/scss/component/_file-render.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/init/_vars.scss
  src/ui/store.js
  src/ui/util/use-persisted-state.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Add files via upload
  static/img/og.png
Due: none

Update OG image
  static/img/og.png
Due: none

more consistent floating close buttons
  package.json
  src/ui/component/fileViewer/view.jsx
  src/ui/scss/component/_content.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

don't call 'get' on web
  src/ui/component/fileViewerInitiator/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

fix: prefil publish links and required lbry-redux publish changes
  package.json
  src/ui/component/claimPreview/index.js
  src/ui/component/claimPreview/view.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/modal/modalAutoGenerateThumbnail/index.js
  src/ui/modal/modalConfirmThumbnailUpload/index.js
  src/ui/page/file/index.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add back file view analytics
  src/ui/analytics.js
  src/ui/component/fileViewer/index.js
  src/ui/component/fileViewer/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/util/use-previous.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: only autoplay streamable files
  src/ui/component/fileViewerInitiator/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

general player fixes
  package.json
  src/ui/analytics.js
  src/ui/component/fileDownloadLink/view.jsx
  src/ui/modal/modalRemoveFile/view.jsx
  src/ui/redux/actions/file.js
  src/ui/scss/component/_content.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.35.0-rc.1
  package.json
Due: none

added german language
  src/ui/redux/reducers/settings.js
  static/locales/ger.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fixed typo
  static/locales/ger.json
Due: none

prevents content on tags or channels sort if param empty
  src/ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

detect no channels or tags
  src/ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Update Indonesian Translation To The Newest Version
  static/locales/id.json
Due: none

format strings
  static/locales/id.json
Due: none

adds discover empty state when no channels followed
  src/ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
