Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

hide play button when paused on desktop
  ui/scss/component/_file-render.scss
Due: prettier --write

add wallet backup to help page
  static/app-strings.json
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update build script
  README.md
  package.json
Due: none

update formatting
  README.md
Due: none

don't remove list of tags/channels when navigating to discover page
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add creator analytics to mobile
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_yrbl.scss
Due: prettier --write, eslint, flow focus-check --color always

send a few metrics to lbrytv api
  ui/analytics.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix desktop login
  static/app-strings.json
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove old keytar references
  .travis.yml
  Dockerfile
  electron-builder.json
Due: none

fix reposts page when navigating directly by url
  ui/component/claimListDiscover/view.jsx
  ui/page/discover/index.js
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix #3884
  ui/page/discover/index.js
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update metrics url
  ui/analytics.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "update metrics url"
  ui/analytics.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

make transcoding work
  flow-typed/web-file.js
  package.json
  static/app-strings.json
  ui/component/publishFile/index.js
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
  ui/constants/action_types.js
  ui/page/settings/index.js
  ui/page/settings/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/settings.js
  ui/redux/reducers/publish.js
  ui/redux/reducers/settings.js
  ui/redux/selectors/settings.js
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

fix repostedUri being passed in as "null" which breaks discover pages
  ui/page/discover/index.js
Due: prettier --write, eslint, flow focus-check --color always

post ui metrics
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

get back on master branch for lbryinc
  lbrytv/webpack.config.js
  package.json
  ui/util/lbrytv.js
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

improve open in app link for existing LBRY users
  lbrytv/component/openInAppLink/index.js
  lbrytv/component/openInAppLink/view.jsx
  lbrytv/component/youtubeReferralWelcome/index.js
  lbrytv/component/youtubeReferralWelcome/view.jsx
  ui/component/app/view.jsx
  ui/component/openInAppLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

only fetch channel_list when sync returns new data
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

adds tip unlock modal to file page
  package.json
  static/app-strings.json
  ui/component/common/form-components/form-field.jsx
  ui/component/expandingContainer/index.js
  ui/component/expandingContainer/view.jsx
  ui/component/fileDetails/view.jsx
  ui/component/fileSubtitle/index.js
  ui/component/fileSubtitle/view.jsx
  ui/component/fileValues/index.js
  ui/component/fileValues/view.jsx
  ui/component/layoutWrapperFile/view.jsx
  ui/component/liquidateSupports/index.js
  ui/component/liquidateSupports/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalLiquidateSupports/index.js
  ui/modal/modalLiquidateSupports/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/scss/all.scss
  ui/scss/component/_table.scss
  ui/scss/component/expanding-details.scss
Due: prettier --write, eslint, flow focus-check --color always

i18n messages, handle error case max
  static/app-strings.json
  ui/component/liquidateSupports/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

copy copy
  static/app-strings.json
  ui/component/liquidateSupports/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update @lbry/components and tweak range styles
  package.json
  static/app-strings.json
  ui/component/liquidateSupports/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

only show content for tags on the homepage
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix download links on lbry.tv
  lbrytv/src/routes.js
  ui/component/fileViewerInitiator/view.jsx
  ui/util/lbrytv.js
Due: prettier --write, eslint, flow focus-check --color always

add back block on channel follow intro
  ui/component/userChannelFollowIntro/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add back play button on pause for embedded videos
  ui/scss/component/_file-render.scss
Due: prettier --write

show open in app nag always
  lbrytv/component/openInAppLink/view.jsx
Due: prettier --write, eslint

improve mobile nag style
  ui/component/common/nag.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/nag.scss
Due: prettier --write, eslint, flow focus-check --color always
