Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

fix other data collection message...
  web/component/nag-data-collection.jsx
Due: none

install_new domain parameter
  package.json
  ui/redux/actions/app.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix share link
  ui/component/claimPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update lbry-redux
  package.json
  yarn.lock
Due: none

Changelog update for Catalan support
  CHANGELOG.md
Due: none

Revert "fix channel revoke confirmation"
  static/app-strings.json
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix channel revoke confirmation
  static/app-strings.json
  ui/modal/modalRevokeClaim/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

force https thumbs or handle img src error
  ui/component/channelThumbnail/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Testing Changelog Button on help page
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add dash between app version and changelog link
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Form-field: Truncate the "read-only prefix" to 40% width so that the input field is always visible.
  ui/scss/component/_form-field.scss
Due: prettier --write

Form-field: Wrap the label/error message when it is too long.
  ui/scss/component/_form-field.scss
Due: prettier --write

v0.46.0-rc.12
  package.json
Due: none

Fix long comments without spaces not wrapping and pushing buttons to go off-screen.
  ui/scss/component/_comments.scss
Due: prettier --write

only delete origin header for sdk calls - leave everything else as is
  electron/index.js
  static/app-strings.json
Due: none

v0.46.0-rc.13
  package.json
Due: none

v0.46.0
  package.json
Due: none

fix typo
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

pass undefined instead of null so that default value can be used
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

fix download link on desktop
  static/app-strings.json
  ui/component/fileDownloadLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.46.1-rc.1
  package.json
Due: none

v0.46.1
  package.json
Due: none

Make strings from fileDetails translatable
  static/app-strings.json
  ui/component/fileDetails/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made strings from settingWalletServer translatable
  ui/component/settingWalletServer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removed space to sync with app-strings
  ui/component/privacyAgreement/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Made uniform display of text views
  static/app-strings.json
Due: none

Sync strings for 2 commits about data collection.
  static/app-strings.json
Due: none

Strings from MoonPay, tipping, and more.
  static/app-strings.json
Due: none

Change some Change Logs to Changelogs
  CHANGELOG.md
Due: none

Add string from recent commit
  static/app-strings.json
Due: none

Fix [ff0cc861] that broke regular word-wrap in comments.
  ui/scss/component/_comments.scss
Due: prettier --write

Fix dev base-url being used when generating the hover URL
  electron/createWindow.js
Due: none

Limit the Markdown Editor width in Edit (not New) Mode to prevent overflow.
  ui/scss/component/_comments.scss
Due: prettier --write

make sure email is verified before setting auth token header
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

make sure auth token header is set for already signed in users too
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

Fix translation issues in the Publish modal dialog.
  static/app-strings.json
  ui/modal/modalPublish/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Accumulated string updates.
  static/app-strings.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
