Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update thumbnail upload statuses constant
  package.json
  src/renderer/component/selectThumbnail/view.jsx
  src/renderer/redux/actions/publish.js
  src/renderer/redux/reducers/publish.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: update app to 0.22.0-rc.11
  package.json
Due: none

bump lbry-redux
  package.json
Due: none

fix typo
  src/renderer/component/publishForm/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

send lbry_id for user me call
  src/renderer/lbryio.js
Due: prettier --write, eslint --fix

Design Bug in light theme
  static/themes/light.css
Due: none

autoplay toggle wip
  package.json
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/_vars.scss
  src/renderer/scss/all.scss
  src/renderer/scss/component/_toggle.scss
  src/renderer/scss/component/_tooltip.scss
  yarn.lock
Due: prettier --write, eslint --fix

fix: show tip/speech links on videos
  src/renderer/page/file/view.jsx
Due: prettier --write, eslint --fix

fix no thumbnail style on search page
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_content.scss
Due: prettier --write

add toggle style for autoplay
  package.json
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/_vars.scss
  src/renderer/scss/all.scss
  src/renderer/scss/component/_toggle.scss
  src/renderer/scss/component/_tooltip.scss
  yarn.lock
Due: prettier --write, eslint --fix

add toggle style for autoplay
  package.json
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/component/common/tooltip.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/_vars.scss
  src/renderer/scss/all.scss
  src/renderer/scss/component/_toggle.scss
  src/renderer/scss/component/_tooltip.scss
  yarn.lock
Due: prettier --write, eslint --fix

change prop name to describe where it should be used, not how it looks
  src/renderer/component/common/tooltip.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/component/_tooltip.scss
Due: prettier --write, eslint --fix

Fix pending publishes This fixes an issue where claim_list_mine is called even after a claim is confirmed.
  src/renderer/redux/actions/publish.js
Due: prettier --write, eslint --fix

chore: update app to 0.22.0-rc.12
  package.json
Due: none

added obfuscation of NSFW based on setting in app for search page.
  src/renderer/component/fileTile/index.js
  src/renderer/component/fileTile/view.jsx
Due: prettier --write, eslint --fix

claim first reward on phone verification
  src/renderer/redux/actions/user.js
Due: prettier --write, eslint --fix

removed direct call to doLoadVideo for autoplay handling. This is already being called in the play. No reason to call it twice.
  src/renderer/component/video/index.js
  src/renderer/component/video/view.jsx
Due: prettier --write, eslint --fix

fixed isPlayable to only play for video or audio.
  src/renderer/page/file/view.jsx
Due: prettier --write, eslint --fix

Broken contact link fix
  README.md
Due: none

Revert "claim first reward on phone verification"
  src/renderer/redux/actions/user.js
Due: prettier --write, eslint --fix

Open folder button for backp
  src/renderer/page/backup/view.jsx
Due: prettier --write, eslint --fix

added lbry_id to install/new api call.
  src/renderer/redux/actions/user.js
Due: prettier --write, eslint --fix

fix hover color on balance label
  src/renderer/scss/component/_button.scss
Due: prettier --write

handle displaying content on larger screens better
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_button.scss
  src/renderer/scss/component/_card.scss
Due: prettier --write

fix aspect ratio on search page and increase height
  src/renderer/scss/_vars.scss
Due: prettier --write

change large breakpoint size
  src/renderer/scss/_vars.scss
Due: prettier --write

change max width to 1000px
  src/renderer/scss/_vars.scss
Due: prettier --write

decrease card text size
  src/renderer/scss/component/_card.scss
Due: prettier --write

Revert "fixed isPlayable to only play for video or audio."
  src/renderer/page/file/view.jsx
Due: prettier --write, eslint --fix

round down so we don't say we have more rewards than available
  src/renderer/modal/modalCreditIntro/view.jsx
Due: prettier --write, eslint --fix

bump lbry-redux
  package.json
  yarn.lock
Due: none

Dont show black screen when video is moved from an overlayed screen to normal.
  src/renderer/component/video/index.js
  src/renderer/component/video/internal/player.jsx
  src/renderer/component/video/view.jsx
  src/renderer/component/videoOverlay/view.jsx
  src/renderer/page/file/index.js
  src/renderer/page/file/view.jsx
  src/renderer/page/show/index.js
  src/renderer/page/show/view.jsx
  src/renderer/scss/component/_overlay.scss
Due: prettier --write, eslint --fix

Fix phone verification + claim first reward
  src/renderer/redux/actions/user.js
  src/renderer/redux/reducers/user.js
Due: prettier --write, eslint --fix

add old change log entries
  CHANGELOG.md
Due: none

change log additions/cleanup
  CHANGELOG.md
Due: none

cleanup
  CHANGELOG.md
Due: none

fix duplicate dark mode
  CHANGELOG.md
Due: none

Fix Linux upgrade path And show manual install message
  CHANGELOG.md
  src/renderer/modal/modalDownloading/index.js
  src/renderer/modal/modalDownloading/view.jsx
Due: prettier --write, eslint --fix

bring back the tip placeholder
  src/renderer/component/walletSendTip/view.jsx
Due: prettier --write, eslint --fix

notes
  README.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
