Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

throttle fetchFeaturedUris
  src/renderer/page/discover/view.jsx
Due: prettier --write, eslint --fix

update tip placeholder
  src/renderer/component/walletSendTip/view.jsx
Due: prettier --write, eslint --fix

chore: bump RC, daemon and redux
  package.json
Due: none

fix: weird media query behavior with overlapping rules
  src/renderer/scss/_vars.scss
Due: prettier --write

fix linux path
  src/renderer/redux/selectors/app.js
Due: prettier --write, eslint --fix

Autoupgrade fixes
  src/renderer/index.js
  src/renderer/modal/modalAutoUpdateConfirm/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

pending publishes magic
  src/renderer/redux/selectors/publish.js
Due: prettier --write, eslint --fix

simplify autocomplete ux
  src/renderer/component/common/icon.jsx
  src/renderer/component/wunderbar/view.jsx
  src/renderer/scss/component/_search.scss
Due: prettier --write, eslint --fix

fix: email verify modal button placement
  src/renderer/component/userEmailVerify/view.jsx
  src/renderer/modal/modalEmailCollection/view.jsx
Due: prettier --write, eslint --fix

update card title size/spacing
  src/renderer/scss/component/_card.scss
Due: prettier --write

improve file page ux
  src/renderer/component/common/tooltip.jsx
  src/renderer/component/fileActions/view.jsx
  src/renderer/component/fileDownloadLink/view.jsx
  src/renderer/component/wunderbar/index.js
  src/renderer/page/file/view.jsx
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_file-download.scss
  src/renderer/scss/component/_tooltip.scss
Due: prettier --write, eslint --fix

auto margin for main container
  src/renderer/scss/_gui.scss
Due: prettier --write

move price badge/icons to right edge on file page
  src/renderer/scss/component/_card.scss
Due: prettier --write

bump search results to 30 and remove autosearch
  src/renderer/component/fileListSearch/index.js
  src/renderer/component/fileListSearch/view.jsx
  src/renderer/component/wunderbar/index.js
  src/renderer/page/search/index.js
  src/renderer/page/search/view.jsx
Due: prettier --write, eslint --fix

set 1hr interval on fetchFeaturedUris
  src/renderer/page/discover/view.jsx
Due: prettier --write, eslint --fix

fix: fetch subscriptions if there are no claims loaded
  src/renderer/page/subscriptions/view.jsx
Due: prettier --write, eslint --fix

show edits as pending
  src/renderer/component/fileCard/view.jsx
  src/renderer/redux/actions/publish.js
  src/renderer/redux/reducers/publish.js
  src/renderer/redux/selectors/publish.js
Due: prettier --write, eslint --fix

fix card spacing
  src/renderer/component/shapeShift/internal/active-shift.jsx
  src/renderer/component/walletAddress/view.jsx
Due: prettier --write, eslint --fix

remove un-needed check
  src/renderer/component/common/icon.jsx
Due: prettier --write, eslint --fix

fix: stick autocomplete
  src/renderer/component/wunderbar/internal/autocomplete.jsx
  src/renderer/component/wunderbar/view.jsx
  src/renderer/scss/component/_search.scss
Due: prettier --write, eslint --fix

block pointer events of disabled cards #1456
  src/renderer/scss/component/_card.scss
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add icons for external-links
  src/renderer/component/externalLink/view.jsx
  src/renderer/constants/icons.js
Due: prettier --write, eslint --fix

improve disabled form-field style
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/scss/component/_form-field.scss
Due: prettier --write, eslint --fix

force highlight update of pagination
  CHANGELOG.md
  src/renderer/page/channel/view.jsx
Due: prettier --write, eslint --fix

fix pagination hover cursor
  src/renderer/scss/component/_pagination.scss
Due: prettier --write

prevent interaction while file / folder dialog is open
  CHANGELOG.md
  src/renderer/component/common/file-exporter.jsx
  src/renderer/component/common/file-selector.jsx
Due: prettier --write, eslint --fix

tidy up
  src/renderer/component/common/file-exporter.jsx
Due: prettier --write, eslint --fix

fixed isPlayable to only play for video or audio.
  src/renderer/component/fileListSearch/index.js
  src/renderer/component/fileListSearch/view.jsx
  src/renderer/component/wunderbar/index.js
  src/renderer/component/wunderbar/view.jsx
  src/renderer/constants/settings.js
  src/renderer/page/settings/index.js
  src/renderer/page/settings/view.jsx
  src/renderer/redux/reducers/settings.js
Due: prettier --write, eslint --fix

moved search settings to the search page.
  src/renderer/page/search/index.js
  src/renderer/page/search/view.jsx
  src/renderer/page/settings/index.js
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

set default search results to 50
  src/renderer/component/fileListSearch/index.js
  src/renderer/page/search/view.jsx
  src/renderer/redux/reducers/settings.js
Due: prettier --write, eslint --fix

use query from navigation path instead of active search query for search
  src/renderer/page/search/index.js
Due: prettier --write, eslint --fix

fix conflicts
  CHANGELOG.md
  src/renderer/component/common/file-exporter.jsx
  src/renderer/component/common/file-selector.jsx
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/component/externalLink/view.jsx
  src/renderer/component/fileListSearch/view.jsx
  src/renderer/component/wunderbar/index.js
  src/renderer/component/wunderbar/view.jsx
  src/renderer/constants/icons.js
  src/renderer/constants/settings.js
  src/renderer/page/channel/view.jsx
  src/renderer/page/search/index.js
  src/renderer/page/search/view.jsx
  src/renderer/page/settings/index.js
  src/renderer/page/settings/view.jsx
  src/renderer/redux/reducers/settings.js
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/component/_pagination.scss
Due: prettier --write, eslint --fix

#1668 - Update "Community Top Bids" info
  src/renderer/component/categoryList/view.jsx
  src/renderer/scss/component/_card.scss
Due: prettier --write, eslint --fix

chore: bump daemon
  package.json
  src/renderer/component/categoryList/view.jsx
Due: prettier --write, eslint --fix

chore: bump RC
  package.json
Due: none

chore: bump daemon proper
  package.json
Due: none

chore: bump to latest RC + daemon
  package.json
Due: none

Spell Checker CSS Style Changes
  src/renderer/scss/component/_markdown-editor.scss
Due: prettier --write

Description Correction For Community Top Bids Tooltip.
  src/renderer/component/categoryList/view.jsx
Due: prettier --write, eslint --fix
