Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "flow focus-check --color always",
      "git add"
    ]
  }
}

update lbry-redux
  package.json
  yarn.lock
Due: none

remove doGetThemes
  src/ui/component/header/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.4
  package.json
Due: none

fix translation string
  src/ui/component/publishFormErrors/view.jsx
  src/ui/component/publishName/view.jsx
  src/ui/component/selectChannel/view.jsx
  src/ui/component/userFirstChannel/view.jsx
  src/ui/constants/claim.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

css cleanup
  src/ui/component/publishFile/view.jsx
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.2
  package.json
Due: none

cleanup
  package.json
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/inviteList/view.jsx
  src/ui/component/publishFile/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/syncPassword/view.jsx
  src/ui/component/tagsSearch/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_button.scss
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.5
  package.json
Due: none

css
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
Due: prettier --write

fix: typo
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write

dark mode love plus other fixes
  package.json
  src/ui/component/claimPreview/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/userSignIn/index.js
  src/ui/component/userSignIn/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_icon.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/init/_vars.scss
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: deal with youtube channels that are queued to sync but haven't started yet
  src/ui/component/header/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/youtubeTransferStatus/view.jsx
  src/ui/component/youtubeTransferWelcome/index.js
  src/ui/component/youtubeTransferWelcome/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.3
  package.json
Due: none

fix: stop syncing for existing users with balances
  package.json
  src/ui/redux/actions/app.js
  src/ui/store.js
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "remove doGetThemes"
  src/ui/component/header/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "v0.36.0-rc.5"
  package.json
Due: none

Revert "v0.36.0-rc.3"
  package.json
Due: none

Revert "v0.36.0-rc.4"
  package.json
Due: none

Revert "moar cleanup"
  src/ui/component/common/help-link.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/walletBalance/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/page/file/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_icon.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "v0.36.0-rc.2"
  package.json
Due: none

Revert "fix: typo"
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write

Revert "fix translation string"
  src/ui/component/publishFormErrors/view.jsx
  src/ui/component/publishName/view.jsx
  src/ui/component/selectChannel/view.jsx
  src/ui/component/userFirstChannel/view.jsx
  src/ui/constants/claim.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

moar cleanup
  src/ui/component/common/help-link.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/walletBalance/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/page/file/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_icon.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "css cleanup"
  src/ui/component/publishFile/view.jsx
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "css"
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
Due: prettier --write

Revert "fix: stop syncing for existing users with balances"
  package.json
  src/ui/redux/actions/app.js
  src/ui/store.js
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "cleanup"
  package.json
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/inviteList/view.jsx
  src/ui/component/publishFile/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/syncPassword/view.jsx
  src/ui/component/tagsSearch/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_button.scss
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "dark mode love plus other fixes"
  package.json
  src/ui/component/claimPreview/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/userSignIn/index.js
  src/ui/component/userSignIn/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_icon.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/init/_vars.scss
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fixes channel edit cancel #2961
  src/ui/component/channelEdit/view.jsx
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

test to see if it fixes infinite resolve
  src/ui/page/show/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

stores and recalls volume
  src/ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "fix: only clear store on web when signing out"
  src/ui/redux/actions/app.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "fix: deal with youtube channels that are queued to sync but haven't started yet"
  src/ui/component/header/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/youtubeTransferStatus/view.jsx
  src/ui/component/youtubeTransferWelcome/index.js
  src/ui/component/youtubeTransferWelcome/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

move languages out of redux
  src/ui/component/settingLanguage/index.js
  src/ui/component/settingLanguage/view.jsx
  src/ui/redux/reducers/settings.js
  src/ui/redux/selectors/settings.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

prevent remounting
  src/ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

?
  package.json
Due: none

update lbry-redux/lbryinc
  package.json
  static/app-strings.json
  yarn.lock
Due: none

v0.36.0-rc.6
  package.json
Due: none
