Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

v0.26.0-rc.1
  package.json
Due: none

update deps
  package.json
  yarn.lock
Due: none

update deps
  package.json
Due: none

Add GitHub pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

test
  package.json
  yarn.lock
Due: none

update
  package.json
  yarn.lock
Due: none

Add GitHub pull request template (#2069)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

remove async/await code
  src/renderer/redux/actions/subscriptions.js
  webpack.renderer.additions.js
Due: prettier --write, eslint --fix

fix card subtitle spacing
  src/renderer/scss/component/_card.scss
Due: prettier --write

Revert "Improve type checking for card verify"
  src/renderer/component/cardVerify/view.jsx
Due: prettier --write, eslint --fix

Revert "Improve type checking for card verify" (#2074)
  src/renderer/component/cardVerify/view.jsx
Due: prettier --write, eslint --fix

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix to open folder containing the log file rather than roaming folder
  src/renderer/page/help/view.jsx
Due: prettier --write, eslint --fix

Added a Heading
  README.md
Due: none

Updating changelog for fix to Open Log Folder button
  CHANGELOG.md
Due: none

Fixing changelog formatting
  CHANGELOG.md
Due: none

fix linting for button component
  src/renderer/component/button/index.js
Due: prettier --write, eslint --fix

fix linting for channelTitle component
  src/renderer/component/channelTile/index.js
Due: prettier --write, eslint --fix

fix linting for credit-amount
  src/renderer/component/common/credit-amount.jsx
Due: prettier --write, eslint --fix

fix linting for dateTime component
  src/renderer/component/dateTime/index.js
Due: prettier --write, eslint --fix

fix linting for externalLink component
  src/renderer/component/externalLink/index.js
Due: prettier --write, eslint --fix

fix linting for fileAction component
  src/renderer/component/fileActions/index.js
Due: prettier --write, eslint --fix

fix linting for fileDetail component
  src/renderer/component/fileDetails/index.js
Due: prettier --write, eslint --fix

fix linting for filePrice component
  src/renderer/component/filePrice/index.js
Due: prettier --write, eslint --fix

fix linting for nsfw overlay component
  src/renderer/component/nsfwOverlay/index.js
Due: prettier --write, eslint --fix

fix linting for router component
  src/renderer/component/router/index.js
Due: prettier --write, eslint --fix

fix linting for snackBar component
  src/renderer/component/snackBar/index.js
Due: prettier --write, eslint --fix

fix linting for spinner component
  src/renderer/component/spinner/index.js
Due: prettier --write, eslint --fix

fix linting for transactionlistrecent component
  src/renderer/component/transactionListRecent/index.js
Due: prettier --write, eslint --fix

fix linting for uriIndicator component
  src/renderer/component/uriIndicator/index.js
Due: prettier --write, eslint --fix

fix linting for walletAddress component
  src/renderer/component/walletAddress/index.js
Due: prettier --write, eslint --fix

fix linting for walletBalance component
  src/renderer/component/walletBalance/index.js
Due: prettier --write, eslint --fix

fix linting for walletSend component
  src/renderer/component/walletSend/index.js
Due: prettier --write, eslint --fix

add subscribed icon to files on homepage
  .eslintrc.json
  src/renderer/component/categoryList/view.jsx
  src/renderer/component/common/tooltip.jsx
  src/renderer/scss/component/_nav.scss
Due: prettier --write, eslint --fix

fix subscribe uri on channel pages
  src/renderer/page/channel/view.jsx
  src/renderer/redux/actions/subscriptions.js
Due: prettier --write, eslint --fix

use string for channel bid amount
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
