Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.9
  package.json
Due: none

cleanup
  src/ui/component/channelContent/view.jsx
  src/ui/component/userEmailVerify/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/scss/component/_main.scss
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/app/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/component/userEmail/view.jsx
  src/ui/component/userEmailResetButton/index.js
  src/ui/component/userEmailResetButton/view.jsx
  src/ui/component/userEmailVerify/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: bugs
  package.json
  src/ui/component/channelContent/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/page/channel/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: channel navigation between pages
  src/ui/component/channelContent/index.js
Due: prettier --write, eslint --fix, flow focus-check --color always

update lbry-redux
  package.json
  src/ui/component/channelContent/index.js
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add scroll selector
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/redux/reducers/app.js
  src/ui/redux/selectors/app.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix lbry/component style overrides in forms
  src/ui/scss/component/_form-field.scss
  static/locales/en.json
Due: prettier --write

fix: bugs
  src/ui/component/channelContent/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/page/channel/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

restore that shit
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_main.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/channelContent/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/scss/component/_main.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/app/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.12
  package.json
Due: none

update channel links on file page
  .eslintrc.json
  src/ui/component/claimPreview/view.jsx
  src/ui/component/recommendedContent/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/page/file/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_navigation.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  yarn.lock
Due: prettier --write

restore that shit
  src/ui/component/app/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.13
  package.json
Due: none

fix typo
  src/ui/component/splash/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

this got out of hand
  package.json
  src/ui/component/channelContent/view.jsx
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/comment/view.jsx
  src/ui/component/common/icon-custom.jsx
  src/ui/component/hiddenNsfwClaims/view.jsx
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/walletBalance/balance-background.png
  src/ui/component/walletSend/view.jsx
  src/ui/index.jsx
  src/ui/page/discover/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/redux/actions/publish.js
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_comments.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_table.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/component/menu-button.scss
  src/ui/scss/component/tabs.scss
  src/ui/scss/init/_vars.scss
  src/ui/store.js
  static/locales/en.json
  static/locales/id.json
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.14
  package.json
Due: none

feat: experimental support option And some other small cleanups. Added trending FAQ to customize page.
  src/ui/component/rewardSummary/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/walletSendTip/index.js
  src/ui/component/walletSendTip/view.jsx
  src/ui/constants/settings.js
  src/ui/modal/modalRevokeClaim/view.jsx
  src/ui/modal/modalSendTip/view.jsx
  src/ui/page/file/index.js
  src/ui/page/file/view.jsx
  src/ui/page/rewards/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/reducers/settings.js
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

update language
  package.json
  src/ui/modal/modalSendTip/view.jsx
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

restore that shit
  src/ui/component/app/view.jsx
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
Due: prettier --write

this got out of hand
  package.json
  src/ui/component/channelContent/view.jsx
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/comment/view.jsx
  src/ui/component/common/icon-custom.jsx
  src/ui/component/hiddenNsfwClaims/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/walletBalance/balance-background.png
  src/ui/component/walletSend/view.jsx
  src/ui/index.jsx
  src/ui/page/discover/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/redux/actions/publish.js
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_comments.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_table.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/component/menu-button.scss
  src/ui/scss/component/tabs.scss
  src/ui/scss/init/_vars.scss
  src/ui/store.js
  static/locales/id.json
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

add rewards to account drop down
  src/ui/component/header/view.jsx
  src/ui/scss/component/menu-button.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

final cleanup I know theres bugs but ship it
  package.json
  src/ui/analytics.js
  src/ui/component/walletSendTip/view.jsx
  src/ui/index.jsx
  src/ui/modal/modalError/view.jsx
  src/ui/modal/modalWalletEncrypt/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_media.scss
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

i lied
  src/ui/component/socialShare/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
