Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

FileReactions: make it robust against external DOM manipulation (#1772)
  ui/component/fileReactions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Workaround for markdown crash with Google Translate (#1773)
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

tus: restore higher chunk size (10MB -> 25MB) (#1774)
  web/setup/publish-v2.js
Due: none

PublishDate: make widget follow the 24h format setting (#1776)
  ui/component/publishReleaseDate/index.js
  ui/component/publishReleaseDate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump videojs version (#1775)
  package.json
  yarn.lock
Due: none

test OG image card with smaller
  .env.defaults
Due: none

revert to 1280x720
  .env.defaults
Due: none

add new comment icon class
  ui/component/common/form-components/form-field.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

tus: don't allow 'notify' to be sent again (#1778)
  static/app-strings.json
  ui/component/webUploadList/internal/web-upload-item.jsx
  ui/redux/reducers/publish.js
  web/setup/publish-v2.js
Due: prettier --write, eslint, flow focus-check --color always

Make timestamp in mini player invisible on mobile
  ui/scss/component/_content.scss
Due: prettier --write

use card endpoint for previews
  .env.defaults
Due: none

`PremiumBadge`: retrieve membership db internally instead of from parent (#1764)
  ui/component/channelSelector/index.js
  ui/component/channelSelector/view.jsx
  ui/component/channelThumbnail/index.js
  ui/component/channelThumbnail/view.jsx
  ui/component/comment/view.jsx
  ui/component/livestreamComment/view.jsx
  ui/component/premiumBadge/index.js
  ui/component/premiumBadge/view.jsx
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/view.jsx
  ui/component/textareaSuggestionsItem/index.js
  ui/component/textareaSuggestionsItem/view.jsx
  ui/component/uriIndicator/index.js
  ui/component/uriIndicator/view.jsx
  ui/component/wunderbarSuggestion/index.js
  ui/component/wunderbarSuggestion/view.jsx
  ui/page/channel/index.js
  ui/page/channel/view.jsx
  ui/page/odyseeMembership/view.jsx
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

rm modal youtube welcome
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalYoutubeWelcome/index.js
  ui/modal/modalYoutubeWelcome/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

prune some isAuthenticated
  ui/component/settingSystem/index.js
  ui/component/sideNavigation/view.jsx
  ui/page/discover/index.js
  ui/page/discover/view.jsx
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/page/invite/index.js
  ui/page/invite/view.jsx
  ui/page/invited/index.js
  ui/page/invited/view.jsx
  ui/page/search/index.js
  ui/page/search/view.jsx
  ui/page/tagsFollowing/index.js
  ui/util/buildHomepage.js
Due: prettier --write, eslint, flow focus-check --color always

remove invite components
  ui/component/fileDescription/index.js
  ui/component/fileDescription/view.jsx
  ui/component/fileValues/index.js
  ui/component/fileValues/view.jsx
  ui/component/inviteList/index.js
  ui/component/inviteList/view.jsx
  ui/component/inviteNew/index.js
  ui/component/inviteNew/view.jsx
  ui/component/invited/index.js
  ui/component/invited/view.jsx
  ui/component/settingAccount/view.jsx
  ui/redux/selectors/user.js
Due: prettier --write, eslint, flow focus-check --color always

remove reward/verify components
  static/app-strings.json
  ui/component/rewardAuthIntro/index.js
  ui/component/rewardAuthIntro/view.jsx
  ui/component/rewardLink/index.js
  ui/component/rewardLink/view.jsx
  ui/component/rewardListClaimed/index.js
  ui/component/rewardListClaimed/view.jsx
  ui/component/rewardSummary/index.js
  ui/component/rewardSummary/view.jsx
  ui/component/rewardTile/index.js
  ui/component/rewardTile/view.jsx
  ui/component/rewardTotal/index.js
  ui/component/rewardTotal/total-background.png
  ui/component/rewardTotal/view.jsx
  ui/component/router/view.jsx
  ui/component/userPhoneNew/index.js
  ui/component/userPhoneNew/view.jsx
  ui/component/userPhoneVerify/index.js
  ui/component/userPhoneVerify/view.jsx
  ui/component/userVerify/index.js
  ui/component/userVerify/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalConfirmAge/index.js
  ui/modal/modalConfirmAge/view.jsx
  ui/modal/modalPhoneCollection/index.js
  ui/modal/modalPhoneCollection/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/page/fourOhFour/index.js
  ui/page/fourOhFour/view.jsx
  ui/page/help/view.jsx
  ui/page/rewards/index.js
  ui/page/rewards/view.jsx
  ui/page/rewardsVerify/index.js
  ui/page/rewardsVerify/view.jsx
  ui/page/youtubeSync/index.js
  ui/page/youtubeSync/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

more odysee feature cleanup
  ui/component/header/index.js
  ui/component/headerMenuButtons/index.js
  ui/component/headerMenuButtons/view.jsx
  ui/component/router/view.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/component/welcomeSplash/index.js
  ui/component/welcomeSplash/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRouter/view.jsx
  ui/modal/modalSetReferrer/index.js
  ui/modal/modalSetReferrer/view.jsx
  ui/page/home/view.jsx
  ui/page/settings/index.js
  ui/page/settings/view.jsx
  ui/redux/actions/rewards.js
  ui/redux/actions/user.js
  ui/redux/selectors/user.js
Due: prettier --write, eslint, flow focus-check --color always

Part 1 (#1789)
  ui/component/youtubeTransferStatus/view.jsx
  ui/scss/component/_ads.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_livestream-chat.scss
  ui/scss/component/_main.scss
  ui/scss/component/_wunderbar.scss
  ui/scss/component/nag.scss
  ui/scss/component/section.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Remove 'many_downloads' auto-claim (let user manually claim) (#1795)
  ui/redux/actions/rewards.js
Due: prettier --write, eslint, flow focus-check --color always

Bump weekly-watch auto claim interval (#1794)
  ui/redux/selectors/rewards.js
Due: prettier --write, eslint, flow focus-check --color always

Fix notification target for some types (#1790)
  ui/component/headerNotificationButton/view.jsx
  ui/component/notification/helpers/target.jsx
  ui/component/notification/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

New version nudge (#1793)
  .env.defaults
  config.js
  ui/index.jsx
  ui/redux/actions/app.js
  web/src/minVersion.js
  web/src/routes.js
Due: prettier --write, eslint, flow focus-check --color always

Add "Hide Repost" button in channel page (#1796)
  ui/component/channelContent/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "add new comment icon class"
  ui/component/common/form-components/form-field.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix Livestream Popout Chat not refreshing when closed (#1797)
  ui/component/livestreamChatLayout/livestream-menu.jsx
  ui/component/livestreamChatLayout/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

created and corrected the icon class
  ui/component/common/form-components/form-field.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Remove 'now' in the ad
  ui/component/premiumPlusTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Improve ~more~ comment viewing operation (#1798)
  ui/component/comment/view.jsx
  ui/component/common/expandable.jsx
  ui/component/expandable/index.js
  ui/component/expandable/view.jsx
  ui/effects/use-on-resize.js
  ui/scss/component/_expandable.scss
Due: prettier --write, eslint, flow focus-check --color always

(patch) Add "Hide Repost" button in channel page (#1796)
  ui/component/channelContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.53.5-alpha.test7495a3
  .yarn/versions/145a6c62.yml
  package.json
Due: none

lint
  electron/index.js
Due: none

appstrings conflict temp
  static/app-strings.json
Due: none

v0.53.5-alpha.test7495b3
  package.json
Due: none

temp cache bust for CDN issue
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Prevent .deb packages from being opened with archive manager.
  electron/index.js
  package.json
  static/app-strings.json
  ui/constants/action_types.js
  ui/index.jsx
  ui/modal/modalDownloading/index.js
  ui/modal/modalDownloading/view.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Allow to properly cancel download upgrade and prevent multiple downloads.
  electron/index.js
  ui/redux/actions/app.js
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

Fix missing app-update.yml file for .deb builds.
  electron-builder.json
  static/app-update.yml
Due: none

Small fix for allowPrerelease prop in autoUpdater.
  electron/index.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
