Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

`PublishReleaseTime` widget improvements (#1740)
  flow-typed/publish.js
  static/app-strings.json
  ui/component/publishForm/view.jsx
  ui/component/publishReleaseDate/index.js
  ui/component/publishReleaseDate/view.jsx
  ui/redux/reducers/publish.js
  ui/scss/component/_form-field.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix button padding on mobile
  ui/scss/component/_header.scss
  ui/scss/component/_modal.scss
Due: prettier --write

Handle browsers that don't support `IntersectionObserver` (#1739)
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/effects/use-lazy-loading.js
Due: prettier --write, eslint, flow focus-check --color always

use new reporting endpoint
  ui/component/creatorAnalytics/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix tip target page
  ui/component/notification/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update thumbnail paths (#1747)
  ui/constants/cdn_urls.js
  ui/redux/actions/publish.js
Due: prettier --write, eslint, flow focus-check --color always

Update thumbnail cards URL (#1748)
  .env.defaults
  ui/util/web.js
  web/src/html.js
  web/src/metadata/googleVideo.js
  web/src/oEmbed.js
Due: prettier --write, eslint, flow focus-check --color always

Preorder content functionality (#1743)
  ui/component/fileActions/index.js
  ui/component/fileActions/view.jsx
  ui/component/preorderButton/index.js
  ui/component/preorderButton/view.jsx
  ui/component/preorderContent/index.js
  ui/component/preorderContent/view.jsx
  ui/component/walletFiatAccountHistory/index.js
  ui/component/walletFiatAccountHistory/view.jsx
  ui/component/walletFiatPaymentHistory/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalPreorderContent/index.js
  ui/modal/modalPreorderContent/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/page/file/view.jsx
  ui/redux/actions/wallet.js
  ui/redux/selectors/claims.js
  ui/scss/all.scss
  ui/scss/component/_preorder-button.scss
Due: prettier --write, eslint, flow focus-check --color always

Recsys: fix missing uuid
  extras/recsys/recsys.js
Due: none

Recsys: fix resumed-send missing `totalPlayTime`
  extras/recsys/recsys.js
  flow-typed/recsys.js
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

Recsys: improve data stashing frequency
  ui/component/viewers/videoViewer/internal/plugins/videojs-recsys/plugin.js
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

show controls if both calls to play fail (#1724)
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Preorder button touchups (#1755)
  package.json
  ui/component/fileActions/index.js
  ui/component/preorderButton/index.js
  ui/component/preorderButton/view.jsx
  ui/component/preorderContent/index.js
  ui/component/preorderContent/view.jsx
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

use default path in windows when choosing a file
  ui/component/common/file-selector.jsx
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add lbry_api_url to env defaults (#1760)
  .env.defaults
Due: none

Preorder cleanup
  static/app-strings.json
  ui/component/fileActions/view.jsx
  ui/component/preorderContent/view.jsx
  ui/modal/modalPreorderContent/index.js
  ui/modal/modalPreorderContent/view.jsx
  ui/page/file/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix naming convention and type correctness
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/common/markdown-preview.jsx
  ui/component/livestreamComment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Publish: restore the multiple retries (#1763)
  web/setup/publish-v2.js
Due: none

fix, changed var to let
  ui/component/common/file-selector.jsx
Due: prettier --write, eslint, flow focus-check --color always

Recsys: add `isEmbed` to videos in Markdown (posts, comments) (#1765)
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Use release/tags endpoint to get the release details.
  ui/component/lastReleaseChanges/index.js
  ui/component/lastReleaseChanges/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Make install now button display the upgrade modal.
  ui/component/app/index.js
Due: prettier --write, eslint, flow focus-check --color always

Use a retry counter/limit to fetch thumbnails. (#7618)
  ui/component/channelThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Use GitHub as provider for manual update url.
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

v0.53.5-alpha.test7495a2
  .yarn/versions/6cb9d5fa.yml
  package.json
Due: none

Added checkbox to enable/disable background
  static/app-strings.json
  ui/component/settingAppearance/index.js
  ui/component/settingAppearance/view.jsx
  ui/component/wallpaper/index.js
  ui/component/wallpaper/view.jsx
  ui/constants/settings.js
Due: prettier --write, eslint, flow focus-check --color always

v0.53.5-alpha.test7495b2
  package.json
Due: none

bug fix in enable disable button
  static/app-strings.json
  ui/component/wallpaper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

small fix in translation
  static/app-strings.json
Due: none

rename background setting to be disable backgroud; add default value for background setting.
  static/app-strings.json
  ui/component/settingAppearance/index.js
  ui/component/settingAppearance/view.jsx
  ui/component/wallpaper/index.js
  ui/component/wallpaper/view.jsx
  ui/constants/settings.js
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

use default path in windows when choosing a file (#7625)
  ui/component/common/file-selector.jsx
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Added checkbox to enable/disable background (#7630)
  static/app-strings.json
  ui/component/settingAppearance/index.js
  ui/component/settingAppearance/view.jsx
  ui/component/wallpaper/index.js
  ui/component/wallpaper/view.jsx
  ui/constants/settings.js
  ui/redux/reducers/settings.js
Due: prettier --write, eslint, flow focus-check --color always

improve sync page clarity, move up button.
  ui/component/youtubeTransferStatus/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Handle error case for auto updater.
  electron/index.js
  ui/constants/action_types.js
  ui/index.jsx
  ui/modal/modalAutoUpdateDownloaded/index.js
  ui/modal/modalAutoUpdateDownloaded/view.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

Small fixes in updater.
  electron/index.js
  ui/component/app/index.js
  ui/modal/modalAutoUpdateDownloaded/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

dont dispose between videos and update current time immediately
  ui/component/viewers/videoViewer/internal/chapters.jsx
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump videojs version
  package.json
  yarn.lock
Due: none

Revert "Fix uploads page cleared/reloaded on each navigation" (#1771)
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
