Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

rebase
  .travis.yml
Due: none

remove travis cache
  .travis.yml
Due: none

test for ci
  src/renderer/app.js
Due: prettier --write, eslint --fix

fix linux build
  .travis.yml
  package.json
  yarn.lock
Due: none

fix for travis
  .travis.yml
  package.json
  yarn.lock
Due: none

add confirmation modal for external links
  src/renderer/component/externalLink/index.js
  src/renderer/component/externalLink/view.jsx
  src/renderer/component/markdownPreview/view.jsx
  src/renderer/modal/modalOpenExternalLink/index.js
  src/renderer/modal/modalOpenExternalLink/view.jsx
  src/renderer/modal/modalRouter/view.jsx
Due: prettier --write, eslint --fix

use keytar
  package.json
  src/main/index.js
  yarn.lock
Due: prettier --write, eslint --fix

add --ignore-engines flag for yarn install
  .travis.yml
Due: none

v0.21.4-rc.2
  package.json
Due: none

update modal / message / styles
  src/renderer/component/button/view.jsx
  src/renderer/component/externalLink/index.js
  src/renderer/component/externalLink/view.jsx
  src/renderer/modal/modalOpenExternalLink/index.js
  src/renderer/modal/modalOpenExternalLink/view.jsx
  src/renderer/scss/component/_markdown-preview.scss
Due: prettier --write, eslint --fix

v0.21.4-rc.3
  package.json
Due: none

v0.21.4-rc.4
  package.json
Due: none

v0.21.4-rc.5
  package.json
Due: none

v0.21.4-rc.6
  package.json
Due: none

downgrade electron-builder and remove publish flags from travis
  .travis.yml
  package.json
  yarn.lock
Due: none

v0.21.4
  package.json
Due: none

chore: bump lbry-redux
  package.json
  yarn.lock
Due: none

doc updates
  CONTRIBUTING.md
  README.md
Due: none

fix modal and add basic filter for url
  src/renderer/component/externalLink/view.jsx
  src/renderer/modal/modalOpenExternalLink/view.jsx
Due: prettier --write, eslint --fix

add code for local links
  src/renderer/component/externalLink/index.js
  src/renderer/component/externalLink/view.jsx
Due: prettier --write, eslint --fix

add support for lbry protocol on sanitation schema
  package.json
  src/renderer/component/externalLink/index.js
  src/renderer/component/externalLink/view.jsx
  src/renderer/component/markdownPreview/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

Autoplay: start playing/downloading video/audio/image in video component. Adds on/off checkbox on settings and file pages. Adds CHECK_SIMPLE icon (w/o circle).
  CHANGELOG.md
  src/renderer/component/video/index.js
  src/renderer/component/video/view.jsx
  src/renderer/constants/icons.js
  src/renderer/constants/settings.js
  src/renderer/page/file/index.js
  src/renderer/page/file/view.jsx
  src/renderer/page/settings/index.js
  src/renderer/page/settings/view.jsx
  src/renderer/redux/reducers/settings.js
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_content.scss
Due: prettier --write, eslint --fix

fix nsfw conditions
  src/renderer/component/video/view.jsx
Due: prettier --write, eslint --fix

add validation for uri
  src/renderer/component/externalLink/view.jsx
Due: prettier --write, eslint --fix

move file page autoplay setting below channel info; lint fixes
  src/renderer/page/file/view.jsx
  src/renderer/scss/component/_card.scss
Due: prettier --write, eslint --fix

cleanup css
  src/renderer/component/common/form-components/form-row.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_form-field.scss
Due: prettier --write, eslint --fix

absurdly minor changes to sean's README fixes
  README.md
Due: none

fix headings size
  src/renderer/component/markdownPreview/view.jsx
  src/renderer/scss/component/_markdown-preview.scss
Due: prettier --write, eslint --fix

show hyperlinks on hover
  src/renderer/component/externalLink/view.jsx
Due: prettier --write, eslint --fix

remove yarnhooks
  package.json
Due: none

fix h6 font size
  src/renderer/scss/component/_markdown-preview.scss
Due: prettier --write

updater test
  package.json
Due: none

add info for resetting packages and lbry-redux
  CONTRIBUTING.md
  README.md
Due: none

feature: use internal-apis for subscriptions and add page loader
  .eslintrc.json
  .idea/inspectionProfiles/Project_Default.xml
  .idea/lbry-app.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  CHANGELOG.md
  src/renderer/analytics.js
  src/renderer/component/common/spinner.jsx
  src/renderer/component/fileDetails/view.jsx
  src/renderer/component/fileList/view.jsx
  src/renderer/component/page/view.jsx
  src/renderer/component/spinner/index.js
  src/renderer/component/spinner/view.jsx
  src/renderer/component/subscribeButton/view.jsx
  src/renderer/component/uriIndicator/view.jsx
  src/renderer/component/video/internal/loading-screen.jsx
  src/renderer/component/video/view.jsx
  src/renderer/component/walletSendTip/view.jsx
  src/renderer/constants/action_types.js
  src/renderer/constants/themes.js
  src/renderer/page/channel/view.jsx
  src/renderer/page/file/view.jsx
  src/renderer/page/show/view.jsx
  src/renderer/page/subscriptions/index.js
  src/renderer/page/subscriptions/view.jsx
  src/renderer/redux/actions/content.js
  src/renderer/redux/actions/subscriptions.js
  src/renderer/redux/reducers/subscriptions.js
  src/renderer/redux/selectors/subscriptions.js
  src/renderer/scss/_gui.scss
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_spinner.scss
  src/renderer/store.js
  src/renderer/types/claim.js
  src/renderer/types/subscription.js
  src/renderer/util/dom.js
Due: prettier --write, eslint --fix

update daemon to 0.19.3
  package.json
Due: none

Fix grayed out rewards by using the correct property to check for reward eligibility.
  CHANGELOG.md
  src/renderer/page/rewards/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

reword lbry-redux language
  CONTRIBUTING.md
Due: none

fix typo on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

bump render-media
  package.json
Due: none

disable Send button when tip amount <= 0 or tip amount > balance
  src/renderer/component/walletSendTip/index.js
  src/renderer/component/walletSendTip/view.jsx
Due: prettier --write, eslint --fix
