Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

test html handler fix
  package.json
Due: none

gads on master
  ui/component/recommendedContent/view.jsx
  ui/scss/component/_ads.scss
  web/component/ads.jsx
Due: prettier --write, eslint, flow focus-check --color always

update livestream details
  ui/constants/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

attempt to persist a single video.js instance
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

only react to source prop updates
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

hack-y solution to losing player context
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update Electron to 11.2.1
  electron/createWindow.js
  package.json
  yarn.lock
Due: none

simplesite always ads
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  web/component/ads.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add "t" as shortcut for Theather Mode
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

sync again
  ui/component/app/index.js
  ui/component/app/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/settings.js
  ui/redux/actions/sync.js
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

manually encode ' because encodeURIComponent doesn't encode it
  ui/util/url.js
Due: prettier --write, eslint, flow focus-check --color always

encode embed url too
  ui/util/web.js
Due: prettier --write, eslint, flow focus-check --color always

fix desktop build
  ui/util/url.js
  web/middleware/redirect.js
Due: prettier --write, eslint, flow focus-check --color always

call install/new after users select privacy options
  ui/component/privacyAgreement/index.js
  ui/component/privacyAgreement/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove 32 bit build
  electron-builder.json
Due: none

add 'immediately spendable' balance on header balance hover
  static/app-strings.json
  ui/component/common/icon.jsx
  ui/component/fileRenderFloating/view.jsx
  ui/component/header/index.js
  ui/component/header/view.jsx
  ui/component/uriIndicator/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

bump sdk to 0.88.0
  CHANGELOG.md
  package.json
Due: none

use open.lbry.com for share links
  .github/workflows/deploy.yml
Due: none

v0.49.4-rc.2
  package.json
Due: none

allow builds for non-prs (breaks fork PR builds)
  .github/workflows/deploy.yml
Due: none

v0.49.4-rc.3
  package.json
Due: none

move channel selection to top of publish form
  static/app-strings.json
  ui/component/publishFile/view.jsx
  ui/component/publishForm/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove console.log statements
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix linting errors
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Make dropdown menus actually dropdown
  ui/scss/component/_animation.scss
Due: prettier --write

use smooth scrolling
  ui/page/publish/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
