Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Check search string for web URL prefixes and remove
  ui/component/wunderbar/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Correctly navigate to channel URL
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

sample robots files
  .gitignore
  custom/robots.allowall
  custom/robots.disallowall
Due: none

add back pinned sidebar links
  package.json
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove un-needed deletion of .env inside of /web
  package.json
Due: none

handle external pinned links
  ui/component/button/view.jsx
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.48.0-rc.3
  package.json
Due: none

v0.48.0
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

remove un-needed user/fetch
  ui/component/youtubeTransferStatus/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

advise users to check email folders on sign in
  ui/component/userEmailVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove development strings
  static/app-strings.json
Due: none

Corrected version in changelog
  CHANGELOG.md
Due: none

String update
  static/app-strings.json
Due: none

MarkdownPreview: Replace 'lbry://' link with a stub when previewing an edit.
  ui/component/common/form-components/form-field.jsx
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

make comment thumbnail smaller
  ui/scss/component/_comments.scss
Due: prettier --write

add placeholder upvote/downvote buttons on comments
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentCreate/view.jsx
  ui/component/commentReactions/index.js
  ui/component/commentReactions/view.jsx
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
  ui/constants/reactions.js
  ui/page/file/view.jsx
  ui/redux/selectors/comments.js
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

comment reactions
  flow-typed/Comment.js
  package.json
  static/app-strings.json
  ui/component/comment/view.jsx
  ui/component/commentReactions/index.js
  ui/component/commentReactions/view.jsx
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/comments.js
  ui/redux/reducers/comments.js
  ui/redux/selectors/comments.js
  ui/scss/component/_comments.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

copy custom robots_txt in webpack on compile
  web/src/robots.js
  web/webpack.config.js
Due: none

disable while reacting, dont call api twice
  flow-typed/Comment.js
  static/app-strings.json
  ui/component/commentReactions/index.js
  ui/component/commentReactions/view.jsx
  ui/redux/actions/comments.js
  ui/redux/reducers/comments.js
  ui/redux/selectors/comments.js
Due: prettier --write, eslint, flow focus-check --color always

new layout 🕺
  custom/homepage.example.js
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/index.js
  ui/component/claimListHeader/view.jsx
  ui/component/common/icon-custom.jsx
  ui/component/notificationHeaderButton/view.jsx
  ui/component/page/view.jsx
  ui/constants/icons.js
  ui/effects/use-media.js
  ui/effects/use-screensize.js
  ui/index.jsx
  ui/page/channelNew/view.jsx
  ui/page/channels/view.jsx
  ui/page/channelsFollowing/index.js
  ui/page/channelsFollowing/view.jsx
  ui/page/checkoutPage/view.jsx
  ui/page/discover/index.js
  ui/page/discover/view.jsx
  ui/page/fileListDownloaded/view.jsx
  ui/page/fileListPublished/view.jsx
  ui/page/home/view.jsx
  ui/page/invited/view.jsx
  ui/page/listBlocked/view.jsx
  ui/page/passwordReset/view.jsx
  ui/page/passwordSet/view.jsx
  ui/page/signIn/view.jsx
  ui/page/signInVerify/view.jsx
  ui/page/signUp/view.jsx
  ui/page/tagsFollowing/view.jsx
  ui/page/welcome/view.jsx
  ui/redux/reducers/settings.js
  ui/scss/component/_claim-list.scss
  ui/scss/component/_claim-search.scss
  ui/scss/component/_main.scss
  ui/scss/component/section.scss
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

first run cleanup + sync first run acknowledgements
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/userSignUp/index.js
  ui/component/userSignUp/view.jsx
  ui/component/userTagFollowIntro/view.jsx
  ui/component/userVerify/view.jsx
  ui/redux/reducers/settings.js
  ui/scss/component/_card.scss
  ui/scss/component/_main.scss
  ui/scss/component/section.scss
Due: prettier --write, eslint, flow focus-check --color always

fix library page for new ClaimListDiscover styling
  ui/page/fileListDownloaded/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

new comments
  flow-typed/Comment.js
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentCreate/view.jsx
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
  ui/component/common/form-components/form-field.jsx
  ui/component/common/icon-custom.jsx
  ui/component/common/wait-until-on-page.jsx
  ui/component/selectChannel/view.jsx
  ui/constants/icons.js
  ui/page/file/index.js
  ui/page/file/view.jsx
  ui/redux/reducers/comments.js
  ui/redux/selectors/blocked.js
  ui/redux/selectors/comments.js
  ui/scss/component/_comments.scss
  ui/scss/component/_form-field.scss
  ui/scss/component/_markdown-preview.scss
  ui/scss/init/_color.scss
  ui/scss/init/_gui.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

Sign In => Log in
  build/signBuildFiles.js
  static/app-strings.json
  ui/component/commentCreate/view.jsx
  ui/component/commentsReplies/view.jsx
  ui/component/header/view.jsx
  ui/component/publishAdditionalOptions/view.jsx
  ui/component/rewardAuthIntro/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/userEmail/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/component/userEmailReturning/view.jsx
  ui/component/userEmailVerify/view.jsx
  ui/component/userSignInPassword/view.jsx
  ui/modal/modalFirstSubscription/view.jsx
  ui/page/invite/view.jsx
  ui/page/signInVerify/view.jsx
  web/component/ads.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix slim channel selector size
  ui/scss/component/_form-field.scss
Due: prettier --write

comment cleanup
  ui/component/channelThumbnail/index.js
  ui/component/channelThumbnail/view.jsx
  ui/scss/component/_channel.scss
  ui/scss/component/_comments.scss
  ui/scss/themes/dark.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

copy changes
  static/app-strings.json
  ui/component/inviteNew/view.jsx
  ui/component/userEmailVerify/view.jsx
  ui/page/invite/view.jsx
  ui/page/signInVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

copy
  static/app-strings.json
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

wip with channel prompts on comments
  ui/component/channelEdit/view.jsx
  ui/component/commentCreate/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
  ui/component/inviteNew/view.jsx
  ui/page/channelNew/index.js
  ui/page/channelNew/view.jsx
  ui/scss/component/_comments.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

fix notification link to comment not working in some cases the router scroll handling was interefering. I turned that off if exists as a search param
  ui/component/channelDiscussion/view.jsx
  ui/component/router/view.jsx
  ui/constants/comment.js
  ui/scss/component/_comments.scss
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

create YrblWalletEmpty for generic yrbl with empty wallet message
  ui/component/yrblWalletEmpty/index.js
  ui/component/yrblWalletEmpty/view.jsx
  ui/page/channelNew/view.jsx
  ui/page/creatorDashboard/index.js
  ui/page/creatorDashboard/view.jsx
  ui/page/publish/view.jsx
  ui/page/wallet/view.jsx
  ui/scss/component/_button.scss
  ui/scss/init/_color.scss
  ui/scss/themes/dark.scss
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
