Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

add card to skip rewards validation
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

update version
  package.json
Due: none

fix typo
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

basic channel discovery in first run
  static/app-strings.json
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimTags/view.jsx
  ui/component/common/nag.jsx
  ui/component/router/view.jsx
  ui/component/userChannelFollowIntro/index.js
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/userSignIn/view.jsx
  ui/constants/pages.js
  ui/page/channelsFollowingDiscover/view.jsx
  ui/scss/component/_wunderbar.scss
  ui/scss/component/nag.scss
  ui/scss/themes/light.scss
Due: prettier --write, eslint, flow focus-check --color always

hide block button on channel discovery page
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/userChannelFollowIntro/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

merge discover page and tags page
  ui/component/router/view.jsx
  ui/component/tag/view.jsx
  ui/constants/pages.js
  ui/page/discover/index.js
  ui/page/discover/view.jsx
  ui/page/tags/index.js
  ui/page/tags/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix infinite scroll on channel discovery page
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/userChannelFollowIntro/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add claimListDiscover to channel discovery page
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update script
  package.json
  ui/scss/component/nag.scss
Due: prettier --write

always show channel following section on first-run
  ui/component/router/view.jsx
  ui/component/userSignIn/view.jsx
  ui/scss/component/nag.scss
Due: prettier --write, eslint, flow focus-check --color always

test to see if people click search results with no lbry:// in the result
  ui/component/wunderbar/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

added more languages
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

call doAuthenticate with internalSharing as true on web
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

keep nag banner on top
  ui/scss/component/nag.scss
Due: prettier --write

fix wrapping on code in mobile view
  ui/scss/component/_file-render.scss
Due: prettier --write

fixes #3744 by allowing the user to navigate forward and backward using the respective mouse keys
  ui/component/app/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

simplify header on mobile
  ui/component/header/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/scss/component/_header.scss
Due: prettier --write, eslint, flow focus-check --color always

Update nag.scss
  ui/scss/component/nag.scss
Due: prettier --write

move channel page to ClaimListDiscover
  ui/component/channelContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

update nag z-index
  ui/scss/component/nag.scss
Due: prettier --write

fix page names
  ui/component/wunderbar/view.jsx
  ui/constants/pages.js
  ui/page/channelsFollowingDiscover/view.jsx
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
