Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

fix dislike crash when no claim
  ui/redux/selectors/reactions.js
Due: prettier --write, eslint, flow focus-check --color always

sunset link
  web/component/nag-sunset.jsx
Due: prettier --write, eslint

branded site default
  .env.defaults
Due: none

bump
  package.json
  yarn.lock
Due: none

Fix amountNeededForTakeover message for bids.
  ui/component/publishBid/index.js
  ui/component/publishName/index.js
Due: prettier --write, eslint, flow focus-check --color always

Automatically claim initial rewards (new_user & email_verified) when accessing creating channel, edit channel and upload
  ui/component/channelEdit/index.js
  ui/component/channelEdit/view.jsx
  ui/component/publishForm/index.js
  ui/component/publishForm/view.jsx
  ui/redux/actions/rewards.js
  ui/redux/selectors/rewards.js
Due: prettier --write, eslint, flow focus-check --color always

fix line breaking links: #6805
  ui/scss/component/_button.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

Add back file download link
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Improve style
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Allow to delete downloaded content from popup
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

rss tests
  ui/util/web.js
  web/src/rss.js
Due: prettier --write, eslint, flow focus-check --color always

Reuse BidHelpText for reposts
  ui/component/repostCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.51.2-rc.1
  package.json
Due: none

use resolve for og metadata
  web/src/html.js
Due: prettier --write, eslint

use value.audio for google video metadata
  web/src/html.js
Due: prettier --write, eslint

use value.release_time
  web/src/html.js
Due: prettier --write, eslint

fix embed claim url
  web/src/html.js
Due: prettier --write, eslint

use better resolve url
  web/src/html.js
Due: prettier --write, eslint

fix redirection and normalization of claim urls
  ui/page/show/view.jsx
  web/src/html.js
Due: prettier --write, eslint, flow focus-check --color always

fix wrong embed og metadata: #6814
  CHANGELOG.md
  web/src/html.js
Due: prettier --write, eslint

Add keyword hint | Collapse "PR Checklist" and "PR Type"
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

init Open in desktop #6659
  ui/component/claimMenuList/view.jsx
  ui/component/common/icon-custom.jsx
  ui/component/router/view.jsx
  ui/constants/icons.js
  ui/constants/pages.js
  web/page/openInDesktop/index.js
  web/page/openInDesktop/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

minor fixes
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

stop calling window.open multiple times
  web/page/openInDesktop/view.jsx
Due: prettier --write, eslint

use constant for redirection delay time
  web/page/openInDesktop/view.jsx
Due: prettier --write, eslint

Fix: Paid embed warning was showing lbry.tv
  ui/page/embedWrapper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Added: Change for PR #6819
  CHANGELOG.md
Due: none

i18n
  static/app-strings.json
Due: none

Fix 'Favorites' string issue
  static/app-strings.json
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Refactor Commentron error msg handling
  static/app-strings.json
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Fix scroll position not restored when doing Back on Desktop
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: web/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: web/**/*.{js,jsx})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
