Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

watch time ux
  static/app-strings.json
  ui/component/fileThumbnail/index.js
  ui/component/fileThumbnail/view.jsx
  ui/component/settingContent/view.jsx
  ui/scss/component/_file-thumbnail.scss
  ui/scss/component/_settings.scss
Due: prettier --write, eslint, flow focus-check --color always

flow fix
  ui/component/settingContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add persistent watch time setting. (#7547)
  static/app-strings.json
  ui/component/fileThumbnail/index.js
  ui/component/fileThumbnail/view.jsx
  ui/component/settingContent/index.js
  ui/component/settingContent/view.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/constants/action_types.js
  ui/constants/settings.js
  ui/redux/actions/content.js
  ui/redux/reducers/content.js
  ui/redux/reducers/settings.js
  ui/redux/selectors/content.js
  ui/scss/component/_file-thumbnail.scss
  ui/scss/component/_settings.scss
Due: prettier --write, eslint, flow focus-check --color always

fix repost ribbon
  static/app-strings.json
  ui/component/claimRepostAuthor/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

fix repost ribbon (#7549)
  static/app-strings.json
  ui/component/claimRepostAuthor/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Discover: fix release_time for Tag and Wild West
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

SearchInLanguage: honor user's setting before category's setting.
  ui/component/claimListDiscover/view.jsx
  ui/page/discover/livestreamSection.jsx
  ui/util/default-languages.js
Due: prettier --write, eslint, flow focus-check --color always

changelog
  CHANGELOG.md
Due: none

v0.53.0-alpha.4
  package.json
Due: none

v0.53.0
  package.json
Due: none

button tweaks
  ui/scss/component/_channel.scss
  ui/scss/themes/light.scss
Due: prettier --write

v0.53.0-alpha.6
  package.json
Due: none

fix viewedBar bug
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

v0.53.1
  package.json
Due: none

changelog edit
  CHANGELOG.md
Due: none

Remove old apis
  ui/component/livestreamList/view.jsx
  ui/constants/livestream.js
  ui/util/livestream.js
Due: prettier --write, eslint, flow focus-check --color always

remove old lbrytv players
  .env.defaults
  .env.ody
  .github/workflows/deploy.yml
  config.js
Due: none

Upgrade to yarn v3
  .github/workflows/deploy.yml
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Update yarn to Berry Adding changelog
  CHANGELOG.md
Due: none

Enabling corepack
  .github/workflows/deploy.yml
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
Due: none

Update documentation
  .gitignore
  README.md
Due: none

Update README.md
  README.md
Due: none

yarn lock
  yarn.lock
Due: none

remove old lbrytv players (#7552)
  .env.defaults
  .env.ody
  .github/workflows/deploy.yml
  config.js
Due: none

fix ci
  .flowconfig
  .github/workflows/deploy.yml
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  babel.config.js
  electron/startSandbox.js
  electron/unpackByOutpoint.js
  package.json
  ui/component/viewers/videoViewer/internal/plugins/videojs-overlay/plugin.scss
  ui/scss/component/_expandable.scss
  web/middleware/iframe-destroyer.js
  web/scss/themes/odysee/component/_form-field.scss
  yarn.lock
Due: prettier --write

wip
  .github/workflows/deploy.yml
Due: none

fix changelog
  CHANGELOG.md
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
