Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

Fix split sentence: "or" in "Refresh or Skip" wasn't translated
  static/app-strings.json
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix split sentence: "% downloaded"
  static/app-strings.json
  ui/component/fileDownloadLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix split sentence: "Join our tech forum", "Explore our technical resources"
  static/app-strings.json
  ui/page/report/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove unused, obsolete or replaced strings.
  static/app-strings.json
Due: none

Fix split sentence: "%view_count% %views%"
  static/app-strings.json
  ui/component/creatorAnalytics/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add missing strings for translation.
  static/app-strings.json
Due: none

Consolidate variants of 'Read more' for reuse.
  static/app-strings.json
  ui/component/userVerify/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

add refund message
  ui/page/checkoutPage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Changed code for "Blocked channels" settings
  ui/page/settings/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update strings for
  static/app-strings.json
Due: none

fix publish page
  ui/component/publishFile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

improve loading style for embedded videos
  static/app-strings.json
  ui/page/embedWrapper/view.jsx
  ui/scss/component/_embed-player.scss
Due: prettier --write, eslint, flow focus-check --color always

clean up old lbrytv reference
  ui/component/router/view.jsx
  web/page/code2257/index.js
  web/page/code2257/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix strings
  ui/page/embedWrapper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove manual override in formatting for credits in header
  package.json
  ui/component/header/index.js
Due: prettier --write, eslint, flow focus-check --color always

fix autoplay
  ui/component/autoplayCountdown/index.js
  ui/component/autoplayCountdown/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix default textarea styles (broke in latest chrome)
  ui/scss/init/_gui.scss
  ui/scss/init/_reset.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

v0.46.0-rc.3
  package.json
Due: none

update yarn.lock
  yarn.lock
Due: none

v0.46.0-rc.4
  package.json
Due: none

increase paid content to 4 rows for users with more than 6 followed channels
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

add additional app driver on paid embeds
  ui/page/embedWrapper/view.jsx
  ui/scss/component/_embed-player.scss
Due: prettier --write, eslint, flow focus-check --color always

moar improvements
  ui/component/fileViewerEmbeddedTitle/view.jsx
  ui/page/embedWrapper/view.jsx
  ui/scss/component/_file-render.scss
Due: prettier --write, eslint, flow focus-check --color always

auto follow lbrycast channel along with lbry channel
  ui/component/userChannelFollowIntro/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

improve custom site documentation
  README.md
  package.json
  web/.env.defaults
  yarn.lock
Due: none

change balance loading string to 'Your Wallet'
  package.json
  ui/component/header/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix:css remove double border on publish cards
  ui/scss/component/_card.scss
Due: prettier --write

Update CHANGELOG.md to include pr
  CHANGELOG.md
Due: none

pause gifs until hover
  ui/component/channelThumbnail/view.jsx
  ui/component/fileThumbnail/view.jsx
  ui/component/txoList/view.jsx
  ui/page/channel/view.jsx
  ui/scss/component/_claim-list.scss
  ui/scss/component/_main.scss
  ui/scss/init/_mixins.scss
Due: prettier --write, eslint, flow focus-check --color always
