Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

Update server.js
  src/platforms/web/server.js
Due: prettier --write, eslint --fix, flow focus-check --color always

remove doGetThemes
  src/ui/component/header/view.jsx
  src/ui/page/settings/index.js
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/settings.js
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

css
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
Due: prettier --write

css cleanup
  src/ui/component/publishFile/view.jsx
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/section.scss
  src/ui/scss/init/_gui.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.3
  package.json
Due: none

fix: only clear store on web when signing out
  src/ui/redux/actions/app.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: stop syncing for existing users with balances
  package.json
  src/ui/redux/actions/app.js
  src/ui/store.js
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  package.json
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/inviteList/view.jsx
  src/ui/component/publishFile/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/syncPassword/view.jsx
  src/ui/component/tagsSearch/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_button.scss
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix translation string
  src/ui/component/publishFormErrors/view.jsx
  src/ui/component/publishName/view.jsx
  src/ui/component/selectChannel/view.jsx
  src/ui/component/userFirstChannel/view.jsx
  src/ui/constants/claim.js
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: deal with youtube channels that are queued to sync but haven't started yet
  src/ui/component/header/view.jsx
  src/ui/component/userSignIn/view.jsx
  src/ui/component/youtubeTransferStatus/view.jsx
  src/ui/component/youtubeTransferWelcome/index.js
  src/ui/component/youtubeTransferWelcome/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: typo
  src/ui/scss/component/section.scss
  static/app-strings.json
Due: prettier --write

v0.36.0-rc.2
  package.json
Due: none

v0.36.0-rc.4
  package.json
Due: none

Refactor ModalAutoUpdateConfirm into ModalAutoUpdateDownloaded
  src/ui/constants/modal_types.js
  src/ui/modal/modalAutoUpdateConfirm/index.js
  src/ui/modal/modalAutoUpdateConfirm/view.jsx
  src/ui/modal/modalAutoUpdateDownloaded/view.jsx
  src/ui/modal/modalRouter/view.jsx
  src/ui/redux/actions/app.js
Due: prettier --write, eslint --fix, flow focus-check --color always

wording
  src/ui/component/walletBalance/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

dark mode love plus other fixes
  package.json
  src/ui/component/claimPreview/view.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/userSignIn/index.js
  src/ui/component/userSignIn/view.jsx
  src/ui/page/channels/view.jsx
  src/ui/redux/actions/publish.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_card.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_icon.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_tags.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/init/_vars.scss
  static/app-strings.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.36.0-rc.5
  package.json
Due: none

provide full view height for video dragging
  src/ui/scss/component/_main.scss
Due: prettier --write

more correct fix
  src/ui/scss/component/_main.scss
Due: prettier --write

Added Turkish language
  src/ui/redux/reducers/settings.js
Due: prettier --write, eslint --fix, flow focus-check --color always

moar cleanup
  src/ui/component/common/help-link.jsx
  src/ui/component/userEmailNew/view.jsx
  src/ui/component/walletBalance/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/page/file/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_icon.scss
  static/app-strings.json
Due: prettier --write, eslint --fix, flow focus-check --color always

fix og image and added fbapp id like on LBRY.com
  src/platforms/web/server.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: use domain from config for og image
  src/platforms/web/server.js
Due: prettier --write, eslint --fix, flow focus-check --color always

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
