Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Add word-break to card__title on mobile
  ui/scss/component/_card.scss
Due: prettier --write

Hide desktop chat on mobile
  ui/component/livestreamLayout/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix spinner for embedded videos (#1979)
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/plugin.scss
Due: prettier --write

i18n update
  static/app-strings.json
  ui/component/settingAppearance/view.jsx
  ui/component/settingUnauthenticated/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Not translating career's page
  web/page/careers/view.jsx
Due: none

Don't translate 'Odysee'
  ui/component/commentCreate/comment-selectors.jsx
Due: prettier --write, eslint, flow focus-check --color always

the problem of synchronizing the two commentServer of the application was solved
  ui/component/commentCreate/index.js
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

analytics: move 'events' into sub-folder
  extras/lbryinc/lbryio.js
  ui/analytics.js
  ui/analytics/events.js
  ui/component/app/view.jsx
  ui/component/fileRender/view.jsx
  ui/component/tagsSearch/view.jsx
  ui/component/tagsSelect/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/component/viewers/videoViewer/internal/videojs-events.jsx
  ui/effects/use-get-ads.js
  ui/index.jsx
  ui/page/discover/view.jsx
  ui/page/livestream/view.jsx
  ui/redux/actions/app.js
  ui/redux/middleware/analytics.js
  web/component/browserNotificationSettings/use-browser-notifications.js
Due: prettier --write, eslint, flow focus-check --color always

analytics: Move 'ApiLog' into sub-folder
  ui/analytics.js
  ui/analytics/apiLog.js
  ui/component/channelEdit/view.jsx
  ui/component/creatorAnalytics/view.jsx
  ui/component/inviteNew/view.jsx
  ui/component/repostCreate/view.jsx
  ui/component/userFirstChannel/view.jsx
  ui/component/wunderbarSuggestions/index.js
  ui/page/collection/internal/collectionPublish/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/publish.js
Due: prettier --write, eslint, flow focus-check --color always

analytics: simplify state management
  ui/analytics.js
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

analytics: move 'watchman integration (6799)' into sub-folder
  ui/analytics.js
  ui/analytics/overview.md
  ui/analytics/watchman.js
  ui/component/viewers/videoViewer/internal/videojs-events.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

Partial undo of the firefox drag-and-drop fix
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

useShouldShowAds: decouple ad-detection into AdBlockTester component
  ui/component/app/view.jsx
  ui/effects/use-should-show-ads.js
  web/component/adBlockTester/index.js
  web/component/adBlockTester/view.jsx
  web/component/ads/index.js
  web/component/ads/view.jsx
  web/component/adsBanner/index.js
  web/component/adsBanner/view.jsx
  web/component/adsSticky/index.js
  web/component/adsSticky/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

(patch) "doCollectionEdit: fix typo causing description to be incorrect"
  ui/component/collectionGeneralTab/view.jsx
  ui/component/common/markdown-preview.jsx
Due: prettier --write, eslint, flow focus-check --color always

Refactor WebFile.
  flow-typed/file-with-path.js
  flow-typed/web-file.js
  ui/component/common/file-list.jsx
  ui/component/common/file-selector.jsx
  ui/component/fileDrop/view.jsx
  ui/component/postEditor/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/selectAsset/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/settingSystem/view.jsx
  ui/modal/modalAutoGenerateThumbnail/view.jsx
  ui/modal/modalConfirmThumbnailUpload/index.js
  ui/modal/modalConfirmThumbnailUpload/view.jsx
  ui/modal/modalFileSelection/view.jsx
  ui/modal/modalPublishPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Replace ad-detection script with simple css trigger approach
  web/component/adBlockTester/view.jsx
Due: none

Adjust labels in publish confimration modal
  ui/modal/modalPublishPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust labels in publish confimration modal (#1989)
  ui/modal/modalPublishPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update channels tab scss on channel page (#1991)
  ui/component/channelSections/SectionList/style.scss
Due: prettier --write

Remove unused PreviewLink...
  ui/component/common/truncated-text.jsx
  ui/component/previewLink/index.js
  ui/component/previewLink/view.jsx
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Escape titles (#1973)"
  ui/component/claimPreviewTitle/view.jsx
  ui/component/fileTitleSection/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

TruncatedText: escape the input of `dangerouslySetInnerHTML`
  ui/component/common/truncated-text.jsx
Due: prettier --write, eslint, flow focus-check --color always

Don't open filters by default (#1994)
  ui/component/claimListHeader/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Sentry: update sdk + switch to react version
  package.json
  yarn.lock
Due: none

Sentry: initial test on TUS and video.js
  ui/component/viewers/videoViewer/view.jsx
  ui/constants/errors.js
  web/setup/publish-v2.js
Due: prettier --write, eslint, flow focus-check --color always

Sentry: add wrapper + analytics.log() beta function
  flow-typed/analytics.js
  ui/analytics.js
  ui/analytics/sentryWrapper.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Disable GA
  static/index-web.html
Due: none

Update get-file-from-path to work with folders; fix file-list component.
  electron/index.js
  ui/component/common/file-list.jsx
  ui/component/common/file-selector.jsx
Due: prettier --write, eslint, flow focus-check --color always

vast: don't fetch if not enabled
  ui/effects/use-get-ads.js
Due: prettier --write, eslint, flow focus-check --color always

ENABLE_PREROLL_ADS=false
  .env.defaults
Due: none

Rentals functionality (#1993)
  static/app-strings.json
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileActions/index.js
  ui/component/fileActions/view.jsx
  ui/component/fileRenderInitiator/index.js
  ui/component/fileRenderInitiator/view.jsx
  ui/component/preorderAndPurchaseContentButton/index.js
  ui/component/preorderAndPurchaseContentButton/view.jsx
  ui/component/preorderAndPurchaseContentCard/index.js
  ui/component/preorderAndPurchaseContentCard/view.jsx
  ui/component/preorderButton/view.jsx
  ui/component/previewOverlayProperties/index.js
  ui/component/previewOverlayProperties/view.jsx
  ui/component/previewTilePurchaseOverlay/index.js
  ui/component/previewTilePurchaseOverlay/view.jsx
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalPreorderAndPurchaseContent/index.js
  ui/modal/modalPreorderAndPurchaseContent/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/page/file/index.js
  ui/page/file/view.jsx
  ui/redux/actions/claims.js
  ui/redux/actions/wallet.js
  ui/redux/selectors/claims.js
  ui/scss/component/_claim-list.scss
  ui/util/time.js
Due: prettier --write, eslint, flow focus-check --color always

bugfix cover logic (#1997)
  ui/component/fileRenderInitiator/index.js
  ui/component/fileRenderInitiator/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Temporarily disable sentry (#1998)
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

Rearrange elements on invited page
  ui/component/invited/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add counter to snackbar (#2001)
  ui/component/snackBar/view.jsx
  ui/scss/component/_snack-bar.scss
Due: prettier --write, eslint, flow focus-check --color always

Make channel selector dropdown consistent across entire site (#2002)
  ui/component/channelSelector/view.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix gif avatars in dropdown
  ui/scss/component/_channel.scss
Due: prettier --write

Adjust icon background in notification menu on hover
  ui/scss/component/menu-button.scss
Due: prettier --write

(patch) "doCollectionEdit: fix typo causing description to be incorrect" (#2008)
  ui/redux/actions/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Rental touchups (#2005)
  ui/component/preorderAndPurchaseContentButton/view.jsx
  ui/component/preorderAndPurchaseContentCard/view.jsx
  ui/redux/selectors/claims.js
  ui/util/time.js
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
