Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Fix logic
  web/middleware/iframe-destroyer.js
Due: none

Fix locale fetch (#1017)
  ui/component/app/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix live chat
  flow-typed/Comment.js
  ui/component/livestreamChatLayout/view.jsx
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Fix subs resolving on file page when sidenav closed
  ui/component/sideNavigation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Batch-resolve channels on doCommentList fetch
  flow-typed/Comment.js
  ui/component/commentsList/index.js
  ui/component/commentsList/view.jsx
  ui/component/commentsReplies/index.js
  ui/component/commentsReplies/view.jsx
  ui/redux/actions/comments.js
  ui/redux/selectors/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Fix comment discussion mounted state when switching uris
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix batch resolve
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Rename selector
  ui/component/commentsReplies/index.js
  ui/redux/selectors/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Update CORS for homepage api so localhost works
  web/src/routes.js
Due: none

Missed remaining 'homepages' imports
  ui/component/settingAppearance/view.jsx
  ui/component/settingUnauthenticated/view.jsx
  ui/redux/actions/settings.js
  ui/util/default-languages.js
Due: prettier --write, eslint, flow focus-check --color always

Localize the homepage selector too
  ui/component/homepageSelector/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

SignUp: don't show spinner when in focus (aka GetSync)
  ui/component/userSignUp/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Recommended: optimize nextUri calculation
  ui/redux/selectors/search.js
Due: prettier --write, eslint, flow focus-check --color always

Recommended: fix "no results found" flashing after search
  ui/redux/selectors/search.js
Due: prettier --write, eslint, flow focus-check --color always

Prevent multiple downloads when auto updater isn't supported. Hide upgrade nag when on progress modal is displayed.
  electron/index.js
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

Display release notes and version for Linux installations using .deb packages.
  ui/index.jsx
  ui/modal/modalUpgrade/index.js
  ui/modal/modalUpgrade/view.jsx
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

Render whole app on language change
  ui/component/app/view.jsx
  ui/component/settingAccount/index.js
  ui/component/settingAccountPassword/index.js
  ui/component/settingAppearance/index.js
  ui/component/settingAutoLaunch/index.js
  ui/component/settingContent/index.js
  ui/component/settingSystem/index.js
  ui/component/settingUnauthenticated/index.js
  ui/component/sideNavigation/index.js
  ui/component/syncEnableFlow/index.js
  ui/component/syncToggle/index.js
  ui/component/wunderbarSuggestions/index.js
  ui/page/settings/index.js
Due: prettier --write, eslint, flow focus-check --color always

Fix small typo in actions/app.js
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

Sidebar: show "last active subs" instead of "by name"
  flow-typed/subscription.js
  static/app-strings.json
  ui/component/sideNavigation/index.js
  ui/component/sideNavigation/view.jsx
  ui/constants/action_types.js
  ui/page/channelsFollowingManage/index.js
  ui/page/channelsFollowingManage/view.jsx
  ui/redux/actions/subscriptions.js
  ui/redux/reducers/subscriptions.js
  ui/redux/selectors/subscriptions.js
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

Hide comment thread-line when no replies
  ui/component/commentsReplies/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Following-Manage: increase size of 'Recently Active' entries for medium/large layout
  ui/scss/init/_gui.scss
Due: prettier --write

Fix missing subs in sidebar on login
  ui/component/sideNavigation/view.jsx
  ui/page/channelsFollowingManage/index.js
  ui/page/channelsFollowingManage/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

depbump
  package.json
  yarn.lock
Due: none

testpush
  README.md
Due: none

Revert "Bump shelljs from 0.8.3 to 0.8.5"
  yarn.lock
Due: none

add medium duration video filter
  static/app-strings.json
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/constants/claim_search.js
Due: prettier --write, eslint, flow focus-check --color always

update flow
  package.json
  yarn.lock
Due: none

Ads: replace DOM manipulations with React components
  ui/component/channelContent/view.jsx
  ui/component/claimList/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/recommendedContent/view.jsx
  ui/effects/use-last-visible-item.js
  ui/page/discover/view.jsx
  ui/page/home/view.jsx
  ui/page/search/view.jsx
  ui/scss/component/_ads.scss
  web/component/ads/index.js
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Re-enable for Firefox Android
  web/component/ads/view.jsx
Due: none

Cleanup ad container css
  ui/scss/component/_ads.scss
  web/component/ads/view.jsx
Due: prettier --write

add some comments for documentation
  ui/component/claimList/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/effects/use-last-visible-item.js
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Recommended: restore ad location
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Don't use EU script on mobile as it breaks the app
  web/component/ads/view.jsx
Due: none
