Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Deleted Filipino language and added Tagalog instead
  CHANGELOG.md
  ui/constants/languages.js
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Re-arrange prop types to show "element params" first (no functional change)
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Don't show "Moderator Tools" title if there's nothing underneath
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Livestream: fix items incorrectly appearing in HyperChat List mode.
  ui/component/livestreamComments/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removed padding on last comment to gain back some space and be symmetrical too.
  ui/scss/component/_livestream.scss
Due: prettier --write

Ability to dismiss Pinned Comment in Livestream
  static/app-strings.json
  ui/component/livestreamComments/view.jsx
  ui/scss/component/_livestream.scss
Due: prettier --write, eslint, flow focus-check --color always

Standardize scrollbar thickness for both horizontal and vertical
  ui/scss/component/_main.scss
Due: prettier --write

Combine the 2 PR checklists into 1
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

i18n
  static/app-strings.json
Due: none

Tagalog Language Fix (#6951)
  CHANGELOG.md
  ui/constants/languages.js
  ui/constants/supported_languages.js
Due: prettier --write, eslint, flow focus-check --color always

Fix 'bighits' vs 'big_hits'
  ui/constants/pages.js
Due: prettier --write, eslint, flow focus-check --color always

update functionality for watch later button on mobile
  ui/component/fileWatchLaterLink/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Remove hover/watch later bug for mobile devices (#6950)
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileWatchLaterLink/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Add new post title & url ellipsis overflow.
  ui/modal/modalPublishPreview/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix Facebook meta warnings
  web/src/html.js
Due: prettier --write, eslint

Fix Facebook meta warnings (#6965)
  web/src/html.js
Due: prettier --write, eslint

Remove countdown on Lists
  ui/component/autoplayCountdown/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Repeat icon
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Add Shuffle icon
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Add Replay Icon
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Add Replay Option to autoplayCountdown
  ui/component/autoplayCountdown/view.jsx
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Loop Control for Lists
  ui/component/autoplayCountdown/index.js
  ui/component/collectionContentSidebar/index.js
  ui/component/collectionContentSidebar/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/content.js
  ui/redux/reducers/content.js
  ui/redux/selectors/content.js
  ui/scss/component/_main.scss
Due: prettier --write, eslint, flow focus-check --color always

Add Shuffle control for Lists
  ui/component/autoplayCountdown/index.js
  ui/component/collectionContentSidebar/index.js
  ui/component/collectionContentSidebar/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/content.js
  ui/redux/reducers/content.js
  ui/redux/selectors/content.js
Due: prettier --write, eslint, flow focus-check --color always

Improve View List link and Menu action
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
  ui/component/collectionMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Shuffle Play Option on List Page and Menus
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
  ui/component/collectionActions/index.js
  ui/component/collectionActions/view.jsx
  ui/component/collectionContentSidebar/view.jsx
  ui/component/collectionMenuList/index.js
  ui/component/collectionMenuList/view.jsx
  ui/page/collection/view.jsx
  ui/redux/actions/content.js
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix Modal Remove Collection I18n
  ui/modal/modalRemoveCollection/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

CSS: Fix Large list titles and fix hover on audio gif thumbnails
  ui/component/fileThumbnail/FreezeframeLite/styles.scss
  ui/scss/component/_main.scss
Due: prettier --write

Fix List playback on Floating Player
  ui/component/autoplayCountdown/index.js
  ui/component/autoplayCountdown/view.jsx
  ui/component/fileRenderFloating/index.js
  ui/component/fileRenderFloating/view.jsx
  ui/component/fileRenderInitiator/index.js
  ui/component/fileRenderInitiator/view.jsx
  ui/redux/actions/content.js
  ui/redux/reducers/content.js
Due: prettier --write, eslint, flow focus-check --color always

Add Numbered Steps video key events
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Theater Mode to its own class and fix bar text display
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/theater-mode.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Play Next VJS component
  ui/component/viewers/videoViewer/internal/play-next.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Add Play Next Button
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Play Previous VJS Component
  ui/component/viewers/videoViewer/internal/play-previous.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Add Play Previous Button
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add Autoplay Next Button
  ui/component/viewers/videoViewer/index.js
  ui/component/viewers/videoViewer/internal/autoplay-next.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/redux/actions/settings.js
  ui/scss/component/_button.scss
Due: prettier --write, eslint, flow focus-check --color always

Bump redux
  package.json
  yarn.lock
Due: none

Do not display primary uri in related content.
  ui/component/claimListDiscover/index.js
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: web/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: web/**/*.{js,jsx})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
