Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Add copy comment link menu option
  ui/component/commentMenuList/index.js
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix spacing / centering live stream + comments section
  ui/scss/component/_livestream.scss
  ui/scss/component/_main.scss
Due: prettier --write

Fix spacing / centering live stream + comments section (#7225)
  ui/scss/component/_livestream.scss
  ui/scss/component/_main.scss
Due: prettier --write

Add copy comment link menu option (#7224)
  ui/component/commentMenuList/index.js
  ui/component/commentMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

adjust css for toast message so that it behaves as expected (text truncation via ellipsis) (#7213)
  ui/component/snackBar/view.jsx
  ui/scss/component/_snack-bar.scss
Due: prettier --write, eslint, flow focus-check --color always

fix notifications page on unauthed app
  static/app-strings.json
  ui/page/settingsNotifications/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove expand/collapse from channel discussion page
  ui/component/channelDiscussion/view.jsx
  ui/component/commentsList/view.jsx
  ui/page/file/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Refactor commentsList
  static/app-strings.json
  ui/component/commentsList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Prevent comment content from breaking the layout on mobile
  ui/scss/component/_comments.scss
Due: prettier --write

makeSelectOthersReactionsForComment: fix memoization
  ui/redux/selectors/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Comment: fix memoization for multi-instance selector.
  ui/component/comment/index.js
Due: prettier --write, eslint, flow focus-check --color always

CommentReactions: optimize othersReacts selection
  ui/component/comment/view.jsx
  ui/component/commentReactions/index.js
Due: prettier --write, eslint, flow focus-check --color always

disable bandwidth checking functionality
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

ESLint fix
  ui/component/claimMenuList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

hub desktop related wip
  static/app-strings.json
  ui/component/claimListDiscover/view.jsx
  ui/component/recommendedContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

re enable preload ads
  ui/component/app/view.jsx
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

switch macro to aniview
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

move file actions from lbry-redux
  flow-typed/File.js
  ui/component/claimPreview/index.js
  ui/component/claimPreviewTile/index.js
  ui/component/sideNavigation/index.js
  ui/constants/action_types.js
  ui/redux/actions/content.js
  ui/redux/actions/file.js
Due: prettier --write, eslint, flow focus-check --color always

Fix playlist strings
  static/app-strings.json
  ui/component/collectionContentSidebar/view.jsx
  ui/component/collectionsListMine/view.jsx
  ui/page/collection/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add sitemap to influence Sitelinks
  static/sitemap.txt
  web/webpack.config.js
Due: prettier --write, eslint

Revert "Add sitemap to influence Sitelinks"
  static/sitemap.txt
  web/webpack.config.js
Due: prettier --write, eslint

fix notifications page on unauthed app (#7226)
  static/app-strings.json
  ui/page/settingsNotifications/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix flow error
  ui/analytics.js
Due: prettier --write, eslint, flow focus-check --color always

Update Dark theme and fix playing issue
  ui/component/downloadProgress/index.js
  ui/component/downloadProgress/view.jsx
  ui/component/fileDownloadLink/view.jsx
  ui/scss/component/_claim-list.scss
Due: prettier --write, eslint, flow focus-check --color always

Send video bitrate and user bandwidth to Watchman (#7145)
  .flowconfig
  package.json
  ui/analytics.js
  ui/component/viewers/videoViewer/view.jsx
  ui/redux/actions/app.js
  ui/util/detect-user-bandwidth.js
  web/webpack.config.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Fix ESLint
  ui/component/claimMenuList/view.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/redux/actions/content.js
  ui/scss/component/_download-progress.scss
  ui/scss/component/menu-button.scss
  ui/scss/init/_base-theme.scss
  ui/util/detect-user-bandwidth.js
Due: prettier --write, eslint, flow focus-check --color always

first PR! Create actions for Odysee Delete deploy.yml Remove Mac remove publish hook don't build, just compile
  .github/workflows/deploy.yml
  .github/workflows/node.js.yml
  README.md
Due: none

point towards test server
  ui/component/viewers/videoViewer/internal/plugins/videojs-aniview/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

use thumbnails.odysee.com
  .env.defaults
  config.js
  ui/util/thumbnail.js
  web/src/html.js
Due: prettier --write, eslint, flow focus-check --color always

Add firebase and remove filemanager
  web/package.json
  web/yarn.lock
Due: prettier --write

Add firebase config
  .env.defaults
  config.js
Due: none

update service worker to use firebase sdk
  web/src/service-worker.js
  web/src/serviceWorker.js
Due: prettier --write, eslint

separate service worker webpack bundling
  web/webpack.config.js
  web/webpack.sw.config.js
Due: prettier --write, eslint

fix resolution of lbryinc module by aliasing to abs path
  webpack.base.config.js
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: web/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: web/**/*.{js,jsx})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
