Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Restore accidental string deletion
  static/app-strings.json
Due: none

make header user icon reflect comment identity
  ui/component/header/index.js
  ui/component/header/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

New strings + revert "Restore accidental string deletion"
  static/app-strings.json
Due: none

enable owners to tag claims and channels disable-support
  package.json
  ui/component/claimSupportButton/index.js
  ui/component/claimSupportButton/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

claim-search by language
  package.json
  static/app-strings.json
  ui/component/channelAbout/index.js
  ui/component/channelAbout/view.jsx
  ui/component/channelEdit/view.jsx
  ui/component/claimListDiscover/index.js
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/index.js
  ui/component/claimListHeader/view.jsx
  ui/component/settingLanguage/index.js
  ui/component/settingLanguage/view.jsx
  ui/constants/claim_search.js
  ui/constants/searchable_languages.js
  ui/redux/reducers/settings.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

bump and bugfix
  package.json
  static/app-strings.json
  ui/component/channelAbout/view.jsx
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Improve IOS inline experience
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

remove unused style
  ui/scss/component/_file-render.scss
Due: prettier --write

Use the contextual version of 'Post' instead of creating a new one.
  static/app-strings.json
Due: none

make file details smaller
  static/app-strings.json
  ui/component/fileDetails/view.jsx
  ui/scss/component/_media.scss
Due: prettier --write, eslint, flow focus-check --color always

Remove translation macro on native language names.
  static/app-strings.json
  ui/component/channelAbout/view.jsx
  ui/component/claimListHeader/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add 'Search only in this language by default'
  static/app-strings.json
Due: none

fix exact claim not showing up when copying url
  ui/page/search/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix autoplay countdown
  static/app-strings.json
  ui/component/autoplayCountdown/view.jsx
  ui/scss/component/_table.scss
Due: prettier --write, eslint, flow focus-check --color always

remove unused style
  ui/scss/component/_media.scss
Due: prettier --write

add adstest page to test player ads
  ui/component/router/view.jsx
  ui/component/viewers/videoViewer/internal/adstest.css
  ui/component/viewers/videoViewer/internal/adstest.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/page/adsTest/index.js
  ui/page/adsTest/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

add ads script to head for test
  ui/component/viewers/videoViewer/internal/adstest2.js
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/page/adsTest/credit-card-logos.png
  ui/page/adsTest/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

per channel notification settings
  .flowconfig
  flow-typed/notification.js
  flow-typed/redux.js
  flow-typed/subscription.js
  package.json
  ui/component/common/icon-custom.jsx
  ui/component/fileProperties/index.js
  ui/component/fileProperties/view.jsx
  ui/component/fileThumbnail/index.js
  ui/component/fileThumbnail/view.jsx
  ui/component/notification/view.jsx
  ui/component/subscribeButton/index.js
  ui/component/subscribeButton/view.jsx
  ui/component/subscribeMarkAsRead/index.js
  ui/component/subscribeMarkAsRead/view.jsx
  ui/constants/action_types.js
  ui/constants/icons.js
  ui/constants/notifications.js
  ui/page/file/index.js
  ui/page/file/view.jsx
  ui/page/tagsFollowingManage/index.js
  ui/redux/actions/comments.js
  ui/redux/actions/notifications.js
  ui/redux/actions/publish.js
  ui/redux/actions/subscriptions.js
  ui/redux/reducers/subscriptions.js
  ui/redux/selectors/subscriptions.js
  ui/scss/component/_channel.scss
  ui/scss/component/_notification.scss
  ui/store.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Styles for labels
  custom/robots.allowall
  ui/scss/component/_form-field.scss
Due: prettier --write

Restored file
  custom/robots.allowall
Due: none

update video.js
  package.json
  yarn.lock
Due: none

update bell icon
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
