Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

fix channel ellispis on claimPreview
  ui/scss/component/_button.scss
  ui/scss/component/_claim-list.scss
Due: prettier --write

fix floating player location on desktop
  ui/component/fileRenderFloating/view.jsx
  ui/component/router/view.jsx
  ui/page/settingsNotifications/index.js
  ui/page/settingsNotifications/view.jsx
  ui/scss/init/_vars.scss
Due: prettier --write, eslint, flow focus-check --color always

bump lbry-redux
  package.json
  yarn.lock
Due: none

move splash animation out of settings
  ui/component/splash/index.js
  ui/component/splash/view.jsx
  ui/constants/action_types.js
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

fix typos and bump lbryinc
  .flowconfig
  package.json
  ui/component/fileRenderFloating/view.jsx
  ui/page/settings/index.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

v0.49.0-rc.2
  package.json
Due: none

enable comment reactions on desktop
  .travis.yml
Due: none

v0.49.0-rc.3
  package.json
Due: none

dont set sync enabled on web on sign up
  ui/component/userEmailNew/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add another 'About' string for Odysee.
  static/app-strings.json
Due: none

fix typo
  ui/page/settingsNotifications/index.js
Due: prettier --write, eslint, flow focus-check --color always

housekeeping
  static/app-strings.json
  ui/component/channelThumbnail/spaceman.png
  ui/component/channelThumbnail/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/component/claimPreview/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/claimTilesDiscover/view.jsx
  ui/component/comment/index.js
  ui/component/fileRenderFloating/view.jsx
  ui/component/fileSubtitle/view.jsx
  ui/component/publishFile/view.jsx
  ui/component/rewardTile/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/page/home/view.jsx
  ui/page/search/index.js
  ui/page/search/view.jsx
  ui/scss/component/_markdown-preview.scss
  ui/scss/component/_wunderbar.scss
  ui/scss/init/_gui.scss
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

liberal missing
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

Add space
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

Add enlightenment
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

updating homepage
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

limit claimsPerChannel to 2 on discover pages
  ui/component/claimListDiscover/view.jsx
  ui/page/discover/view.jsx
  ui/page/search/index.js
Due: prettier --write, eslint, flow focus-check --color always

update
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

show all content on 'top' page
  ui/page/top/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix rebase
  ui/page/search/index.js
Due: prettier --write, eslint, flow focus-check --color always

cougar
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

fix rebase
  ui/scss/component/_media.scss
Due: prettier --write

cleanup search style
  ui/scss/component/_claim-list.scss
  ui/scss/component/_file-properties.scss
  ui/scss/component/_search.scss
Due: prettier --write

adding what didn't get added last night
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

updated
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

added corporate bro
  ui/util/homepage.js
Due: prettier --write, eslint, flow focus-check --color always

bump limitClaimPerChannel to 3
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

enable the things
  ui/component/commentsList/view.jsx
  ui/component/subscribeButton/index.js
  ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Str-context-split: About
  ui/component/sideNavigation/view.jsx
  web/component/footer.jsx
Due: prettier --write, eslint, flow focus-check --color always

add nudges to sign up
  static/app-strings.json
  ui/component/claimSupportButton/index.js
  ui/component/claimSupportButton/view.jsx
  ui/component/header/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/page/settings/view.jsx
  ui/redux/actions/app.js
  ui/scss/all.scss
  ui/scss/component/_button.scss
  ui/scss/component/_navigation.scss
  ui/scss/component/_nudge.scss
  ui/scss/component/section.scss
Due: prettier --write, eslint, flow focus-check --color always

fix nudge mobile styling
  ui/scss/component/_media.scss
  ui/scss/component/_nudge.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
