Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

bring in 'notifications' state from lbry-redux
  ui/component/blockButton/index.js
  ui/component/claimUri/index.js
  ui/component/copyableText/index.js
  ui/component/embedTextArea/index.js
  ui/component/publishFile/index.js
  ui/component/settingAccountPassword/index.js
  ui/component/settingAutoLaunch/index.js
  ui/component/shareButton/index.js
  ui/component/snackBar/index.js
  ui/component/splash/index.js
  ui/component/subscribeButton/index.js
  ui/component/userEmailVerify/index.js
  ui/component/userPasswordReset/index.js
  ui/component/userPasswordSet/index.js
  ui/component/wunderbar/index.js
  ui/constants/action_types.js
  ui/index.jsx
  ui/modal/modalAutoGenerateThumbnail/index.js
  ui/modal/modalError/index.js
  ui/modal/modalRepost/index.js
  ui/page/report/view.jsx
  ui/page/signInVerify/index.js
  ui/redux/actions/app.js
  ui/redux/actions/notifications.js
  ui/redux/actions/publish.js
  ui/redux/actions/settings.js
  ui/redux/reducers/notifications.js
  ui/redux/selectors/notifications.js
Due: prettier --write, eslint, flow focus-check --color always

fix number width and update lbryinc
  package.json
  ui/scss/component/_form-field.scss
  yarn.lock
Due: prettier --write

Inf-scroll: Debounce before handling 'onscroll'.
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Inf-scroll: Fix "am I at bottom" logic.
  ui/component/claimList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Inf-scroll: Don't add pages when no more results are available.
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Show "unmute" option on videos automatically muted by browser.
  static/app-strings.json
  ui/component/common/icon-custom.jsx
  ui/component/viewers/videoViewer/internal/videojs.jsx
  ui/constants/icons.js
  ui/scss/component/_file-render.scss
Due: prettier --write, eslint, flow focus-check --color always

Use 'process.env.NODE_ENV' instead of 'electron-is-dev' for spewing debug logs.
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix "muted=false + volume=0" case.
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add new app strings from tip/support merge
  static/app-strings.json
Due: none

adjust sizes
  ui/scss/component/_markdown-preview.scss
Due: prettier --write

wider diff in header sizes for md posts
  .gitignore
  ui/scss/component/_markdown-preview.scss
Due: prettier --write

Persist trending selectors between tags.
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Publish: Make 'Channel' setting persistent.
  ui/component/publishForm/view.jsx
  ui/page/publish/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use css variables for button placement
  ui/scss/component/_file-render.scss
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

Resolve corejs3-shipped-proposals build issues.
  yarn.lock
Due: none

Tip-Modal: Add settings persistence and UX improvements.
  static/app-strings.json
  ui/component/walletSendTip/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

More accumulated app string updates
  static/app-strings.json
Due: none

Inf-scroll: (1) Reset to top (2) Fix "page vs. results" being out of sync.
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

move channel search into ChannelContent component
  ui/component/channelContent/index.js
  ui/component/channelContent/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/page/channel/index.js
  ui/page/channel/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

only add gradient to bottom of channel cover
  ui/page/channel/view.jsx
  ui/scss/component/_channel.scss
Due: prettier --write, eslint, flow focus-check --color always

handle language fetch failure
  ui/constants/action_types.js
  ui/redux/actions/settings.js
Due: prettier --write, eslint, flow focus-check --color always

move repost icon to submit button instead of card for consistency
  ui/modal/modalRepost/view.jsx
Due: prettier --write, eslint, flow focus-check --color always
