Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, flow focus-check --color always

claim preview filter now checks signing channel outpoints
  src/ui/component/claimPreview/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: startup status
  package.json
  src/ui/component/splash/view.jsx
  src/ui/scss/component/_splash.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: tv-support
  src/ui/component/commentCreate/view.jsx
  src/ui/component/fileRender/view.jsx
  src/ui/component/publishForm/view.jsx
  src/ui/component/viewers/videoViewer.jsx
  src/ui/page/account/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Adds icon to unsubscribe from side bar
  src/ui/component/sideBar/view.jsx
  src/ui/component/subscribeButton/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Revert "fix: startup status"
  src/ui/component/splash/view.jsx
  src/ui/scss/component/_splash.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: unlock before wallet ready
  src/ui/component/splash/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

bump: proper patch
  package.json
Due: none

Ypdated missing strings
  static/locales/pl.json
Due: none

fix: tv bug
  src/ui/index.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: bug with claims
  src/ui/component/claimPreview/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: undefined claim error Whoops, ship another patch! This would break some resolves/library page
  package.json
  src/ui/component/claimPreview/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

Make the volume control remember if muted
  src/ui/component/fileViewer/index.js
  src/ui/component/fileViewer/internal/player.jsx
  src/ui/component/fileViewer/view.jsx
  src/ui/constants/action_types.js
  src/ui/redux/actions/app.js
  src/ui/redux/reducers/app.js
  src/ui/redux/selectors/app.js
Due: prettier --write, eslint --fix, flow focus-check --color always

ghetto rebase
  src/platforms/web/server.js
  static/index.html
Due: prettier --write, eslint --fix, flow focus-check --color always

restore that shit
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_main.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

fix lbry/component style overrides in forms
  src/ui/scss/component/_form-field.scss
  static/locales/en.json
Due: prettier --write

fix: bugs
  src/ui/component/channelContent/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/page/channel/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

restore that shit
  src/ui/component/app/view.jsx
  src/ui/component/router/index.js
  src/ui/component/router/view.jsx
  src/ui/component/splash/view.jsx
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/app/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_navigation.scss
  src/ui/util/query-params.js
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/component/channelContent/view.jsx
  src/ui/page/channel/view.jsx
  src/ui/scss/component/_main.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

update channel links on file page
  .eslintrc.json
  src/ui/component/claimPreview/view.jsx
  src/ui/component/recommendedContent/view.jsx
  src/ui/component/uriIndicator/view.jsx
  src/ui/page/file/view.jsx
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_media.scss
  src/ui/scss/component/_navigation.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

cleanup
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
Due: prettier --write

fix typo
  src/ui/component/splash/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.13
  package.json
Due: none

v0.34.0-rc.12
  package.json
Due: none

v0.34.0-rc.14
  package.json
Due: none

v0.34.0-rc.16
  package.json
Due: none

add rewards to account drop down
  src/ui/component/header/view.jsx
  src/ui/scss/component/menu-button.scss
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.15
  package.json
Due: none

fix: price on update
  src/ui/component/publishPrice/view.jsx
  src/ui/redux/actions/publish.js
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: sending supports Tested locally, should work a-OK now.
  package.json
  src/ui/component/walletSendTip/index.js
  src/ui/component/walletSendTip/view.jsx
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

final cleanup I know theres bugs but ship it
  package.json
  src/ui/analytics.js
  src/ui/component/walletSendTip/view.jsx
  src/ui/index.jsx
  src/ui/modal/modalError/view.jsx
  src/ui/modal/modalWalletEncrypt/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/scss/component/_media.scss
  static/locales/en.json
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: support option (rebase issues) Fixes display on own claims + text on others.
  src/ui/component/walletSendTip/view.jsx
  src/ui/page/file/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

this got out of hand
  package.json
  src/ui/component/channelContent/view.jsx
  src/ui/component/channelEdit/view.jsx
  src/ui/component/claimList/view.jsx
  src/ui/component/claimListDiscover/view.jsx
  src/ui/component/claimPreview/view.jsx
  src/ui/component/comment/view.jsx
  src/ui/component/common/icon-custom.jsx
  src/ui/component/hiddenNsfwClaims/view.jsx
  src/ui/component/sideBar/view.jsx
  src/ui/component/tagsSelect/view.jsx
  src/ui/component/transactionList/internal/transaction-list-item.jsx
  src/ui/component/transactionList/view.jsx
  src/ui/component/walletBalance/balance-background.png
  src/ui/component/walletSend/view.jsx
  src/ui/index.jsx
  src/ui/page/discover/view.jsx
  src/ui/page/settings/view.jsx
  src/ui/redux/actions/app.js
  src/ui/redux/actions/publish.js
  src/ui/redux/reducers/app.js
  src/ui/scss/component/_button.scss
  src/ui/scss/component/_claim-list.scss
  src/ui/scss/component/_comments.scss
  src/ui/scss/component/_form-field.scss
  src/ui/scss/component/_header.scss
  src/ui/scss/component/_main.scss
  src/ui/scss/component/_navigation.scss
  src/ui/scss/component/_table.scss
  src/ui/scss/component/_wunderbar.scss
  src/ui/scss/component/menu-button.scss
  src/ui/scss/component/tabs.scss
  src/ui/scss/init/_vars.scss
  src/ui/store.js
  static/locales/id.json
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint --fix, flow focus-check --color always

maybe this one but probably not
  package.json
  src/ui/component/claimPreview/view.jsx
  src/ui/scss/component/_form-field.scss
  static/locales/en.json
Due: prettier --write, eslint --fix, flow focus-check --color always

i lied
  src/ui/component/socialShare/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: file size and full screen
  src/ui/component/fileDetails/view.jsx
  src/ui/component/fileViewer/internal/player.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

fix: add language setting back in
  src/ui/page/settings/view.jsx
Due: prettier --write, eslint --fix, flow focus-check --color always

v0.34.0-rc.17
  package.json
Due: none

v0.34.1-rc.1
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,scss,json}
  eslint --fix: any of: src/**/*.{js,jsx}
  flow focus-check --color always: any of: src/**/*.{js,jsx}
