Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fetch new rewards and properly call reward claim after view event has been fired
  src/renderer/analytics.js
  src/renderer/component/fileViewer/index.js
  src/renderer/component/fileViewer/view.jsx
  src/renderer/component/rewardSummary/index.js
  src/renderer/component/rewardSummary/view.jsx
  src/renderer/page/discover/index.js
  src/renderer/page/discover/view.jsx
Due: prettier --write, eslint --fix

typo
  src/renderer/page/discover/index.js
Due: prettier --write, eslint --fix

bump lbry-redux
  package.json
Due: none

Update view.jsx
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

fix typo
  src/renderer/redux/actions/subscriptions.js
Due: prettier --write, eslint --fix

change name to fetchRewardedContent
  src/renderer/page/discover/index.js
  src/renderer/page/discover/view.jsx
Due: prettier --write, eslint --fix

remove old reward call
  src/renderer/redux/actions/content.js
Due: prettier --write, eslint --fix

update formatting
  src/renderer/page/settings/view.jsx
  yarn.lock
Due: prettier --write, eslint --fix

0.25.0-rc.4
  package.json
Due: none

v0.25.0
  package.json
Due: none

cleanup
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

change channel link color to be consistent with internal links
  src/renderer/scss/component/_button.scss
Due: prettier --write

remove unused state.content.currentlyIsPlaying
  src/renderer/redux/reducers/content.js
Due: prettier --write, eslint --fix

media.positions[outpoint] |> content.positions[claimId][outpoint]
  src/renderer/component/fileViewer/index.js
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/fileViewer/view.jsx
  src/renderer/constants/action_types.js
  src/renderer/redux/actions/content.js
  src/renderer/redux/actions/media.js
  src/renderer/redux/reducers/content.js
  src/renderer/redux/reducers/media.js
  src/renderer/redux/selectors/content.js
  src/renderer/redux/selectors/media.js
Due: prettier --write, eslint --fix

remove media.paused; catch file open pause from change of content.playingUri
  src/renderer/component/fileDownloadLink/index.js
  src/renderer/component/fileDownloadLink/view.jsx
  src/renderer/component/fileViewer/index.js
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/fileViewer/view.jsx
  src/renderer/constants/action_types.js
  src/renderer/page/file/index.js
  src/renderer/redux/actions/app.js
  src/renderer/redux/actions/media.js
  src/renderer/redux/reducers/media.js
  src/renderer/redux/selectors/media.js
  src/renderer/store.js
Due: prettier --write, eslint --fix

add refresh icon to <FileCard> when playback position exists
  src/renderer/component/fileCard/index.js
  src/renderer/component/fileCard/view.jsx
  src/renderer/redux/selectors/content.js
Due: prettier --write, eslint --fix

position tracking clean up
  src/renderer/component/fileViewer/index.js
  src/renderer/component/fileViewer/internal/player.jsx
  src/renderer/component/fileViewer/view.jsx
Due: prettier --write, eslint --fix

record browsing history, persist content
  src/renderer/component/fileViewer/view.jsx
  src/renderer/constants/action_types.js
  src/renderer/constants/content.js
  src/renderer/page/file/index.js
  src/renderer/page/file/view.jsx
  src/renderer/redux/actions/content.js
  src/renderer/redux/reducers/content.js
  src/renderer/redux/selectors/content.js
  src/renderer/store.js
Due: prettier --write, eslint --fix

add UserHistoryPage
  src/renderer/component/router/view.jsx
  src/renderer/page/userHistory/index.js
  src/renderer/page/userHistory/view.jsx
  src/renderer/redux/actions/content.js
  src/renderer/redux/selectors/content.js
Due: prettier --write, eslint --fix

fix type error
  src/renderer/page/userHistory/index.js
Due: prettier --write, eslint --fix

add lastViewed prop to <FileCard>
  src/renderer/component/fileCard/view.jsx
  src/renderer/page/userHistory/view.jsx
Due: prettier --write, eslint --fix

add delete icons to <FileCard>
  src/renderer/component/fileCard/index.js
  src/renderer/component/fileCard/view.jsx
Due: prettier --write, eslint --fix

rebase
  package.json
  src/renderer/component/fileCard/view.jsx
  src/renderer/redux/actions/app.js
  yarn.lock
Due: prettier --write, eslint --fix

add back stuff I shouldn't have deleted
  src/renderer/component/fileViewer/index.js
  src/renderer/component/fileViewer/view.jsx
Due: prettier --write, eslint --fix

add UserHistory component
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/component/fileCard/index.js
  src/renderer/component/fileCard/view.jsx
  src/renderer/component/userHistory/index.js
  src/renderer/component/userHistory/view.jsx
  src/renderer/component/userHistoryItem/index.js
  src/renderer/component/userHistoryItem/view.jsx
  src/renderer/page/file/view.jsx
  src/renderer/page/userHistory/index.js
  src/renderer/page/userHistory/view.jsx
  src/renderer/redux/reducers/navigation.js
  src/renderer/redux/selectors/content.js
  src/renderer/scss/component/_table.scss
Due: prettier --write, eslint --fix

style history table
  src/renderer/component/userHistory/view.jsx
  src/renderer/component/userHistoryItem/index.js
  src/renderer/component/userHistoryItem/view.jsx
  src/renderer/page/file/view.jsx
  src/renderer/scss/component/_table.scss
Due: prettier --write, eslint --fix

add desktop app icon (48x48)
  src/main/createWindow.js
Due: prettier --write, eslint --fix

lits code
  src/main/createWindow.js
Due: prettier --write, eslint --fix

lints code
  src/main/createWindow.js
Due: prettier --write, eslint --fix

add encrypted env vars
  .travis.yml
Due: none

adds desktop app icon (256x256)
  src/main/createWindow.js
Due: prettier --write, eslint --fix

don't pass commit messages
  .travis.yml
Due: none

add email management link
  src/renderer/page/help/view.jsx
  src/renderer/scss/component/_table.scss
Due: prettier --write, eslint --fix

fix: inconsistent thumbnail size on the publish page
  src/renderer/component/selectThumbnail/view.jsx
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_content.scss
  yarn.lock
Due: prettier --write, eslint --fix

creates facebook share and moves social to fileActions
  src/renderer/component/fileActions/view.jsx
  src/renderer/component/shareOnFacebook/index.js
  src/renderer/component/shareOnFacebook/view.jsx
  src/renderer/constants/icons.js
  src/renderer/page/file/view.jsx
Due: prettier --write, eslint --fix

fix select/unselect
  src/renderer/component/common/form-components/form-field.jsx
  src/renderer/component/common/form-components/form-row.jsx
  src/renderer/component/userHistory/view.jsx
  src/renderer/component/userHistoryItem/view.jsx
  src/renderer/constants/content.js
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/component/_table.scss
Due: prettier --write, eslint --fix

bring selectNavLinks back into lbry-redux
  src/renderer/component/page/index.js
  src/renderer/component/sideBar/index.js
  src/renderer/redux/selectors/app.js
Due: prettier --write, eslint --fix

makes modal window with socialshare component
  src/renderer/component/socialShare/view.jsx
  src/renderer/modal/modalRouter/view.jsx
  src/renderer/modal/modalSocialShare/index.js
  src/renderer/modal/modalSocialShare/view.jsx
  src/renderer/page/file/view.jsx
Due: prettier --write, eslint --fix
