Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Adjust ad design
  ui/scss/component/_ads.scss
  ui/scss/themes/dark.scss
Due: prettier --write

Adjust ads style in light theme
  ui/scss/themes/light.scss
Due: prettier --write

Fix typo
  ui/component/premiumPlusTile/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust ad design
  ui/scss/component/_ads.scss
Due: prettier --write

Add settings page button to header in guest mode
  ui/component/headerMenuButtons/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix notification menu height / transparency issue in firefox
  ui/scss/component/menu-button.scss
Due: prettier --write

Only apply the larger thumbnail width on mobile + tile layout
  ui/component/claimPreviewTile/view.jsx
  ui/component/collectionPreviewTile/view.jsx
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Consolidate the mobile tile to use the poster size for better caching.
  .env.defaults
  config.js
  ui/component/fileThumbnail/view.jsx
  ui/effects/use-get-poster.js
Due: prettier --write, eslint, flow focus-check --color always

Inject close button into footer banner ad (#1710)
  ui/scss/component/_ads.scss
  web/component/adsSticky/view.jsx
Due: prettier --write

Minor design fixes in modals (#1711)
  ui/component/claimCollectionAdd/view.jsx
  ui/modal/modalSocialShare/view.jsx
  ui/scss/component/_card.scss
Due: prettier --write, eslint, flow focus-check --color always

Fix splash error message when the app can't initialize.
  ui/component/splash/view.jsx
  ui/scss/component/_splash.scss
Due: prettier --write, eslint, flow focus-check --color always

Use a retry counter/limit to fetch thumbnails.
  ui/component/channelThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix splash error message when the app can't initialize. (#7615)
  ui/component/splash/view.jsx
  ui/scss/component/_splash.scss
Due: prettier --write, eslint, flow focus-check --color always

fix hover style for char count field
  ui/scss/component/_button.scss
Due: prettier --write

bugfix streams continuing to run in the background (#1714)
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

Redesign error nag
  ui/scss/component/nag.scss
Due: prettier --write

Update snackbar design
  ui/scss/component/_snack-bar.scss
Due: prettier --write

Undo the hardcoded ad div id (#1719)
  web/component/ads/view.jsx
Due: none

Revert "Undo the hardcoded ad div id (#1719)" (#1722)
  web/component/ads/view.jsx
Due: none

fix plays inline bug on ios (#1723)
  ui/component/viewers/videoViewer/internal/videojs.jsx
Due: prettier --write, eslint, flow focus-check --color always

DRY: fix duplicate code for Recommended key generation
  ui/redux/selectors/search.js
  ui/util/search.js
Due: prettier --write, eslint, flow focus-check --color always

Recommendations: factor out a selector for raw results
  ui/redux/selectors/search.js
Due: prettier --write, eslint, flow focus-check --color always

fix progress bar hover (#1726)
  ui/scss/component/_videojs.scss
Due: prettier --write

Notification Menu Upgrade (#1713)
  ui/component/headerNotificationButton/index.js
  ui/component/headerNotificationButton/view.jsx
  ui/component/notificationBubble/view.jsx
  ui/scss/component/_notification.scss
  ui/scss/component/menu-button.scss
Due: prettier --write, eslint, flow focus-check --color always

Allow to properly cancel download upgrade and prevent multiple downloads.
  electron/index.js
  ui/redux/actions/app.js
  ui/redux/selectors/app.js
Due: prettier --write, eslint, flow focus-check --color always

Prevent .deb packages from being opened with archive manager.
  electron/index.js
  package.json
  static/app-strings.json
  ui/constants/action_types.js
  ui/index.jsx
  ui/modal/modalDownloading/index.js
  ui/modal/modalDownloading/view.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

Fix missing app-update.yml file for .deb builds.
  electron-builder.json
  static/app-update.yml
Due: none

Change collection item fetch-page from 5 to 50 (#1732)
  ui/redux/actions/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Add platforms to share buttons (#1721)
  static/app-strings.json
  ui/component/common/icon-custom.jsx
  ui/component/socialShare/view.jsx
  ui/constants/icons.js
  ui/scss/component/_card.scss
  ui/scss/component/_modal.scss
  ui/scss/component/section.scss
Due: prettier --write, eslint, flow focus-check --color always

Str and cleanup
  static/app-strings.json
  ui/component/fileReactions/view.jsx
  ui/page/youtubeSync/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

ReportContent: redirect back after logging in (#1733)
  ui/component/header/view.jsx
  ui/component/page/view.jsx
  ui/page/reportContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Recsys: capture and use `x-uuid` from search results (#1727)
  extras/recsys/recsys.js
  flow-typed/search.js
  ui/component/recommendedContent/view.jsx
  ui/redux/actions/search.js
  ui/redux/reducers/search.js
  ui/redux/selectors/search.js
  ui/util/handle-fetch.js
Due: prettier --write, eslint, flow focus-check --color always

Add help button to header in guets mode
  ui/component/headerMenuButtons/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add token to help page (internal) (#1737)
  ui/page/help/index.js
  ui/page/help/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

vertically align character counter and emoji button
  ui/scss/component/_form-field.scss
Due: prettier --write

v0.53.5-alpha.test7495a
  .yarn/versions/362c0c03.yml
  package.json
Due: none

0.53.5-alpha.test7495b
  package.json
Due: none

Small fix for allowPrerelease prop in autoUpdater.
  electron/index.js
  ui/index.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
