Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

Add flair to snackbar
  src/renderer/component/snackBar/index.js
  src/renderer/component/snackBar/view.jsx
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_snack-bar.scss
Due: prettier --write, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

use darker text colors
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_card.scss
Due: prettier --write

allow custom themes
  src/renderer/component/theme/view.jsx
Due: prettier --write, eslint --fix

implement new dark theme
  CHANGELOG.md
  src/renderer/component/common/icon.jsx
  src/renderer/component/header/view.jsx
  src/renderer/page/settings/view.jsx
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_button.scss
  src/renderer/scss/component/_card.scss
  src/renderer/scss/component/_file-download.scss
  src/renderer/scss/component/_form-field.scss
  src/renderer/scss/component/_modal.scss
  src/renderer/scss/component/_nav.scss
  src/renderer/scss/component/_scrollbar.scss
  src/renderer/scss/component/_search.scss
  src/renderer/scss/component/_table.scss
  static/themes/dark.css
Due: prettier --write, eslint --fix

update changelog
  CHANGELOG.md
Due: none

fix wording
  src/renderer/page/settings/view.jsx
Due: prettier --write, eslint --fix

fix explorer links. closes #1344
  src/renderer/component/common/transaction-link.jsx
Due: prettier --write, eslint --fix

update snackbar message for tips
  src/renderer/redux/actions/wallet.js
Due: prettier --write, eslint --fix

fix lbry-redux imports and lint fixes
  src/renderer/component/fileActions/index.js
  src/renderer/component/transactionList/index.js
  src/renderer/modal/modalRouter/index.js
  src/renderer/redux/actions/content.js
  src/renderer/redux/actions/user.js
  yarn.lock
Due: prettier --write, eslint --fix

Pre-fill publish URL
  src/renderer/component/fileTile/index.js
  src/renderer/component/fileTile/view.jsx
Due: prettier --write, eslint --fix

fix: populate address if not in redux state
  src/renderer/component/walletAddress/view.jsx
Due: prettier --write, eslint --fix

doShowSnackBar => doNotify
  src/renderer/component/address/index.js
  src/renderer/component/address/view.jsx
  src/renderer/component/shapeShift/index.js
  src/renderer/component/shapeShift/view.jsx
  src/renderer/component/snackBar/index.js
  src/renderer/component/snackBar/view.jsx
  src/renderer/index.js
  src/renderer/page/report/view.jsx
  src/renderer/redux/actions/user.js
  src/renderer/rewards.js
Due: prettier --write, eslint --fix

move app modal actions to doNotify type
  src/renderer/constants/action_types.js
  src/renderer/redux/actions/app.js
  src/renderer/redux/reducers/app.js
Due: prettier --write, eslint --fix

fix lbry-redux path
  package.json
Due: none

remove package-lock.json from .gitignore
  .gitignore
  package-lock.json
Due: none

fix css var color-bg-alt in dark theme
  src/renderer/scss/all.scss
  static/themes/dark.css
Due: prettier --write

feat: block black listed content from the app
  src/renderer/constants/action_types.js
  src/renderer/index.js
  src/renderer/page/show/index.js
  src/renderer/page/show/view.jsx
  src/renderer/redux/actions/app.js
  src/renderer/redux/reducers/app.js
  src/renderer/redux/selectors/app.js
Due: prettier --write, eslint --fix

chore: remove package-lock.json file
  package-lock.json
  yarn.lock
Due: none

return new state in app reducer
  src/renderer/redux/reducers/app.js
Due: prettier --write, eslint --fix

remove CHECK_UPGRADE_SUBSCRIBE dispatch in blacklist action
  src/renderer/redux/actions/app.js
Due: prettier --write, eslint --fix

change version for build
  package.json
Due: none

explicit imports
  src/renderer/scss/all.scss
Due: prettier --write

add explicit height and remove card-margin variable
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_card.scss
Due: prettier --write

fix: error modal handling
  package-lock.json
  src/renderer/modal/modal.jsx
  src/renderer/modal/modalRouter/index.js
  src/renderer/modal/modalRouter/view.jsx
  src/renderer/redux/actions/app.js
  src/renderer/redux/selectors/app.js
Due: prettier --write, eslint --fix

fix: use icons for transaction list actions
  src/renderer/component/transactionList/internal/transaction-list-item.jsx
  src/renderer/constants/icons.js
Due: prettier --write, eslint --fix

remove: side nav animation
  src/renderer/component/sideBar/view.jsx
Due: prettier --write, eslint --fix

add button prop for reward link for rewards page
  src/renderer/component/rewardLink/view.jsx
  src/renderer/component/rewardTile/view.jsx
Due: prettier --write, eslint --fix

fix: table width styling
  src/renderer/scss/component/_table.scss
Due: prettier --write

fix: sort by height on channel page
  src/renderer/page/channel/view.jsx
  src/renderer/scss/_vars.scss
Due: prettier --write, eslint --fix

update changelog
  src/renderer/scss/_vars.scss
Due: prettier --write

remove: selectCurrentModal
  .gitignore
  src/renderer/component/splash/index.js
  src/renderer/component/splash/view.jsx
  src/renderer/component/userVerify/index.js
  src/renderer/redux/actions/app.js
Due: prettier --write, eslint --fix

chore: bump version to 0.21.3
  package.json
Due: none

fix: text selection color
  src/renderer/scss/_gui.scss
  src/renderer/scss/_vars.scss
  src/renderer/scss/component/_button.scss
  static/themes/dark.css
Due: prettier --write
