Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Add ability to search through publishes.
  ui/constants/action_types.js
  ui/page/fileListPublished/index.js
  ui/page/fileListPublished/view.jsx
  ui/redux/actions/claims.js
  ui/redux/reducers/claims.js
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Small fix in allClaimListMine type.
  ui/redux/reducers/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Small fix for search claims in uploads page.
  ui/page/fileListPublished/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix sports icon
  ui/component/common/icon-custom.jsx
Due: prettier --write, eslint, flow focus-check --color always

page titles fixes + sockety url
  .env.defaults
  static/app-strings.json
  ui/constants/pageTitles.js
  ui/constants/pages.js
Due: prettier --write, eslint, flow focus-check --color always

ShowPage: remove unused props
  ui/page/show/index.js
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Medium-layout: more "comment section collapse" fixes
  ui/component/commentsList/view.jsx
  ui/scss/component/_card.scss
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

Revert "Revert "Fix advanced editor spellcheck by upgrading react-simplemde-editor to get updated easymde which contains the regression fix""
  yarn.lock
Due: none

Fix spellcheck in comment simple editor
  ui/component/common/form-components/form-field.jsx
  ui/component/textareaWithSuggestions/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix advanced editor spellcheck by upgrading react-simplemde-editor to get updated easymde which contains the regression fix
  yarn.lock
Due: none

Revert "Revert "Revert "Fix advanced editor spellcheck by upgrading react-simplemde-editor to get updated easymde which contains the regression fix"""
  yarn.lock
Due: none

Disable spellchecker which is both broken and has unusual behavior
  ui/component/common/form-components/form-field.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Fix advanced editor spellcheck by upgrading react-simplemde-editor to get updated easymde which contains the regression fix"
  yarn.lock
Due: none

Skip 'include_is_my_output' for Incognito
  ui/page/show/index.js
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix miniplayer size issues
  ui/component/fileRenderFloating/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add dynamic player aspect ratio resizing
  ui/component/fileRenderFloating/helper-functions.js
  ui/component/fileRenderFloating/index.js
  ui/component/fileRenderFloating/view.jsx
  ui/component/fileRenderInitiator/view.jsx
  ui/component/livestreamLayout/view.jsx
  ui/component/swipeableDrawer/index.js
  ui/component/swipeableDrawer/view.jsx
  ui/component/swipeableDrawerExpand/index.js
  ui/component/swipeableDrawerExpand/view.jsx
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/plugin.scss
  ui/constants/action_types.js
  ui/page/file/index.js
  ui/page/file/view.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  ui/scss/component/_content.scss
  ui/scss/component/_file-render.scss
  ui/scss/component/_main.scss
  ui/scss/component/_swipeable-drawer.scss
  ui/scss/component/_videojs.scss
  ui/scss/init/_vars.scss
  ui/util/claim.js
Due: prettier --write, eslint, flow focus-check --color always

Mobile file page, comments and player improvements for rotated landscape view
  ui/component/fileRenderFloating/helper-functions.js
  ui/component/fileRenderFloating/view.jsx
  ui/component/livestreamLayout/view.jsx
  ui/component/page/view.jsx
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/plugin.js
  ui/effects/use-screensize.js
  ui/page/file/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Improve resizing screen until it switches to/from Mobile
  ui/component/fileRenderFloating/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix iPad landscape
  ui/component/fileRenderFloating/view.jsx
  ui/effects/use-screensize.js
Due: prettier --write, eslint, flow focus-check --color always

Fix icon cutoff
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/plugin.scss
Due: prettier --write

Improve plugins format
  ui/component/viewers/videoViewer/internal/plugins/videojs-mobile-ui/plugin.js
Due: prettier --write, eslint, flow focus-check --color always

Make notification titles translatable
  static/app-strings.json
  ui/component/notification/helpers/text.jsx
  ui/component/notification/helpers/title.jsx
  ui/component/notification/view.jsx
  ui/scss/component/_notification.scss
Due: prettier --write, eslint, flow focus-check --color always

Adjust tile grid
  ui/util/buildHomepage.js
Due: prettier --write, eslint, flow focus-check --color always

Adjust tile grid in categories and channel pages
  ui/component/claimListDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove badge from ribbon
  ui/scss/component/_claim-list.scss
Due: prettier --write

Re-enable 'Purchases' page
  static/app-strings.json
  ui/component/settingAccount/view.jsx
  ui/constants/pageTitles.js
  ui/page/fileListDownloaded/view.jsx
  ui/page/library/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Clean homepage and export copy/paste issues, (no functional change)
  ui/page/discover/index.js
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/page/tagsFollowing/index.js
Due: prettier --write, eslint, flow focus-check --color always

Fix new categories not showing until Customize is opened
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

doCommentListOwn: clean up docs; add limit assertion
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

OwnComment Page: deleting comment shows failure despite successful
  ui/redux/reducers/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Design Patch 8 (#1316)
  ui/scss/component/_button.scss
  ui/scss/component/_card.scss
  ui/scss/component/_channel.scss
  ui/scss/component/_claim-list.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_main.scss
  ui/scss/component/_search.scss
  ui/scss/component/_textarea-suggestions.scss
  ui/scss/component/menu-button.scss
  ui/scss/component/section.scss
  ui/scss/init/_gui.scss
  ui/scss/init/_vars.scss
Due: prettier --write

Fix scrollbar bug on markdown page
  ui/scss/component/_post.scss
Due: prettier --write

Update menu animation for notifications
  ui/scss/component/_claim-list.scss
  ui/scss/component/_comments.scss
  ui/scss/component/_notification.scss
Due: prettier --write

Fix comment scroll on mobile
  ui/scss/component/_card.scss
Due: prettier --write

Fix signout sequence not cleaning up correctly
  ui/redux/actions/app.js
Due: prettier --write, eslint, flow focus-check --color always

ClaimTilesDiscover: stop repeating claim_search on failure
  static/app-strings.json
  ui/component/claimTilesDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust tile grid for HiRes screens
  ui/component/channelContent/view.jsx
  ui/component/claimListDiscover/view.jsx
  ui/component/recommendedPersonal/view.jsx
  web/.env.floss.defaults
Due: prettier --write, eslint, flow focus-check --color always

Adjust collapsed recommendation grid
  ui/component/recommendedPersonal/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adjust recommended grid
  ui/component/recommendedPersonal/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

changed repost to open a modal instead of new page
  ui/component/claimRepostButton/index.js
  ui/component/claimRepostButton/view.jsx
  ui/component/fileActions/view.jsx
  ui/component/repostCreate/view.jsx
  ui/component/searchTopClaim/index.js
  ui/component/searchTopClaim/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalRepost/index.js
  ui/modal/modalRepost/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/page/top/index.js
  ui/page/top/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always
