Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Fix comment count not incremented when it was previously 0
  ui/redux/reducers/comments.js
Due: prettier --write, eslint, flow focus-check --color always

Remove "comment acknowledge" modal + unused strings
  static/app-strings.json
  ui/constants/modal_types.js
  ui/modal/modalCommentAcknowledgement/index.js
  ui/modal/modalCommentAcknowledgement/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix comment count not incremented when it was previously 0 (#7510)
  ui/redux/reducers/comments.js
Due: prettier --write, eslint, flow focus-check --color always

List Page: use swipe layout for mobile (#1069)
  static/app-strings.json
  ui/component/claimPreviewTile/view.jsx
  ui/component/collectionPreviewOverlay/view.jsx
  ui/component/collectionPreviewTile/view.jsx
  ui/component/collectionsListMine/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

changelog
  CHANGELOG.md
Due: none

ListOverlay: don't loop through all items if we just want 2
  ui/component/collectionPreviewOverlay/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Playlist: reduce show count to half in mobile.
  ui/component/collectionsListMine/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Notification bubble: add border since it's the same color as an active button
  ui/scss/component/_notification.scss
Due: prettier --write

Handle case of missing `effective_amount`
  ui/component/fileValues/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix #798: fix action dispatch order in doFetchItemsInCollections
  ui/redux/actions/collections.js
Due: prettier --write, eslint, flow focus-check --color always

v0.52.6-alpha.1
  package.json
Due: none

increase yarn timeout
  .github/workflows/deploy.yml
Due: none

workflow try continue-on-error
  .github/workflows/deploy.yml
Due: none

v0.52.6-alpha.2
  package.json
Due: none

test new notarize values
  build/afterSignHook.js
Due: none

fix
  .github/workflows/deploy.yml
Due: none

6205 remember last used playlist choice odysee (#967)
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
  ui/redux/reducers/collections.js
  ui/redux/selectors/collections.js
Due: prettier --write, eslint, flow focus-check --color always

Replace recsys beacon with regular network call (#1090)
  extras/recsys/recsys.js
Due: none

Homepage-Following: insert instead of replace when ad-blocker is detected (#1092)
  ui/page/home/view.jsx
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Geo blocklist - reimplement with backend support (#1089)
  .env.defaults
  config.js
  flow-typed/Blocklist.js
  flow-typed/user.js
  static/app-strings.json
  ui/constants/action_types.js
  ui/index.jsx
  ui/page/livestream/view.jsx
  ui/page/show/index.js
  ui/page/show/view.jsx
  ui/redux/actions/blocked.js
  ui/redux/reducers/blocked.js
  ui/redux/selectors/blocked.js
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

Various touchups/fixes of membership functionality (#1066)
  static/app-strings.json
  ui/component/i18nMessage/view.jsx
  ui/component/membershipSplash/view.jsx
  ui/page/livestreamSetup/view.jsx
  ui/page/odyseeMembership/view.jsx
  ui/page/settingsStripeCard/view.jsx
  ui/scss/component/_comment-badge.scss
  ui/scss/component/_membership.scss
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix admin icon mouse over
  ui/component/livestreamComment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Geoblock: support content claim id as well (#1096)
  ui/redux/selectors/claims.js
Due: prettier --write, eslint, flow focus-check --color always

[on hold recsys work] Recommended For You (#782)
  .env.defaults
  config.js
  extras/recsys/recsys.js
  flow-typed/search.js
  static/app-strings.json
  ui/component/claimList/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/common/help-link.jsx
  ui/component/fileHideRecommendation/index.js
  ui/component/fileHideRecommendation/view.jsx
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  ui/component/recommendedPersonal/index.js
  ui/component/recommendedPersonal/view.jsx
  ui/component/router/view.jsx
  ui/constants/action_types.js
  ui/constants/pages.js
  ui/constants/urlParams.js
  ui/page/home/view.jsx
  ui/page/odyseeMembership/view.jsx
  ui/redux/actions/search.js
  ui/redux/reducers/search.js
  ui/redux/selectors/search.js
  ui/redux/selectors/user.js
  ui/util/query-params.js
  ui/util/search.js
  web/page/fyp/index.js
  web/page/fyp/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

don't load FYP endpoint if not Premium
  ui/component/recommendedPersonal/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix debug mode fetch of FYP + some formatting cleanup
  ui/component/recommendedPersonal/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

FYP: batch resolve results
  ui/redux/actions/search.js
Due: prettier --write, eslint, flow focus-check --color always

FYP: allow mobile to reject + change phrasing
  static/app-strings.json
  ui/component/claimMenuList/index.js
  ui/component/claimMenuList/view.jsx
  ui/component/claimPreviewTile/view.jsx
  ui/component/fileHideRecommendation/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

FYP: update i18n entry for the readme
  static/app-strings.json
  web/page/fyp/view.jsx
Due: none

Membership: i18n fixes + add strings
  static/app-strings.json
  ui/component/common/premium-badge.jsx
  ui/component/membershipSplash/view.jsx
  ui/modal/modalConfirmOdyseeMembership/view.jsx
  ui/page/odyseeMembership/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Move blocker flag to redux
  ui/constants/action_types.js
  ui/page/home/index.js
  ui/page/home/view.jsx
  ui/redux/actions/app.js
  ui/redux/reducers/app.js
  ui/redux/selectors/app.js
  web/component/ads/index.js
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Just always show homepage segment titles.. (#1116)
  ui/component/recommendedPersonal/view.jsx
  ui/page/home/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Geo: fetch after authentication since it needs auth_token (#1119)
  ui/index.jsx
  ui/redux/actions/user.js
Due: prettier --write, eslint, flow focus-check --color always

refactor
  ui/component/channelContent/view.jsx
  ui/component/fileRenderInitiator/view.jsx
  ui/effects/use-fetch-live.js
  ui/page/embedWrapper/index.js
  ui/page/embedWrapper/view.jsx
  ui/page/livestream/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix fetch
  ui/component/fileRenderInitiator/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix embed fetching state and geoblocking
  ui/page/embedWrapper/index.js
  ui/page/embedWrapper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix embedWrapper liveChannel fetch
  ui/page/embedWrapper/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or (any of: ui/**/*.{js,jsx,scss,json})
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: any of: ui/**/*.{js,jsx}
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
