Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"]
  },
  "ignore": ["node_modules", "dist/**/*", "package-lock.json"]
}

Optimize tags and followedTags
  ui/component/claimTags/index.js
  ui/redux/reducers/tags.js
  ui/redux/selectors/claims.js
  ui/redux/selectors/tags.js
Due: prettier --write, eslint, flow focus-check --color always

Fix reaction-selector reference invalidation
  ui/component/comment/index.js
  ui/component/commentReactions/index.js
  ui/component/commentsList/index.js
  ui/redux/actions/comments.js
Due: prettier --write, eslint, flow focus-check --color always

comment react selectors
  flow-typed/Comment.js
  static/app-strings.json
  ui/redux/selectors/comments.js
Due: prettier --write, eslint, flow focus-check --color always

rm lbry.tv, rm lbryfirst, rm DOMAIN, etc
  config.js
  electron/index.js
  extras/lbryinc/lbryio.js
  static/app-strings.json
  ui/component/collectionEdit/view.jsx
  ui/component/privacyAgreement/index.js
  ui/component/publishName/view.jsx
  ui/component/searchTopClaim/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/tagsSearch/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/page/discover/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/user.js
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

no lbry.tv share domain
  .env.defaults
  ui/component/claimMenuList/view.jsx
  ui/component/settingShareUrl/view.jsx
  ui/component/socialShare/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

rm lbry.tv, rm lbryfirst, rm DOMAIN, etc
  .env.defaults
  config.js
  electron/index.js
  extras/lbryinc/lbryio.js
  static/app-strings.json
  ui/component/claimMenuList/view.jsx
  ui/component/collectionEdit/view.jsx
  ui/component/privacyAgreement/index.js
  ui/component/publishName/view.jsx
  ui/component/searchTopClaim/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/settingShareUrl/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/socialShare/view.jsx
  ui/component/tagsSearch/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/page/discover/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/user.js
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

fix scroll bars
  ui/scss/component/_main.scss
Due: prettier --write

Fix category page labels not being translated (#423)
  ui/page/discover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

lbrynet .106
  CHANGELOG.md
  package.json
Due: none

changelog
  CHANGELOG.md
Due: none

v0.52.0-rc.6
  package.json
Due: none

Revert "rm lbry.tv, rm lbryfirst, rm DOMAIN, etc"
  .env.defaults
  config.js
  electron/index.js
  extras/lbryinc/lbryio.js
  static/app-strings.json
  ui/component/claimMenuList/view.jsx
  ui/component/collectionEdit/view.jsx
  ui/component/privacyAgreement/index.js
  ui/component/publishName/view.jsx
  ui/component/searchTopClaim/view.jsx
  ui/component/selectThumbnail/view.jsx
  ui/component/settingShareUrl/view.jsx
  ui/component/sideNavigation/view.jsx
  ui/component/socialShare/view.jsx
  ui/component/tagsSearch/view.jsx
  ui/component/userEmailNew/view.jsx
  ui/page/discover/view.jsx
  ui/redux/actions/app.js
  ui/redux/actions/user.js
  ui/util/saved-passwords.js
Due: prettier --write, eslint, flow focus-check --color always

v0.52.0-rc.7
  package.json
Due: none

fix duplicate flow files for windows
  flow-typed/Notification.js
  flow-typed/Publish.js
  flow-typed/notification.js
  flow-typed/publish.js
  flow-typed/redux.js
Due: none

remove libappindicator dependency no longer needed after electron 8
  electron-builder.json
Due: none

Settings Page: add warning for unsaved settings (#430)
  static/app-strings.json
  ui/component/app/index.js
  ui/component/app/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Only allow to resubmit a tip when a previous has completed or failed (#429)
  ui/component/commentCreate/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Ad blacklist terms (#434)
  config.js
  ui/component/recommendedContent/index.js
  ui/component/recommendedContent/view.jsx
  web/component/ads/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

force everything to lower case (#437)
  ui/component/recommendedContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix linter (#438)
  ui/component/recommendedContent/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Upload: tab sync and various fixes (#428)
  flow-typed/publish.js
  static/app-strings.json
  ui/component/app/view.jsx
  ui/component/webUploadList/internal/web-upload-item.jsx
  ui/component/webUploadList/view.jsx
  ui/constants/storage.js
  ui/redux/actions/publish.js
  ui/redux/reducers/publish.js
  ui/util/storage.js
  ui/util/tus.js
  web/setup/publish-v1.js
  web/setup/publish-v2.js
  web/setup/publish.js
Due: prettier --write, eslint, flow focus-check --color always

remove swap
  ui/component/router/view.jsx
  ui/component/walletSwap/view.jsx
  ui/page/buy/view.jsx
  ui/page/swap/index.js
  ui/page/swap/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix some certain wordings breaking page (#440)
  ui/component/claimLink/index.js
Due: prettier --write, eslint, flow focus-check --color always

Temp revert to allow putting back the commits
  flow-typed/publish.js
  static/app-strings.json
  ui/component/app/view.jsx
  ui/component/webUploadList/internal/web-upload-item.jsx
  ui/component/webUploadList/view.jsx
  ui/constants/storage.js
  ui/redux/actions/publish.js
  ui/redux/reducers/publish.js
  ui/util/storage.js
  ui/util/tus.js
  web/setup/publish-v1.js
  web/setup/publish-v2.js
  web/setup/publish.js
Due: prettier --write, eslint, flow focus-check --color always

Upload: add tab-locking
  static/app-strings.json
  ui/component/app/view.jsx
  ui/component/webUploadList/internal/web-upload-item.jsx
  ui/component/webUploadList/view.jsx
  ui/constants/storage.js
  ui/redux/actions/publish.js
  ui/redux/reducers/publish.js
  ui/util/storage.js
  ui/util/tus.js
  web/setup/publish-v1.js
  web/setup/publish-v2.js
Due: prettier --write, eslint, flow focus-check --color always

Upload: fix redux key clash
  flow-typed/publish.js
  ui/component/webUploadList/internal/web-upload-item.jsx
  ui/redux/reducers/publish.js
  web/setup/publish-v1.js
  web/setup/publish-v2.js
  web/setup/publish.js
Due: prettier --write, eslint, flow focus-check --color always

Upload: check if locked before confirming delete
  ui/component/webUploadList/internal/web-upload-item.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removed css that has no effect
  ui/scss/component/_videojs.scss
Due: prettier --write

Autoplay-Next: fix area size so that all buttons are evenly-spaced
  ui/scss/component/_button.scss
Due: prettier --write

TheaterMode: fix button size and offset
  ui/scss/component/_button.scss
Due: prettier --write

ControlBar: use specificity instead of !important
  ui/scss/component/_videojs.scss
Due: prettier --write
