Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,scss,json}": [
      "prettier --write",
      "git add"
    ],
    "src/**/*.{js,jsx}": [
      "eslint --fix",
      "git add"
    ]
  }
}

.lintstagedrc.json:

{
  "linters": {
    "ui/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "lbrytv/**/*.{js,jsx,scss,json}": ["prettier --write", "git add"],
    "ui/**/*.{js,jsx}": ["eslint", "flow focus-check --color always", "git add"],
    "lbrytv/**/*.{js,jsx,scss}": ["eslint", "git add"]
  },
  "ignore": ["node_modules", "dist", "package-lock.json"]
}

reenable downloads
  static/app-strings.json
  ui/component/fileDownloadLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fixes #3603. Allow browser context menu
  ui/util/context-menu.js
Due: prettier --write, eslint, flow focus-check --color always

fixes #3498 - blurs the fullscreen button to prevent spacebar from selecting it again
  ui/component/viewers/videoViewer/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update LICENSE
  LICENSE
Due: none

wip - need to fix forward and backwards buttons
  ui/component/buttonNavigation/view.jsx
  ui/component/header/view.jsx
  ui/scss/component/_header.scss
Due: prettier --write, eslint, flow focus-check --color always

history works well but only for channel related pages - need to add title update hook for other pages
  ui/component/buttonNavigation/view.jsx
  ui/component/header/view.jsx
  ui/page/show/view.jsx
  ui/scss/component/_header.scss
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

merge && backwards functionality working (kind of) WIP
  ui/component/buttonNavigation/index.js
  ui/component/buttonNavigation/view.jsx
  ui/component/header/view.jsx
  ui/scss/component/_header.scss
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

moved useEffect to router
  ui/component/router/index.js
  ui/component/router/view.jsx
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

removed unused history
  ui/page/show/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

renamed buttonNavigation -> navigationButton
  ui/component/buttonNavigation/index.js
  ui/component/header/view.jsx
  ui/component/navigationButton/index.js
  ui/component/navigationButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fixed issue with lbry.tv
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable button if no entries
  ui/component/navigationButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

added max size for history
  ui/component/navigationButton/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

set correct margin-top for nav button dropdown
  ui/scss/component/_header.scss
Due: prettier --write

cleanup
  static/app-strings.json
  ui/component/navigationButton/view.jsx
  ui/component/router/view.jsx
  ui/scss/component/_header.scss
  ui/scss/component/menu-button.scss
Due: prettier --write, eslint, flow focus-check --color always

Right Click to Navigate History (#3547)
  static/app-strings.json
  ui/component/header/view.jsx
  ui/component/navigationButton/index.js
  ui/component/navigationButton/view.jsx
  ui/component/router/index.js
  ui/component/router/view.jsx
  ui/page/show/view.jsx
  ui/scss/component/_header.scss
  ui/scss/component/menu-button.scss
  ui/store.js
Due: prettier --write, eslint, flow focus-check --color always

update changelog
  CHANGELOG.md
Due: none

v0.40.0
  package.json
Due: none

v0.41.0-rc.1
  package.json
Due: none

remove script and create an actual RC
  CHANGELOG.md
  electron-builder.json
Due: none

Let's see you try and remove the flex display this time Sean
  ui/scss/component/_comments.scss
Due: prettier --write

Adds the three-dot icons; both horizontal and vertical alignments
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always

Adds button for a dropdown comment options menu
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adds button for a dropdown comment options menu
  package.json
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentsList/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Rolls back change from channel to author
  ui/component/comment/index.js
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

rename 'claim' to 'channel'
  static/app-strings.json
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Implement comment editing
  package.json
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/component/commentsList/view.jsx
  ui/scss/component/_comments.scss
Due: prettier --write, eslint, flow focus-check --color always

Implements modal for deleting comments
  ui/constants/modal_types.js
  ui/modal/modalDeleteComment/index.js
  ui/modal/modalDeleteComment/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Implements comment delete action
  ui/component/comment/index.js
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Add todos
  ui/component/comment/view.jsx
  ui/component/commentsList/view.jsx
  ui/modal/modalDeleteComment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

cleanup
  ui/component/comment/index.js
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Adds escape button listener to cancel comment edit
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Makes the comment action icon appear very light unless the mouse is hovered over.
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Adds button to cancel editing the comment
  ui/component/comment/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removes comment delete modal
  ui/component/comment/index.js
  ui/component/comment/view.jsx
  ui/constants/modal_types.js
  ui/modal/modalDeleteComment/index.js
  ui/modal/modalDeleteComment/view.jsx
  ui/modal/modalRouter/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Removes horizontal dot icon
  ui/component/common/icon-custom.jsx
  ui/constants/icons.js
Due: prettier --write, eslint, flow focus-check --color always
