Repository lbryio/lbry-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, flow focus-check --color always

Revert "use cdn for thumbnails"
  .env.defaults
  config.js
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "Revert "use cdn for thumbnails""
  .env.defaults
  config.js
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

check for thumbnail cdn in config before using
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Consolidate method of reseting scroll position
  ui/component/claimListDiscover/view.jsx
  ui/component/router/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Handle scrolling for ClaimListDiscover that exists in the middle of a page.
  ui/component/claimListDiscover/view.jsx
  ui/component/claimListHeader/view.jsx
  ui/component/router/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

bump lbry-sdk to 0.86.1
  CHANGELOG.md
  package.json
Due: none

v0.49.0-rc.16
  package.json
Due: none

v0.49.0
  package.json
Due: none

comment out cdn - need to fix env so I don't need to make this change
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix nudge location under like button
  ui/scss/component/_nudge.scss
Due: prettier --write

fix primary content channel ids var name it was changed in the homepages repo but these instances weren't updated
  homepages/homepage.js
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Revert "fix primary content channel ids var name"
  homepages/homepage.js
  ui/component/userChannelFollowIntro/view.jsx
  ui/component/viewers/videoViewer/view.jsx
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

new test
  .env.defaults
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Remove dup strings
  static/app-strings.json
Due: none

Bump changelog to 0.49.0
  CHANGELOG.md
Due: none

Don't parse a 'mailto:' into a lbry link.
  ui/component/markdownLink/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

use new cdn for images default to using one in the env
  .env.defaults
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

Fix following discover on Odysee
  ui/page/channelsFollowingDiscover/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

disable
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

pass x-lbry-auth-token to apis status call for email verified users
  ui/component/app/view.jsx
  web/effects/use-degraded-performance.js
Due: prettier --write, eslint, flow focus-check --color always

New repost flow Clearer display of takeover amounts Repost from empty search result, from top page, or from claim
  package.json
  static/app-strings.json
  ui/component/claimPreview/view.jsx
  ui/component/fileActions/view.jsx
  ui/component/header/view.jsx
  ui/component/repostCreate/index.js
  ui/component/repostCreate/view.jsx
  ui/component/router/view.jsx
  ui/component/searchTopClaim/index.js
  ui/component/searchTopClaim/view.jsx
  ui/constants/pages.js
  ui/modal/modalRepost/view.jsx
  ui/page/publish/view.jsx
  ui/page/repost/index.js
  ui/page/repost/view.jsx
  ui/page/search/view.jsx
  ui/page/top/index.js
  ui/page/top/view.jsx
  ui/redux/selectors/search.js
  ui/scss/component/_claim-list.scss
  ui/scss/component/_claim-search.scss
  yarn.lock
Due: prettier --write, eslint, flow focus-check --color always

fix opening files externally on desktop
  ui/component/fileDownloadLink/index.js
Due: prettier --write, eslint, flow focus-check --color always

v0.49.1-rc.1
  package.json
Due: none

improved mobile-search experience
  ui/component/header/view.jsx
  ui/component/notificationHeaderButton/view.jsx
  ui/component/wunderbar/index.js
  ui/component/wunderbar/view.jsx
  ui/component/wunderbarSuggestions/index.js
  ui/component/wunderbarSuggestions/view.jsx
  ui/component/yrbl/index.jsx
  ui/constants/modal_types.js
  ui/effects/use-lighthouse.js
  ui/modal/modalMobileSearch/index.js
  ui/modal/modalMobileSearch/view.jsx
  ui/modal/modalRouter/view.jsx
  ui/scss/component/_button.scss
  ui/scss/component/_header.scss
  ui/scss/component/_modal.scss
  ui/scss/component/_wunderbar.scss
  ui/scss/component/_yrbl.scss
  ui/scss/themes/dark.scss
Due: prettier --write, eslint, flow focus-check --color always

improve jumpiness on search suggestions
  ui/effects/use-lighthouse.js
  ui/scss/component/_wunderbar.scss
  ui/scss/themes/dark.scss
Due: prettier --write, eslint, flow focus-check --color always

add sub/upload count to youtube transfer status component
  static/app-strings.json
  ui/component/youtubeTransferStatus/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix view_count getting called multiple times
  static/app-strings.json
  ui/component/fileViewCount/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

deal with completed transfers on youtube transfer page
  ui/component/youtubeTransferStatus/view.jsx
  ui/scss/init/_gui.scss
Due: prettier --write, eslint, flow focus-check --color always

enable thumbnail cdn for all file thumbnails
  ui/component/fileThumbnail/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix casing
  static/app-strings.json
  ui/component/creatorAnalytics/view.jsx
  ui/component/youtubeTransferStatus/view.jsx
Due: prettier --write, eslint, flow focus-check --color always

fix spacing for unauth users
  ui/scss/component/_header.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,scss,json}) or ((any of: ui/**/*.{js,jsx,scss,json}) or (any of: lbrytv/**/*.{js,jsx,scss,json}))
  eslint --fix: any of: src/**/*.{js,jsx}
  eslint: (any of: ui/**/*.{js,jsx}) or (any of: lbrytv/**/*.{js,jsx,scss})
  flow focus-check --color always: any of: ui/**/*.{js,jsx}
